<ng-container *ngIf="item && column">
  <!-- number -->
  <ng-container *ngIf="column.dataType == 'number'">
      <span>{{ item[column.primaryKey] }}</span>
  </ng-container>

  <!-- text -->
  <ng-container *ngIf="column.dataType == 'text'">
      {{ item[column.primaryKey] }}
  </ng-container>

  <!-- checkbox -->
  <ng-container *ngIf="column.dataType == 'boolean'">
      <!-- {{ item[column.primaryKey] }} -->
      <!-- <input type="checkbox" disabled="true" [checked]="item[column.primaryKey]" /> -->
        <label class="m-checkbox m-checkbox--state-primary m-checkbox--bold">
            <input type="checkbox" disabled [checked]="item[column.primaryKey]">
            <span></span>
        </label>
  </ng-container>

  <!-- Date -->
  <ng-container *ngIf="column.dataType == 'Date'">
    <!-- <span>15:25</span> &nbsp; -->
    <ng-container *ngIf="column.format == 'date-time' && item[column.primaryKey]">
        <span>{{ item[column.primaryKey] | date: 'MMMM dd. yyyy'}}</span> &nbsp;
        <span>-</span> &nbsp;
        <span>{{ item[column.primaryKey] | date: 'h:mm'}}</span>
    </ng-container>
    <ng-container *ngIf="column.format == 'EnglishDate'">
        <span>{{ item[column.primaryKey] | date: 'MMMM dd. yyyy'}}</span>
    </ng-container>
    <ng-container *ngIf="column.format == ''">
        <span>{{ item[column.primaryKey] | date: 'h:mm'}}</span> &nbsp;
        <span>{{ item[column.primaryKey] | date: 'dd/MM/yyyy'}}</span>
    </ng-container>
  </ng-container>
</ng-container>
