<ng-container *ngIf="item && column">
    <ng-container *ngIf="column.dataType == 'number'">
        <span>{{ item[column.primaryKey] }}</span>
    </ng-container>

    <ng-container *ngIf="column.dataType == 'text'">
        {{ item[column.primaryKey] }}
    </ng-container>

    <ng-container *ngIf="column.dataType == 'boolean'">
        <span [ngClass]="item[column.primaryKey] ? 'text-success' : 'text-danger'">
            {{item[column.primaryKey] ? 'Active' : 'Inactive'}}
        </span>
    </ng-container>
    <ng-container *ngIf="column.dataType == 'boolean2'">
        <label class="m-checkbox m-checkbox--state-primary m-checkbox--bold">
            <input type="checkbox" disabled [checked]="item[column.primaryKey]">
            <span></span>
        </label>
    </ng-container>

    <ng-container *ngIf="column.dataType == 'Date'">
        <ng-container *ngIf="column.format == 'date-time' && item[column.primaryKey]">
            <span>{{ item[column.primaryKey] | date: 'MMMM dd. yyyy'}}</span> &nbsp;
            <span>-</span> &nbsp;
            <span>{{ item[column.primaryKey] | date: 'shortTime'}}</span>
        </ng-container>
        <ng-container *ngIf="column.format == 'EnglishDate'">
            <span>{{ item[column.primaryKey] | date: 'MMMM dd. yyyy'}}</span>
        </ng-container>
        <ng-container *ngIf="column.format == undefined">
            <span>{{ item[column.primaryKey] | date: 'shortTime'}}</span> &nbsp;
            <span>{{ item[column.primaryKey] | date: 'dd/MM/yyyy'}}</span>
        </ng-container>
    </ng-container>
</ng-container>