<form name="formAddEdit" #formAddEdit="ngForm" novalidate (ngSubmit)="formAddEdit.form.valid">

    <!--begin:: subheader-->
    <div class="m-subheader">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <app-breadcrumb></app-breadcrumb>
            </div>
            <div class="c-button-actions">
                <button *ngIf="partner.permission.allowDelete" type="button"
                    class="btn btn-danger m-btn--square  m-btn--icon  m-btn--uppercase" (click)="showConfirmDelete()">
                    <span>
                        <i class="la la-trash"></i>
                        <span>
                            Delete
                        </span>
                    </span>
                </button>
                <button *ngIf="partner.permission.allowUpdate" type=""
                    class="btn btn-brand m-btn--square m-btn--icon m-btn--uppercase" (click)="onSubmit()">
                    <span>
                        <i class="la la la-save"></i>
                        <span>
                            Save
                        </span>
                    </span>
                </button>
                <button type="button" class="btn m-btn--square m-btn--icon m-btn--uppercase"
                    routerLink="/home/catalogue/partner-data">
                    <span>
                        <i class="la la-ban"></i>
                        <span>
                            cancel
                        </span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <!--end:: subheader-->
    <!--begin::m-content of Partner-data-addnew-->
    <div class="m-content">
        <!--begin::Form-->
        <form-add-partner (requireSaleman)="isShowSaleMan=$event" [isUpdate]="true"></form-add-partner>
        <!--end::Form-->
        <commercial-contract-list></commercial-contract-list>

    </div>
    <!--end::m-content of Partner-data-addnew-->
</form>
<popup-form-contract-commercial-catalogue (onRequest)="onRequestContract($event)">
</popup-form-contract-commercial-catalogue>
<confirm-popup #popupDeleteContract (onSubmit)="onDeleteContract()" body="You want to delete this contract ?"
    [labelConfirm]="'Ok'">
</confirm-popup>
<confirm-popup #popupDeleteSaleman (onSubmit)="onDeleteSaleman()" [body]="deleteMessage" [labelConfirm]="'Ok'">
</confirm-popup>
<confirm-popup #popupDeletePartner (onSubmit)="onDelete()" [body]="deleteMessage" [labelConfirm]="'Ok'">
</confirm-popup>
<info-popup [body]="deleteMessage"></info-popup>