<div class="m-portlet">
    <div class="bg-pink m-portlet__head alert-block__heading pointer">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title w-100">
                <h3 class="m-portlet__head-text collapse-toggle" data-toggle="collapse" data-target="#debit-list">
                    <i class="la la-angle-up m--margin-right-5"></i> DEBIT
                    <ng-container *ngIf="!!(debitList$ | async)?.length">
                        <span class="badge badge-success">{{(debitList$ | async)?.length}}</span>
                    </ng-container>
                </h3>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        <div class="collapse show" id="debit-list">
            <div class="table-horizontal">
                <table class="table table-brand">
                    <thead app-table-header [headers]="receiptType ==='Customer' ? headers : agencyHeaders"
                        class="text-left">
                        <th class="m--w-50 first">
                        </th>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="!!(debitList$ | async)?.length">
                            <tr *ngFor="let item of (this.debitList$ | async); let i = index; trackBy: trackByFn"
                                [class.bg-warning]="item.type === 'ADV'"
                                [ngClass]="{'bg-secondary font-italic':item.paidAmountVnd < 0}">
                                <td>
                                    <ng-container *ngIf="!isReadonly">
                                        <app-permission-button type="delete"
                                            (onClick)="confirmDeleteInvoiceItem(i); confirmRemove.show()" class="icon"
                                            icon="la la-trash text-danger">
                                        </app-permission-button>
                                    </ng-container>
                                </td>
                                <td class="text-primary">{{item.refNo}}</td>
                                <td ALIGN="center">{{item.type}}</td>
                                <td class="text-primary">{{item.invoiceNo}}</td>
                                <td>
                                    <!-- <div class="form-group col-md-12 dropdown-partner" dropdown>
                                        <input type="text" class="dropdown-toggle form-control" dropdownToggle readonly
                                            placeholder="Vat Partner" [(ngModel)]="item.creditNo"
                                            (click)="loadDynamicComoGrid(item,i)" [disabled]="isReadonly">
                                        <ng-container>
                                            <div class="d-flex justify-content-end dropdown-partner__header">
                                                <a class="text-primary text-underline m--margin-right-20 pointer"
                                                    (click)="onSelectInvoice($event, item)"></a>
                                            </div>
                                            <ng-template #container></ng-template>
                                        </ng-container>
                                    </div> -->
                                    <div class="form-group" *ngIf="item.type === 'DEBIT'">
                                        <select class="form-control" [ngModel]="item.creditNo" [disabled]="isReadonly"
                                            (ngModelChange)="onChangeCalCredit($event, item)">
                                            <option [value]="i.refNo" *ngFor="let i of (creditList$ | async)">
                                                {{i.refNo}}</option>
                                            <option value=null disabled>Please select</option>
                                        </select>
                                    </div>
                                </td>

                                <td *ngIf="receiptType !=='Customer'">{{item.jobNo}}</td>
                                <td *ngIf="receiptType !=='Customer'">{{item.mbl}}</td>
                                <td *ngIf="receiptType !=='Customer'">{{item.hbl}}</td>
                                <td ALIGN="right">
                                    {{item.amount | number}} {{item.currencyId}}
                                </td>
                                <td ALIGN="right">
                                    {{item.unpaidAmountUsd | number:'1.3-3'}}
                                </td>
                                <td ALIGN="right">
                                    {{item.unpaidAmountVnd | number:'1.0-3'}}
                                </td>

                                <td ALIGN="right">
                                    <input type="text" class="form-control text-right" [(ngModel)]="item.paidAmountUsd"
                                        name="paidAmountUsd" numeric autoFormatCurrency [disabled]="isReadonly"
                                        (blur)="formatAmount($event, item)">
                                </td>
                                <td>
                                    <input type="text" class="form-control text-right" [(ngModel)]="item.paidAmountVnd"
                                        name="paidAmountVnd" numeric autoFormatCurrency [disabled]="isReadonly"
                                        (blur)="formatAmount($event, item)">
                                </td>

                                <td ALIGN="right">
                                    {{item.totalPaidVnd | number:'1.0-3'}}
                                </td>
                                <td>
                                    {{item.totalPaidUsd | number:'1.3-3'}}
                                </td>
                                <td ALIGN="right">
                                    <div *ngIf="item.type !== 'ADV'">
                                        <ng-container
                                            *ngIf="item.unpaidAmountUsd - (item.totalPaidUsd | abs) >= 0 ; else negativeUsd">

                                            <span> {{item.unpaidAmountUsd - (item.totalPaidUsd | abs) | negativeNumber
                                                |
                                                number: '.3-3'}} </span>
                                        </ng-container>
                                        <ng-template #negativeUsd>
                                            <span> ({{item.unpaidAmountUsd - (item.totalPaidUsd | abs) | abs | number:
                                                '.3-3'}}) </span>
                                        </ng-template>
                                    </div>
                                </td>
                                <td ALIGN="right">
                                    <div *ngIf="item.type !== 'ADV'">
                                        <ng-container
                                            *ngIf="item.unpaidAmountVnd - (item.totalPaidVnd | abs) >= 0 ; else negativeVnd">
                                            <span> {{item.unpaidAmountVnd - (item.totalPaidVnd | abs) | negativeNumber
                                                |
                                                number: '.3-3'}} </span>
                                        </ng-container>
                                        <ng-template #negativeVnd>
                                            <span> ({{item.unpaidAmountVnd - (item.totalPaidVnd | abs) | abs | number:
                                                '.3-3'}}) </span>
                                        </ng-template>
                                    </div>
                                </td>
                                <td>
                                    <input type="text" class="form-control" [(ngModel)]="item.notes"
                                        [disabled]="isReadonly">
                                </td>
                                <td class="text-success">{{item.departmentName}}</td>
                                <td class="text-success">{{item.officeName}}</td>
                            </tr>
                            <tr class="font-weight-bold">
                                <td></td>
                                <td></td>
                                <td>Total</td>
                                <td></td>
                                <td></td>
                                <ng-container *ngIf="receiptType !== 'Customer'">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </ng-container>
                                <td class="text-center">{{debitList$ | async | sumAmount:'amount':'USD':'currencyId' |
                                    number}} USD |
                                    {{debitList$ | async | sumAmount:'amount':'VND':'currencyId' | number}} VND</td>
                                <td class="text-right">{{debitList$ | async | sumAmount:'unpaidAmountUsd' |
                                    number:'1.3-3'}}
                                </td>
                                <td class="text-right">{{debitList$ | async | sumAmount:'unpaidAmountVnd' |
                                    number:'1.0-3'}}
                                </td>
                                <td class="text-right">{{(debitList$ | async | sumAmount:'paidAmountUsd') |
                                    number:'1.3-3'}}
                                </td>
                                <td class="text-right">{{(debitList$ | async | sumAmount:'paidAmountVnd') |
                                    number:'1.0-3'}}
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </ng-container>
                        <tr app-table-none-record *ngIf="!(debitList$ | async)?.length">
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<confirm-popup #confirmRemove body="Some Debit Values will change, do you want to remove you selections?"
    (onSubmit)="onDeleteInvoiceItem();confirmRemove.hide()" [labelCancel]="'No'" [labelConfirm]="'Yes'"
    title="Confirm Remove">
</confirm-popup>