<div class="m-portlet form-sarch-company-wrapper">
    <div class="m-portlet__body">
        <div class="m-form">
            <form #intab="ngForm">
                <div class="input-group m-input m-input--square-group m-input m-input--square-group--square">
                    <div class="input-group-prepend">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            MAWB
                        </button>
                        <div class="dropdown-menu">
                            <ng-container>
                                <a class="dropdown-item" href="javascript:void(0)">
                                    MAWB
                                </a>
                            </ng-container>
                        </div>
                    </div>
                    <input type="text" class="form-control" aria-label="Text input with dropdown button"
                        name=" searchString">

                </div>
            </form>
            <div class="d-flex col-md-auto mt-4">
                <button type="button" class="btn btn-brand m-btn--icon m-btn--uppercase m--margin-right-10 btn--icon">
                    <span>
                        <img src="../../../../assets//icons/fly.png" alt="icon" width="25px">
                    </span>
                </button>
                <button type="button" class="btn btn-brand m-btn--icon m-btn--uppercase btn--icon">
                    <span>
                        <img src="../../../../assets//icons/ship.png" alt="icon" width="25px">
                    </span>
                </button>
                <div class="ml-auto">
                    <button type="button" class="btn btn-brand m-btn--icon m-btn--uppercase btn--icon"
                        (click)="onSearchValue()">
                        <img src="../../../../assets//icons/routing.png" alt="icon" width="25px">
                        Track
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
