<div class="m-portlet">
    <div class="m-portlet__head alert-block__heading pointer bg-secondary">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title w-100">
                <h3 class="m-portlet__head-text collapse-toggle" data-toggle="collapse" data-target="#credit-summary">
                    <i class="la la-angle-up m--margin-right-5"></i> CREDIT
                    <ng-container *ngIf="!!(creditList )?.length">
                        <span class="badge badge-success">{{(creditList)?.length}}</span>
                    </ng-container>
                </h3>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        <div class="collapse show" id="credit-summary">
            <div class="table-wrapper table-scrollabler">
                <table class="table table-brand table-bordered">
                    <thead app-table-header [headers]="(receiptType$ | async) ==='CUSTOMER' ? headers : agencyHeaders"
                        [align]="'center'">
                        <th class="m--w-50 first">
                        </th>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="!!(creditList)?.length">
                            <tr *ngFor="let item of (creditList); let i = index; trackBy: trackByFn">
                                <td>
                                    <ng-container *ngIf="!isReadonly">
                                        <app-permission-button type="delete"
                                            (onClick)="confirmDeleteInvoiceItem(item, i)" class="icon"
                                            icon="la la-trash text-danger">
                                        </app-permission-button>
                                    </ng-container>
                                </td>
                                <td class="text-primary">{{item.refNo}}</td>
                                <td>
                                    {{item.invoiceNo}}
                                </td>
                                <td>
                                    {{!!item.voucherId ? item.voucherId : (!!item.voucherIdre ? item.voucherIdre: '')}}
                                </td>

                                <td ALIGN="right">
                                    {{item.unpaidAmountUsd | number:'1.2-2'}}
                                </td>
                                <td ALIGN="right">
                                    {{item.unpaidAmountVnd | number:'1.0-3'}}
                                </td>
                                <td ALIGN="right">
                                    <input type="text" class="form-control text-right text-success font-15"
                                        [(ngModel)]="item.paidAmountUsd" autoFormatCurrency [disabled]="isReadonly">
                                </td>
                                <td>
                                    <input type="text" class="form-control text-right text-success font-15"
                                        [(ngModel)]="item.paidAmountVnd" numeric autoFormatCurrency
                                        [disabled]="isReadonly">
                                </td>
                                <td ALIGN="right">
                                    <ng-container
                                        *ngIf="item.unpaidAmountUsd - (item.paidAmountUsd | abs) >= 0 ; else negativeBalanceUsd">

                                        <span> {{item.unpaidAmountUsd - (item.paidAmountUsd | abs) | negativeNumber
                                            |
                                            number: '.2-32'}} </span>
                                    </ng-container>
                                    <ng-template #negativeBalanceUsd>
                                        <span> ({{item.unpaidAmountUsd - (item.paidAmountUsd | abs) | abs | number:
                                            '.2-2'}}) </span>
                                    </ng-template>
                                </td>
                                <td ALIGN="right">
                                    <ng-container
                                        *ngIf="item.unpaidAmountVnd - (item.paidAmountVnd | abs) >= 0 ; else negativeBalanceVnd">
                                        <span> {{item.unpaidAmountVnd - (item.paidAmountVnd | abs) | negativeNumber
                                            |
                                            number: '.3-3'}} </span>
                                    </ng-container>
                                    <ng-template #negativeBalanceVnd>
                                        <span> ({{item.unpaidAmountVnd - (item.paidAmountVnd | abs) | abs | number:
                                            '.3-3'}}) </span>
                                    </ng-template>
                                </td>
                                <td *ngIf="(receiptType$ | async) !=='CUSTOMER'" ALIGN="center">{{item.jobNo}}</td>
                                <td *ngIf="(receiptType$ | async) !=='CUSTOMER'" ALIGN="center">{{item.mbl}}</td>
                                <td *ngIf="(receiptType$ | async) !=='CUSTOMER'" ALIGN="center">{{item.hbl}}</td>
                                <td>
                                    <input type="text" class="form-control" [(ngModel)]="item.notes"
                                        [disabled]="isReadonly">
                                </td>
                                <td class="text-success">{{item.departmentName}}</td>
                                <td class="text-success">{{item.officeName}}</td>

                            </tr>
                        </ng-container>
                        <tr app-table-none-record *ngIf="!(creditList)?.length">
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="font-weight-bold font-15 bg-locked">
                            <td colspan="4" rowspan="4" ALIGN="center">Total</td>
                            <td class="text-right">{{creditList | sumAmount:'unpaidAmountUsd' |
                                number:'1.2-2'}}
                            </td>
                            <td class="text-right">{{creditList | sumAmount:'unpaidAmountVnd' |
                                number:'1.0-3'}}
                            </td>
                            <td colspan="11"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<ng-template inject></ng-template>