<div class="m-portlet">
    <div class="bg-warning m-portlet__head alert-block__heading pointer">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title w-100">
                <h3 class="m-portlet__head-text collapse-toggle" data-toggle="collapse" data-target="#credit-summary">
                    <i class="la la-angle-up m--margin-right-5"></i> CREDIT
                </h3>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        <div class="collapse show" id="credit-summary">
            <div class="table-wrapper table-scrollabler">
                <table class="table table-striped table-brand">
                    <thead app-table-header [headers]="headers">
                        <th class="first"></th>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="!!(creditList | async)?.length">
                            <tr *ngFor="let item of (creditList | async); let i = index; trackBy: trackByFn">
                                <td></td>
                                <td>{{item.refNo}}</td>
                                <ng-container *ngIf="type !== 'Customer'">
                                    <td>{{item.jobId}}</td>
                                    <td>{{item.mbl}}</td>
                                    <td>{{item.hbl}}</td>
                                </ng-container>
                                <td>
                                    <app-combo-grid-virtual-scroll (itemSelected)="item.invoiceNo = $event.invoiceNo"
                                        [displayFields]="configDebitDisplayFields"
                                        [selectedDisplayFields]="['invoiceNo']" [dataSources]="debitList$ | async"
                                        placeholder="Please select invoice">
                                    </app-combo-grid-virtual-scroll>
                                </td>
                                <td ALIGN="left">
                                    {{item.amount | number}} {{item.currencyId}}
                                </td>
                                <td ALIGN="left">
                                    {{item.unpaidAmountUsd}}
                                </td>
                                <td ALIGN="left">
                                    {{item.unpaidAmountVnd}}
                                </td>
                                <td>
                                    <input type="text" class="form-control" [(ngModel)]="item.notes">
                                </td>
                                <td>{{item.departmentName}}</td>
                                <td>{{item.officeName}}</td>
                            </tr>
                        </ng-container>
                        <tr app-table-none-record *ngIf="!(creditList| async)?.length">
                        </tr>
                    </tbody>
                    <tfoot *ngIf="!!(creditList| async)?.length">
                        <tr class="font-weight-bold">
                            <td>Total</td>
                            <td></td>
                            <td></td>
                            <td class="text-left">{{creditList | async | sumAmount:'amount':'USD':'currencyId' |
                                number}} USD |
                                {{creditList | async | sumAmount:'amount':'VND':'currencyId' | number}} VND</td>
                            <td class="text-left">{{creditList | async | sumAmount:'unpaidAmountUsd' | number}} </td>
                            <td class="text-left">{{creditList | async | sumAmount:'unpaidAmountVnd' | number}} </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>