:host /deep/ {
    .company-infomation-detail-page {
        .m-portlet__body {
            .customClass {
                ul {
                    margin-bottom: 0px;
                }
            }
        }
    }
}
