<div class="company-infomation-detail-page">
    <app-sub-header> </app-sub-header>

    <form-add-company>
        <div class="row">
            <div class="col-6">
                <span class="font-20">General Information</span>
            </div>
            <div class="col-6 text-right">
                <div class="c-button-actions">
                    <button type="button" class="btn btn-success m-btn--square m-btn--icon m-btn--uppercase"
                        (click)="saveInformation()">
                        <span>
                            <i class="la la-save"></i>
                            <span>
                                Save
                            </span>
                        </span>
                    </button>
                    <button type="button" class="btn btn-default m-btn--square m-btn--icon m-btn--uppercase"
                        (click)="cancel()">
                        <span>
                            <i class="la la-ban"></i>
                            <span>
                                Cancel
                            </span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <hr>
        <div class="date-time p-3 font-14" *ngIf="!!company">
            <div class="row">
                <div class="col-6">
                    <span>Created: {{company.datetimeCreated | date: 'dd/MM/yyyy HH:mm'}} by
                        {{company.userCreated}}</span>
                </div>
                <div class="col-6">
                    <span>Modified: {{company.datetimeModified | date: 'dd/MM/yyyy HH:mm'}} by
                        {{company.userModified}}</span>
                </div>
            </div>
        </div>
    </form-add-company>
    <div class="m-content">
        <div class="m-porlet__body p-3">
            <tabset class="customClass">
                <tab heading="Office" id="tab1">
                    <div class="p-3 bg-white">
                        <perfect-scrollbar style="max-height: 900px">
                            <div class="table-wrapper table-scrollabler">
                                <table class="table table-brand table-hover dataTable">
                                    <thead app-table-header [headers]="headersOffice"
                                        (onClick)="sortBy($event.sortField ? $event.sortField : '')">
                                        <th class="m--w-50 first">
                                        </th>
                                    </thead>
                                    <tbody class="tbody-group">
                                        <ng-container *ngIf="!isLoading && !!offices.length">
                                            <tr *ngFor="let office of offices; let i = index; trackBy: trackByFn"
                                                class="text-center">
                                                <td class="table-actions-col">
                                                    <div class="table-actions">
                                                        <a (click)="gotoDetailOffice(office)"
                                                            class="btn btn-success btn-sm m-btn--square m-btn--icon m-btn--icon-only text-white"
                                                            title="Edit">
                                                            <i class="la la-edit"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                                <td>{{office.code}}</td>
                                                <td>{{office.branchNameEn}}</td>
                                                <td>{{office.branchNameVn}}</td>
                                                <td>{{office.shortName}}</td>
                                                <td>{{office.addressEn}}</td>
                                                <td>{{office.companyName}}</td>
                                                <td [ngClass]="office.active ? 'text-success' : 'text-danger'">
                                                    {{office.active ? 'Active' : 'Inactive'}}</td>
                                            </tr>
                                        </ng-container>
                                        <tr *ngIf="!isLoading && !offices.length" app-table-none-record
                                            [colspan]="headersOffice.length + 1"></tr>
                                        <tr *ngIf="isLoading" app-table-row-loading></tr>
                                    </tbody>
                                </table>
                            </div>
                        </perfect-scrollbar>
                    </div>
                </tab>
                <tab heading="User">
                    <div class="p-3 bg-white">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem est corporis beatae fuga atque
                        eos, unde optio officia libero doloremque. Corporis cupiditate similique perspiciatis
                        voluptates. Illo voluptate ab consequuntur voluptatibus voluptates ut nulla quo animi ad
                        quisquam? Placeat est quidem commodi obcaecati ad dicta dolorum quo perferendis praesentium
                        tenetur. Est voluptas autem nisi at, quia suscipit pariatur eum earum accusamus, omnis quis
                        in illum! Dicta ratione architecto voluptates, officiis dignissimos corrupti distinctio
                        molestiae cumque, aliquam doloremque magni accusamus quaerat reprehenderit beatae, culpa
                        vitae rem blanditiis voluptatibus eos error laudantium a eveniet? Rem libero voluptatem
                        eligendi molestias sint in provident facere.
                    </div>
                </tab>
            </tabset>
        </div>
    </div>

</div>