<form novalidate #editOBHChargeFormOps="ngForm" name="editOBHChargeFormOps" *ngIf="obhChargeToEdit!==null"
  (ngSubmit)="editOBHChargeFormOps.form.valid">
  <div class="modal fade" id="ops-edit-obh-charge-modal" bsModal #popup="bs-modal" role="dialog"
    (onHide)="onHide($event)" (onShow)="onShow($event)">
    <div class="modal-dialog c-modal-fullscreen" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit OBH rate</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"
            (click)="closeChargeForm(editOBHChargeFormOps)">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" *ngIf="isDisplay">
          <!--begin::Form-->
          <div class="m-form m-form--state">
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group"
                  [ngClass]="{ 'm-form__group has-danger': editOBHChargeFormOps.submitted && obhChargeToEdit.chargeId==null}">
                  <label class="form-control-label" for="">
                    Charge <span class="m--font-danger">(*)</span>
                    <small class="m--margin-left-5 m--font-primary">{{obhChargeToEdit.chargeCode}}</small>
                  </label>

                  <app-combo-grid-virtual-scroll
                    [currentActiveItemId]="{field:'charge.id',value:obhChargeToEdit.chargeId}"
                    [disabled]="obhChargeToEdit.cdno" (itemSelected)="obhChargeToEdit.chargeId=$event.charge.id;
                                                                obhChargeToEdit.unitId=$event.charge.unitId;
                                                                obhChargeToEdit.unitPrice=$event.charge.unitPrice;
                                                                obhChargeToEdit.vatrate = $event.charge.vatrate;
                                                                obhChargeToEdit.chargeCode=$event.charge.code;
                                                                obhChargeToEdit.unit=$event.unit;
                                                                calculateTotalEachOBH(true)"
                    [selectedDisplayFields]="['charge.chargeNameEn']" [dataSources]="lstOBHChargesComboBox"
                    [displayFields]="[{'field':'charge.code','label':'Charge Code'},{'field':'charge.chargeNameEn','label':'Name EN'},{'field':'charge.chargeNameVn','label':'Name VN'}]">
                  </app-combo-grid-virtual-scroll>

                  <div class="form-control-feedback"
                    *ngIf="editOBHChargeFormOps.submitted && obhChargeToEdit.chargeId==null">
                    Charge is required
                  </div>

                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group"
                  [ngClass]="{ 'm-form__group has-danger': editOBHChargeFormOps.submitted && obhChargeToEdit.receiverId==null}">
                  <label class="form-control-label" for="">
                    Receiver <span class="m--font-danger">(*)</span>
                  </label>

                  <app-combo-grid-virtual-scroll [disabled]="obhChargeToEdit.cdno"
                    [currentActiveItemId]="{field:'id',value:obhChargeToEdit.receiverId,hardValue:obhChargeToEdit.receiverName}"
                    (itemSelected)="obhChargeToEdit.receiverId = $event.id;
                                                                    obhChargeToEdit.receiverName = $event.shortName;"
                    [selectedDisplayFields]="['shortName']" [dataSources]="lstPartners"
                    [displayFields]="[{'field':'id','label':'Partner ID'},{'field':'shortName','label':'Name ABBR'},{'field':'partnerNameEn','label':'Name EN'},{'field':'taxCode','label':'Tax Code'}]">
                  </app-combo-grid-virtual-scroll>

                  <div class="form-control-feedback"
                    *ngIf="editOBHChargeFormOps.submitted && obhChargeToEdit.receiverId==null">
                    Receiver name is required !
                  </div>

                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group"
                  [ngClass]="{ 'm-form__group has-danger': editOBHChargeFormOps.submitted && obhChargeToEdit.payerId==null}">
                  <label class="form-control-label" for="">
                    Payer <span class="m--font-danger">(*)</span>
                  </label>

                  <app-combo-grid-virtual-scroll [disabled]="obhChargeToEdit.cdno"
                    [currentActiveItemId]="{field:'id',value:obhChargeToEdit.payerId,hardValue:obhChargeToEdit.payerName}"
                    (itemSelected)="obhChargeToEdit.payerId = $event.id;
                                                                        obhChargeToEdit.payerName = $event.shortName;"
                    [selectedDisplayFields]="['shortName']" [dataSources]="lstPartners"
                    [displayFields]="[{'field':'id','label':'Partner ID'},{'field':'shortName','label':'Name ABBR'},{'field':'partnerNameEn','label':'Name EN'},{'field':'taxCode','label':'Tax Code'}]">
                  </app-combo-grid-virtual-scroll>

                  <div class="form-control-feedback"
                    *ngIf="editOBHChargeFormOps.submitted && obhChargeToEdit.payerId==null">
                    Receiver name is required !
                  </div>

                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group"
                  [ngClass]="{ 'm-form__group has-danger': editOBHChargeFormOps.submitted && (OBHQuantityNameEdtOps.invalid || obhChargeToEdit.quantity == 0) }">
                  <label class="form-control-label" for="">
                    Quantity <span class="m--font-danger">(*)</span>
                  </label>
                  <input type="number" class="form-control m-input m-input--square" min="0" autocomplete="nope"
                    placeholder="Enter number" #OBHQuantityNameEdtOps="ngModel" decimalNumberGreaterThan0
                    [(ngModel)]="obhChargeToEdit.quantity" required [disabled]="obhChargeToEdit.cdno"
                    (keyup)="calculateTotalEachOBH(true)" (change)="calculateTotalEachOBH(true)"
                    name="OBHQuantityNameEdtOps">
                  <div class="form-control-feedback"
                    *ngIf="editOBHChargeFormOps.submitted && OBHQuantityNameEdtOps.invalid">
                    Quantity is required !
                  </div>
                  <div class="form-control-feedback"
                    *ngIf="editOBHChargeFormOps.submitted && obhChargeToEdit.quantity == 0">
                    Quantity must be greater than 0 !
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group"
                  [ngClass]="{ 'm-form__group has-danger': editOBHChargeFormOps.submitted && obhChargeToEdit.unitId==null}">
                  <label class="form-control-label" for="">
                    Unit <span class="m--font-danger">(*)</span>
                  </label>

                  <app-combo-grid-virtual-scroll [disabled]="obhChargeToEdit.cdno"
                    [currentActiveItemId]="{field:'id',value:obhChargeToEdit.unitId,hardValue:obhChargeToEdit.unit}"
                    (itemSelected)="obhChargeToEdit.unitId = $event.id;
                                                                    obhChargeToEdit.unit = $event.unitNameEn"
                    [selectedDisplayFields]="['unitNameEn']" [dataSources]="lstUnits"
                    [displayFields]="[{'field':'unitNameEn','label':'Name EN'},{'field':'unitType','label':'Unit type'}]">
                  </app-combo-grid-virtual-scroll>

                  <div class="form-control-feedback"
                    *ngIf="editOBHChargeFormOps.submitted && obhChargeToEdit.chargeId==null">
                    Unit is required
                  </div>

                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group"
                  [ngClass]="{ 'm-form__group has-danger': editOBHChargeFormOps.submitted &&(OBHUnitPriceNameEdtOps.invalid || (0 >= obhChargeToEdit.unitPrice)) }">
                  <label class="form-control-label" for="">
                    Unit price <span class="m--font-danger">(*)</span>
                  </label>
                  <input type="number" class="form-control m-input m-input--square" autocomplete="nope"
                    [disabled]="obhChargeToEdit.cdno" [(ngModel)]="obhChargeToEdit.unitPrice" placeholder="Enter number"
                    required name="OBHUnitPriceNameEdtOps" #OBHUnitPriceNameEdtOps="ngModel"
                    (keyup)="calculateTotalEachOBH(true)" (change)="calculateTotalEachOBH(true)">
                  <div class="form-control-feedback"
                    *ngIf="editOBHChargeFormOps.submitted &&(OBHUnitPriceNameEdtOps.invalid || (0 >= obhChargeToEdit.unitPrice))">
                    Unit Price is required and must be larger than 0 !
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group"
                  [ngClass]="{ 'm-form__group has-danger': editOBHChargeFormOps.submitted && obhChargeToEdit.currencyId===null }">
                  <label class="form-control-label" for="">
                    Currency
                  </label>
                  <ng-select [allowClear]="true" [items]="lstCurrencies" [disabled]="obhChargeToEdit.cdno"
                    [active]="obhChargeActive" (data)="refreshValue($event)"
                    (selected)="obhChargeToEdit.currencyId=$event.id" (removed)="obhChargeToEdit.currencyId=null"
                    (typed)="getListCurrency($event)" placeholder="Select filter">
                  </ng-select>
                  <div class="form-control-feedback"
                    *ngIf="editOBHChargeFormOps.submitted && obhChargeToEdit.currencyId===null ">
                    Currency is required
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group"
                  [ngClass]="{ 'm-form__group has-danger': editOBHChargeFormOps.submitted && (OBHChargeVATNameEdtOps.invalid || obhChargeToEdit.vatrate > 100)}">
                  <label class="form-control-label" for="">
                    VAT
                  </label>
                  <input type="number" max="100" name="OBHChargeVATNameEdtOps" required autocomplete="nope"
                    [disabled]="obhChargeToEdit.cdno" #OBHChargeVATNameEdtOps="ngModel"
                    [(ngModel)]="obhChargeToEdit.vatrate" class="form-control m-input m-input--square"
                    placeholder="Enter number" (keyup)="calculateTotalEachOBH(true)"
                    (change)="calculateTotalEachOBH(true)">
                  <div class="form-control-feedback"
                    *ngIf="editOBHChargeFormOps.submitted && (OBHChargeVATNameEdtOps.invalid || obhChargeToEdit.vatrate > 100)">
                    VAT is required and must be less than or equal 100
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" for="">
                    Total
                  </label>
                  <input type="text" class="form-control m-input m-input--square" disabled
                    name="OBHChargeTotalNameEdtOps" [(ngModel)]="obhChargeToEdit.total">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" for="">
                    Doc no
                  </label>
                  <input type="text" [(ngModel)]="obhChargeToEdit.docNo" autocomplete="nope"
                    [disabled]="obhChargeToEdit.cdno" class="form-control m-input m-input--square"
                    placeholder="Enter text" name="OBHChargeDocNameEdtOps">
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" for="">
                    Note
                  </label>
                  <input type="text" [(ngModel)]="obhChargeToEdit.notes" autocomplete="nope"
                    [disabled]="obhChargeToEdit.cdno" class="form-control m-input m-input--square"
                    placeholder="Enter text" name="OBHChargeNoteNameEdtOps">
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" for="">
                    Exchange rate date
                  </label>
                  <div class="m-input-icon m-input-icon--right down">
                    <input type="text" class="form-control m-input m-input--square" ngxDaterangepickerMd
                      [autoApply]="true" [attr.disabled]="obhChargeToEdit.cdno"
                      [locale]="{applyLabel: 'ok', format: 'DD/MM/YYYY'}" [(ngModel)]="exchangeRateDate"
                      [singleDatePicker]="true" name="exchangeRateDate" readonly />
                    <span class="m-input-icon__icon m-input-icon__icon--right">
                      <span>
                        <i class="la la-calendar"></i>
                      </span>
                    </span>
                  </div>
                  <div class="form-control-feedback"
                    *ngIf="editOBHChargeFormOps.submitted && this.exchangeRateDate.startDate != null && this.exchangeRateDate.startDate != null && (this.exchangeRateDate.startDate < this.exchangeRateDate.startDate)">
                    Finish Date must more greater or equal Service Date
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--end::Form-->
        </div>
        <div class="modal-footer m--align-center">
          <button class="btn btn-brand m-btn--square m-btn--icon m-btn--uppercase" (click)="obhChargeToEdit.exchangeDate=(obhChargeToEdit.exchangeDate)==null?null:obhChargeToEdit.exchangeDate.startDate;
                        editCharge('ops-edit-obh-charge-modal',editOBHChargeFormOps)"
            [disabled]="obhChargeToEdit.cdno">
            <span>
              <i class="la la-save"></i>
              <span>
                Save
              </span>
            </span>
          </button>
          <button type="button" class="btn btn-cancel m-btn--square m-btn--icon m-btn--uppercase"
            (click)="closeChargeForm(editOBHChargeFormOps)" data-dismiss="modal">
            <span>
              <i class="la la-ban"></i>
              <span>
                cancel
              </span>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>