<div class="list-charge-settlement-payment m--margin-top-20">
    <div class="row">
        <div class="col-lg-12 m--align-left d-flex align-items-center justify-content-between">
            <div class="">
                <button type="button" class="btn btn-info m-btn--square m-btn--icon m-btn--uppercase m--margin-right-10"
                    (click)="showCreateCharge()">
                    <span>
                        <i class="la la-plus"></i>
                        <span>
                            Add charge
                        </span>
                    </span>
                </button>
                <button type="button"
                    class="btn btn-warning m-btn--square m-btn--icon m-btn--uppercase m--margin-right-10"
                    (click)="showExistingCharge()">
                    <span>
                        <i class="la la-plus"></i>
                        <span>
                            Get Existing Charge
                        </span>
                    </span>
                </button>
                <button type="button" class="btn btn-danger  m-btn--square m-btn--icon m-btn--uppercase">
                    <span>
                        <i class="la la-trash"></i>
                        <span>
                            Delete
                        </span>
                    </span>
                </button>
            </div>
            <div class="m-checkbox-list">
                <label class="m-checkbox">
                    <input type="checkbox">
                    <span></span>
                    Show All Charge
                </label>
            </div>
        </div>
    </div>
    <div class="row m--margin-top-20">
        <div class="col-12">
            <div class="shipment-list-wrapper">
                <accordion [isAnimated]="true">
                    <accordion-group *ngFor="let item of items">
                        <shipment-item accordion-heading></shipment-item>
                        <table-surcharge-settlement></table-surcharge-settlement>
                    </accordion-group>
                </accordion>
            </div>
        </div>
    </div>
</div>

<!-- <payment-management-popup></payment-management-popup> -->

<existing-charge-popup></existing-charge-popup>

<form-charge-popup (onRequest)="onRequestSurcharge($event)"></form-charge-popup>