<!--begin:: subheader-->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <app-breadcrumb></app-breadcrumb>
        </div>
    </div>
</div>
<!--end:: subheader-->
<!--begin::m-content-->
<div class="m-content">
    <form-add-charge></form-add-charge>

    <voucher-list></voucher-list>

    <div class="form-actions m--align-right">
        <button type="submit" class="btn btn-brand m-btn--square m-btn--icon m-btn--uppercase" (click)="addCharge()">
            <span>
                <i class="la la la-save"></i>
                <span>
                    save
                </span>
            </span>
        </button>
        <button type="button" class="btn m-btn--square m-btn--icon m-btn--uppercase"
            routerLink="/home/catalogue/charge">
            <span>
                <i class="la la-ban"></i>
                <span>
                    cancel
                </span>
            </span>
        </button>
    </div>

</div>
<!--end::m-content-->