<ng-container *ngIf="columnMap && item">
    <!-- text -->
    <ng-container *ngIf="columnMap.dataType == 'text'">
        <div class="form-group" [ngClass]="{ 'm-form__group has-danger': formAddEdit.submitted && nameInput.invalid }">
            <label class="form-control-label">
                {{columnMap.header}}
            </label>
            <input type="{{columnMap.dataType}}" class="form-control m-input" placeholder="Please enter {{columnMap.header}}"  name="{{columnMap.primaryKey}}"
                [(ngModel)]="item[columnMap.primaryKey]" #nameInput="ngModel"  [ngClass]="{ 'm-input--square': formAddEdit.submitted && nameInput.invalid }" 
                [required]="columnMap.required"  >
            <div class="form-control-feedback" *ngIf="formAddEdit.submitted && nameInput.invalid"  >
                {{columnMap.header}} is required
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="columnMap.lookup != ''">
        <div class="form-group" [ngClass]="{ 'm-form__group has-danger': formAddEdit.submitted && nameInput.invalid }">
            <label class="form-control-label">
                {{columnMap.header}}
            </label>
            <select class="form-control m-input m-input--square" #nameInput="ngModel" name="{{columnMap.primaryKey}}" 
                [(ngModel)]="item[columnMap.primaryKey]"
                [ngClass]="{ 'm-input--square': formAddEdit.submitted && nameInput.invalid }" required >
                <option value="">
                    Please select
                </option>
                <!-- <ng-container *ngIf="dataLookups">
                    <option *ngFor='let lookup of dataLookups' [value]="lookup[lookupSetting.value]">
                        {{ lookup[lookupSetting.displayName] }}
                    </option>
                </ng-container> -->
            </select>
            <div class="form-control-feedback" *ngIf="formAddEdit.submitted && nameInput.invalid" >
                {{columnMap.header}} is required
            </div>
        </div>
    </ng-container>
</ng-container>