<div class="modal fade" role="dialog" bsModal #popup="bs-modal">
    <div class="modal-dialog modal-xs" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Generate Selling Charge</h5>
                <button type="button" class="close" aria-label="Close" (click)=close()>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="m-form m-form--state" [formGroup]="formGenerate">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group"
                                [ngClass]="{ 'm-form__group has-danger': isSubmitted && !chargeCode.value }">
                                <label class="form-control-label">
                                    Selling Charge Code <span class="m--font-danger">(*)</span>
                                </label>
                                <input type="text" class="form-control m-input" placeholder="Please enter charge code"
                                    name="chargeCode" formControlName="chargeCode">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="form-control-label">
                                    Account No
                                </label>
                                <app-combo-grid-virtual-scroll
                                    [currentActiveItemId]="{field:'accountCode', value:accountNo.value}"
                                    [selectedDisplayFields]="configComboChartOfAccount.selectedDisplayFields"
                                    (itemSelected)="onSelectDataFormInfo($event,'accountNo')"
                                    [dataSources]="chartOfAccounts"
                                    [displayFields]="configComboChartOfAccount.displayFields"
                                    placeholder="Select Account No" (remove)="this.accountNo.setValue(null)">
                                </app-combo-grid-virtual-scroll>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="form-control-label">
                                    Account No VAT
                                </label>
                                <app-combo-grid-virtual-scroll
                                    [currentActiveItemId]="{field:'accountCode', value:accountNoVAT.value}"
                                    [selectedDisplayFields]="configComboChartOfAccount.selectedDisplayFields"
                                    (itemSelected)="onSelectDataFormInfo($event,'accountCode')"
                                    [dataSources]="chartOfAccounts"
                                    [displayFields]="configComboChartOfAccount.displayFields"
                                    placeholder="Select Account No VAT" (remove)="this.accountNoVAT.setValue(null)">
                                </app-combo-grid-virtual-scroll>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer m--align-center c-button-actions">
                <button class="btn btn-brand  m-btn--icon m-btn--uppercase" (click)="onSave()">
                    <span>
                        <i class="la la-save"></i>
                        <span> Create </span>
                    </span>
                </button>
                <app-default-button [buttonSetting]="cancelButtonSetting" (click)="hide()"></app-default-button>

            </div>
        </div>
    </div>
</div>