table {
    border-collapse: collapse;
}

th, td {
    padding: 0;
}

.Itl_Frame_VerticalText_Particular {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 6pt;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
    text-align: -webkit-center;
    text-align: -moz-center;
}

.Fbl_Frame_VerticalText_Vilas {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 10pt;
    color: #000000;
    background: white;
    font-family: Tahoma;
    font-weight: normal;
}

.line-height_arial_4-5 td {
    line-height: 1.5 !important;
    font-size: 4.5pt;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
}

.line-height_arial_4-5 tr {
    font-size: 4.5pt;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
}

.line-height_arial_5 td {
    line-height: 1.5 !important;
    font-size: 5pt;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
}

.line-height_arial_5 tr {
    font-size: 5pt;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
}

.line-height_arial_5-5 td {
    line-height: 1.5 !important;
    font-size: 5.5pt;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
}

.line-height_arial_5-5 tr {
    font-size: 5.5pt;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
}

.line-height_arial_6 td {
    line-height: 1.5 !important;
    font-size: 6pt;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
}

.line-height_arial_6 tr {
    font-size: 6pt;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
}

.line-height_arial_6-5 td {
    line-height: 1.5 !important;
    font-size: 6.5pt;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
}

.line-height_arial_6-5 tr {
    font-size: 6.5pt;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
}

.line-height_arial_7 td {
    line-height: 1.5 !important;
    font-size: 7pt;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
}

.line-height_arial_7 tr {
    font-size: 7pt;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
}

.line-height_arial_7-5 td {
    line-height: 1.5 !important;
    font-size: 7.5pt;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
}

.line-height_arial_7-5 tr {
    font-size: 7.5pt;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
}

.line-height_arial_8 td {
    line-height: 1.5 !important;
    font-size: 8pt;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
}

.line-height_arial_8 tr {
    font-size: 8pt;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
}

.line-height_arial_8-5 td {
    line-height: 1.5 !important;
    font-size: 8pt;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
}

.line-height_arial_8-5 tr {
    font-size: 8pt;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
}


