<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="eTMSTestConnectionString" connectionString="Data Source=192.168.7.88;Initial Catalog=eTMSTest;User ID=sa; Password=P@ssw0rd" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime maxUrlLength="2048" maxQueryStringLength="2000000" requestValidationMode="2.0" />
    <pages controlRenderingCompatibilityVersion="4.0"/>
    <httpHandlers>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
    </httpHandlers>    
  </system.web>
  <system.webServer>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
    </handlers>
	 <httpProtocol>
     <customHeaders>
       <add name="Access-Control-Allow-Origin" value="*" />
	   <add name="Access-Control-Allow-Headers" value="*"/>
     </customHeaders>
	 </httpProtocol>
    <validation validateIntegratedModeConfiguration="false"/>
    <!--<defaultDocument>
      <files>
        <add value="Default.aspx"/>
      </files>
    </defaultDocument>-->
    <security>
      <requestFiltering>
        <requestLimits maxUrl="2048" maxQueryString="2000000"/>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>