/WebAPI/MLCOPS/API.Mobile/bin
/WebAPI/MLCOPS/API.Mobile/obj
/WebAPI/SystemManagement/eFMS.API.System/bin
/WebAPI/SystemManagement/eFMS.API.System/obj
/WebAPI/SystemManagement/eFMS.API.System.DL/obj
/WebAPI/SystemManagement/eFMS.API.System.DAL/obj
/WebAPI/SystemManagement/.vs  
/WebAPI/eFMS.API.Mobile/.vs
/WebAPI/eFMS.API.Mobile/bin
/WebAPI/eFMS.API.Mobile/obj 
/WebAPI/eFMS.API.Mobile/Properties/PublishProfiles
/WebAPI/eFMS.API.Mobile/eFMS.API.Mobile.DL/bin
/WebAPI/eFMS.API.Mobile/eFMS.API.Mobile.Service/bin
/WebAPI/eFMS.API.Mobile/API.Mobile/bin
/WebAPI/eFMS.API.Mobile/API.Mobile/obj
/WebAPI/eFMS.API.Mobile/eFMS.API.Mobile.DL/obj
/WebAPI/eFMS.API.Mobile/eFMS.API.Mobile.Service/obj
/WebAPI/SystemManagement/bin
/WebAPI/eFMS.API.Common/.vs
/WebAPI/eFMS.API.Common/obj
/WebAPI/SystemManagement/CatalogManagement/eFMS.API.Catalog.DL/obj
/WebAPI/SystemManagement/CatalogManagement/eFMS.API.Catalog.DAL/obj
/WebAPI/SystemManagement/CatalogManagement/eFMS.API.Catalog/obj
/WebAPI/SystemManagement/SystemManagement/eFMS.API.System.DL/obj
/WebAPI/SystemManagement/SystemManagement/eFMS.API.System.DAL/obj
/WebAPI/SystemManagement/SystemManagement/eFMS.API.System/obj
/WebAPI/SystemManagement/CatalogManagement/.vs
/WebAPI/SystemManagement/SystemManagement/.vs
/WebAPI/eFMS.API.SystemWeb/CatalogManagement/eFMS.API.Catalog/obj
/WebAPI/eFMS.API.SystemWeb/CatalogManagement/eFMS.API.Catalog.DAL/obj
/WebAPI/eFMS.API.SystemWeb/CatalogManagement/eFMS.API.Catalog.DL/obj
/WebAPI/eFMS.API.SystemWeb/SystemManagement/eFMS.API.System/obj
/WebAPI/eFMS.API.SystemWeb/SystemManagement/eFMS.API.System.DAL/obj
/WebAPI/eFMS.API.SystemWeb/SystemManagement/eFMS.API.System.DL/obj
/WebAPI/eFMS.API.SystemWeb/CatalogManagement/.vs
/WebAPI/eFMS.API.SystemWeb/SystemManagement/.vs
/WebAPI/eFMS.API.SystemWeb/CatalogueManagement/eFMS.API.Catalogue.DAL/obj
/WebAPI/eFMS.API.SystemWeb/CatalogueManagement/eFMS.API.Catalogue/obj
/WebAPI/eFMS.API.SystemWeb/CatalogueManagement/eFMS.API.Catalogue.DL/obj
bin
/WebAPI/eFMS.API.SystemWeb/IdentityServer/eFMS.IdentityServer.DL/obj
/WebAPI/eFMS.API.SystemWeb/IdentityServer/eFMS.IdentityServer.DAL/obj
/WebAPI/eFMS.API.SystemWeb/IdentityServer/eFMS.IdentityServer/obj
/WebAPI/eFMS.API.SystemWeb/IdentityServer/eFMS.IdentityServer/bin
/WebAPI/eFMS.API.SystemWeb/IdentityServer/.vs
/WebAPI/eFMS.API.SystemWeb/CatalogueManagement/.vs
/WebAPI/eFMS.API.SystemWeb/LogManagement/eFMS.API.Log/obj
/WebAPI/eFMS.API.SystemWeb/LogManagement/eFMS.API.Log.DAL/obj
/WebAPI/eFMS.API.SystemWeb/LogManagement/eFMS.API.Log.DL/obj
/WebAPI/eFMS.API.SystemWeb/LogManagement/.vs
/WebAPI/eFMS.API.SystemWeb/ApiGetWay/GatewayApi/obj
/WebAPI/eFMS.API.SystemWeb/ApiGetWay/.vs/GatewayApi/DesignTimeBuild/.dtbcache
/WebAPI/eFMS.API.SystemWeb/ApiGetWay/.vs/GatewayApi/v15/.suo
/WebAPI/eFMS.API.SystemWeb/ApiGetWay/.vs/GatewayApi/v15/Server/sqlite3/db.lock
/WebAPI/eFMS.API.SystemWeb/ApiGetWay/.vs/GatewayApi/v15/Server/sqlite3/storage.ide
/WebAPI/eFMS.API.SystemWeb/ApiGetWay/.vs/GatewayApi/v15/Server/sqlite3/storage.ide-shm
/WebAPI/eFMS.API.SystemWeb/ApiGetWay/.vs/GatewayApi/v15/Server/sqlite3/storage.ide-wal
/WebAPI/eFMS.API.SystemWeb/ApiGetWay/.vs/GatewayDemo/DesignTimeBuild/.dtbcache
/WebAPI/eFMS.API.SystemWeb/ApiGetWay/.vs/config/applicationhost.config
/WebAPI/eFMS.API.SystemWeb/ShipmentManagement/.vs/config/applicationhost.config
/WebAPI/eFMS.API.SystemWeb/ShipmentManagement/.vs/eFMS.API.Catalog/DesignTimeBuild/.dtbcache
/WebAPI/eFMS.API.SystemWeb/ShipmentManagement/.vs/eFMS.API.Catalogue/DesignTimeBuild/.dtbcache
/WebAPI/eFMS.API.SystemWeb/ShipmentManagement/.vs/eFMS.API.Catalogue/v15/.suo
/WebAPI/eFMS.API.SystemWeb/ShipmentManagement/.vs/eFMS.API.Catalogue/v15/Server/sqlite3/db.lock
/WebAPI/eFMS.API.SystemWeb/ShipmentManagement/.vs/eFMS.API.Catalogue/v15/Server/sqlite3/storage.ide
/WebAPI/eFMS.API.SystemWeb/ShipmentManagement/.vs/eFMS.API.Catalogue/v15/Server/sqlite3/storage.ide-shm
/WebAPI/eFMS.API.SystemWeb/ShipmentManagement/.vs/eFMS.API.Catalogue/v15/Server/sqlite3/storage.ide-wal
/WebAPI/eFMS.API.SystemWeb/ShipmentManagement/.vs/eFMS.API.Shipment/v15/.suo
/WebAPI/eFMS.API.SystemWeb/ShipmentManagement/.vs/eFMS.API.Shipment/v15/Server/sqlite3/db.lock
/WebAPI/eFMS.API.SystemWeb/ShipmentManagement/.vs/eFMS.API.Shipment/v15/Server/sqlite3/storage.ide
/WebAPI/eFMS.API.SystemWeb/ShipmentManagement/.vs/eFMS.API.Shipment/v15/Server/sqlite3/storage.ide-shm
/WebAPI/eFMS.API.SystemWeb/ShipmentManagement/.vs/eFMS.API.Shipment/v15/Server/sqlite3/storage.ide-wal
/WebAPI/eFMS.API.SystemWeb/ShipmentManagement/.vs/eFMS.API.System/DesignTimeBuild/.dtbcache
/WebAPI/eFMS.API.SystemWeb/ShipmentManagement/eFMS.API.Shipment/obj
/WebAPI/eFMS.API.SystemWeb/ShipmentManagement/eFMS.API.Shipment.DAL/obj
/WebAPI/eFMS.API.SystemWeb/ShipmentManagement/eFMS.API.Shipment.DL/obj
/WebAPI/eFMS.API.SystemWeb/DocumentationManagement/eFMS.API.Documentation/obj
/WebAPI/eFMS.API.SystemWeb/DocumentationManagement/eFMS.API.Documentation.DAL/obj
/WebAPI/eFMS.API.SystemWeb/DocumentationManagement/eFMS.API.Documentation.DL/obj
/WebAPI/eFMS.API.SystemWeb/DocumentationManagement/.vs
/WebAPI/eFMS.API.SystemWeb/IdentityServer/eFMS.IdentityServer/Properties/PublishProfiles/*.pubxml
/WebAPI/eFMS.API.SystemWeb/IdentityServer/eFMS.IdentityServer/Properties/PublishProfiles/*.user
/WebAPI/eFMS.API.SystemWeb/Reportmanagement/APIReport/APIReport/obj
/WebAPI/eFMS.API.SystemWeb/Reportmanagement/APIReport/APIReport/bin
/WebAPI/eFMS.API.SystemWeb/Reportmanagement/eFMS.Domain.Report/obj
/WebAPI/eFMS.API.SystemWeb/Reportmanagement/APIReport/.vs
/WebAPI/eFMS.API.SystemWeb/Reportmanagement/APIReport/packages/Autofac.WebApi2.4.2.0
/WebAPI/eFMS.API.SystemWeb/Reportmanagement/APIReport/packages/Autofac.4.9.1
/WebAPI/eFMS.API.SystemWeb/ReportPreview/packages
/WebAPI/eFMS.API.SystemWeb/ReportPreview/.vs
/WebAPI/ITL.NetCoreBase/.vs
/WebAPI/ITL.NetCoreBase/bin
/WebAPI/eFMS.API.SystemWeb/ReportPerview/obj
/WebAPI/eFMS.API.SystemWeb/ReportPerview/.vs
/WebAPI/eFMS.API.SystemWeb/SettingManagement/.vs
/WebAPI/eFMS.API.SystemWeb/SettingManagement/eFMS.API.Setting/obj
/WebAPI/eFMS.API.SystemWeb/SettingManagement/eFMS.API.Setting.DAL/obj
/WebAPI/eFMS.API.SystemWeb/SettingManagement/eFMS.API.Setting.DL/obj
