/WebAPI/MLCOPS/API.Mobile/bin
/WebAPI/MLCOPS/API.Mobile/obj
/WebAPI/SystemManagement/eFMS.API.System/bin
/WebAPI/SystemManagement/eFMS.API.System/obj
/WebAPI/SystemManagement/eFMS.API.System.DL/obj
/WebAPI/SystemManagement/eFMS.API.System.DAL/obj
/WebAPI/SystemManagement/.vs
/WebAPI/eFMS.API.Mobile/.vs
/WebAPI/eFMS.API.Mobile/bin
/WebAPI/eFMS.API.Mobile/obj
/WebAPI/eFMS.API.Mobile/Properties/PublishProfiles
/WebAPI/eFMS.API.Mobile/eFMS.API.Mobile.DL/bin
/WebAPI/eFMS.API.Mobile/eFMS.API.Mobile.Service/bin
/WebAPI/eFMS.API.Mobile/API.Mobile/bin
/WebAPI/eFMS.API.Mobile/API.Mobile/obj
/WebAPI/eFMS.API.Mobile/eFMS.API.Mobile.DL/obj
/WebAPI/eFMS.API.Mobile/eFMS.API.Mobile.Service/obj
/WebAPI/SystemManagement/bin
/WebAPI/eFMS.API.Common/.vs
/WebAPI/eFMS.API.Common/obj
/WebAPI/SystemManagement/CatalogManagement/eFMS.API.Catalog.DL/obj
/WebAPI/SystemManagement/CatalogManagement/eFMS.API.Catalog.DAL/obj
/WebAPI/SystemManagement/CatalogManagement/eFMS.API.Catalog/obj
/WebAPI/SystemManagement/SystemManagement/eFMS.API.System.DL/obj
/WebAPI/SystemManagement/SystemManagement/eFMS.API.System.DAL/obj
/WebAPI/SystemManagement/SystemManagement/eFMS.API.System/obj
/WebAPI/SystemManagement/CatalogManagement/.vs
/WebAPI/SystemManagement/SystemManagement/.vs
/WebAPI/eFMS.API.SystemWeb/CatalogManagement/eFMS.API.Catalog/obj
/WebAPI/eFMS.API.SystemWeb/CatalogManagement/eFMS.API.Catalog.DAL/obj
/WebAPI/eFMS.API.SystemWeb/CatalogManagement/eFMS.API.Catalog.DL/obj
/WebAPI/eFMS.API.SystemWeb/SystemManagement/eFMS.API.System/obj
/WebAPI/eFMS.API.SystemWeb/SystemManagement/eFMS.API.System.DAL/obj
/WebAPI/eFMS.API.SystemWeb/SystemManagement/eFMS.API.System.DL/obj
/WebAPI/eFMS.API.SystemWeb/CatalogManagement/.vs
/WebAPI/eFMS.API.SystemWeb/SystemManagement/.vs
