variables:
  PROJECT_PATH: "$CI_PROJECT_DIR"
  APP_OUTPUT_PATH: "$CI_PROJECT_DIR/WebApp/dist/uat/eFMS-en"
  APP_OUT_PATH_PROD_EN: "$CI_PROJECT_DIR/WebApp/dist/prod/eFMS-en"
  APP_OUT_PATH_PROD_VI: "$CI_PROJECT_DIR/WebApp/dist/prod/eFMS-vi"

image: node:12

stages:
  - install
  - build

install_dependency:
  stage: install
  script:
    - node --version
    - echo "start job_build"
    - cd WebApp
    - npm install
    - npm install -g @angular/cli
  only:
    - production
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - WebApp/node_modules
      - WebApp/package-lock.json
build_uat:
  stage: build
  when: manual
  script:
    - cd WebApp
    - npm run build:uat:en
    - echo "end job_build"
  only:
    - dev
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - WebApp/node_modules
    policy: pull
  artifacts:
    name: "angular_build"
    paths:
      - $APP_OUTPUT_PATH

build_test:
  stage: build
  when: manual
  script:
    - echo "start job_build"
    - cd WebApp
    - npm run build:test:en
    - echo "end job_build"
  only:
    - feature/dev
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - WebApp/node_modules
    policy: pull
  artifacts:
    name: "angular_build"
    paths:
      - $APP_OUTPUT_PATH

build_prod_en:
  stage: build
  when: manual
  script:
    - node --version
    - echo "start job_build"
    - cd WebApp
    - npm run build:prod:en
    - echo "end job_build"
  only:
    - production
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - WebApp/node_modules
    policy: pull
  artifacts:
    name: "angular_build_prod_en"
    paths:
      - $APP_OUT_PATH_PROD_EN

build_prod_vi:
  stage: build
  when: manual
  script:
    - node --version
    - echo "start job_build"
    - cd WebApp
    - npm run build:prod:vi
    - echo "end job_build"
  only:
    - production
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - WebApp/node_modules
    policy: pull
  artifacts:
    name: "angular_build_prod_vi"
    paths:
      - $APP_OUT_PATH_PROD_VI
