/WebAPI/MLCOPS/API.Mobile/bin
/WebAPI/MLCOPS/API.Mobile/obj

/WebAPI/eFMS.API.Mobile/.vs
/WebAPI/eFMS.API.Mobile/bin
/WebAPI/eFMS.API.Mobile/obj
/WebAPI/eFMS.API.Mobile/Properties/PublishProfiles
/WebAPI/eFMS.API.Mobile/eFMS.API.Mobile.DL/bin
/WebAPI/eFMS.API.Mobile/eFMS.API.Mobile.Service/bin
/WebAPI/eFMS.API.Mobile/API.Mobile/bin
/WebAPI/eFMS.API.Mobile/API.Mobile/obj
/WebAPI/eFMS.API.Mobile/eFMS.API.Mobile.DL/obj
/WebAPI/eFMS.API.Mobile/eFMS.API.Mobile.Service/obj
/WebAPI/SystemManagement/bin
/WebAPI/eFMS.API.Common/.vs
/WebAPI/eFMS.API.Common/obj

bin
/WebAPI/eFMS.API.SystemWeb/IdentityServer/eFMS.IdentityServer.DL/obj
/WebAPI/eFMS.API.SystemWeb/IdentityServer/eFMS.IdentityServer.DAL/obj
/WebAPI/eFMS.API.SystemWeb/IdentityServer/eFMS.IdentityServer/obj
/WebAPI/eFMS.API.SystemWeb/IdentityServer/eFMS.IdentityServer/bin
/WebAPI/eFMS.API.SystemWeb/IdentityServer/.vs

/WebAPI/eFMS.API.SystemWeb/ApiGetWay/GatewayApi/obj
/WebAPI/eFMS.API.SystemWeb/ApiGetWay/.vs/GatewayApi/DesignTimeBuild/.dtbcache
/WebAPI/eFMS.API.SystemWeb/ApiGetWay/.vs/GatewayApi/v15/.suo
/WebAPI/eFMS.API.SystemWeb/ApiGetWay/.vs/GatewayApi/v15/Server/sqlite3/db.lock
/WebAPI/eFMS.API.SystemWeb/ApiGetWay/.vs/GatewayApi/v15/Server/sqlite3/storage.ide
/WebAPI/eFMS.API.SystemWeb/ApiGetWay/.vs/GatewayApi/v15/Server/sqlite3/storage.ide-shm
/WebAPI/eFMS.API.SystemWeb/ApiGetWay/.vs/GatewayApi/v15/Server/sqlite3/storage.ide-wal
/WebAPI/eFMS.API.SystemWeb/ApiGetWay/.vs/GatewayDemo/DesignTimeBuild/.dtbcache
/WebAPI/eFMS.API.SystemWeb/ApiGetWay/.vs/config/applicationhost.config


/WebAPI/eFMS.API.SystemWeb/IdentityServer/eFMS.IdentityServer/Properties/PublishProfiles/*.pubxml
/WebAPI/eFMS.API.SystemWeb/IdentityServer/eFMS.IdentityServer/Properties/PublishProfiles/*.user

/WebAPI/eFMS.API.SystemWeb/ReportPreview/packages
/WebAPI/eFMS.API.SystemWeb/ReportPreview/.vs
/WebAPI/ITL.NetCoreBase/.vs
/WebAPI/ITL.NetCoreBase/bin
/WebAPI/eFMS.API.SystemWeb/ReportPerview/obj
/WebAPI/eFMS.API.SystemWeb/ReportPerview/.vs

/WebAPI/eFMS.API.Common/eFMS.API.Common/.vs
/WebAPI/eFMS.API.Common/eFMS.API.Common/obj
/WebAPI/eFMS.API.Common/eFMS.API.Provider/obj
/WebAPI/eFMS.API.Common/packages

/WebAPI/eFMSWindowService/.vs/eFMSWindowService/DesignTimeBuild/.dtbcache
/WebAPI/eFMSWindowService/.vs/eFMSWindowService/v15/Server/sqlite3/db.lock
/WebAPI/eFMSWindowService/obj/Release/eFMSWindowService.csprojAssemblyReference.cache
/WebAPI/eFMSWindowService/.vs/eFMSWindowService/v15/.suo
/WebAPI/eFMSWindowService/.vs/eFMSWindowService/v15/Server/sqlite3/storage.ide-shm
/WebAPI/eFMSWindowService/.vs/eFMSWindowService/v15/Server/sqlite3/storage.ide-wal
/WebAPI/eFMSWindowService/.vs/eFMSWindowService/v15/Server/sqlite3/storage.ide
/WebAPI/eFMSWindowService/obj/Release/eFMSWindowService.csproj.CopyComplete
/WebAPI/eFMSWindowService/obj/Release/eFMSWindowService.csproj.CoreCompileInputs.cache
/WebAPI/eFMSWindowService/obj/Release/edmxResourcesToEmbed
/WebAPI/eFMSWindowService/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/WebAPI/eFMSWindowService/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/WebAPI/eFMSWindowService/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/WebAPI/eFMSWindowService/obj/Release/eFMSWindowService.csproj.FileListAbsolute.txt
/WebAPI/eFMSWindowService/obj/Release/eFMSWindowService.csproj.GenerateResource.cache
/WebAPI/eFMSWindowService/obj/Release/eFMSWindowService.exe
/WebAPI/eFMSWindowService/obj/Release/eFMSWindowService.pdb
/WebAPI/eFMSWindowService/obj/Release/eFMSWindowService.ProjectInstaller.resources
/WebAPI/eFMSWindowService/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/WebAPI/eFMSWindowService/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/WebAPI/eFMSWindowService/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/WebAPI/eFMSWindowService/obj/Debug/eFMSWindowService.ProjectInstaller.resources
/WebAPI/eFMSWindowService/obj/Debug/eFMSWindowService.csproj.CoreCompileInputs.cache
/WebAPI/eFMSWindowService/obj/Debug/eFMSWindowService.csproj.FileListAbsolute.txt
/WebAPI/eFMSWindowService/obj/Debug/eFMSWindowService.csproj.GenerateResource.cache
/WebAPI/eFMSWindowService/obj/Debug/eFMSWindowService.csprojAssemblyReference.cache
/WebAPI/eFMSWindowService/obj/Debug/edmxResourcesToEmbed/Models/eFMSModel.csdl
/WebAPI/eFMSWindowService/obj/Debug/edmxResourcesToEmbed/Models/eFMSModel.msl
/WebAPI/eFMSWindowService/obj/Debug/edmxResourcesToEmbed/Models/eFMSModel.ssdl
/WebAPI/eFMSWindowService/.vs
/WebAPI/eFMSWindowService/obj
/WebAPI/eFMS.API.SystemWeb/ReportPerview/aspnet_client/system_web/4_7_3429

/eFMS.ReportData/.vs/config/applicationhost.config
/eFMS.ReportData/.vs/eFMS.ReportData/DesignTimeBuild/.dtbcache
/eFMS.ReportData/.vs/eFMS.ReportData/v15/.suo
/eFMS.ReportData/.vs/eFMS.ReportData/v15/Server/sqlite3/db.lock
/eFMS.ReportData/.vs/eFMS.ReportData/v15/Server/sqlite3/storage.ide
/eFMS.ReportData/.vs/eFMS.ReportData/v15/Server/sqlite3/storage.ide-shm
/eFMS.ReportData/.vs/eFMS.ReportData/v15/Server/sqlite3/storage.ide-wal
/eFMS.ReportData/eFMS.ReportData.Extension/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/eFMS.ReportData/eFMS.ReportData.Extension/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/eFMS.ReportData/eFMS.ReportData.Extension/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/eFMS.ReportData/eFMS.ReportData.Extension/obj/Debug/eFMS.ReportData.Extension.csproj.CoreCompileInputs.cache
/eFMS.ReportData/eFMS.ReportData.Extension/obj/Debug/eFMS.ReportData.Extension.csprojAssemblyReference.cache
/eFMS.ReportData/eFMS.ReportData/eFMS.ReportData.csproj.user
/WebAPI/eFMS.API.SystemWeb/eFMS.API.ReportData/.vs
/WebAPI/eFMS.API.SystemWeb/eFMS.API.ReportData/eFMS.API.ReportData/obj
/WebAPI/eFMS.API.SystemWeb/DocumentationManagement/bin
/WebAPI/eFMS.API.SystemWeb/SystemManagement/bin
/WebAPI/eFMS.API.SystemWeb/SystemManagement/bin/netcoreapp2.2/ITL.NetCore.Connection.dll
/WebAPI/eFMS.API.SystemWeb/SystemManagement/bin/netcoreapp2.2/ITL.NetCore.Connection.pdb
/WebAPI/eFMS.API.SystemWeb/SystemManagement/bin/netcoreapp2.2/eFMS.IdentityServer.DL.dll
/WebAPI/eFMS.API.SystemWeb/SystemManagement/bin/netcoreapp2.2/ITL.NetCore.Connection.deps.json
/WebAPI/eFMS.API.SystemWeb/SystemManagement/bin/netcoreapp2.2
WebAPI/eFMS.API.System.DL.deps.json
WebAPI/eFMS.API.System.DL.dll
WebAPI/eFMS.API.System.DL.pdb
WebAPI/ITL.NetCore.Connection.dll
WebAPI/ITL.NetCore.Connection.pdb
/backup
/WebAPI/eFMS.API.SystemWeb/ReportPerview/aspnet_client/system_web/4_7_3535
/WebAPI/eFMS.API.Common/eFMS.API.Infrastructure/obj
/WebAPI/eFMS.API.Common/eFMS.API.Infrastructure/bin
/WebAPI/eFMS.API.SystemWeb/ReportPreview/obj
WebApp/.vscode/settings.json
/WebAPI/eFMSWindowService/packages
/WebAPI/eFMS.API.SystemWeb/eFMS.API.Accounting/.vs
/WebAPI/eFMS.API.SystemWeb/eFMS.API.Accounting/eFMS.API.Accounting/obj
/WebAPI/eFMS.API.SystemWeb/eFMS.API.Accounting/eFMS.API.Accounting.DAL/obj
/WebAPI/eFMS.API.SystemWeb/eFMS.API.Accounting/eFMS.API.Accounting.DL/obj
/WebAPI/eFMS.API.SystemWeb/eFMS.API.Catalogue/.vs
/WebAPI/eFMS.API.SystemWeb/eFMS.API.Catalogue/eFMS.API.Catalogue.DL/obj
/WebAPI/eFMS.API.SystemWeb/eFMS.API.Catalogue/eFMS.API.Catalogue.DAL/obj
/WebAPI/eFMS.API.SystemWeb/eFMS.API.Catalogue/eFMS.API.Catalogue/obj
/WebAPI/eFMS.API.SystemWeb/eFMS.IdentityServer/.vs
/WebAPI/eFMS.API.SystemWeb/eFMS.IdentityServer/eFMS.IdentityServer/obj
/WebAPI/eFMS.API.SystemWeb/eFMS.IdentityServer/eFMS.IdentityServer.DAL/obj
/WebAPI/eFMS.API.SystemWeb/eFMS.IdentityServer/eFMS.IdentityServer.DL/obj
/WebAPI/eFMS.API.SystemWeb/eFMS.API.Operation/.vs
/WebAPI/eFMS.API.SystemWeb/eFMS.API.Operation/eFMS.API.Operation/obj
/WebAPI/eFMS.API.SystemWeb/eFMS.API.Operation/eFMS.API.Operation.DL/obj
/WebAPI/eFMS.API.SystemWeb/eFMS.API.Operation/eFMS.API.Operation.DAL/obj
/WebAPI/eFMS.API.SystemWeb/eFMS.API.Documentation/.vs
/WebAPI/eFMS.API.SystemWeb/eFMS.API.Documentation/eFMS.API.Documentation/obj
/WebAPI/eFMS.API.SystemWeb/eFMS.API.Documentation/eFMS.API.Documentation.DL/obj
/WebAPI/eFMS.API.SystemWeb/eFMS.API.Documentation/eFMS.API.Documentation.DAL/obj
/WebAPI/eFMS.API.SystemWeb/eFMS.API.Setting/.vs
/WebAPI/eFMS.API.SystemWeb/eFMS.API.Setting/eFMS.API.Setting.DAL/obj
/WebAPI/eFMS.API.SystemWeb/eFMS.API.Setting/eFMS.API.Setting/obj
/WebAPI/eFMS.API.SystemWeb/eFMS.API.Setting/eFMS.API.Setting.DL/obj
/WebAPI/eFMS.API.SystemWeb/eFMS.API.System/.vs
/WebAPI/eFMS.API.SystemWeb/eFMS.API.System/eFMS.API.System/obj
/WebAPI/eFMS.API.SystemWeb/eFMS.API.System/eFMS.API.System.DAL/obj
/WebAPI/eFMS.API.SystemWeb/eFMS.API.System/eFMS.API.System.DL/obj
/WebAPI/eFMS.API.SystemWeb/eFMS.API.Documentation/eFMS.API.Documentation/wwwroot/files/09845965-83be-454e-9ec9-7e0a0e9e4a3b
/WebApp/src/environments/environment.ts
WebApp/src/environments/environment.ts
/WebAPI/eFMS.API.SystemWeb/eFMS.API.ForPartner/.vs
/WebAPI/eFMS.API.SystemWeb/eFMS.API.ForPartner/eFMS.API.ForPartner.Service/obj
/WebAPI/eFMS.API.SystemWeb/eFMS.API.ForPartner/eFMS.API.ForPartner/obj
/WebAPI/eFMS.API.SystemWeb/eFMS.API.ForPartner/eFMS.API.ForPartner.DL/obj
WebAPI/eFMS.API.SystemWeb/eFMS.API.ForPartner/.vs/eFMS.API.ForPartner/v15/Server/sqlite3/db.lock
WebAPI/eFMS.API.SystemWeb/eFMS.API.ForPartner/.vs/eFMS.API.ForPartner/v15/Server/sqlite3/storage.ide
WebAPI/eFMS.API.SystemWeb/eFMS.API.ForPartner/.vs/eFMS.API.ForPartner/v15/Server/sqlite3/storage.ide-shm
WebAPI/eFMS.API.SystemWeb/eFMS.API.ForPartner/.vs/eFMS.API.ForPartner/v15/Server/sqlite3/storage.ide-wal

/WebAPI/eFMS.API.SystemWeb/eFMS.API.SystemFileManagement/.vs
/WebAPI/eFMS.API.SystemWeb/eFMS.API.SystemFileManagement/eFMS.API.SystemFileManagement/obj
/WebAPI/eFMS.API.SystemWeb/eFMS.API.SystemFileManagement/eFMS.API.SystemFileManagement.DAL/obj
/WebAPI/eFMS.API.SystemWeb/eFMS.API.SystemFileManagement/eFMS.API.SystemFileManagement.DL/obj
WebAPI/eFMS.API.SystemWeb/eFMS.API.SystemFileManagement/.vs/eFMS.API.SystemFileManagement/v15/Server/sqlite3/db.lock
WebAPI/eFMS.API.SystemWeb/eFMS.API.SystemFileManagement/.vs/eFMS.API.SystemFileManagement/v15/Server/sqlite3/storage.ide
WebAPI/eFMS.API.SystemWeb/eFMS.API.SystemFileManagement/.vs/eFMS.API.SystemFileManagement/v15/Server/sqlite3/storage.ide-shm
WebAPI/eFMS.API.SystemWeb/eFMS.API.SystemFileManagement/.vs/eFMS.API.SystemFileManagement/v15/Server/sqlite3/storage.ide-wal
WebAPI/eFMS.API.SystemWeb/eFMS.API.SystemFileManagement/eFMS.API.SystemFileManagement/obj/Debug/netcoreapp2.2/eFMS.API.SystemFileManagement.AssemblyInfoInputs.cache
WebAPI/eFMS.API.SystemWeb/eFMS.API.SystemFileManagement/eFMS.API.SystemFileManagement/obj/Debug/netcoreapp2.2/eFMS.API.SystemFileManagement.csproj.CoreCompileInputs.cache
WebAPI/eFMS.API.SystemWeb/eFMS.API.SystemFileManagement/eFMS.API.SystemFileManagement/obj/Debug/netcoreapp2.2/eFMS.API.SystemFileManagement.csprojAssemblyReference.cache
WebAPI/eFMS.API.SystemWeb/eFMS.API.SystemFileManagement/eFMS.API.SystemFileManagement.DAL/obj/Debug/netcoreapp2.2/eFMS.API.SystemFileManagement.Service.AssemblyInfoInputs.cache
WebAPI/eFMS.API.SystemWeb/eFMS.API.SystemFileManagement/eFMS.API.SystemFileManagement.DAL/obj/Debug/netcoreapp2.2/eFMS.API.SystemFileManagement.Service.csproj.CoreCompileInputs.cache
WebAPI/eFMS.API.SystemWeb/eFMS.API.SystemFileManagement/eFMS.API.SystemFileManagement.DAL/obj/Debug/netcoreapp2.2/eFMS.API.SystemFileManagement.Service.csprojAssemblyReference.cache
WebAPI/eFMS.API.SystemWeb/eFMS.API.SystemFileManagement/eFMS.API.SystemFileManagement.DL/obj/Debug/netcoreapp2.2/eFMS.API.SystemFileManagement.DL.AssemblyInfoInputs.cache
WebAPI/eFMS.API.SystemWeb/eFMS.API.SystemFileManagement/eFMS.API.SystemFileManagement.DL/obj/Debug/netcoreapp2.2/eFMS.API.SystemFileManagement.DL.csproj.CoreCompileInputs.cache
WebAPI/eFMS.API.SystemWeb/eFMS.API.SystemFileManagement/eFMS.API.SystemFileManagement.DL/obj/Debug/netcoreapp2.2/eFMS.API.SystemFileManagement.DL.csprojAssemblyReference.cache
/WebAPI/eFMS.API.SystemWeb/eFMS.API.SystemFileManagement/.vs

.vs/slnx.sqlite-journal
.vs/slnx.sqlite
.gitignore

/WebAPI/eFMS.API.SystemWeb/eFMS.API.Report/.vs
/WebAPI/eFMS.API.SystemWeb/eFMS.API.Report/bin
/WebAPI/eFMS.API.SystemWeb/eFMS.API.Report/obj
/WebAPI/eFMS.API.SystemWeb/eFMS.API.Report/eFMS.API.Report/obj
/WebAPI/eFMS.API.SystemWeb/eFMS.API.Report/eFMS.API.Report/bin
/WebAPI/eFMS.API.SystemWeb/eFMS.API.Report/eFMS.API.Report.DL/bin
/WebAPI/eFMS.API.SystemWeb/eFMS.API.Report/eFMS.API.Report.DL/obj
/WebAPI/eFMS.API.SystemWeb/eFMS.API.Report/eFMS.API.Report.Service/bin
/WebAPI/eFMS.API.SystemWeb/eFMS.API.Report/eFMS.API.Report.Service/obj

WebAPI/eFMS.ConsoleService/.vs
WebAPI/eFMS.ConsoleService/eFMS.ConsoleService/obj/
