<div class="m-portlet">
    <div class="m-portlet__head alert-block__heading pointer">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title w-100">
                <h3 class="m-portlet__head-text collapse-toggle"> Attachment File
                </h3>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        <div class="c-button-actions">
            <div class="form-group ">
                <button type="button" class=" btn btn-success  m-btn--icon m-btn--uppercase margin-right-10"
                    (click)="showDocumentAttach()">
                    <span>
                        <i class="la la-download"></i>
                        <span>
                            Attach Files
                        </span>
                    </span>
                </button>
            </div>
        </div>
        <ng-container *ngFor="let docType of edocByJob; let i = index; trackBy: trackByFn">
            <div class="m-portlet__head alert-block__heading pointer">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title w-100">
                        <h3 class="m-portlet__head-text collapse-toggle" data-toggle="collapse"
                            [attr.data-target]="'#' + docType.documentType.code">
                            <i class="la la-angle-up m--margin-right-5"></i> {{docType.documentType.nameEn}} Number of
                            File :
                            {{docType?.eDocs?.length}} Required: {{docType.documentType.required}}
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="collapse show" id={{docType.documentType.code}}>
                    <div class="table-wrapper table-scrollable">
                        <table class="table table-hover table-brand table-editable dataTable table-summary ">
                            <thead app-table-header [headers]="headers" (onClick)="sortBy($event.sortField)">
                            </thead>

                            <tbody>
                                <ng-container *ngFor="let doc of docType?.eDocs; let i = index; trackBy: trackByFn">
                                    <tr [contextMenu]="edocContext" (onTouch)="onSelectEDoc(doc)">
                                        <td>
                                            <span>{{ i }}</span>
                                        </td>
                                        <td>
                                            <span>{{doc.systemFileName}}</span>
                                        </td>
                                        <td>
                                            <span>{{doc.userFileName}}</span>
                                        </td>
                                        <td>
                                            <span>{{doc.billingNo}}</span>
                                        </td>
                                        <td>
                                            <span>{{docType.documentType.source}}</span>
                                        </td>
                                        <td>
                                            <span>{{doc.tag}}</span>
                                        </td>
                                        <td>
                                            <span>{{doc.datetimeCreated}}</span>
                                        </td>
                                        <td>
                                            <span>{{doc.userCreated}}</span>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>
<document-type-attach (onSearch)="getEDocByJobID($event)"></document-type-attach>

<app-context-menu #edocContext (clickOutside)="selectedEdoc=null">
    <ng-container>
        <div class="menu-context__item">
            <span><i class="la la-edit align-middle text-success" (click)="editEdoc()"></i><span>Edit</span></span>
        </div>
        <div class="menu-context__item">
            <span><i class="la la-trash align-middle text-danger" (click)="deleteEdoc()"></i><span>Delete</span></span>
        </div>
        <div class="menu-context__item" (click)="downloadEdoc()">
            <span><i class="la la-download align-middle text-primary"></i></span><span>Download</span>
        </div>
    </ng-container>
</app-context-menu>