<div class="m-portlet">
    <div class="m-portlet__body">
        <div class="m-form">
            <div class="row">
                <div class="col-lg-8 m--align-left">
                    <div class="form-group">
                        <div class="c-button-actions">
                            <ng-container
                                *ngIf="menuSpecialPermission | async | specialPermission: 'ExportARSumaryTrial'">
                                <app-permission-button type="export" (onClick)="exportExcel()"></app-permission-button>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 m--margin-top-20">
                    <div class="table-wrapper table-scrollable" id="payment-table">
                        <table class="table table-hover table-brand dataTable table-hover">
                            <thead app-table-header [headers]="headers" (onClick)="sortBy($event.sortField)">
                                <th class="m--w-50 first table-actions-col">
                                    Action
                                </th>
                            </thead>
                            <tbody>
                                <ng-container>
                                    <ng-container
                                        *ngFor="let item of trialOfficialList; let i = index; trackBy: trackByFn">
                                        <tr class="">
                                            <td class="table-actions-col">
                                                <div class="table-actions" style="width: 70px">
                                                    <app-permission-button type="detail"
                                                        (click)="viewDetail(item.agreementId)">
                                                    </app-permission-button>
                                                </div>
                                            </td>
                                            <td>
                                                <a class="pointer" [routerLink]="'./detail'"
                                                    [queryParams]="{agreementId: item.agreementId}">{{
                                                    item.partnerCode }}</a>
                                            </td>
                                            <td style="min-width: 200px; white-space:initial">{{ item.partnerNameAbbr }}
                                            </td>
                                            <td class="text-right">
                                                <span
                                                    [ngClass]="item.debitRate < 70 ? 'text-success' : item.debitRate < 100 ? 'text-warning':'text-danger'">
                                                    {{ item.debitRate | number: '.2-2'}}%
                                                </span>
                                            </td>
                                            <td class="text-right">{{ item.debitAmount | number: '.0-3' }}</td>

                                            <td class="text-right">
                                                <a href="javascript:void(0)"
                                                    (click)="showDebitDetail(item.agreementId,'Unpaid')">
                                                    {{ item.billingAmount +
                                                    (item.obhBillingAmount!=null?item.obhBillingAmount:0) |number:
                                                    '.0-3' }}
                                                </a>
                                            </td>
                                            <td class="text-right">
                                                <a href="javascript:void(0)"
                                                    (click)="showDebitDetail(item.agreementId,'Paid A Part')">
                                                    {{ item.paidAmount + (item.obhPaidAmount!=null?item.obhPaidAmount:0)
                                                    | number:'.0-3'}}
                                                </a>
                                            </td>
                                            <td class="text-right">
                                                <a href="javascript:void(0)"
                                                    (click)="showDebitDetail(item.agreementId,'OutStanding')">
                                                    {{ item.billingUnpaid +
                                                    (item.obhUnPaidAmount!=null?item.obhUnPaidAmount:0) |number: '.0-3'
                                                    }}
                                                </a>
                                            </td>
                                            <!-- <td>{{ item.obhAmount | number: '.0-3'}}</td> -->
                                            <td class="text-right">
                                                <span [ngClass]="'text-danger'">
                                                    <a href="javascript:void(0)"
                                                        (click)="showDebitDetail(item.agreementId,'Over1To15Day')">
                                                        {{ item.over1To15Day | number: '.0-3' }}
                                                    </a>
                                                </span>
                                            </td>
                                            <td class="text-right">
                                                <span [ngClass]="'text-danger'">
                                                    <a href="javascript:void(0)"
                                                        (click)="showDebitDetail(item.agreementId,'Over16To30Day')">
                                                        {{ item.over16To30Day | number: '.0-3' }}
                                                    </a>
                                                </span>
                                            </td>
                                            <td class="text-right">
                                                <span [ngClass]="'text-danger'">
                                                    <a href="javascript:void(0)"
                                                        (click)="showDebitDetail(item.agreementId,'Over30Day')">
                                                        {{ item.over30Day | number: '.0-3' }}
                                                    </a>
                                                </span>
                                            </td>
                                            <td class="text-right">{{ (item.debitAmount-item.creditLimited)| number:
                                                '.0-3' }}</td>
                                            <td class="text-center">{{ item.agreementCurrency }}</td>
                                            <td class="text-right">{{ item.creditLimited | number: '.0-3' }}</td>
                                            <td class="text-center text-success">{{ item.agreementSalesmanName}}</td>
                                            <td>
                                                {{ item.agreementNo}}
                                                <span class="m--margin-right-5 badge "
                                                    [ngClass]="item.agreementStatus === 'Active' ? 'badge-success' : 'badge-danger'">
                                                    {{ item.agreementStatus }}
                                                </span>
                                                <span class="badge "
                                                    [ngClass]="item.agreementType === 'Trial' ? 'badge-warning' : 'badge-info'">
                                                    {{ item.agreementType }}
                                                </span>

                                            </td>

                                            <td>{{ item.expriedDate | date: 'dd/MM/yyyy'}}</td>
                                            <td>
                                                <span [ngClass]="'text-danger'">
                                                    {{ item.expriedDay }}
                                                </span>
                                            </td>
                                            <td style="min-width: 200px; white-space:initial">{{ item.parentNameAbbr }}
                                            </td>

                                        </tr>

                                    </ng-container>
                                </ng-container>
                                <tr app-table-none-record *ngIf="!(isLoading | async) && !trialOfficialList.length">
                                </tr>
                                <tr app-table-row-loading *ngIf="isLoading | async"></tr>
                            </tbody>
                        </table>
                    </div>
                    <app-pagination [total]="totalItems" [pageNum]="page" [itemPerPage]="pageSize"
                        (onChange)="updatePagingData($event)"></app-pagination>
                </div>
            </div>
        </div>

    </div>
</div>

<account-receivable-debit-detail-popup></account-receivable-debit-detail-popup>