:host /deep/ {
  .table-summary{
    .sticky-col {
      position: -webkit-sticky;
      position: sticky;
    }

    .first-col {
      width: 100px;
      min-width: 100px;
      max-width: 100px;
      left: -1px;
      z-index: 1;
    }
    .second-col {
      width: 100px;
      min-width: 100px;
      max-width: 100px;
      left: 80px;
      z-index: 1;
    }
    .three-col {
      width: 200px;
      min-width: 200px;
      max-width: 200px;
      left: 180px;
      z-index: 1;
    }
    .four-col {
      width: 90px;
      min-width: 90px;
      max-width: 90px;
      left: 372px;
      z-index: 1;
    }
  }

}

