:host /deep/ { 
    //ng2-select
    .ui-select-container {
        .ui-select-choices .ui-select-choices-row .dropdown-item {
            color: #6c6c6c;
            font-family: inherit;
        }
        .ui-select-choices .ui-select-choices-row.active > a {
            color: #fff;
            background-color: #3966b6;
        }
        .ui-select-match  {
            .ui-select-toggle {
                padding-right: 30px;
            }
        }
    }
    ng-select .ui-select-multiple,
    .ui-select-multiple {
        padding: 0.65rem 1rem;
        border-radius: 0;
        input.form-control.ui-select-search {
            height: auto;
            margin: 0;
        }
        .ui-select-match {
            .ui-select-match-item {
                padding: 3px 5px;
                border-radius: 2px;
                -webkit-appearance: none;
                background-color: #3966b6;
                border-color: #3966b6;
                color: #fff;
                font-size: 13px;
                .close {
                    color: #fff;
                    font-size: 1.2rem;
                    font-weight: 400;
                    line-height: 1;
                    text-shadow: none;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

