<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <app-breadcrumb></app-breadcrumb>
        </div>
        <div class="c-button-actions">
            <span *ngIf="isImported; else nojobno" class="m--font-bolder m--font-success">Imported</span>
            <ng-template #nojobno>
                <span class="m--font-bolder m--font-danger">Not Imported</span>
            </ng-template>
        </div>
    </div>
</div>
<div class="m-content">
    <custom-clearance-form-detail (isSuccess)="updateSuccess($event)"></custom-clearance-form-detail>
</div>