<div class="modal fade" bsModal #popup="bs-modal" role="dialog">
    <div class="modal-dialog c-modal-fullscreen" role="document">
        <div class="modal-content" *ngIf="!!CDNoteDetails">
            <div class="modal-header">
                <h5 class="modal-title">Detail<span class="m--margin-left-5">Credit Note</span>&nbsp;<span
                        class="m--font-danger m--margin-left-5">{{CDNoteDetails.cdNote.code}}</span></h5>
                <button type="button" class="close" (click)="hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-actions c-button-actions">
                    <button class="btn btn-sm btn-default m-btn--square m-btn--icon" (click)="Preview()">
                        <span>
                            <i class="la la-file-text-o"></i>
                            <span>
                                Preview
                            </span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <div class="m-form m-form--state">
                    <div class="div-inside bg-secondary m--margin-bottom-15">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class>
                                    <span class="font-weight-bold"> Subject To : </span>
                                    {{CDNoteDetails.partnerNameEn}}
                                </div>
                                <div class="d-flex">
                                    <span class="font-weight-bold"> Address: </span>
                                    {{CDNoteDetails.partnerShippingAddress}}
                                </div>
                                <div>
                                    <span class="font-weight-bold"> Tel: </span>
                                    {{CDNoteDetails.partnerTel}}
                                </div>
                                <div>
                                    <span class="font-weight-bold"> Taxcode: </span>
                                    {{CDNoteDetails.partnerTaxcode}}
                                </div>
                                <div class="m--margin-top-10">
                                    <div class="m--margin-top-5">
                                        <span class="font-weight-bold"> Port of Loading: </span>
                                        {{ CDNoteDetails.pol }}, {{CDNoteDetails.polCountry}}
                                    </div>
                                    <div class="m--margin-top-5">
                                        <span class="font-weight-bold"> Port of Destination: </span>
                                        {{ CDNoteDetails.pod }}, {{CDNoteDetails.podCountry}}
                                    </div>
                                    <div class="m--margin-top-5">
                                        <span class="font-weight-bold"> Package Quantity: </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div>
                                    <span class="font-weight-bold"> Job ID: </span>
                                    {{CDNoteDetails.jobId}}
                                </div>
                                <div>
                                    <span class="font-weight-bold"> Master Bill of Lading No: </span>
                                    {{CDNoteDetails.mbLadingNo}}
                                </div>
                                <div>
                                    <span class="font-weight-bold"> Service Mode: </span>
                                    {{CDNoteDetails.serviceMode}}
                                </div>
                                <div>
                                    <span class="font-weight-bold"> Service Date: </span>
                                    {{'dd/mm/yyyy'}}
                                </div>
                                <div class="m--margin-top-10">
                                    <div class="m--margin-top-5">
                                        <span class="font-weight-bold"> GW: </span>
                                        {{ CDNoteDetails.pol }}, {{CDNoteDetails.polCountry}}
                                    </div>
                                    <div class="m--margin-top-5">
                                        <span class="font-weight-bold">Container Quantity: </span>
                                        {{ CDNoteDetails.hbConstainers }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div>
                                    <span class="font-weight-bold"> House Bill of Lading No: </span>
                                    {{CDNoteDetails.hbLadingNo}}
                                </div>
                                <div>
                                    <span class="font-weight-bold">Product Service: </span>
                                    {{CDNoteDetails.productService}}
                                </div>
                                <div>
                                    <span class="font-weight-bold">Shipment Mode: </span>
                                    {{CDNoteDetails.jobNo}}
                                </div>
                                <div>
                                    <span class="font-weight-bold">Finish Date: </span>
                                    {{CDNoteDetails.etd | date: 'dd/MM/yyyy'}}
                                </div>
                                <div class="m--margin-top-10">
                                    <div class="m--margin-top-5">
                                        <span class="font-weight-bold"> CPM: </span>
                                        -
                                    </div>
                                    <div class="m--margin-top-5">
                                        <span class="font-weight-bold">SOA: </span>
                                        {{CDNoteDetails.cdNote.code}}
                                    </div>
                                    <div class="m--margin-top-5">
                                        <span class="font-weight-bold">Locked: </span>
                                        {{CDNoteDetails.isLocked.toString()}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="table-wrapper fit-height-div">
                        <table class="table table-striped table-brand dataTable">
                            <thead>
                                <tr>
                                    <th class="sorting">
                                        <span>HBL No</span>
                                    </th>
                                    <th class="sorting">
                                        <span>Code</span>
                                    </th>
                                    <th class="sorting">
                                        <span>Charge name</span>
                                    </th>
                                    <th class="sorting">
                                        <span>Quantity</span>
                                    </th>
                                    <th class="sorting">
                                        <span>Unit</span>
                                    </th>
                                    <th class="sorting">
                                        <span>Unit price</span>
                                    </th>
                                    <th class="sorting">
                                        <span>Currency</span>
                                    </th>
                                    <th class="no-sorting">
                                        <span>VAT</span>
                                    </th>
                                    <th class="no-sorting">
                                        <span>Credit value</span>
                                    </th>
                                    <th class="no-sorting">
                                        <span>Debit value</span>
                                    </th>
                                    <th class="no-sorting">
                                        <span>Note</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="tbody-group">
                                <tr class="" *ngFor="let item of CDNoteDetails.listSurcharges;let i = index;">
                                    <td>
                                        <span>{{item.hwbno}}</span>
                                    </td>
                                    <td>
                                        <span>{{item.chargeCode}}</span>
                                    </td>
                                    <td>
                                        <span>{{item.nameEn}}</span>
                                    </td>
                                    <td>
                                        <span>{{item.quantity}}</span>
                                    </td>
                                    <td>
                                        <span>{{item.unit}}</span>
                                    </td>
                                    <td>
                                        <span>{{item.unitPrice}}</span>
                                    </td>
                                    <td>
                                        <span>{{item.currencyId}}</span>
                                    </td>
                                    <td>
                                        <span>{{item.vatrate}}</span>
                                    </td>
                                    <td>
                                        <span class="credit-value"
                                            *ngIf="item.type==='BUY' || item.type=='LOGISTIC' || (item.type==='OBH' && CDNoteDetails.partnerId===item.payerId)">{{item.total*item.exchangeRate | number:'1.3-3'}}</span>
                                    </td>
                                    <td>
                                        <span class="debit-value"
                                            *ngIf="item.type==='SELL' || (item.type==='OBH' && CDNoteDetails.partnerId===item.receiverId)">{{item.total*item.exchangeRate | number:'1.3-3'}}</span>
                                    </td>
                                    <td>
                                        <span>{{item.notes}}</span>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="m--margin-top-10">
                        <div class="m-alert m-alert--square alert alert-info m--align-right m--marginless">
                            <div class="row">
                                <div class="col">
                                    <strong>Total Credit:</strong><span
                                        class="m--margin-left-5">{{ CDNoteDetails.totalCredit | number:'1.3-3' }}</span>
                                </div>
                                <div class="col-md-auto">
                                    <strong>Total Dedit:</strong> <span
                                        class="m--margin-left-5">{{ CDNoteDetails.totalDebit | number:'1.3-3' }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="m-alert m-alert--square alert alert-brand m--align-right m--marginless">
                            <strong>Balance Amount:</strong><span class="m--margin-left-5">
                                {{ (CDNoteDetails.totalCredit - CDNoteDetails.totalDebit) | number:'1.3-3' }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer m--align-center">
                <button class="btn btn-danger m-btn--square m-btn--icon m-btn--uppercase" data-toggle="modal"
                    data-target="#confirm-delete-CDnote-modal">
                    <span>
                        <i class="la la-trash"></i>
                        <span>
                            Delete note
                        </span>
                    </span>
                </button>
                <button class="btn btn-success m-btn--square m-btn--icon m-btn--uppercase" (click)="editCDNote()">
                    <span>
                        <i class="la la-edit"></i>
                        <span>
                            Edit detail
                        </span>
                    </span>
                </button>
                <button type="button" class="btn btn-cancel m-btn--square m-btn--icon m-btn--uppercase"
                    (click)="hide()">
                    <span>
                        <i class="la la-ban"></i>
                        <span>
                            Return
                        </span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>

<app-report-preview [data]="dataReport" *ngIf="dataReport" [modalId]="previewModalId"></app-report-preview>

<!-- <app-ops-module-credit-debit-note-edit></app-ops-module-credit-debit-note-edit> -->