<!-- <form novalidate #editBuyingRateChargeFormOps="ngForm" name="editBuyingRateChargeFormOps"
  *ngIf="buyingRateChargeToEdit!==null" (ngSubmit)="editBuyingRateChargeFormOps.form.valid">
  
</form> -->
<form novalidate #editBuyingRateChargeFormOps="ngForm" name="editBuyingRateChargeFormOps"
  *ngIf="buyingRateChargeToEdit!==null" (ngSubmit)="editBuyingRateChargeFormOps.form.valid">
  <div class="modal fade" id="ops-edit-buying-rate-modal" bsModal #popup="bs-modal" role="dialog"
    (onHide)="onHide($event)" (onShow)="onShow($event)">
    <div class="modal-dialog c-modal-fullscreen" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit buying rate</h5>
          <button type="button" class="close" aria-label="Close"
            (click)="closeChargeForm('ops-edit-buying-rate-modal',editBuyingRateChargeFormOps)">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" *ngIf="isDisplay">
          <!--begin::Form-->
          <div class="m-form m-form--state">
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group"
                  [ngClass]="{ 'm-form__group has-danger': editBuyingRateChargeFormOps.submitted && buyingRateChargeToEdit.chargeId==null}">
                  <label class="form-control-label" for="" #selectedBuyingChargeCode>
                    Charge <span class="m--font-danger">(*)</span>
                    <small class="m--margin-left-5 m--font-primary"> &nbsp;
                      {{selectedBuyingChargeCode.value==null?buyingRateChargeToEdit.chargeCode:selectedBuyingChargeCode.value}}
                    </small>
                  </label>

                  <app-combo-grid-virtual-scroll
                    [currentActiveItemId]="{field:'charge.id',value:buyingRateChargeToEdit.chargeId}" (itemSelected)="buyingRateChargeToEdit.chargeId=$event.charge.id;
                                        buyingRateChargeToEdit.unitId=$event.charge.unitId;
                                        buyingRateChargeToEdit.unitPrice=$event.charge.unitPrice;
                                        buyingRateChargeToEdit.vatrate=$event.charge.vatrate;
                                            selectedBuyingChargeCode.value=$event.charge.code;
                                            calculateTotalEachBuying();"
                    [selectedDisplayFields]="['charge.chargeNameEn']" [dataSources]="lstBuyingRateChargesComboBox"
                    [disabled]="buyingRateChargeToEdit.cdno"
                    [displayFields]="[{'field':'charge.code','label':'Charge Code'},{'field':'charge.chargeNameEn','label':'Name EN'},{'field':'charge.chargeNameVn','label':'Name VN'}]">
                  </app-combo-grid-virtual-scroll>

                  <div class="form-control-feedback"
                    *ngIf="editBuyingRateChargeFormOps.submitted && buyingRateChargeToEdit.chargeId==null">
                    Charge is required
                  </div>
                </div>
              </div>


              <div class="col-lg-4">
                <div class="form-group"
                  [ngClass]="{ 'm-form__group has-danger': editBuyingRateChargeFormOps.submitted && buyingRateChargeToEdit.objectBePaid==null }">
                  <label class="form-control-label" for="">
                    Partner type <span class="m--font-danger">(*)</span>
                  </label>
                  <ng-select [allowClear]="true" [items]="[
                                                { 'text': 'AGENT', 'id': 'AGENT' },
                                                { 'text': 'SHIPPING LINE','id': 'SHIPPING' },
                                                { 'text': 'OTHER', 'id': 'OTHER' }]"
                    [active]="[{'text':buyingRateChargeToEdit.objectBePaid,'id':buyingRateChargeToEdit.objectBePaid}]"
                    [disabled]="buyingRateChargeToEdit.cdno"
                    (selected)="buyingRateChargeToEdit.objectBePaid=$event.id;
                                        buyingRateChargeToEdit.objectBePaid==='AGENT'? buyingRateChargeToEdit.paymentObjectId=opsTransaction.agentId:null;
                                        buyingRateChargeToEdit.objectBePaid==='SHIPPING'? buyingRateChargeToEdit.paymentObjectId=opsTransaction.supplierId:null;
                                        buyingRateChargeToEdit.objectBePaid==='OTHER'? buyingRateChargeToEdit.paymentObjectId=null:null;"
                    (removed)="buyingRateChargeToEdit.objectBePaid=null;buyingRateChargeToEdit.paymentObjectId=null;"
                    placeholder="Select filter">
                  </ng-select>

                  <div class="form-control-feedback"
                    *ngIf="editBuyingRateChargeFormOps.submitted && buyingRateChargeToEdit.objectBePaid==null">
                    Partner type is required !
                  </div>
                </div>
              </div>


              <div class="col-lg-4">
                <div class="form-group"
                  [ngClass]="{ 'm-form__group has-danger': editBuyingRateChargeFormOps.submitted && (buyingRateChargeToEdit.paymentObjectId==nulll || buyingRateChargeToEdit.objectBePaid!==null && buyingRateChargeToEdit.objectBePaid!=='OTHER' && buyingRateChargeToEdit.paymentObjectId ===null) }">
                  <label class="form-control-label" for="">
                    Partner name <span class="m--font-danger">(*)</span>
                  </label>
                  <app-combo-grid-virtual-scroll
                    [disabled]="buyingRateChargeToEdit.objectBePaid!=='OTHER' || buyingRateChargeToEdit.cdno != null"
                    [currentActiveItemId]="{field:'id',value:buyingRateChargeToEdit.paymentObjectId}"
                    (itemSelected)="buyingRateChargeToEdit.paymentObjectId = $event.id"
                    [selectedDisplayFields]="['shortName']" [dataSources]="lstPartners"
                    [displayFields]="[{'field':'id','label':'Partner ID'},{'field':'shortName','label':'Name ABBR'},{'field':'partnerNameEn','label':'Name EN'},{'field':'taxCode','label':'Tax Code'}]">
                  </app-combo-grid-virtual-scroll>

                  <div class="form-control-feedback"
                    *ngIf="editBuyingRateChargeFormOps.submitted && buyingRateChargeToEdit.paymentObjectId==null">
                    Partner name is required !
                  </div>

                  <div class="form-control-feedback"
                    *ngIf="(!editBuyingRateChargeFormOps.submitted && buyingRateChargeToEdit.objectBePaid!==null && buyingRateChargeToEdit.objectBePaid!=='OTHER' && buyingRateChargeToEdit.paymentObjectId ===null)">
                    Partner does not exist !
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group"
                  [ngClass]="{ 'm-form__group has-danger': editBuyingRateChargeFormOps.submitted && (buyingRateChangeQuantityNameOps.invalid || buyingRateChargeToEdit.quantity == 0)}">
                  <label class="form-control-label" for="">
                    Quantity <span class="m--font-danger">(*)</span>
                  </label>
                  <div class="input-group m-input-group m-input-group--square">
                    <input type="number" required class="form-control m-input m-input--square" decimalNumberGreaterThan0
                      placeholder="Enter number" [disabled]="buyingRateChargeToEdit.cdno"
                      name="buyingRateChangeQuantityNameOps" #buyingRateChangeQuantityNameOps="ngModel"
                      [(ngModel)]="buyingRateChargeToEdit.quantity" (keyup)="calculateTotalEachBuying()" min="0"
                      (change)="calculateTotalEachBuying()">
                  </div>
                  <div class="form-control-feedback"
                    *ngIf="editBuyingRateChargeFormOps.submitted && buyingRateChangeQuantityNameOps.invalid">
                    Quantity is required !
                  </div>
                  <div class="form-control-feedback"
                    *ngIf="editBuyingRateChargeFormOps.submitted && buyingRateChargeToEdit.quantity == 0">
                    Quantity must be greater than 0 !
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group"
                  [ngClass]="{ 'm-form__group has-danger': editBuyingRateChargeFormOps.submitted && buyingRateChargeToEdit.unitId==null}">
                  <label class="form-control-label" for="">
                    Unit <span class="m--font-danger">(*)</span>
                  </label>

                  <app-combo-grid-virtual-scroll [disabled]="buyingRateChargeToEdit.cdno"
                    [currentActiveItemId]="{field:'id',value:buyingRateChargeToEdit.unitId}"
                    (itemSelected)="buyingRateChargeToEdit.unitId=$event.id" [selectedDisplayFields]="['unitNameEn']"
                    [dataSources]="lstUnits"
                    [displayFields]="[{'field':'unitNameEn','label':'Name EN'},{'field':'unitType','label':'Unit type'}]">
                  </app-combo-grid-virtual-scroll>

                  <div class="form-control-feedback"
                    *ngIf="editBuyingRateChargeFormOps.submitted && buyingRateChargeToEdit.unitId==null">
                    Unit is required
                  </div>


                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group"
                  [ngClass]="{ 'm-form__group has-danger': editBuyingRateChargeFormOps.submitted &&(BuyingRateChargeUnitPriceNameOps.invalid || (0 >= buyingRateChargeToEdit.unitPrice)) }">
                  <label class="form-control-label" for="">
                    Unit price <span class="m--font-danger">(*)</span>
                  </label>
                  <input type="number" class="form-control m-input m-input--square"
                    [disabled]="buyingRateChargeToEdit.cdno" [(ngModel)]="buyingRateChargeToEdit.unitPrice"
                    autocomplete="nope" (keyup)="calculateTotalEachBuying()" (change)="calculateTotalEachBuying()"
                    placeholder="Enter number" #BuyingRateChargeUnitPriceNameOps="ngModel" required
                    name="BuyingRateChargeUnitPriceNameOps">
                  <div class="form-control-feedback"
                    *ngIf="editBuyingRateChargeFormOps.submitted &&(BuyingRateChargeUnitPriceNameOps.invalid || (0 >= buyingRateChargeToEdit.unitPrice))">
                    Unit Price is required and must be larger than 0 !
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group"
                  [ngClass]="{ 'm-form__group has-danger': editBuyingRateChargeFormOps.submitted && buyingRateChargeToEdit.currencyId===null }">
                  <label class="form-control-label" for="">
                    Currency <span class="m--font-danger">(*)</span>
                  </label>

                  <ng-select [allowClear]="true" [items]="lstCurrencies" [disabled]="buyingRateChargeToEdit.cdno"
                    [active]="buyingRateChargeActive" (selected)="buyingRateChargeToEdit.currencyId=$event.id"
                    (removed)="buyingRateChargeToEdit.currencyId=null" placeholder="Select filter">
                  </ng-select>

                  <div class="form-control-feedback"
                    *ngIf="editBuyingRateChargeFormOps.submitted && buyingRateChargeToEdit.currencyId===null">
                    Currency is required
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group"
                  [ngClass]="{ 'm-form__group has-danger': editBuyingRateChargeFormOps.submitted && (BuyingRateChargeVATNameOps.invalid || buyingRateChargeToEdit.vatrate > 100) }">
                  <label class="form-control-label" for="">
                    VAT <span class="m--font-danger">(*)</span>
                  </label>
                  <input type="number" max="100" name="BuyingRateChargeVATNameOps" required
                    [disabled]="buyingRateChargeToEdit.cdno" #BuyingRateChargeVATNameOps="ngModel"
                    [(ngModel)]="buyingRateChargeToEdit.vatrate" autocomplete="nope"
                    class="form-control m-input m-input--square" placeholder="Enter number"
                    (keyup)="calculateTotalEachBuying()" (change)="calculateTotalEachBuying()">
                  <div class="form-control-feedback"
                    *ngIf="editBuyingRateChargeFormOps.submitted && (BuyingRateChargeVATNameOps.invalid || buyingRateChargeToEdit.vatrate > 100)">
                    VAT is required and must be less than or equal 100
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" for="">
                    Total
                  </label>
                  <input type="text" class="form-control m-input m-input--square" disabled
                    name="BuyingRateChargeTotalNameOps" [(ngModel)]="buyingRateChargeToEdit.total">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" for="">
                    Doc no
                  </label>
                  <input type="text" [(ngModel)]="buyingRateChargeToEdit.docNo" [disabled]="buyingRateChargeToEdit.cdno"
                    autocomplete="nope" class="form-control m-input m-input--square" placeholder="Enter text"
                    name="BuyingRateChargeDocNameOps">
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" for="">
                    Note
                  </label>
                  <input type="text" [(ngModel)]="buyingRateChargeToEdit.notes" [disabled]="buyingRateChargeToEdit.cdno"
                    autocomplete="nope" class="form-control m-input m-input--square" placeholder="Enter text"
                    name="BuyingRateChargeNoteNameOps">
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" for="">
                    Exchange rate date
                  </label>
                  <div class="m-input-icon m-input-icon--right down">
                    <input type="text" class="form-control m-input m-input--square" ngxDaterangepickerMd
                      [autoApply]="true" [attr.disabled]="buyingRateChargeToEdit.cdno"
                      [locale]="{applyLabel: 'ok', format: 'DD/MM/YYYY'}" [(ngModel)]="exchangeRateDate"
                      [singleDatePicker]="true" name="exchangeRateDate" readonly />
                    <span class="m-input-icon__icon m-input-icon__icon--right">
                      <span>
                        <i class="la la-calendar"></i>
                      </span>
                    </span>
                  </div>
                  <div class="form-control-feedback"
                    *ngIf="editBuyingRateChargeFormOps.submitted && this.exchangeRateDate.startDate != null && this.exchangeRateDate.startDate != null && (this.exchangeRateDate.startDate < this.exchangeRateDate.startDate)">
                    Finish Date must more greater or equal Service Date
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group">
                  <label>Invoice No</label>
                  <input type="text" class="form-control" [(ngModel)]="buyingRateChargeToEdit.invoiceNo" name="invoiceNo"></div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label>Invoice Date</label>
                  <div class="m-input-icon m-input-icon--right down">
                    <input type="text" class="form-control m-input m-input--square" ngxDaterangepickerMd
                      [autoApply]="true" [locale]="{applyLabel: 'ok', format: 'DD/MM/YYYY'}" [(ngModel)]="invoiceDate"
                      [singleDatePicker]="true" name="invoiceDate" readonly />
                    <span class="m-input-icon__icon m-input-icon__icon--right">
                      <span>
                        <i class="la la-calendar"></i>
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" for="">
                    &nbsp;
                  </label>
                  <div>
                    <label class="m-checkbox m-checkbox--bold">
                      <input type="checkbox" name="BuyingRateChargeKickBackNameOps"
                        [disabled]="buyingRateChargeToEdit.cdno" [(ngModel)]="buyingRateChargeToEdit.kickBack">
                      Kick back
                      <span></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer m--align-center">
          <button type="" class="btn btn-brand m-btn--square m-btn--icon m-btn--uppercase" (click)="
                        editCharge('ops-edit-buying-rate-modal',editBuyingRateChargeFormOps,buyingRateChargeToEdit)"
            [disabled]="buyingRateChargeToEdit.cdno">
            <span>
              <i class="la la-save"></i>
              <span>
                Save
              </span>
            </span>
          </button>
          <button type="button" (click)="closeChargeForm('ops-edit-buying-rate-modal',editBuyingRateChargeFormOps)"
            class="btn btn-cancel m-btn--square m-btn--icon m-btn--uppercase">
            <span>
              <i class="la la-ban"></i>
              <span>
                cancel
              </span>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>