<div class="acc-receive-payable-wrapper  m-animate-fade-in">
    <app-sub-header> </app-sub-header>
    <div class="m-content">
        <div class="m-portlet__body">
            <tabset class="custom-class-tab">
                <tab heading="Customer/Agency Payment" (selectTab)="onSelectTab('CUSTOMER')">
                </tab>
                <tab heading="AR Summary" (selectTab)="onSelectTab('ARSUMMARY')">
                    Summary
                </tab>
                <tab heading="Payment History" (selectTab)="onSelectTab('HISTORY')" [active]="true">
                    <form-search-history-payment (onSearch)="onSearchPayment($event)">
                    </form-search-history-payment>

                    <tabset class="custom-class-tab">
                        <tab heading="Invoice Payment">
                            <list-invoice-history-payment
                                (onUpdateExtendDateOfInvoice)="handleUpdateExtendDateOfInvoice()">
                            </list-invoice-history-payment>
                        </tab>
                    </tabset>
                </tab>
            </tabset>
        </div>
    </div>
</div>