<div class="acc-receive-payable-wrapper  m-animate-fade-in">
    <app-sub-header> </app-sub-header>
    <div class="m-content">
        <div class="m-portlet__body">
            <tabset class="custom-class-tab">
                <tab>
                    <ng-template tabHeading>
                        <a routerLink="/home/accounting/account-receivable-payable" style="color:#6f727d">
                            Customer/Agency Payment
                        </a>
                    </ng-template>
                </tab>
                <tab>
                    <ng-template tabHeading>
                        <a routerLink="/home/accounting/account-receivable-payable/summary" style="color:#6f727d">
                            AR Summary
                        </a>
                    </ng-template>
                </tab>
                <tab>
                    <ng-template tabHeading>
                        <a routerLink="/home/accounting/account-receivable-payable/history-payment"
                            style="color:#6f727d">
                            Payment History
                        </a>
                    </ng-template>
                </tab>
                <tab heading="PrePaid" [active]="true">
                    <form-search-prepaid-payment (onSearch)="onSearchData($event)"></form-search-prepaid-payment>
                    <div class="m-portlet">
                        <div class="m-portlet__body">
                            <div class="m-form m--margin-bottom-10">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="c-button-actions">
                                                <button class="btn btn-outline-success m-btn--icon m-btn--uppercase"
                                                    (click)="showUpdatePrepaidPopup()">
                                                    <span>
                                                        <i class="la la-edit"></i>
                                                        <span>
                                                            Update Prepaid &nbsp;
                                                        </span>
                                                        <span class="badge badge-info ng-star-inserted"
                                                            *ngIf="!!totalSelectedItem">{{totalSelectedItem}}</span>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 table-wrapper table-scrollabler">
                                        <table class="table table-hover table-brand dataTable table-hover">
                                            <thead app-table-header [headers]="headers"
                                                (onClick)="sortBy($event.sortField ? $event.sortField : '')">
                                                <th class="first table-actions-col" style="min-width:40px">
                                                    <label class="m-checkbox">
                                                        <input type="checkbox" name="" [checked]="isCheckAll"
                                                            (change)="isCheckAll=!isCheckAll; checkAllCd()">
                                                        <span></span>
                                                    </label>
                                                </th>
                                            </thead>
                                            <tbody>
                                                <ng-container *ngIf="!!debitNotes.length">

                                                    <tr *ngFor="let cd of debitNotes; let i = index; trackby: trackByFn"
                                                        [contextMenu]="CdContextMenu" (onTouch)="onSelectCd(cd)"
                                                        [class.bg-warning]="cd.status !== 'Paid'"
                                                        [class.touch-row]="selectedCd?.id === cd.id">
                                                        <td>
                                                            <div class=" m-checkbox-list d-flex align-items-center">
                                                                <ng-template #dblock>
                                                                    <span class="d-block" style="width:30px"></span>
                                                                </ng-template>
                                                                <label class="m-checkbox"
                                                                    *ngIf="cd.status !== 'Paid';else dblock">
                                                                    <input type="checkbox" [(ngModel)]="cd.isSelected"
                                                                        (change)="onChangeSelectedCd(cd);">
                                                                    <span></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <ng-container [ngSwitch]="cd.status">
                                                                <span *ngSwitchCase="'Paid'"
                                                                    class="btn btn-success btn-sm m-btn--pill m-btn--icon m-btn--icon-only m--margin-left-10">
                                                                    <i class="la la-check"></i>
                                                                </span>
                                                                <span *ngSwitchDefault>
                                                                </span>
                                                            </ng-container>
                                                        </td>
                                                        <td class="text-primary">
                                                            {{ cd.jobNo }}

                                                        </td>
                                                        <td>
                                                            {{ cd.mbl }} - {{ cd.hbl }}
                                                        </td>
                                                        <td class="text-primary">
                                                            {{ cd.partnerName }}
                                                        </td>
                                                        <td>
                                                            <span class="text-info" app-copy-to-clipboard
                                                                [text]="cd.debitNote">{{
                                                                cd.debitNote }}
                                                            </span>
                                                            <ng-container [ngSwitch]="cd.syncStatus">
                                                                <span *ngSwitchCase="'Synced'"
                                                                    class="badge badge-success m--margin-left-10">
                                                                    {{cd.syncStatus}}</span>
                                                                <span *ngSwitchCase="'Rejected'"
                                                                    class="badge badge-danger m--margin-left-10">
                                                                    {{cd.syncStatus}}</span>
                                                            </ng-container>
                                                        </td>
                                                        <td>
                                                            {{ cd.totalAmount | number: '.0-3' }} {{ cd.currency }}
                                                        </td>
                                                        <td class="text-primary">
                                                            {{ cd.departmentName }}
                                                        </td>
                                                        <td>
                                                            {{ cd.officeName }}
                                                        </td>
                                                        <td class="text-dark">
                                                            {{ cd.userCreatedName }}
                                                        </td>
                                                        <td>
                                                            {{ cd.datetimeCreated | date: 'dd/MM/yyyy' }}
                                                        </td>
                                                        <td class="text-success">
                                                            {{ cd.salesmanName }}
                                                        </td>

                                                    </tr>
                                                </ng-container>

                                                <tr class="loading-wrapper" *ngIf="isLoading" app-table-row-loading>
                                                </tr>
                                                <tr *ngIf="!isLoading && !debitNotes.length" app-table-none-record>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-lg-12">
                                        <app-pagination [total]="totalItems" [pageNum]="page" [data]="dataSearch"
                                            [itemPerPage]="pageSize" (onChange)="updatePagingData($event)">
                                        </app-pagination>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>

<app-context-menu #CdContextMenu (clickOutside)="selectedCd = null">
    <ng-container *ngIf="selectedCd?.status === 'Unpaid' && selectedCd?.syncStatus === null">
        <div class="menu-context__item" (click)="confirmItem()">
            <span><i class="la la-cloud-upload text-primary"></i><span> Confirm this item </span></span>
        </div>
    </ng-container>
    <div class="menu-context__item" (click)="confirmSelectedItems()">
        <span>
            <i class="la la-list-alt text-primary"></i>
            <span>
                Confirm full <span *ngIf="!!totalSelectedItem">{{totalSelectedItem}} </span>selected
                items
            </span>
        </span>
    </div>
    <div class="menu-context__item" (click)="revertSelectedItem()">
        <span><i class="la la-times text-danger"></i><span>Revert this item</span></span>
    </div>
    <div class="menu-context__item" [dpToggle]="previewTpl" position="rightTop" trigger="hover" ClickStopPropagation>
        <div class="d-flex justify-content-between ">
            <div>
                <i class="la la-print text-primary"></i>
                <span> Preview </span>
                <span class="font-weight-bold">{{selectedCd?.debitNote}}</span>
            </div>
            <div class="d-flex align-items-center m--margin-top-5">
                <i class="la la-caret-right font-13"></i>
            </div>
        </div>
    </div>
    <div class="menu-context__item" [dpToggle]="exportTpl" position="rightTop" trigger="hover" ClickStopPropagation>
        <div class="d-flex justify-content-between ">
            <div>
                <i class="la la-download text-primary"></i>
                <span> Export </span>
                <span class="font-weight-bold">{{selectedCd?.debitNote}}</span>
            </div>
            <div class="d-flex align-items-center m--margin-top-5">
                <i class="la la-caret-right font-13"></i>
            </div>
        </div>
    </div>
</app-context-menu>

<app-dropdown #previewTpl>
    <span class="dropdown-item pointer" (click)="preview(selectedCd,'VND')">
        VND
    </span>
    <span class="dropdown-item pointer" (click)="preview(selectedCd,'USD')">
        USD
    </span>
</app-dropdown>

<app-dropdown #exportTpl>
    <span class="dropdown-item pointer" (click)="export(selectedCd,'PDF')">
        PDF
    </span>
    <span class="dropdown-item pointer" (click)="export(selectedCd,'EXCEL')">
        EXCEL
    </span>
    <span class="dropdown-item pointer" (click)="export(selectedCd,'WORD')">
        WORD
    </span>
</app-dropdown>

<ng-template inject></ng-template>

<confirm-prepaid-popup (onConfirm)="onConfirmPaidDataPopup($event)"></confirm-prepaid-popup>