<!--begin:: subheader-->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <!--begin:: breadcrumbs-->
            <app-breadcrumb></app-breadcrumb>
            <!--end:: breadcrumbs-->
        </div>
        <div class="c-button-actions">
            <!-- <button type="button" class="btn btn-success m-btn--square m-btn--icon m-btn--uppercase" data-toggle="modal"
                data-target="#add-port-index-modal">
                <span>
                    <i class="icon-plus7"></i>
                    <span>
                        add new
                    </span>
                </span>
            </button> -->
            <app-default-button [buttonSetting]="addButtonSetting" [dataTarget]="addButtonSetting.dataTarget" (click)="showAdd()"></app-default-button>
            <!-- <button type="button" class="btn btn-brand m-btn--square m-btn--icon m-btn--uppercase">
                <span>
                    <i class="la la-download"></i>
                    <span>
                        import
                    </span>
                </span>
            </button> -->
            <app-default-button [buttonSetting]="importButtonSetting"></app-default-button>
            <!-- <button type="button" class="btn btn-danger m-btn--square m-btn--icon m-btn--uppercase">
                <span>
                    <i class="la la-upload"></i>
                    <span>
                        export
                    </span>
                </span>
            </button> -->
            <app-default-button [buttonSetting]="exportButtonSetting"></app-default-button>
        </div>
    </div>
</div>
<!--end:: subheader-->
<!--begin::m-content of Port-index-->
<div class="m-content">
    <!--begin:: m-portlet of search-form-->
    <div class="m-portlet">
        <div class="m-portlet__body">
            <!--begin::Form-->
            <div class="m-form">
                <!-- <div class="input-group m-input-group m-input-group--square">
                    <div class="input-group-prepend">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Port code
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item active" href="javascript:void(0)">
                                Port code
                            </a>
                            <a class="dropdown-item" href="javascript:void(0)">
                                Port name
                            </a>
                            <a class="dropdown-item" href="javascript:void(0)">
                                Country
                            </a>
                            <a class="dropdown-item" href="javascript:void(0)">
                                Zone
                            </a>
                            <a class="dropdown-item" href="javascript:void(0)">
                                Local zone
                            </a>
                            <a class="dropdown-item" href="javascript:void(0)">
                                Mode
                            </a>
                        </div>
                    </div>
                    <input type="text" class="form-control" aria-label="Text input with dropdown button">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button" title="Search">
                            <i class="icon-search"></i>
                        </button>
                    </div>
                </div> -->
                <app-search-options [configSearch]="configSearch" (search)="onSearch($event)" (search)=resetSearch($event)></app-search-options>
            </div>
            <!--end::Form-->
        </div>
    </div>
    <!--end::m-portlet of search-form-->
    <!--begin:: m-portlet of port-index-table-->
    <div class="m-portlet">
        <div class="m-portlet__body">
            <!--begin: Datatable of port-index-list-table -->
            <app-table-layout [records]="portIndexs" [settings]="portIndexSettings" (sortChange)="onSortChange($event)" [nameEditModal]="nameEditModal"
                (edit)="showDetail($event)" (delete)="showConfirmDelete($event)">
            </app-table-layout>
            <!--end: Datatable of port-index-list-table -->
            <!--begin::pagination-->
            <!-- <div class="pagination-nav">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="select-box" style="max-width: 190px">
                            <select class="form-control" id="" aria-label="">
                                <option value="1">15 line/screen</option>
                                <option value="2">30 line/screen</option>
                                <option value="3">50 line/screen</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <nav aria-label="">
                            <ul class="pagination  justify-content-end">
                                <li class="page-item"><a class="page-link" href="#">First</a></li>
                                <li class="page-item"><a class="page-link" href="#">Back</a></li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                <li class="page-item"><a class="page-link" href="#">Last</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div> -->
            <app-pagination *ngIf="pager.totalItems>0" [config]="pager" (pagerObject)="setPage($event)"></app-pagination>
            <!--end::pagination-->
        </div>
    </div>
    <!--end:: m-portlet of port-index-table-->
</div>
<!--end::m-content of Port-index-->

<!--begin::add-port-index-modal-->
<div class="modal fade" *ngIf="portIndex" id="add-port-index-modal" data-backdrop="static" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form name="formAddEdit" #formAddEdit="ngForm" novalidate (ngSubmit)="formAddEdit.form.valid">
                <div class="modal-header">
                    <h5 class="modal-title">Add Port Index</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCancel()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!--begin::add-port-index-form-->
                    <div class="m-form m-form--state">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group" [ngClass]="{ 'm-form__group has-danger': formAddEdit.submitted && code.invalid }">
                                    <label class="form-control-label">
                                        Port code
                                    </label>
                                    <input type="text" class="form-control m-input" placeholder="Please enter detail" name="code" autocomplete="nope" minlength="3"
                                    [(ngModel)]="portIndex.code" #code="ngModel" (change)="portIndex.code = portIndex.code.trim()" [ngClass]="{ 'm-input--square': formAddEdit.submitted && code.invalid }" required>
                                    <div class="form-control-feedback" *ngIf="formAddEdit.submitted && code.invalid" >
                                        Code is required least 3 characters
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group" [ngClass]="{ 'm-form__group has-danger': formAddEdit.submitted && portIndexeName.invalid }">
                                    <label class="form-control-label">
                                        Name
                                    </label>
                                    <input type="text" class="form-control m-input" placeholder="Please enter name" name="portIndexeName" autocomplete="nope" minlength="3"
                                        [(ngModel)]="portIndex.displayName" #portIndexeName="ngModel" (change)="portIndex.displayName = portIndex.displayName.trim()" [ngClass]="{ 'm-input--square': formAddEdit.submitted && portIndexeName.invalid }" required >
                                    <div class="form-control-feedback" *ngIf="formAddEdit.submitted && portIndexeName.invalid" >
                                        Name is required least 3 characters
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group" [ngClass]="{ 'm-form__group has-danger': formAddEdit.submitted && portIndex.countryID == null }">
                                    <label class="form-control-label">
                                        Country
                                    </label>
                                    <ng-select #chooseCountry [allowClear]="true" [items]="countries"  [disabled]="disabled" (data)="refreshCountryValue($event)" [active]="countryActive==null?[]:[countryActive]"
                                        (selected)="onCountrychange($event)" (removed)="removed($event)" (typed)="typed($event)"
                                        placeholder="Select country">
                                    </ng-select>
                                    <div class="form-control-feedback" *ngIf="formAddEdit.submitted && portIndex.countryID == null" >
                                        Country is required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <!-- <div class="form-group">
                                    <label>
                                        Zone (Optional)
                                    </label>
                                    <input type="text" class="form-control m-input" placeholder="Please enter detail">
                                </div> -->
                                <div class="form-group">
                                    <label class="form-control-label">
                                            Zone (Optional)
                                    </label>
                                    <ng-select #chooseArea [allowClear]="true" [items]="areas"  [disabled]="disabled" (data)="refreshAreaValue($event)" [active]="areaActive==null?[]:[areaActive]"
                                        (selected)="onAreachange($event)" (removed)="removed($event)" (typed)="typed($event)"
                                        placeholder="Select zone">
                                    </ng-select>
                                </div>
                            </div>
                            <!-- <div class="col-lg-4">
                                <div class="form-group">
                                    <label>
                                        Local Zone (Optional)
                                    </label>
                                    <input type="text" class="form-control m-input" placeholder="Please enter detail">
                                </div>
                            </div> -->
                            <div class="col-lg-4">
                                <div class="form-group" [ngClass]="{ 'm-form__group has-danger': formAddEdit.submitted && modePort.invalid }">
                                    <label class="form-control-label">
                                        Mode
                                    </label>
                                    <input list="modes" type="text" class="form-control m-input" placeholder="Please enter mode" name="modePort" autocomplete="nope" minlength="3"
                                    [(ngModel)]="portIndex.modeOfTransport" #modePort="ngModel" (change)="portIndex.modeOfTransport = portIndex.modeOfTransport.trim()" [ngClass]="{ 'm-input--square': formAddEdit.submitted && modePort.invalid }" required>
                                    <datalist id="modes" *ngIf="modes">
                                        <option *ngFor="let mode of modes" [value]="mode.id"></option>
                                    </datalist>
                                    <div class="form-control-feedback" *ngIf="formAddEdit.submitted && modePort.invalid" >
                                            Mode is required least 3 characters
                                        </div>
                                </div>
                            </div>
                            <!-- <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label">
                                        In Active
                                    </label>
                                    <input type="checkbox" class="form-control m-input" name="inActive"
                                        [(ngModel)]="portIndex.inActive" #inActive="ngModel">
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <!--end:add-port-index-form -->
                </div>
                <div class="modal-footer m--align-center c-button-actions">
                    <!-- <button type="reset" class="btn btn-brand m-btn--square m-btn--icon m-btn--uppercase">
                        <span>
                            <i class="la la-save"></i>
                            <span>
                                save
                            </span>
                        </span>
                    </button>
                    <button type="reset" class="btn m-btn--square m-btn--icon m-btn--uppercase" data-dismiss="modal">
                        <span>
                            <i class="la la-ban"></i>
                            <span>
                                cancel
                            </span>
                        </span>
                    </button> -->
                    <app-default-button [buttonSetting]="saveButtonSetting" (click)="onSubmit()"></app-default-button>
                    <app-default-button [buttonSetting]="cancelButtonSetting" (click)="onCancel()"></app-default-button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--end::add-port-index-modal-->

<!--begin::edit-port-index-modal-->
<div class="modal fade" id="{{nameEditModal}}" data-backdrop="static" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Port Index</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--begin::add-port-index-form-->
                <div class="m-form">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>
                                    Port code
                                </label>
                                <input type="text" class="form-control m-input" placeholder="Please enter detail" value="Port code">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>
                                    Port name
                                </label>
                                <input type="text" class="form-control m-input" placeholder="Please enter detail" value="Port name">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>
                                    Country
                                </label>
                                <input type="text" class="form-control m-input" placeholder="Please enter detail" value="Country">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>
                                    Zone (Optional)
                                </label>
                                <input type="text" class="form-control m-input" placeholder="Please enter detail" value="Zone">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>
                                    Local Zone (Optional)
                                </label>
                                <input type="text" class="form-control m-input" placeholder="Please enter detail" value="Local Zone ">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>
                                    Mode
                                </label>
                                <input type="text" class="form-control m-input" placeholder="Please enter detail" value="Mode">
                            </div>
                        </div>
                    </div>
                </div>
                <!--end:add-port-index-form -->
            </div>
            <div class="modal-footer m--align-center c-button-actions">
                <button type="reset" class="btn btn-brand m-btn--square m-btn--icon m-btn--uppercase">
                    <span>
                        <i class="la la-save"></i>
                        <span>
                            Edit
                        </span>
                    </span>
                </button>
                <button type="reset" class="btn m-btn--square m-btn--icon m-btn--uppercase" data-dismiss="modal">
                    <span>
                        <i class="la la-ban"></i>
                        <span>
                            cancel
                        </span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>
<!--end::edit-port-index-modal-->

<!--begin::confirm-delete-modal-->
<!-- <div class="modal fade" id="confirm-delete-modal" data-backdrop="static" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Notification</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="confirm-text-block">
                    <span>You want to delete this port index</span>
                </div>
            </div>
            <div class="modal-footer m--align-center c-button-actions">
                <button type="reset" class="btn btn-brand m-btn--square m-btn--icon m-btn--uppercase">
                    <span>
                        <i class="la la-save"></i>
                        <span>
                            Save
                        </span>
                    </span>
                </button>
                <button type="reset" class="btn m-btn--square m-btn--icon m-btn--uppercase" data-dismiss="modal">
                    <span>
                        <i class="la la-ban"></i>
                        <span>
                            cancel
                        </span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div> -->
<app-delete-confirm-modal (delete)="onDelete($event)" [title]="titleConfirmDelete"></app-delete-confirm-modal>
<!--end::confirm-delete-modal-->