<div class="table-wrapper table-scrollable">
    <table class="table table-brand table-hover dataTable">
        <thead app-table-header [headers]="headers" (onClick)="sortSurcharge($event)">
            <th class="first"> </th>
        </thead>
        <tbody class="tbody-group">
            <ng-container *ngFor="let surcharge of data.chargeSettlements; let i = index; trackBy: trackByFn">
                <tr [class.bg-warning]="surcharge.isFromShipment">
                    <td class="table-actions-col">
                        <div class="m-checkbox-list d-flex justify-content-center">
                            <label class="m-checkbox">
                                <input type="checkbox" (change)="onChangeCheckBoxCharge()" value="{{surcharge}}"
                                    [(ngModel)]="surcharge.isSelected">
                                <span></span>
                            </label>
                            <ng-container *ngIf="!surcharge.isFromShipment">
                                <span>
                                    <a (click)="copySurcharge(surcharge)" title="Copy {{surcharge.chargeName}}"
                                        class="pointer">
                                        <i class="la la-copy"></i>
                                    </a>
                                </span>
                            </ng-container>
                        </div>
                    </td>
                    <td class="text-primary pointer text-underline" (click)="openSurchargeDetail(surcharge, i)">
                        {{surcharge.chargeCode}}
                    </td>
                    <td class="text-primary pointer text-underline" (click)="openSurchargeDetail(surcharge, i)">
                        {{surcharge.chargeName}}
                    </td>
                    <td>{{surcharge.quantity}}</td>
                    <td>{{surcharge.unitName}}</td>
                    <td>{{surcharge.unitPrice | number: '.0-3'}}</td>
                    <td>{{surcharge.currencyId}}</td>
                    <td>{{surcharge.vatrate}}</td>
                    <td>{{surcharge.total | number: '.0-3'}}</td>
                    <!-- <td>{{surcharge.type === 'OBH' ? surcharge.payer : surcharge.obhPartnerName}}</td>
                    <td>{{surcharge.type === 'OBH' ? surcharge.obhPartnerName : surcharge.payer}}</td> -->
                    <td>{{surcharge.payer }}</td>
                    <td>{{surcharge.obhPartnerName}}</td>
                    <td>{{surcharge.invoiceNo}}</td>
                    <td>{{surcharge.seriesNo}}</td>
                    <td>{{surcharge.invoiceDate | date: 'dd/MM/yyyy'}}</td>
                    <td>{{surcharge.clearanceNo}}</td>
                    <td>{{surcharge.contNo}}</td>
                    <td>{{surcharge.notes}}</td>
                </tr>
            </ng-container>
            <tr *ngIf="!data || !data.chargeSettlements.length" app-table-none-record [colspan]="headers.length + 2">
            </tr>
        </tbody>
    </table>
</div>