<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <!--<add name="eFMSTestEntities" connectionString="metadata=res://*/Models.eFMSModel.csdl|res://*/Models.eFMSModel.ssdl|res://*/Models.eFMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.29;initial catalog=eFMS;user id=eFMS-Admin;password=eFMS@dm1n;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="eFMSTestEntities" connectionString="metadata=res://*/Models.eFMSModel.csdl|res://*/Models.eFMSModel.ssdl|res://*/Models.eFMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.7.31;initial catalog=eFMSTest;user id=sa;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="eFMSTestEntities" connectionString="metadata=res://*/Models.eFMSModel.csdl|res://*/Models.eFMSModel.ssdl|res://*/Models.eFMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.120;initial catalog=eFMS;user id=eFMS-Admin;password=eFMS@dm!n20;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <!--2 minute-->
    <add key="intervalCurrentStatus" value="120000"/>
    <!--1 hour-->
    <add key="intervalExchangeRate" value="3600000"/>
    <!--1 day-->
    <add key="intervalAuthorization" value="86400000"/>
  </appSettings>
</configuration>