<!--begin:: subheader-->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <!--begin:: breadcrumbs-->
            <app-breadcrumb></app-breadcrumb>
            <!--end:: breadcrumbs-->
        </div>
    </div>
</div>
<!--end:: subheader-->
<!--begin::m-content-->
<div class="m-content">
    <!--begin:: m-portlet-->
    <div class="m-portlet">
        <div class="m-portlet__body">
            <!--begin::Form-->
            <div class="m-form m-form--state">
                <div class="row">
                    <div class="col-lg-4">
                        <input type="file" id="inputFile" class="form-control m-input m-input--square" placeholder="" (change)="chooseFile($event)" onclick="this.value=null;" accept=".xlsx">
                        <span class="m-form__help">
                            <a class="btn-link" href="javascript:void(0)" (click)="downloadSample()">Download sample</a>
                        </span>
                    </div>
                    <div class="col-lg-7 offset-lg-1">
                        <div class="row">
                            <div class="col-sm-4 m--margin-top-10 text-right">
                                <span class="m--font-brand m--font-bolder">
                                    Total rows: {{ totalRows }}
                                </span>
                            </div>
                            <div class="col-sm-4 m--margin-top-10 text-right">
                                <span class="m--font-success m--font-bolder">
                                    Valid rows: {{ totalValidRows }}
                                </span>
                            </div>
                            <div class="col-sm-4 m--margin-top-10 text-right">
                                <span class="m--font-danger  m--font-bolder">
                                    Invalid rows: {{ totalRows - totalValidRows }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions m--margin-top-5 m--align-right">
                    <button type="button" class="btn btn-danger m-btn--square m-btn--icon m-btn--uppercase">
                        <span>
                            <span>
                                Show invalid rows
                            </span>
                            <!-- <span>
                                Show All
                            </span> -->
                        </span>
                    </button>
                    <button type="button" class="btn btn-brand m-btn--square m-btn--icon m-btn--uppercase" >
                        <span>
                            <i class="la la-save"></i>
                            <span>
                                save
                            </span>
                        </span>
                    </button>
                    <button type="button" class="btn btn-cancel m-btn--square m-btn--icon m-btn--uppercase" routerLink="/home/operation/custom-clearance">
                        <span>
                            <i class="la la-ban"></i>
                            <span>
                                close
                            </span>
                        </span>
                    </button>
                </div>
            </div>
            <!--end::Form-->
        </div>
    </div>
    <!--end::m-portlet-->
    <!--begin:: m-portlet-->
    <div class="m-portlet" style="position: relative">
        <ng-progress [thick]="true" [color]="'#2ea2f4'" [spinner]="true"></ng-progress>
        <div class="m-portlet__body">
            <!--begin: Datatable of trucking-table -->
            <div class="table-wrapper table-scrollable" id="">
                <table class="table table-striped table-brand dataTable">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>
                                <span>Clearance No</span>
                            </th>
                            <th>
                                <span>Type</span>
                            </th>
                            <th>
                                <span>Clearance Date</span>
                            </th>
                            <th>
                                <span>Customer</span>
                            </th>
                            <th>
                                <span>Gate Way</span>
                            </th>
                            <th>
                                <span>Gross Weight</span>
                            </th>
                            <th>
                                <span>Net Weight</span>
                            </th>
                            <th>
                                <span>CBM</span>
                            </th>
                            <th>
                                <span>Cont Qty</span>
                            </th>
                            <th>
                                <span>PCS</span>
                            </th>
                            <th>
                                <span>Commodity</span>
                            </th>
                            <th>
                                <span>Document Type</span>
                            </th>
                            <th>
                                <span>Service Type</span>
                            </th>
                            <th>
                                <span>Route</span>
                            </th>
                            <th>
                                <span>Import Country</span>
                            </th>
                            <th>
                                <span>Export Country</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let item of pagedItems; let i = index">
                        <tr>
                            <td>
                                <span>{{ (i + this.pager.startIndex + 1) }}</span>
                            </td>
                            <td>
                                <span>{{item.clearanceNo}}</span>
                            </td>
                            <td>
                                <span>{{item.type}}</span>
                            </td>
                            <td>
                                <span>{{item.clearanceDateStr}}</span>
                            </td>
                            <td>
                                <span>{{item.customerName}}</span>
                            </td>
                            <td>
                                <span>{{item.gateway}}</span>
                            </td>
                            <td>
                                <span>{{item.grossWeightStr}}</span>
                            </td>
                            <td>
                                <span>{{item.netWeightStr}}</span>
                            </td>
                            <td>
                                <span>{{item.cbmStr}}</span>
                            </td>
                            <td>
                                <span>{{item.qtyContStr}}</span>
                            </td>
                            <td>
                                <span>{{item.pcsStr}}</span>
                            </td>
                            <td>
                                <span>Commodity???</span>
                            </td>
                            <td>
                                <span>{{item.cargoType}}</span>
                            </td>
                            <td>
                                <span>{{item.serviceType}}</span>
                            </td>
                            <td>
                                <span>{{item.route}}</span>
                            </td>
                            <td>
                                <span>{{item.importCountryCode}}</span>
                            </td>
                            <td>
                                <span>{{item.exportCountryCode}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--end: Datatable of trucking-table -->
            <app-pagination *ngIf="pager.totalItems>0" [config]="pager" (pageChange)="setPage($event)" (pagerObject)="setPage($event)"></app-pagination>
        </div>
    </div>
    <!--end:: m-portlet-->
</div>
<!--end::m-content-->