<div class="m-portlet">
    <div class="m-portlet__head alert-block__heading pointer bg-secondary">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title w-100">
                <h3 class="m-portlet__head-text collapse-toggle" data-toggle="collapse" data-target="#credit-summary">
                    {{type | titlecase}} Combine
                    <ng-container *ngIf="!!cdCombineList?.length">
                        <span class="badge badge-success">{{cdCombineList?.length}}</span>
                    </ng-container>
                </h3>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        <div class="m-portlet__head alert-block__heading pointer">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title w-100">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="div">
                            Office: <span class="font-weight-bold text-success">ITL HCM</span>
                        </div>
                        <div class="form-group">
                            <select class="form-control" placeholder="payment method">
                                <option [ngValue]="null" disabled>Please select</option>
                                <option *ngFor="let method of paymentMethods" [ngValue]="method.value">
                                    {{method.title}}
                                </option>
                            </select>
                        </div>
                        <div class="div">
                            <input type="text" class="form-control" placeholder="Receipt No">
                        </div>
                        <div class="div">
                            <input type="text" class="form-control" placeholder="Notes">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-wrapper table-editable m--margin-top-20 m-animate-fade-in m--margin-bottom-20">
            <table class="table table-bordered dataTable-edit">
                <thead app-table-header [headers]="headers"
                    (onClick)="sortBy($event.sortField ? $event.sortField : '')">
                    <th class="m--w-90 first table-actions-col fixed-side">

                    </th>
                </thead>
                <tbody class="tbody-group">
                    <ng-container *ngIf="!!cdCombineList.length">
                        <tr *ngFor="let item of cdCombineList; let i = index; trackBy: trackByFn">
                            <td class="table-actions-col fixed-side">
                                <div class="table-actions">
                                    <ng-container>
                                        <button type="button" (click)="deleteCdCombineItem(i)"
                                            class="btn btn-danger btn-sm  m-btn--icon m-btn--icon-only" title="Remove">
                                            <i class="la la-trash"></i>
                                        </button>
                                    </ng-container>
                                </div>
                            </td>
                            <td>{{item.partnerName}}</td>
                            <td>{{item.billingNo}}</td>
                            <td>{{item.unpaidAmount}}</td>
                            <td>
                                <div class="form-group "
                                    [ngClass]="{'m-form__group has-danger': isSubmitted && (item.amountVnd < 0 || item.amountVnd === null)}">
                                    <ng-container *ngIf="!item.readonly else AmoutVndTpl ">
                                        <input type="number" class="form-control" [(ngModel)]="item.amountVnd"
                                            placeholder="Amount VND" min="0" autoFormatCurrency>
                                    </ng-container>
                                    <ng-template #AmoutVndTpl>
                                        <span style="cursor: not-allowed;">
                                            {{item.amountVnd}}
                                        </span>
                                    </ng-template>
                                </div>
                            </td>
                            <td>{{item.remain | number: '.0-2'}}</td>
                            <td>{{item.hbl}} - {{item.mbl}}</td>
                            <td>
                                <div class="form-group ">
                                    <ng-container *ngIf="!item.readonly; else notesTpl">
                                        <input type="text" class="form-control" [(ngModel)]="item.notes"
                                            placeholder="Notes">
                                    </ng-container>
                                    <ng-template #notesTpl>
                                        {{item.notes}}
                                    </ng-template>
                                </div>
                            </td>
                            <td>{{item.unpaidAmountVnd | number: '.0-2'}}</td>
                            <td>{{item.unpaidAmountVnd | number: '.0-2'}}</td>
                            <td>{{item.remainAmountVnd | number: '.0-2'}}</td>
                            <td>{{item.invoiceNo}}</td>
                            <td>{{item.refNo}}</td>
                        </tr>

                    </ng-container>
                    <tr app-table-none-record *ngIf="!(isLoading | async) && !cdCombineList.length">
                    </tr>
                    <tr app-table-row-loading *ngIf="(isLoading | async)">
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="font-15 font-weight-bold">
                        <td colspan="3" align="center">Total</td>
                        <td>{{100}}</td>
                        <td>{{100}}</td>
                        <td>{{0}}</td>
                        <td></td>
                        <td></td>
                        <td>{{100}}</td>
                        <td>{{100}}</td>
                        <td>{{0}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="m-portlet__head alert-block__heading pointer">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title w-100">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="div">
                            Office: <span class="font-weight-bold text-success">ITL HCM</span>
                        </div>
                        <div class="form-group">
                            <select class="form-control" placeholder="payment method">
                                <option [ngValue]="null" disabled>Please select</option>
                                <option *ngFor="let method of paymentMethods" [ngValue]="method.value">
                                    {{method.title}}
                                </option>
                            </select>
                        </div>
                        <div class="div">
                            <input type="text" class="form-control" placeholder="Receipt No">
                        </div>
                        <div class="div">
                            <input type="text" class="form-control" placeholder="Notes">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-wrapper table-editable m--margin-top-20 m-animate-fade-in">
            <table class="table table-bordered dataTable-edit">
                <thead app-table-header [headers]="headers"
                    (onClick)="sortBy($event.sortField ? $event.sortField : '')">
                    <th class="m--w-90 first table-actions-col fixed-side">

                    </th>
                </thead>
                <tbody class="tbody-group">
                    <ng-container *ngIf="!!cdCombineList.length">
                        <tr *ngFor="let item of cdCombineList; let i = index; trackBy: trackByFn">
                            <td class="table-actions-col fixed-side">
                                <div class="table-actions">
                                    <ng-container>
                                        <button type="button" (click)="deleteCdCombineItem(i)"
                                            class="btn btn-danger btn-sm  m-btn--icon m-btn--icon-only" title="Remove">
                                            <i class="la la-trash"></i>
                                        </button>
                                    </ng-container>
                                </div>
                            </td>
                            <td>{{item.partnerName}}</td>
                            <td>{{item.billingNo}}</td>
                            <td>{{item.unpaidAmount}}</td>
                            <td>
                                <div class="form-group "
                                    [ngClass]="{'m-form__group has-danger': isSubmitted && (item.amountVnd < 0 || item.amountVnd === null)}">
                                    <ng-container *ngIf="!item.readonly else AmoutVndTpl ">
                                        <input type="number" class="form-control" [(ngModel)]="item.amountVnd"
                                            placeholder="Amount VND" min="0" autoFormatCurrency>
                                    </ng-container>
                                    <ng-template #AmoutVndTpl>
                                        <span style="cursor: not-allowed;">
                                            {{item.amountVnd}}
                                        </span>
                                    </ng-template>
                                </div>
                            </td>
                            <td>{{item.remain | number: '.0-2'}}</td>
                            <td>{{item.hbl}} - {{item.mbl}}</td>
                            <td>
                                <div class="form-group ">
                                    <ng-container *ngIf="!item.readonly; else notesTpl">
                                        <input type="text" class="form-control" [(ngModel)]="item.notes"
                                            placeholder="Notes">
                                    </ng-container>
                                    <ng-template #notesTpl>
                                        {{item.notes}}
                                    </ng-template>
                                </div>
                            </td>
                            <td>{{item.unpaidAmountVnd | number: '.0-2'}}</td>
                            <td>{{item.unpaidAmountVnd | number: '.0-2'}}</td>
                            <td>{{item.remainAmountVnd | number: '.0-2'}}</td>
                            <td>{{item.invoiceNo}}</td>
                            <td>{{item.refNo}}</td>
                        </tr>

                    </ng-container>
                    <tr app-table-none-record *ngIf="!(isLoading | async) && !cdCombineList.length">
                    </tr>
                    <tr app-table-row-loading *ngIf="(isLoading | async)">
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="font-15 font-weight-bold">
                        <td colspan="3" align="center">Total</td>
                        <td>{{100}}</td>
                        <td>{{100}}</td>
                        <td>{{0}}</td>
                        <td></td>
                        <td></td>
                        <td>{{100}}</td>
                        <td>{{100}}</td>
                        <td>{{0}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>