<app-sub-header></app-sub-header>
<div class="m-content">
    <div class="m-form m-form--state">
        <div class="m-portlet">
            <div class="row m--padding-top-10">
                <div class="col-6">
                    <h3 class="c-block-title m--margin-left-10">General Information</h3>
                </div>
                <div class="col-6">
                    <div class="m--align-right">
                        <button type="button"
                            class="btn btn-success m-btn--square m-btn--icon m-btn--uppercase m--margin-right-10"
                            (click)="updateDepartment()">
                            <span>
                                <i class="la la-save"></i>
                                <span>
                                    Save
                                </span>
                            </span>
                        </button>
                        <button type="button"
                            class="btn btn-danger m-btn--square m-btn--icon m-btn--uppercase m--margin-right-10"
                            (click)="back()">
                            <span>
                                <i class="la la-ban"></i>
                                <span>
                                    Cancel
                                </span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <hr />
            <div class="m-portlet__body">
                <form [formGroup]="formDetail">
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group"
                                [ngClass]="{'m-form__group has-danger': (departmentCode.dirty && !departmentCode.valid) || (isSubmited && !departmentCode.valid)}">
                                <label class="form-control-label">
                                    Department Code:
                                    <!-- <span class="text-danger">*</span> -->
                                </label>
                                <input type="text" class="form-control m-input m-input--square"
                                    placeholder="Department code" formControlName="departmentCode" disabled>
                                <div class="form-control-feedback"
                                    *ngIf="isSubmited && (departmentCode.errors | equalError: 'required') || (departmentCode.errors | equalError: 'required') && departmentCode.dirty">
                                    Department code is required!
                                </div>
                                <div class="form-control-feedback"
                                    *ngIf="departmentCode.errors | equalError: 'maxlength'">
                                    Max length must be greater 2
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group"
                                [ngClass]="{'m-form__group has-danger': (nameEn.dirty && !nameEn.valid) || (isSubmited && !nameEn.valid)}">
                                <label class="form-control-label">
                                    Name EN:
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="text" class="form-control m-input m-input--square" placeholder="Name EN"
                                    formControlName="nameEn">
                                <div class="form-control-feedback"
                                    *ngIf="isSubmited && (nameEn.errors | equalError: 'required') || (nameEn.errors | equalError: 'required') && nameEn.dirty">
                                    Name EN is required!
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group"
                                [ngClass]="{'m-form__group has-danger': (nameLocal.dirty && !nameLocal.valid) || (isSubmited && !nameLocal.valid)}">
                                <label class="form-control-label">
                                    Name Local:
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="text" class="form-control m-input m-input--square" placeholder="Name Local"
                                    formControlName="nameLocal">
                                <div class="form-control-feedback"
                                    *ngIf="isSubmited && (nameLocal.errors | equalError: 'required') || (nameLocal.errors | equalError: 'required') && nameLocal.dirty">
                                    Name Local is required!
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group"
                                [ngClass]="{'m-form__group has-danger': (nameAbbr.dirty && !nameAbbr.valid) || (isSubmited && !nameAbbr.valid)}">
                                <label class="form-control-label">
                                    Name Abbr:
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="text" class="form-control m-input m-input--square" placeholder="Name Abbr"
                                    formControlName="nameAbbr">
                                <div class="form-control-feedback"
                                    *ngIf="isSubmited && (nameAbbr.errors | equalError: 'required') || (nameAbbr.errors | equalError: 'required') && nameAbbr.dirty">
                                    Name Abbr is required!
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group"
                                [ngClass]="{'m-form__group has-danger': (office.dirty && !office.valid) || (isSubmited && !office.valid)}">
                                <label class="form-control-label">
                                    Office
                                    <span class="text-danger">*</span>
                                </label>
                                <select formControlName="office" class="form-control">
                                    <option *ngFor="let office of officeList" [ngValue]="office">{{office.branchname_En}}
                                    </option>
                                </select>
                                <div class="form-control-feedback"
                                    *ngIf="isSubmited && (office.errors | equalError: 'required') || (office.errors | equalError: 'required') && office.dirty">
                                    Office is required!
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label class="form-control-label">
                                    Company:
                                </label>
                                <input type="text" class="form-control m-input m-input--square" disabled
                                    placeholder="" formControlName="company">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label class="form-control-label">Status</label>
                                <select formControlName="status" class="form-control">
                                    <option *ngFor="let status of statusList" [ngValue]="status">{{status.title}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="!!department">
                        <div class="col-6" *ngIf="!!department.datetimeCreated">
                            Created: {{department.datetimeCreated | date: 'dd/MM/yyyy HH:mm'}} by <span class="text-success">{{department.userCreated}}</span>
                        </div>
                        <div class="col-6" *ngIf="!!department.datetimeModified">
                            Modified: {{department.datetimeModified | date: 'dd/MM/yyyy HH:mm'}} by <span class="text-success">{{department.userModified}}</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-12">
        <ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--brand m-tabs-line-danger" role="tablist">
            <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#job-tableview-tab" role="tab">
                    Group
                </a>
            </li>
            <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link" data-toggle="tab" href="#job-stageview-tab" role="tab">
                    User
                </a>
            </li>
        </ul>
        <div class="tab-content job-tab-content" id="jobTabContent">
            <div class="tab-pane fade show active" id="job-tableview-tab" role="tabpanel" aria-labelledby="">
                List Group
                <!-- <div class="m-portlet__body">
                    <div class="table-wrapper table-scrollable" id="ops-job-list-table">
                        <table class="table table-hover table-brand dataTable">
                            <thead app-table-header [headers]="headers" (onClick)="sortBy($event.sortField)">
                                <th class="table-actions-col no-sorting first"></th>
                            </thead>
                            <tbody class="tbody-group">
                                <ng-container *ngFor="let item of shipments; let i = index; trackBy: trackByFn">
                                    <tr class="collapse-toggle-row">
                                        <td class="table-actions-col">
                                            <div class="table-actions" style="width: 100px">
                                                <button type="button"
                                                    class="btn btn-sm m-btn--square m-btn--icon m-btn--icon-only collapsed"
                                                    data-toggle="collapse"
                                                    [attr.data-target]="'#ops-shipment-00' + (item.id+1)"
                                                    title="Collapse" (click)="showCustomClearance(item.jobNo, i)">
                                                    <i class="la la-angle-up"></i>
                                                </button>
                                                <button type="button"
                                                    class="btn btn-success btn-sm m-btn--square m-btn--icon m-btn--icon-only"
                                                    [routerLink]="['/home/operation/job-edit/' + item.id]" title="Edit">
                                                    <i class="la la-edit"></i>
                                                </button>
                                                <button type="button"
                                                    class="btn btn-danger btn-sm m-btn--square m-btn--icon m-btn--icon-only"
                                                    title="Remove" (click)="deleteSipment(item)">
                                                    <i class="la la-trash"></i>
                                                </button>
                                            </div>
                                        </td>
                                        <td>
                                            <a [routerLink]="['/home/operation/job-edit/' + item.id]">{{ item.jobNo }}
                                            </a>
                                        </td>
                                        <td>
                                            <span>{{ item.hwbno }}</span>
                                        </td>
                                        <td>
                                            <span>{{ item.customerName }}</span>
                                        </td>
                                        <td>
                                            <span>{{ item.serviceDate | date:'dd/MM/yyyy' }}</span>
                                        </td>
                                        <td>
                                            <span *ngIf="item.serviceMode == 'Import'">{{ item.podName }}</span>
                                            <span *ngIf="item.serviceMode == 'Export'">{{ item.polName }}</span>
                                        </td>
                                        <td>
                                            <span>{{ item.sumContainers }}</span>
                                        </td>
                                        <td>
                                            <span>{{ item.sumPackages }}</span>
                                        </td>
                                        <td>
                                            <span>{{ item.sumGrossWeight }}</span>
                                        </td>
                                        <td>
                                            <span>{{ item.sumCbm }}</span>
                                        </td>
                                        <td>
                                            <span>{{ item.modifiedDate | date:'dd/MM/yyyy' }}</span>
                                        </td>
                                    </tr>
                                    <tr class="collapse-panel-row" app-table-collapse-row
                                        [id]="'ops-shipment-00' + item.id + 1" [parentId]="'#ops-job-list-table'">
                                        <table class="table table-secondary dataTable">
                                            <thead app-table-header [headers]="headerCustomClearance"
                                                (onClick)="sortClassCustomClearance($event.sortField)">
                                            </thead>
                                            <tbody>
                                                <ng-container *ngIf="!isLoading && !!customClearances.length">
                                                    <tr
                                                        *ngFor="let clearance of customClearances; let j = index; trackBy: trackByFn">
                                                        <td>
                                                            <span>{{ clearance.clearanceNo }}</span>
                                                        </td>
                                                        <td>
                                                            <span>{{ clearance.clearanceDate | date:'dd/MM/yyyy' }}</span>
                                                        </td>
                                                        <td>
                                                            <span>{{ clearance.hblid }}</span>
                                                        </td>
                                                        <td>
                                                            <span>{{ clearance.exportCountryCode }}</span>
                                                        </td>
                                                        <td>
                                                            <span>{{ clearance.importCountryCode }}</span>
                                                        </td>
                                                        <td>
                                                            <span>{{ clearance.commodityCode }}</span>
                                                        </td>
                                                        <td>
                                                            <span>{{ clearance.qtyCont }}</span>
                                                        </td>
                                                        <td>
                                                            <span>{{ clearance.source }}</span>
                                                        </td>
                                                        <td>
                                                            <span>{{ clearance.note }}</span>
                                                        </td>
                                                    </tr>
                                                </ng-container>
                                                <tr *ngIf="!isLoading && !customClearances.length" app-table-none-record
                                                    [colspan]="headerCustomClearance.length">
                                                </tr>
                                            </tbody>
                                        </table>
                                    </tr>
                                </ng-container>
                                <tr *ngIf="!isLoading && !shipments.length" app-table-none-record
                                    [colspan]="headers.length + 1"></tr>
                                <tr *ngIf="isLoading" app-table-row-loading></tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="pagination-nav">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="tatable__pager-size">
                                    <div class="select-box">
                                        <select class="form-control" id="" aria-label="" [(ngModel)]="pageSize"
                                            (change)="selectPageSize(pageSize, dataSearch)" name="pagesize">
                                            <ng-container
                                                *ngFor="let item of numberToShow; let i = index; trackBy: trackByFn">
                                                <option [ngValue]="item">{{item}} line / screen</option>
                                            </ng-container>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6" *ngIf="totalItems > pageSize">
                                <div class="float-right">
                                    <pagination [boundaryLinks]="true" [totalItems]="totalItems"
                                        [itemsPerPage]="pageSize" (pageChanged)="pageChanged($event)"
                                        [(ngModel)]="page">
                                    </pagination>
                                </div>
                            </div>
                        </div>
                    </div>

                </div> -->
            </div>
        </div>

        <div class="tab-pane fade" id="job-stageview-tab" role="tabpanel" aria-labelledby="">
            List User
        </div>

    </div>
</div>