<app-sub-header></app-sub-header>

<div class="m-content">
    <div class="m-portlet">
        <div class="m-form">
            <div class="m-portlet__body">
                <adv-payment-form-create (onChangeCurrency)="onChangeCurrency($event)"></adv-payment-form-create>
            </div>
        </div>
    </div>
    <div class="m-portlet">
        <div class="m-form">
            <div class="m-portlet__body">
                <div>
                    <adv-payment-list-request [state]="actionList"></adv-payment-list-request>
                </div>
                <div class="row height-row-12">
                    <div class="col-12">
                        <div class="m--align-center m--margin-top-20">
                            <div class="c-button-actions">
                                <ng-container
                                    *ngIf="!!advancePayment && (advancePayment.statusApproval == 'Denied' || advancePayment.statusApproval === 'New')">
                                    <app-permission-button type="save" title="Save" (onClick)="updateAdvPayment()">
                                    </app-permission-button>
                                    <app-permission-button type="save-and-send" title="Save & Send Request"
                                        (onClick)="sendRequest()"></app-permission-button>
                                </ng-container>
                                <button
                                    *ngIf="!!approveInfo && !approveInfo.isManager && !!advancePayment && advancePayment.statusApproval === 'RequestApproval'"
                                    class="btn btn-danger m-btn--square m-btn--icon m-btn--uppercase m--margin-right-10"
                                    title="Recall" (click)="recall()">
                                    <span>
                                        <i class="la la-undo"></i>
                                        <span>
                                            Recall
                                        </span>
                                    </span>
                                </button>
                                <div class="dropdown m-dropdown m-dropdown--inline no-arrow">
                                    <app-default-button data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false" [buttonSetting]="previewButtonSetting">
                                    </app-default-button>
                                    <div class="dropdown-menu" aria-labelledby="">
                                        <a class="dropdown-item" href="javascript:void(0)"
                                            (click)="previewAdvPayment()">Preview single</a>
                                        <a class="dropdown-item" href="javascript:void(0)"
                                            (click)="exportAdvPayment('VN')">Print multiple
                                            (VN)</a>
                                        <a class="dropdown-item" href="javascript:void(0)"
                                            (click)="exportAdvPayment('ENG')">Print multiple
                                            (ENG)</a>
                                    </div>
                                </div>
                                <app-default-button [buttonSetting]="cancelButtonSetting" (onClick)="back()">
                                </app-default-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-container *ngIf="dataReport">
    <app-report-preview [data]="dataReport"></app-report-preview>
</ng-container>