<div class="m-form m-form--label-align-right m--margin-bottom-10">
    <div class="row align-items-center">
        <div class="col-lg-4 order-2 order-lg-1">
            <div class="form-group">
                <div class="m-input-icon m-input-icon--left">
                    <input type="text" class="form-control m-input m-input--square" placeholder="Search..."
                        [(ngModel)]="keyword">
                    <span class="m-input-icon__icon m-input-icon__icon--left">
                        <span>
                            <i class="la la-search"></i>
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-8 order-1 order-lg-2 c-button-actions m--align-right">
            <button type="button" class="btn btn-success m-btn--square m-btn--icon m-btn--uppercase"
                (click)="openAddNewSellingRatePopup()">
                <span>
                    <i class="la la-plus"></i>
                    <span>
                        add charge
                    </span>
                </span>
            </button>
        </div>
    </div>
</div>

<div class="table-wrapper table-scrollable" style="max-height: 300px">
    <table class="table table-striped table-brand dataTable">
        <thead app-table-header [headers]="headers" (onClick)="sortBy($event.sortField)">
            <th class="first"></th>
        </thead>
        <tbody>
            <ng-container *ngIf="!!data.length">
                <tr [ngClass]="!charge.isFromShipment ? 'bg-warning' : ''"
                    *ngFor="let charge of data | filter: keyword : ['partnerName', 'nameEn', 'currency','docNo','soano']; let i = index">
                    <td class="table-actions-col">
                        <div class="table-actions" style="width: 70px">

                            <button type="button" (click)="prepareEditCharge(charge)"
                                class="btn btn-success btn-sm m-btn--square m-btn--icon m-btn--icon-only" title="Edit">
                                <i class="la la-edit"></i>
                            </button>

                            <button type="button" (click)="showConfirmDeleteCharge(charge.id)"
                                class="btn btn-danger btn-sm m-btn--square m-btn--icon m-btn--icon-only" title="Remove">
                                <i class="la la-trash"></i>
                            </button>
                        </div>
                    </td>
                    <td>
                        <span>
                            {{charge.partnerShortName}}
                        </span>
                    </td>
                    <td>
                        <a (click)="prepareEditCharge(charge)">{{charge.nameEn}}</a>
                    </td>
                    <td>
                        {{charge.quantity}}
                    </td>
                    <td>
                        {{charge.unit}}
                    </td>
                    <td>
                        {{charge.unitPrice | number : '1.3-3'}}
                    </td>

                    <td>
                        {{charge.currency}}
                    </td>
                    <td>
                        {{charge.vatrate}}
                    </td>
                    <td>
                        {{charge.total | number : '1.3-3'}}
                    </td>
                    <td>
                        {{charge.notes}}
                    </td>
                    <td>
                        {{charge.soano}}
                    </td>
                    <td>
                        <a (click)="openCreditDebitNote(charge.debitNo)">
                            {{ charge.debitNo }}
                        </a>
                    </td>
                    <td>

                        {{ charge.settlementCode }}
                    </td>
                    <td>
                        {{charge.exchangeDate | date:'dd/MM/yyyy'}}
                    </td>
                </tr>
            </ng-container>
            <tr *ngIf="!data.length" app-table-none-record [colspan]="headers.length + 1"> </tr>
        </tbody>
    </table>
</div>

<app-add-selling-rate-popup [opsTransaction]="opsTransaction" (outputAddSelling)="onSaveNewSellingRate($event)">
</app-add-selling-rate-popup>

<app-edit-selling-rate-popup [opsTransaction]="opsTransaction" [sellingRateChargeToEdit]="SellingRateChargeToEdit"
    (outputEditSelling)="onSaveSellingRate()">
</app-edit-selling-rate-popup>

<confirm-popup [title]="'Delete Charge'" [body]="'Are you sure want to delete this Charge?'"
    (onSubmit)="deleteCharge()"></confirm-popup>

<app-ops-module-credit-debit-note-detail [CDNoteDetails]="CDNoteDetails"></app-ops-module-credit-debit-note-detail>