<div class="customer-payment-wrapper m-animate-fade-in">

    <app-sub-header> </app-sub-header>

    <div class="m-content">
        <div class="m-portlet">
            <div class="m-portlet__body">
                <div class="d-flex align-items-center justify-content-between p-1">
                    <h3>
                        Customer Receipt Edit Detail
                        <span
                            class="m-badge m-badge--{{receiptDetail?.status === 'Draft' && (!receiptDetail?.syncStatus || receiptDetail?.syncStatus !== 'Synced') ? 'danger' : 'success'}} m-badge--wide">
                            {{!receiptDetail?.syncStatus ? receiptDetail?.status : receiptDetail?.syncStatus}}
                        </span>
                    </h3>
                    <div>
                        <div class="c-button-actions">
                            <ng-container
                                *ngIf="receiptDetail?.status !== 'Done' && receiptDetail?.syncStatus !== 'Synced'">

                                <app-permission-button title="Save Draft" class="cancel" [icon]="'la la-sticky-note'"
                                    (onClick)="submitClick('update')">
                                </app-permission-button>
                            </ng-container>

                            <ng-container *ngIf="receiptDetail?.status === 'Done'">
                                <app-permission-button title="Sync to Accountant" type="sync" class="info"
                                    icon="la la-cloud-upload">
                                </app-permission-button>
                            </ng-container>

                            <ng-container>
                                <app-default-button [buttonSetting]="cancelButtonSetting" (onClick)="confirmCancel()">
                                </app-default-button>
                            </ng-container>
                        </div>
                    </div>
                </div>

                <customer-payment-form-create-receipt [isUpdate]="true" (onChangeReceipt)="caculateReceipt($event)"> </customer-payment-form-create-receipt>

                <customer-payment-list-receipt [syncInfoTemplate]="syncInfoTemplate">
                    <div class="row m--margin-top-20">
                        <div class="col-md-6">
                            <span>Created: {{receiptDetail?.datetimeCreated | date: 'dd/MM/yyyy HH:mm'}} by </span>
                            <span class="text-success">{{receiptDetail?.userNameCreated}}</span>
                        </div>
                        <div class="col-md-6">
                            <span>Modified: {{receiptDetail?.datetimeModified | date: 'dd/MM/yyyy HH:mm'}} by
                            </span> <span class="text-success">{{receiptDetail?.userNameModified}}</span>
                        </div>
                    </div>
                </customer-payment-list-receipt>

                <div class="c-button-actions text-center">
                    <ng-container *ngIf="receiptDetail?.status !== 'Done' && receiptDetail?.status !== 'Cancel' && receiptDetail?.syncStatus !== 'Synced'">
                        <app-permission-button type="save" title="Done" class="success" (onClick)="confirmDoneReceipt()">
                        </app-permission-button>
                    </ng-container>
                    <ng-container *ngIf="receiptDetail?.status !== 'Draft' &&receiptDetail?.status !== 'Cancel' && receiptDetail?.syncStatus !== 'Synced'">
                        <app-permission-button title="Cancel Receipt" type="reject" class="danger" icon="la la-times"
                            (onClick)="submitClick('cancel')">
                        </app-permission-button>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #syncInfoTemplate>
    <ul class="list-group">
        <li class="border-0 pl-0 pr-0 list-group-item d-flex justify-content-between align-items-center">
            <label>Sync Status: </label>
            <span *ngIf="receiptDetail?.syncStatus !== null"
                class="m-badge m-badge--{{(!receiptDetail?.syncStatus || receiptDetail?.syncStatus !== 'Synced') ? 'danger' : 'success'}} m-badge--wide">
                {{receiptDetail?.syncStatus}}
            </span>
        </li>
        <li class="border-0 pl-0 pr-0 list-group-item d-flex justify-content-between align-items-center">
            <label style="padding-right: 20px;">Reason reject: </label>
            <span>{{receiptDetail?.reasonReject}}</span> -->
        </li>
        <li class="border-0 pl-0 pr-0 list-group-item d-flex justify-content-between align-items-center">
            <label>Last Sync: </label>
            <span>{{receiptDetail?.lastSyncDate | date:'dd/MM/yyyy'}}</span>
        </li>
    </ul>
</ng-template>

<ng-template inject></ng-template>