<!--begin:: subheader-->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <app-breadcrumb></app-breadcrumb>
        </div>
        <div class="c-button-actions">
            <a class="btn btn-success m-btn--square m-btn--icon m-btn--uppercase" href="javascript:void(0)"  (click)=addPartner()>
                <span>
                    <i class="icon-plus7"></i>
                    <span>
                        add new
                    </span>
                </span>
            </a>
            <button type="button" class="btn btn-brand m-btn--square m-btn--icon m-btn--uppercase">
                <span>
                    <i class="la la-download"></i>
                    <span>
                        import
                    </span>
                </span>
            </button>
            <button type="button" class="btn btn-danger m-btn--square m-btn--icon m-btn--uppercase">
                <span>
                    <i class="la la-upload"></i>
                    <span>
                        export
                    </span>
                </span>
            </button>
        </div>
    </div>
</div>
<!--end:: subheader-->
<!--begin::m-content of Partner-data-->
<div class="m-content">
    <!--begin:: m-portlet of search-form-->
    <div class="m-portlet">
        <div class="m-portlet__body">
            <!--begin::Form-->
            <div class="m-form">
                <!-- <div class="row">
                    <div class="col">
                        <div class="input-group m-input-group m-input-group--square">
                            <div class="input-group-prepend">
                                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    Partner ID
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item active" href="javascript:void(0)">
                                        Partner ID
                                    </a>
                                    <a class="dropdown-item" href="javascript:void(0)">
                                        Company Name (Abbr)
                                    </a>
                                    <a class="dropdown-item" href="javascript:void(0)">
                                        Address
                                    </a>
                                    <a class="dropdown-item" href="javascript:void(0)">
                                        Creator
                                    </a>
                                    <a class="dropdown-item" href="javascript:void(0)">
                                        Taxcode
                                    </a>
                                    <a class="dropdown-item" href="javascript:void(0)">
                                        Tel
                                    </a>
                                    <a class="dropdown-item" href="javascript:void(0)">
                                        Fax
                                    </a>
                                    <a class="dropdown-item" href="javascript:void(0)">
                                        Modify
                                    </a>
                                </div>
                            </div>
                            <input type="text" class="form-control" aria-label="Text input with dropdown button">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button" title="Search">
                                    <i class="la la-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-auto">
                        <button type="reset" class="btn btn-block btn-default m-btn--square m-btn--icon m-btn--uppercase">
                            <span>
                                <i class="la la-refresh"></i>
                                <span>
                                    Reset
                                </span>
                            </span>
                        </button>
                    </div>
                </div> -->
                <app-search-options [configSearch]="configSearch" (search)="onSearch($event)" ></app-search-options>
            </div>
            <!--end::Form-->
        </div>
    </div>
    <!--end::m-portlet of search-form-->

    <div class="row">
        <div class="col-12">
            <ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--brand m-tabs-line-danger" role="tablist">
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link active" data-toggle="tab" href="#customer-tabview-tab" role="tab" (click)="tabSelect(tabName.customerTab)">
                        Customer
                    </a>
                </li>
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#agent-tabview-tab" role="tab" (click)="tabSelect(tabName.agentTab)">
                        Agent
                    </a>
                </li>
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#carrier-tabview-data" role="tab" (click)="tabSelect(tabName.carrierTab)">
                        Carrier
                    </a>
                </li>
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#consignee-tabview-data" role="tab" (click)="tabSelect(tabName.consigneeTab)">
                        Consignee
                    </a>
                </li>
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#air-ship-sup-tabview-data" role="tab" (click)="tabSelect(tabName.airshipsupTab)">
                        Air - Ship - SUP
                    </a>
                </li>
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#shipper-tabview-data" role="tab" (click)="tabSelect(tabName.shipperTab)">
                        Shipper
                    </a>
                </li>
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#all-tabview-data" role="tab" (click)="tabSelect(tabName.allTab)">
                        All
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--begin:: m-portlet of partnerDataTabContent-->
    <div class="m-portlet">
        <div class="m-portlet__body">
            <div class="tab-content" id="partnerDataTabContent">
                <div class="tab-pane fade show active" role="tabpanel" id="customer-tabview-tab">
                    <app-customer (deleteConfirm)="showConfirmDelete($event)" (detail)="showDetail($event)"></app-customer>
                </div>
                <div class="tab-pane fade" id="agent-tabview-tab" role="tabpanel" aria-labelledby="">
                <app-agent (deleteConfirm)="showConfirmDelete($event)" (detail)="showDetail($event)"></app-agent>
                </div>

                <div class="tab-pane fade" id="carrier-tabview-data" role="tabpanel" aria-labelledby="">
                    <app-carrier (deleteConfirm)="showConfirmDelete($event)" (detail)="showDetail($event)"></app-carrier>
                </div>

                <div class="tab-pane fade" id="consignee-tabview-data" role="tabpanel" aria-labelledby="">
                <app-consignee (deleteConfirm)="showConfirmDelete($event)" (detail)="showDetail($event)"></app-consignee>
                </div>

                <div class="tab-pane fade" id="air-ship-sup-tabview-data" role="tabpanel" aria-labelledby="">
                    <app-air-ship-sup (deleteConfirm)="showConfirmDelete($event)" (detail)="showDetail($event)"></app-air-ship-sup>
                </div>

                <div class="tab-pane fade" id="shipper-tabview-data" role="tabpanel" aria-labelledby="">
                    <app-shipper (deleteConfirm)="showConfirmDelete($event)" (detail)="showDetail($event)"></app-shipper>
                </div>

                <div class="tab-pane fade" id="all-tabview-data" role="tabpanel" aria-labelledby="">
                    <app-all-partner (deleteConfirm)="showConfirmDelete($event)" (detail)="showDetail($event)"></app-all-partner>
                </div>
                
                <!--begin::pagination-->
                <app-pagination *ngIf="pager.totalItems>0" [config]="pager" (pageChange)="setPage($event)"
                    (pagerObject)="setPage($event)"></app-pagination>
                <!--end::pagination-->
            </div>
        </div>
    </div>
    <!--end:: m-portlet of partnerDataTabContent-->
</div>
<!--end::m-content of Partner-data-->

<!--begin::confirm-delete-modal-->
<app-delete-confirm-modal (delete)="onDelete($event)" [title]="titleConfirmDelete"></app-delete-confirm-modal>
<!--end::confirm-delete-modal-->