<div class="m-subheader ">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item">
          <a href="" class="m-nav__link">
            <span class="m-nav__link-text">Dashboard</span>
          </a>
        </li>
        <li class="m-nav__separator">-</li>
        <li class="m-nav__item">
          <a href="" class="m-nav__link">
            <span class="m-nav__link-text">Master Page</span>
          </a>
        </li>
      </ul>
    </div>
    <div>
      <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
        m-dropdown-toggle="hover" aria-expanded="true">
        <button class="btn btn-priamry">button demo</button>
      </div>
    </div>
  </div>
</div>