<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <app-breadcrumb></app-breadcrumb>
        </div>
        <div class="c-button-actions">
            <app-default-button [buttonSetting]="addButtonSetting" [dataTarget]="addButtonSetting.dataTarget"
                routerLink="/home/system/user-management/new">
            </app-default-button>
            <app-default-button [buttonSetting]="importButtonSetting" routerLink="/home/system/user-management/import">
            </app-default-button>
            <app-default-button [buttonSetting]="exportButtonSetting" (click)="export()"></app-default-button>
        </div>
    </div>
</div>
<div class="m-content">
    <form-search-user (onSearch)="onSearchUser($event)"></form-search-user>
    <div class="m-portlet">
        <div class="m-form">
            <div class="m-portlet__body">
                <div class="table-wrapper table-scrollabler" id="office-list-table">
                    <table class="table table-striped table-brand table-hover dataTable">
                        <thead app-table-header [headers]="headers"
                            (onClick)="sortBy($event.sortField ? $event.sortField : '')">
                            <th class="m--w-50 first table-actions-col">
                                Action
                            </th>
                        </thead>
                        <tbody class="tbody-group">
                            <ng-container *ngIf="!!users.length">
                                <tr *ngFor="let user of users; let i = index; trackBy: trackByFn">
                                    <td class="table-actions-col">
                                        <div class="table-actions" style="width: 70px">
                                            <button type="button"
                                                class="btn btn-success btn-sm  m-btn--icon m-btn--icon-only"
                                                [routerLink]="user.id" title="Detail">
                                                <i class="la la-edit"></i>
                                            </button>

                                            <button type="button" *ngIf="!user.active"
                                                class="btn btn-danger btn-sm  m-btn--icon m-btn--icon-only"
                                                title="Remove" (click)="showDeletePopup(user)">
                                                <i class="la la-trash"></i>
                                            </button>
                                        </div>
                                    </td>
                                    <td class="text-underline text-primary pointer"><a
                                            (click)="gotoDetailUser(user.id)">{{user.username}}</a> </td>
                                    <td>{{user.employeeNameEn}}</td>
                                    <td>{{user.employeeNameVn}}</td>
                                    <td>{{user.userType}}</td>

                                    <td *ngIf="user.active != null"
                                        [ngClass]="user.active ? 'text-success' : 'text-danger'">
                                        {{user.active  ? 'Active' : 'InActive'  }}</td>
                                    <td *ngIf="user.active == null">
                                        {{user.active}}
                                    </td>
                                </tr>
                            </ng-container>
                            <tr *ngIf="!isLoading && !users.length" app-table-none-record
                                [colspan]="headers.length + 1">
                            </tr>
                            <tr *ngIf="isLoading" app-table-row-loading></tr>
                        </tbody>
                    </table>
                </div>
                <app-pagination [total]="totalItems" [pageNum]="page" [itemPerPage]="pageSize"
                    (onChange)="updatePagingData($event)"></app-pagination>

            </div>
        </div>

    </div>
</div>

<confirm-popup [body]="'Do you want to delete this user ?'" [labelCancel]="'No'" (onSubmit)="onDeleteUser()">
</confirm-popup>