<app-sub-header>
    <div class="c-button-actions">
        <button type="button" class="btn btn-success  m-btn--icon m-btn--uppercase"
            [routerLink]="'/home/accounting/statement-of-account/edit'"
            [queryParams]="{ no: soa.soano, currency: 'VND' }"
            *ngIf="soa.status !== 'Issued Invoice' && soa.status !== 'Issued Voucher' && soa.paymentStatus !== 'Paid' && soa.paymentStatus !== 'Paid A Part' && soa.syncStatus !== 'Synced' && soa.syncStatus !== 'Removed Inv'">
            <span>
                <i class="la la-edit"></i>
                <span>
                    Edit
                </span>
            </span>
        </button>
        <button class="btn btn-info m-btn--icon m-btn--uppercase" (click)="showConfirmed()"
            *ngIf="soa.syncStatus !== 'Synced' && soa.syncStatus !== 'Removed Inv' && soa.type === 'Debit'"
            title="Send to Accountant">
            <span>
                <i class="la la-cloud-upload"></i>
                <span>
                    Send to Acc
                </span>
            </span>
        </button>
        <div class="btn-group" [autoClose]="!isClickSubMenu" dropdown container="body">
            <button id="button-nested" dropdownToggle type="button" class="btn btn-danger dropdown-toggle"
                aria-controls="dropdown-nested">
                <i class="la la-download"></i>Export<span class="caret"></span>
            </button>
            <ul id="dropdown-nested" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-nested">
                <li role="menuitem"><a class="dropdown-item pointer" (click)="exportSOAAF()">Air - SOA Customer
                        Template</a></li>
                <li role="menuitem"><a class="dropdown-item pointer" (click)="exportSOASupplierAF()">Air - SOA Supplier
                        Template</a></li>
                <li role="menuitem"><a class="dropdown-item pointer" (click)="exportSOAOPS()">SOA OPS</a></li>
                <li role="menuitem"><a class="dropdown-item pointer" (click)="export()">For Import Bravo</a></li>
                <li role="menuitem"><a class="dropdown-item pointer" (click)="exportExcelSOA()">Standard</a></li>
            </ul>
        </div>
        <button type="button" class="btn btn-default  m-btn--icon m-btn--uppercase"
            (click)="previewAccountStatementFull(soa.soano)">
            <span>
                <i class="la la-eye"></i>
                <span>
                    Preview
                </span>
            </span>
        </button>


    </div>
</app-sub-header>

<div class="m-content">
    <div class="m-portlet">
        <div class="m-form m-form--state">
            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-lg-4 m--margin-bottom-10">
                        <span class="m--font-bolder">SOA No:</span>
                        <span class="m--font-brand m--margin-left-5">{{soa.soano}}</span>
                    </div>
                    <div class="col-lg-4  m--margin-bottom-10">
                        <span class="m--font-bolder">From Date:</span>
                        <span class="m--font-brand m--margin-left-5">{{soa.soaformDate | date: 'dd/MM/yyyy'}}</span>
                    </div>
                    <div class="col-lg-4 m--margin-bottom-10">
                        <span class="m--font-bolder">To Date:</span>
                        <span class="m--font-brand m--margin-left-5">{{soa.soatoDate | date: 'dd/MM/yyyy'}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 m--margin-bottom-10">
                        <span class="m--font-bolder">Partner Name:</span>
                        <span class="m--margin-left-5"
                            [ngClass]="soa.status === 'Done' ? 'm--font-success' : 'm--font-danger'">{{soa.partnerName}}</span>
                    </div>
                    <div class="col-lg-4 m--margin-bottom-10" [ngSwitch]="soa.status">
                        <span class="m--font-bolder">Status:</span>
                        <span *ngSwitchCase="'New'" class="text-danger m--margin-left-5">{{soa.status}}</span>
                        <span *ngSwitchCase="'Done'" class="text-success m--margin-left-5">{{soa.status}}</span>
                        <span *ngSwitchCase="'Issued Invoice'" class="text-info m--margin-left-5">{{soa.status}}</span>
                        <span *ngSwitchCase="'Issued Voucher'" class="text-info m--margin-left-5">{{soa.status}}</span>
                        <span *ngSwitchDefault class="text-primary m--margin-left-5">{{soa.status}}</span>
                    </div>
                    <div class="col-lg-4 m--margin-bottom-10">
                        <span class="m--font-bolder">Currency:</span>
                        <span class="m--font-brand m--margin-left-5">{{soa.currency}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4  m--margin-bottom-10">
                        <span class="m--font-bolder">Total Amount:</span>
                        <span class="m--font-brand m--margin-left-5"
                            *ngIf="soa.totalAmount > 0 else negativeNumber">{{soa.totalAmount | number: '.0-3'}}</span>
                        <ng-template #negativeNumber class="m--font-brand m--margin-left-5">
                            <span class="m--font-brand m--margin-left-5">
                                ({{soa.totalAmount | abs | number: '.0-3'}})
                            </span>
                        </ng-template>
                    </div>
                    <div class="col-lg-4  m--margin-bottom-10">
                        <span class="m--font-bolder">Total Shipment:</span>
                        <span class="m--font-brand m--margin-left-5">{{soa.shipment | number: '.0-2'}}</span>
                    </div>
                    <div class="col-lg-4  m--margin-bottom-10">
                        <span class="m--font-bolder">Create Date:</span>
                        <span
                            class="m--font-brand m--margin-left-5">{{soa.datetimeCreated | date: 'dd/MM/yyyy h:mm a'}}</span>
                        <span class="m--font-bolder m--margin-left-5">by</span>
                        <span class="m--font-brand m--margin-left-5">{{soa.userNameCreated}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 m--margin-bottom-10">
                        <span class="m--font-bolder">Modified Date:</span>
                        <span
                            class="m--font-brand m--margin-left-5">{{soa.datetimeModified | date: 'dd/MM/yyyy h:mm a'}}</span>
                        <span class="m--font-bolder m--margin-left-5">by</span>
                        <span class="m--font-brand m--margin-left-5">{{soa.userNameModified}}</span>
                    </div>
                    <div class="col-lg-4  m--margin-bottom-10">
                        <span class="m--font-bolder">Note:</span>
                        <span class="m--font-brand m--margin-left-5">{{soa.note}}</span>
                    </div>
                    <div class="col-lg-4  m--margin-bottom-10">
                        <span class="m--font-bolder">Type:</span>
                        <span class="m-badge m-badge--primary m-badge--wide m--margin-left-5">{{soa.type}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 m--margin-bottom-10">
                        <span class="m--font-bolder">Last Sync:</span>
                        <span
                            class="m--font-brand m--margin-left-5">{{soa.lastSyncDate | date: 'dd/MM/yyyy HH:mm:ss'}}</span>
                    </div>
                    <div class="col-lg-4  m--margin-bottom-10" [ngSwitch]="soa.syncStatus">
                        <span class="m--font-bolder">Sync Status:</span>
                        <span *ngSwitchCase="'Synced'"
                            class="m--margin-left-5 m-badge m-badge--success m-badge--wide">{{soa.syncStatus}}</span>
                        <span *ngSwitchCase="'Rejected'"
                            class="m--margin-left-5 m-badge m-badge--danger m-badge--wide">{{soa.syncStatus}}</span>
                        <span *ngSwitchCase="'Removed Inv'"
                            class="m--margin-left-5 m-badge m-badge--danger m-badge--wide">{{soa.syncStatus}}</span>
                        <span *ngSwitchDefault class="m--margin-left-5">{{soa.syncStatus}}</span>
                    </div>
                    <div class="col-lg-4 m--margin-bottom-10">
                        <span class="m--font-bolder">Reason Reject:</span>
                        <span class="m--font-brand m--margin-left-5">{{soa.reasonReject}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="m-portlet">
        <div class="m-portlet__body">
            <div class="m-form m--margin-bottom-10">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="m-input-icon m-input-icon--right">
                            <input type="text" class="form-control m-input m-input--square" placeholder="Search"
                                [(ngModel)]="keyword" name="keyword" (ngModelChange)="onChangeKeyWord($event)">
                            <span class="m-input-icon__icon m-input-icon__icon--right">
                                <span>
                                    <i class="la la-search"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="m--align-right foat-right">
                            <a class="pointer icon-switch" (click)="switchToGroup()">
                                <i class="la la-list" *ngIf="TYPE === 'GROUP' else list"></i>
                                <ng-template #list> <i class="la la-sitemap"></i></ng-template>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-wrapper">
                <table class="table table-striped table-brand dataTable">
                    <thead app-table-header [headers]="headers" (onClick)="sortBy($event.sortField)"></thead>
                    <tbody class="tbody-group" [@listAnimation]="!isLoading">
                        <ng-container *ngIf="TYPE === 'GROUP'">
                            <ng-container
                                *ngFor="let groupShipment of soa.groupShipments ; let i = index; trackBy: trackByFn">
                                <tr *ngIf="!isLoading && !soa.groupShipments.length">
                                    <td colspan="100">
                                        <div class="no-data">
                                            <i class="flaticon-coins"></i>
                                            <span class="no-data-text">No records found</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="collapse-toggle-row tgroup">
                                    <td colspan="13">
                                        <div class='row'>
                                            <div class="col-5">Shipment:
                                                <span class='text-info'>
                                                    [{{groupShipment.jobId}}] -
                                                    [{{groupShipment.hbl}}] -
                                                    [{{!!groupShipment.mbl ? groupShipment.mbl : '-'}}]
                                                </span>
                                            </div>
                                            <div class="col-1">PIC: <span
                                                    class='text-success'>{{groupShipment.pic}}</span>
                                            </div>
                                            <div class="col-3">Total Debit: <span
                                                    class='text-danger'>{{groupShipment.totalDebit}}</span>
                                            </div>
                                            <div class="col-3">Total Credit: <span
                                                    class='text-primary'>{{groupShipment.totalCredit}}</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="child"
                                    *ngFor="let charge of groupShipment.chargeShipments; let j = index; trackBy: trackByFn">
                                    <td>
                                        <span>{{charge.chargeCode}}</span>
                                    </td>
                                    <td>
                                        <span>{{charge.chargeName}}</span>
                                    </td>
                                    <td>
                                        <span class="text-primary">{{charge.jobId}}</span>
                                    </td>
                                    <td>
                                        <span>{{charge.hbl}}</span>
                                    </td>
                                    <td>
                                        <span>{{charge.mbl}}</span>
                                    </td>
                                    <td>
                                        <span>{{charge.customNo}}</span>
                                    </td>
                                    <td>
                                        <span>{{charge.debit | number: '.0-3'}}</span>
                                    </td>
                                    <td>
                                        <span>{{charge.credit | number: '.0-3'}}</span>
                                    </td>
                                    <td>
                                        <span>{{charge.currency}}</span>
                                    </td>
                                    <td [ngClass]="charge.cdNote ? '' : 'bg-red'">
                                        <span>{{charge.cdNote}}</span>
                                    </td>
                                    <td>
                                        <span>{{charge.invoiceNo}}</span>
                                    </td>
                                    <td>
                                        <span>{{!!charge.serviceDate ? (charge.serviceDate | date: 'dd/MM/yyyy') : ''}}</span>
                                    </td>
                                    <td>
                                        <span>{{charge.note}}</span>
                                    </td>
                                </tr>
                                <tr class="loading-wrapper" *ngIf="isLoading">
                                    <td colspan="100">
                                        <div class="on-loading">
                                            <div class="m-loader m-loader--brand">
                                            </div><span>Loading</span>
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="TYPE === 'LIST'">
                            <tr *ngIf="!isLoading && !!soa && !soa.chargeShipments.length">
                                <td colspan="100">
                                    <div class="no-data">
                                        <i class="flaticon-coins"></i>
                                        <span class="no-data-text">No records found</span>
                                    </div>
                                </td>
                            </tr>
                            <tr
                                *ngFor="let charge of soa.chargeShipments  | filter: keyword: ['chargeCode', 'hbl', 'currency' , 'mbl' , 'jobId' , 'chargeName'] ; let i = index; trackBy: trackByFn">
                                <td>
                                    <span>{{charge.chargeCode}}</span>
                                </td>
                                <td>
                                    <span>{{charge.chargeName}}</span>
                                </td>
                                <td>
                                    <span class="text-primary">{{charge.jobId}}</span>
                                </td>
                                <td>
                                    <span>{{charge.hbl}}</span>
                                </td>
                                <td>
                                    <span>{{charge.mbl}}</span>
                                </td>
                                <td>
                                    <span>{{charge.customNo}}</span>
                                </td>
                                <td>
                                    <span>{{charge.debit | number: '.0-3'}}</span>
                                </td>
                                <td>
                                    <span>{{charge.credit | number: '.0-3'}}</span>
                                </td>
                                <td>
                                    <span>{{charge.currency}}</span>
                                </td>
                                <td [ngClass]="charge.cdNote ? '' : 'bg-red'">
                                    <span>{{charge.cdNote}}</span>
                                </td>
                                <td>
                                    <span>{{charge.invoiceNo}}</span>
                                </td>
                                <td>
                                    <span>{{!!charge.serviceDate ? (charge.serviceDate | date: 'dd/MM/yyyy') : ''}}</span>
                                </td>
                                <td>
                                    <span>{{charge.note}}</span>
                                </td>
                            </tr>
                            <tr class="loading-wrapper" *ngIf="isLoading">
                                <td colspan="100">
                                    <div class="on-loading">
                                        <div class="m-loader m-loader--brand">
                                        </div><span>Loading</span>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <soa-summary [data]="soa"></soa-summary>

    <div class="form-actions m--align-center">
        <button type="button" class="btn btn-cancel  m-btn--icon m-btn--uppercase" (click)="back()">
            <span>
                <i class="la la-ban"></i>
                <span>
                    cancel
                </span>
            </span>
        </button>
    </div>
</div>

<ng-container *ngIf="dataReport">
    <app-report-preview [data]="dataReport"></app-report-preview>
</ng-container>

<confirm-popup (onSubmit)="onConfirmSoa()" [body]="confirmMessage" [labelConfirm]="'Ok'"></confirm-popup>