<div class="table-wrapper table-scrollabler" id="ops-customer-list-table">
    <table class="table table-striped table-brand dataTable">
        <thead app-table-header [headers]="headers" (onClick)="sortBy($event.sortField ? $event.sortField : '')">
            <th class="m--w-50 first table-actions-col">
                Actions
            </th>
        </thead>
        <tbody>
            <ng-container *ngIf="!!partners.length">
                <ng-container *ngFor="let partner of partners; let i = index; trackBy: trackByFn">
                    <tr class="collapse-toggle-row">
                        <td class="table-actions-col">
                            <div class="table-actions" [style.width]="isCustomer ? '100px' : '70px'">
                                <button type="button" *ngIf="isCustomer"
                                    class="btn btn-sm  m-btn--icon m-btn--icon-only collapsed" data-toggle="collapse"
                                    (click)="showSaleman(partner.id)"
                                    [attr.data-target]="'#ops-customer-00' + partner.id | removeTrim" title="Collapse">
                                    <i class="la la-angle-up"></i>
                                </button>
                                <app-permission-button type="detail" (onClick)="showDetail(partner)"
                                    [user]="partner.userCreated"></app-permission-button>
                                <ng-container *ngIf="!partner.active">
                                    <app-permission-button type="delete" (onClick)="showConfirmDelete(partner)"
                                        [user]="partner.userCreated"></app-permission-button>
                                </ng-container>
                            </div>
                        </td>
                        <td>{{partner.accountNo}}</td>
                        <td>{{partner.shortName}}</td>
                        <td>{{partner.taxCode}}</td>
                        <td class="text-success">{{partner.userCreatedName}}</td>
                        <td>{{partner.addressVn}}</td>
                        <td>{{partner.tel}}</td>
                        <td>{{partner.fax}}</td>
                        <td>{{partner.datetimeModified | date:'dd/MM/yyyy' }}</td>
                        <td [ngClass]="partner.active ? 'text-success' : 'text-danger'">
                            {{partner.active ? 'Active' : 'Inactive'}}</td>
                        <td>{{partner.officeName}}</td>
                    </tr>
                    <tr class="collapse-toggle-row" class="collapse-panel-row" app-table-collapse-row
                        [id]="'ops-customer-00' + partner.id | removeTrim " [parentId]="'#ops-customer-list-table'">
                        <table class="table table-secondary dataTable">
                            <thead app-table-header [headers]="headerSalemans" (onClick)="sortBySaleman($event)">
                            </thead>
                            <tbody>
                                <ng-container>
                                    <tr *ngFor="let sale of saleMans; let j = index;">
                                        <td><span>{{j + 1}}</span></td>
                                        <td>
                                            <span>{{sale.service}}</span>
                                        </td>
                                        <td>
                                            <span>{{sale.office}}</span>
                                        </td>
                                        <td>
                                            <span>{{sale.company}}</span>
                                        </td>
                                        <td>
                                            <span>{{sale.username}}</span>
                                        </td>
                                        <td [ngClass]="sale.status ? 'text-success' : 'text-danger'">
                                            {{sale.status ? 'Active' : 'Inactive'}}</td>
                                        <td>
                                            <span>{{sale.createDate | date: 'dd/MM/yyyy'}}</span>
                                        </td>
                                    </tr>
                                    <tr *ngIf="saleMans.length == 0" app-table-none-record
                                        [colspan]="headerSalemans.length">
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </tr>
                </ng-container>
            </ng-container>
            <tr *ngIf="!isLoading && !partners.length" app-table-none-record></tr>
            <tr *ngIf="isLoading" app-table-row-loading></tr>
        </tbody>
    </table>
</div>
<app-pagination [total]="totalItems" [pageNum]="page" [itemPerPage]="pageSize" (onChange)="updatePagingData($event)">
</app-pagination>