<div class="modal fade" bsModal #popup="bs-modal" role="dialog">
    <div class="modal-dialog c-modal-fullscreen" role="document">
        <div class="modal-content" *ngIf="!!CdNoteDetail">
            <div class="modal-header">
                <h5 class="modal-title">Detail
                    <b><span class="text-warning">{{CdNoteDetail.cdNote.type === 'CREDIT' ? 'Credit Note':
                            CdNoteDetail.cdNote.type === 'DEBIT' ? 'Debit Note' : 'Invoice'}}</span></b>
                    No: <b class="text-warning">{{CdNoteDetail.cdNote.code}}</b>
                </h5>
                <button type="button" class="close" (click)="closePopup()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-actions c-button-actions">
                    <div class="dropdown m-dropdown m-dropdown--inline">
                        <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown">
                            <i class="la la-download"></i>Export<span class="caret"></span>
                        </button>
                        <div class="dropdown-menu" role="menu" aria-labelledby="button-nested">
                            <a class="dropdown-item pointer" (click)="preview(false)">Preview with USD/VND</a>
                            <a class="dropdown-item pointer" (click)="preview(true)">Preview with Original</a>
                            <a class="dropdown-item pointer" (click)="previewCdNote('USD')">Preview with USD</a>
                            <a class="dropdown-item pointer" (click)="previewCdNote('VND')">Preview with Local</a>
                            <a class="dropdown-item pointer" (click)="exportCDNote()">Export Excel Template</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="m-form m-form--state">
                    <div class="div-inside bg-secondary m--margin-bottom-15">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="m--margin-top-5">
                                    <span class="font-weight-bold"> Subject To : </span>
                                    {{CdNoteDetail.partnerNameEn}}
                                </div>
                                <div class="d-flex m--margin-top-5">
                                    <span class="font-weight-bold"> Address: </span>
                                    {{CdNoteDetail.partnerShippingAddress}}
                                </div>
                                <div class="m--margin-top-5">
                                    <span class="font-weight-bold"> Tel: </span>
                                    {{CdNoteDetail.partnerTel}}
                                </div>
                                <div class="m--margin-top-5">
                                    <span class="font-weight-bold"> Taxcode: </span>
                                    {{CdNoteDetail.partnerTaxcode}}
                                </div>
                                <div class="m--margin-top-5">
                                    <span class="font-weight-bold">Sync Status: </span>
                                    <span [ngSwitch]="CdNoteDetail.syncStatus">
                                        <span *ngSwitchCase="'Synced'"
                                            class="m--margin-left-5 m-badge m-badge--success m-badge--wide">{{CdNoteDetail.syncStatus}}</span>
                                        <span *ngSwitchCase="'Rejected'"
                                            class="m--margin-left-5 m-badge m-badge--danger m-badge--wide">{{CdNoteDetail.syncStatus}}</span>
                                        <span *ngSwitchCase="'Removed Inv'"
                                            class="m--margin-left-5 m-badge m-badge--danger m-badge--wide">{{CdNoteDetail.syncStatus}}</span>
                                        <span *ngSwitchDefault
                                            class="m--margin-left-5 m-badge m-badge--wide">{{CdNoteDetail.syncStatus}}</span>
                                    </span>
                                </div>
                                <div class="m--margin-top-5">
                                    <span class="font-weight-bold">Last Sync: </span>
                                    <span>{{CdNoteDetail.lastSyncDate | date:'dd/MM/yyyy HH:mm:ss'}}</span>
                                </div>
                                <div class="m--margin-top-5">
                                    <span class="font-weight-bold">Reason Reject: </span>
                                    <span class="text-danger">{{CdNoteDetail.reasonReject}}</span>
                                </div>
                                <div class="m--margin-top-5">
                                    <span class="font-weight-bold"> Package Quantity: </span>
                                    {{ CdNoteDetail.sumPackages | number: '1.2-2' }}
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="m--margin-top-5">
                                    <span class="font-weight-bold"> Job ID: </span>
                                    {{CdNoteDetail.jobNo}}
                                </div>
                                <div class="m--margin-top-5">
                                    <span class="font-weight-bold"> Master Bill of Lading No: </span>
                                    {{CdNoteDetail.mbLadingNo}}
                                </div>
                                <div class="m--margin-top-5">
                                    <span class="font-weight-bold"> Service Mode: </span>
                                    {{CdNoteDetail.serviceMode}}
                                </div>
                                <div class="m--margin-top-5">
                                    <span class="font-weight-bold"> Service Date: </span>
                                    {{CdNoteDetail.serviceDate | date: 'dd/MM/yyyy'}}
                                </div>
                                <div class="m--margin-top-5">
                                    <span class="font-weight-bold"> Port of Loading: </span>
                                    {{ CdNoteDetail.pol }}, {{CdNoteDetail.polCountry}}
                                </div>
                                <div class="m--margin-top-5">
                                    <span class="font-weight-bold"> Port of Destination: </span>
                                    {{ CdNoteDetail.pod }}, {{CdNoteDetail.podCountry}}
                                </div>
                                <div class="m--margin-top-5">
                                    <span class="font-weight-bold"> G.W: </span>
                                    {{ CdNoteDetail.gw | number: '1.2-2' }}
                                </div>
                                <div class="m--margin-top-5">
                                    <span class="font-weight-bold">Container Quantity: </span>
                                    {{ CdNoteDetail.sumContainers | number: '1.2-2' }}
                                </div>
                                <div class="m--margin-top-5" *ngIf="CdNoteDetail.cdNote.type !== 'CREDIT'">
                                    <span class="font-weight-bold"> Salesman: </span>
                                    {{ CdNoteDetail.salemanName }}
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="m--margin-top-5">
                                    <span class="font-weight-bold"> House Bill of Lading No: </span>
                                    {{CdNoteDetail.hbLadingNo}}
                                </div>
                                <div class="m--margin-top-5">
                                    <span class="font-weight-bold">Product Service: </span>
                                    {{CdNoteDetail.productService}}
                                </div>
                                <div class="m--margin-top-5">
                                    <span class="font-weight-bold">Shipment Mode: </span>
                                    {{CdNoteDetail.jobNo}}
                                </div>
                                <div class="m--margin-top-5">
                                    <span class="font-weight-bold">Finish Date: </span>
                                    {{CdNoteDetail.etd | date: 'dd/MM/yyyy'}}
                                </div>
                                <div class="m--margin-top-5">
                                    <span class="font-weight-bold"> CBM: </span>
                                    {{ CdNoteDetail.cbm | number: '1.2-2' }}
                                </div>
                                <div class="m--margin-top-5">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <span class="font-weight-bold"> Currency: </span>
                                            <span class="text-info">{{ CdNoteDetail.currency }}</span>
                                        </div>
                                        <div class="col-md-6">
                                            <span class="font-weight-bold"> Exc Rate: </span>
                                            {{ CdNoteDetail.exchangeRate | number:'1.0-3'}}
                                        </div>
                                    </div>
                                </div>
                                <div class="m--margin-top-5">
                                    <span class="font-weight-bold">SOA: </span>
                                    {{CdNoteDetail.soaNo}}
                                </div>
                                <div class="m--margin-top-5">
                                    <span class="font-weight-bold">Note: </span>
                                    <span>{{CdNoteDetail.note}}</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <ng-container *ngIf="!!CdNoteDetail
                    &&CdNoteDetail.cdNote.type === 'DEBIT'
                    &&CdNoteDetail.cdNote.syncStatus !== 'Synced'
                    &&CdNoteDetail.cdNote.currencyId ==='VND'
                    &&CdNoteDetail.listSurcharges.length > 0">
                        <div class="div-inside">
                            <div class="m--align-right foat-right">
                                <button class="btn btn-success m-btn--icon m-btn--uppercase"
                                    (click)="adjustDebitValue()" title=" Adjust Debit Value">
                                    <span><i class="la la-edit"></i><span>Adjust Debit Value</span></span>
                                </button>
                            </div>
                        </div>
                    </ng-container>

                    <div class="table-wrapper fit-height-div">
                        <table class="table table-striped table-brand dataTable">
                            <thead app-table-header [headers]="headers" (onClick)="sortBy($event.sortField)"></thead>
                            <tbody class="tbody-group">
                                <tr class="" *ngFor="let item of CdNoteDetail.listSurcharges;let i = index;"
                                    [class.synced-row]="item.isSynced">
                                    <td>
                                        <span>{{item.hwbno}}</span>
                                    </td>
                                    <td>
                                        <span>{{item.chargeCode}}</span>
                                    </td>
                                    <td>
                                        <span>{{item.nameEn}}</span>
                                    </td>
                                    <td class='m--align-right'>
                                        <span>{{item.quantity}}</span>
                                    </td>
                                    <td>
                                        <span>{{item.unit}}</span>
                                    </td>
                                    <td class='m--align-right'>
                                        <span>{{item.unitPrice | number:'1.0-3'}}</span>
                                    </td>
                                    <td>
                                        <span>{{item.currencyId}}</span>
                                    </td>
                                    <td class='m--align-right'>
                                        <span>{{item.vatrate}}</span>
                                    </td>
                                    <td class='m--align-right'>
                                        <span>{{ item.currencyId ==='USD'? (item.credit | number:'1.2-2'):(item.credit |
                                            number:'1.0-0')}}</span>
                                    </td>
                                    <td class='m--align-right'>
                                        <span>{{ item.currencyId ==='USD'? (item.debit | number:'1.2-2'):(item.debit |
                                            number:'1.0-0')}}</span>
                                    </td>
                                    <ng-container *ngIf="CdNoteDetail.cdNote.type === 'DEBIT'">
                                        <td>
                                            <span>{{item.amountVnd+item.vatAmountVnd | number:'1.2-2'}}</span>
                                        </td>
                                        <td>
                                            <span>{{item.amountUsd+item.vatAmountUsd | number:'1.2-2'}}</span>
                                        </td>
                                    </ng-container>
                                    <td>
                                        <span>{{item.notes}}</span>
                                    </td>
                                    <td class='m--align-right'>
                                        <span>{{item.exchangeRate | number:'1.0-3'}}</span>
                                    </td>
                                    <td>
                                        <span class="text-danger">{{item.syncedFromBy}}</span>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="m--margin-top-10">
                        <div class="m-alert m-alert--square alert alert-info m--align-right m--marginless">
                            <div class="row">
                                <div class="col">
                                    <strong>Total Credit:</strong><span class="m--margin-left-5">{{totalCredit}}</span>
                                </div>
                                <div class="col-md-auto">
                                    <strong>Total Dedit:</strong> <span class="m--margin-left-5">{{totalDebit}}</span>
                                </div>
                                <ng-container *ngIf="!!CdNoteDetail
                                &&CdNoteDetail.cdNote.type === 'DEBIT'
                                &&CdNoteDetail.cdNote.currencyId ==='VND'
                                &&CdNoteDetail.listSurcharges.length > 0">
                                <!-- &&CdNoteDetail.cdNote.syncStatus !== 'Synced' -->
                                    <div class="col-md-auto">
                                        <strong>Total Adjust:</strong> <span
                                            class="m--margin-left-5">{{totalAdjustVND}}</span>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        <div class="m-alert m-alert--square alert alert-brand m--align-right m--marginless">
                            <strong>Balance Amount:</strong><span class="m--margin-left-5">{{balanceAmount}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer m--align-center">
                <button class="btn btn-danger  m-btn--icon m-btn--uppercase"
                    *ngIf="CdNoteDetail.syncStatus !== 'Synced'" (click)="checkDeleteCdNote(CdNoteDetail.cdNote.id)">
                    <span>
                        <i class="la la-trash"></i>
                        <span>
                            Delete note
                        </span>
                    </span>
                </button>
                <button class="btn btn-success  m-btn--icon m-btn--uppercase"
                    *ngIf="CdNoteDetail.syncStatus !== 'Synced' && CdNoteDetail.syncStatus !== 'Removed Inv'"
                    (click)="openPopupEdit()">
                    <span>
                        <i class="la la-edit"></i>
                        <span>
                            Edit detail
                        </span>
                    </span>
                </button>
                <button class="btn btn-info  m-btn--icon m-btn--uppercase" (click)="showConfirmed()"
                    *ngIf="CdNoteDetail.syncStatus !== 'Synced' && CdNoteDetail.syncStatus !== 'Removed Inv'"
                    title="Send to Accountant">
                    <span>
                        <i class="la la-cloud-upload"></i>
                        <span>
                            Send to Acc
                        </span>
                    </span>
                </button>
                <button type="button" class="btn btn-cancel  m-btn--icon m-btn--uppercase" (click)="closePopup()">
                    <span>
                        <i class="la la-ban"></i>
                        <span>
                            Return
                        </span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>

<ops-cd-note-add-popup (onUpdate)="onUpdateCdNote($event)"></ops-cd-note-add-popup>

<ng-template inject></ng-template>

<payment-method-popup (onApply)="onApplyPaymentMethod($event)"></payment-method-popup>

<adjust-debit-value-popup (onSave)="onSaveAdjustDebit()"></adjust-debit-value-popup>