<!--begin:: subheader-->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <app-breadcrumb></app-breadcrumb>
        </div>
        <div class="c-button-actions">
            <button type="button" class="btn btn-success m-btn--square m-btn--icon m-btn--uppercase"
                routerLink="/home/accounting/statement-of-account-edit">
                <span>
                    <i class="la la-edit"></i>
                    <span>
                        Edit
                    </span>
                </span>
            </button>
            <button type="button" class="btn btn-default m-btn--square m-btn--icon m-btn--uppercase">
                <span>
                    <i class="la la-print"></i>
                    <span>
                        Print
                    </span>
                </span>
            </button>
            <button type="button" class="btn btn-danger m-btn--square m-btn--icon m-btn--uppercase">
                <span>
                    <i class="la la-upload"></i>
                    <span>
                        export
                    </span>
                </span>
            </button>
        </div>
    </div>
</div>
<!--end:: subheader-->

<!--begin:: m-content -->
<div class="m-content">
    <!--begin:: m-portlet-->
    <div class="m-portlet">
        <!--begin::Form-->
        <div class="m-form m-form--state">
            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-lg-4 m--margin-bottom-10">
                        <span class="m--font-bolder">SOA no:</span>
                        <span class="m--font-brand m--margin-left-5">0123456</span>
                    </div>
                    <div class="col-lg-4  m--margin-bottom-10">
                        <span class="m--font-bolder">From Date:</span>
                        <span class="m--font-brand m--margin-left-5">09/04/2019</span>
                        <span class="m--font-bolder m--margin-left-5">To Date:</span>
                        <span class="m--font-brand m--margin-left-5">09/04/2019</span>
                    </div>
                    <div class="col-lg-4 m--margin-bottom-10">
                        <span class="m--font-bolder">Partner Name:</span>
                        <span class="m--font-danger m--margin-left-5">ITL Corp</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 m--margin-bottom-10">
                        <span class="m--font-bolder">Status:</span>
                        <span class="m--font-danger m--margin-left-5">New</span>
                    </div>
                    <div class="col-lg-4 m--margin-bottom-10">
                        <span class="m--font-bolder">Currency:</span>
                        <span class="m--font-brand m--margin-left-5">USD</span>
                    </div>
                    <div class="col-lg-4 m--margin-bottom-10">
                        <span class="m--font-bolder">Total Amount:</span>
                        <span class="m--font-brand m--margin-left-5">40000</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4  m--margin-bottom-10">
                        <span class="m--font-bolder">Total Shipment:</span>
                        <span class="m--font-brand m--margin-left-5">ITL corp</span>
                    </div>
                    <div class="col-lg-8  m--margin-bottom-10">
                        <span class="m--font-bolder">Note:</span>
                        <span class="m--font-brand m--margin-left-5">Xem SOA</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 m--margin-bottom-10">
                        <span class="m--font-bolder">Create Date:</span>
                        <span class="m--font-brand m--margin-left-5">09/04/2019 00:09</span>
                        <span class="m--font-bolder m--margin-left-5">by</span>
                        <span class="m--font-brand m--margin-left-5">Alex Phương</span>
                    </div>
                    <div class="col-lg-4  m--margin-bottom-10">
                        <span class="m--font-bolder">Modified Date:</span>
                        <span class="m--font-brand m--margin-left-5">09/04/2019 00:09</span>
                        <span class="m--font-bolder m--margin-left-5">by</span>
                        <span class="m--font-brand m--margin-left-5">Alex Phương</span>
                    </div>
                </div>
            </div>
        </div>
        <!--end::Form-->
    </div>
    <!--end:: m-portlets-->

    <!--begin:: m-portlet-->
    <div class="m-portlet">
        <div class="m-portlet__body">
            <!--begin:: search-form-->
            <div class="m-form m--margin-bottom-10">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="m-input-icon m-input-icon--right">
                            <input type="text" class="form-control m-input m-input--square" placeholder="Search">
                            <span class="m-input-icon__icon m-input-icon__icon--right">
                                <span>
                                    <i class="la la-search"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::search-form-->
            <!--begin: Datatable-->
            <div class="table-wrapper  table-scrollable fit-height-div">
                <table class="table table-striped table-brand dataTable">
                    <thead>
                        <tr>
                            <th class="sorting">
                                <span>Charge Code</span>
                            </th>
                            <th class="sorting">
                                <span>Charge Name</span>
                            </th>
                            <th class="sorting">
                                <span>JobID</span>
                            </th>
                            <th class="sorting">
                                <span>HBL</span>
                            </th>
                            <th class="sorting">
                                <span>MBL</span>
                            </th>
                            <th class="sorting">
                                <span>Custom No</span>
                            </th>
                            <th class="sorting">
                                <span>Debit</span>
                            </th>
                            <th class="sorting">
                                <span>Credit</span>
                            </th>
                            <th class="sorting">
                                <span>Currency</span>
                            </th>
                            <th class="sorting">
                                <span>Invoice No</span>
                            </th>
                            <th class="sorting">
                                <span>Services Date</span>
                            </th>
                            <th class="sorting">
                                <span>Note</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="tbody-group">
                        <tr>
                            <td>
                                <span>Text</span>
                            </td>
                            <td>
                                <span>Text</span>
                            </td>
                            <td>
                                <span>Text</span>
                            </td>
                            <td>
                                <span>Text</span>
                            </td>
                            <td>
                                <span>Text</span>
                            </td>
                            <td>
                                <span>Text</span>
                            </td>
                            <td>
                                <span>Text</span>
                            </td>
                            <td>
                                <span>Text</span>
                            </td>
                            <td>
                                <span>Text</span>
                            </td>
                            <td>
                                <span>Text</span>
                            </td>
                            <td>
                                <span>Text</span>
                            </td>
                            <td>
                                <span>Text</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--end: Datatable-->
            <!--begin::pagination-->
            <div class="pagination-nav">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="tatable__pager-size" style="max-width: 190px">
                            <div class="select-box">
                                <select class="form-control m-input m-input--square" id="" aria-label="">
                                    <option value="1">15 line/screen</option>
                                    <option value="2">30 line/screen</option>
                                    <option value="3">50 line/screen</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <nav aria-label="">
                            <ul class="pagination justify-content-end">
                                <li class="page-item"><a class="page-link" href="javascript:void(0)">First</a></li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0)">Back</a></li>
                                <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0)">Next</a></li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0)">Last</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!--end::pagination-->
        </div>
    </div>
    <!--end::  m-portlet-->

    <!--begin:: m-portlet-->
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text collapse-toggle" data-toggle="collapse" data-target="#soa-summary">
                        <i class="la la-angle-up m--margin-right-5"></i> Summary
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="collapse show" id="soa-summary">
                <!--begin: table -->
                <div class="table-wrapper" id="">
                    <table class="table table-striped table-brand">
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                    <span>Total Debit</span>
                                </th>
                                <th>
                                    <span>Total Credit</span>
                                </th>
                                <th>
                                    <span>Balance</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <span>Local (VNĐ)</span>
                                </td>
                                <td>
                                    <span></span>
                                </td>
                                <td>
                                    <span></span>
                                </td>
                                <td>
                                    <span></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>USD</span>
                                </td>
                                <td>
                                    <span></span>
                                </td>
                                <td>
                                    <span></span>
                                </td>
                                <td>
                                    <span></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--end: table -->
            </div>
        </div>
    </div>
    <!--end:: m-portlet-->

    <div class="form-actions m--align-right">
        <button class="btn btn-brand m-btn--square m-btn--icon m-btn--uppercase">
            <span>
                <i class="la la-save"></i>
                <span>
                    Save
                </span>
            </span>
        </button>
        <button type="button" class="btn btn-cancel m-btn--square m-btn--icon m-btn--uppercase">
            <span>
                <i class="la la-ban"></i>
                <span>
                    cancel
                </span>
            </span>
        </button>
    </div>
</div>
<!--end:: m-content-->