<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <app-breadcrumb></app-breadcrumb>
        </div>
        <div class="c-button-actions">
            <app-permission-button title="Add New" routerLink="/home/catalogue/charge/addnew"></app-permission-button>

            <div class="dropdown m-dropdown m-dropdown--inline no-arrow">

                <app-permission-button data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Import"
                    type="import">
                </app-permission-button>

                <div class="dropdown-menu" aria-labelledby="">
                    <a routerLink="/home/catalogue/charge/import" class="dropdown-item" href="javascript:void(0)">Import
                        charge</a>
                    <a routerLink="/home/catalogue/charge/import-account-voucher" class="dropdown-item"
                        href="javascript:void(0)">Import account voucher</a>
                </div>
            </div>

            <app-permission-button type="export" (click)="export()" title="Export"></app-permission-button>

        </div>
    </div>
</div>

<div class="m-content">

    <form-search-charge (onSearch)="onSearchCharge($event)"></form-search-charge>

    <div class="m-portlet">
        <div class="m-portlet__body">
            <div class="table-wrapper" id="">
                <table class="table table-striped table-brand dataTable">
                    <thead app-table-header [headers]="headers"
                        (onClick)="sortBy($event.sortField ? $event.sortField : '')">
                        <th class="m--w-50 first">Actions
                        </th>
                    </thead>
                    <tbody *ngIf="ListCharges">
                        <ng-container *ngIf="!!ListCharges.length">
                            <tr *ngFor="let item of ListCharges">
                                <td class="table-actions-col">
                                    <div class="table-actions" style="width: 70px">
                                        <button type="button"
                                            class="btn btn-success btn-sm m-btn--square m-btn--icon m-btn--icon-only"
                                            (click)="viewDetail(item)" title="Edit stage">
                                            <i class="la la-edit"></i>
                                        </button>
                                        <button type="button"
                                            class="btn btn-danger btn-sm m-btn--square m-btn--icon m-btn--icon-only"
                                            title="Remove stage" (click)="prepareDeleteCharge(item.id)">
                                            <i class="la la-trash"></i>
                                        </button>
                                    </div>
                                </td>
                                <td>
                                    <span>{{item.code}}</span>
                                </td>
                                <td>
                                    <span>{{item.chargeNameEn}}</span>
                                </td>
                                <td>
                                    <span>{{item.chargeNameVn}}</span>
                                </td>
                                <td>
                                    <span>{{item.type}}</span>
                                </td>
                                <td>
                                    <span [ngClass]="item.active ? 'text-success' : 'text-danger'">
                                        {{ item.active ? 'Active' : 'Inactive'}}
                                    </span>
                                </td>
                            </tr>
                        </ng-container>
                        <tr *ngIf="!ListCharges.length && !isLoading" app-table-none-record
                            [colspan]="headers.length + 1">
                        </tr>
                        <tr *ngIf="isLoading" app-table-row-loading>
                        </tr>
                    </tbody>

                </table>
            </div>
            <div class="pagination-nav ">
                <div class="row">
                    <div *ngIf="!!ListCharges.length" class="col-sm-6">
                        <div class="tatable__pager-size">
                            <div class="select-box">
                                <select class="form-control" id="" aria-label="" [(ngModel)]="pageSize"
                                    (change)="selectPageSize(pageSize, dataSearch)" name="pagesize">
                                    <ng-container *ngFor="let item of numberToShow; let i = index; trackBy: trackByFn">
                                        <option [ngValue]="item">{{item}} line / screen</option>
                                    </ng-container>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" *ngIf="totalItems > pageSize">
                        <div class="float-right">
                            <pagination [boundaryLinks]="true" [maxSize]=5 [totalItems]="totalItems"
                                [itemsPerPage]="pageSize" (pageChanged)="pageChanged($event)" [(ngModel)]="page">
                            </pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<confirm-popup [body]="'You want to delete this Charge?'" [labelConfirm]="'Yes'" (onSubmit)="onDeleteCharge()">
</confirm-popup>

<permission-403-popup></permission-403-popup>