<div class="acc-receive-payable-wrapper  m-animate-fade-in">
    <app-sub-header> </app-sub-header>
    <div class="m-content">
        <div class="m-portlet__body">
            <form-search-account-receivable-payable (onSearch)="onSearchPayment($event)">
            </form-search-account-receivable-payable>

            <tabset class="custom-class-tab">
                <tab heading="Invoice Payment" (selectTab)="onSelectTabLocation('INVOICE')">
                    <list-invoice-account-receivable-payable
                        (onUpdateExtendDateOfInvoice)="handleUpdateExtendDateOfInvoice()">
                    </list-invoice-account-receivable-payable>
                </tab>
                <tab heading="OBH Payment" (selectTab)="onSelectTabLocation('OBH')">
                    <list-obh-account-receivable-payable></list-obh-account-receivable-payable>
                </tab>
            </tabset>
        </div>
    </div>
</div>