<div class="acc-receive-payable-wrapper  m-animate-fade-in">
    <app-sub-header> </app-sub-header>
    <div class="m-content">
        <div class="m-portlet__body">
            <tabset class="custom-class-tab">
                <tab heading="Account Payment" [active]="true" (selectTab)="changeTabAccount('payment')">
                    <form-search-account-payment (onSearch)="onSearchPayment($event)">
                    </form-search-account-payment>

                    <tabset class="custom-class-tab">
                        <tab heading="Invoice Payment" (selectTab)="onSelectTabLocation('INVOICE')">
                            <list-invoice-account-payment (onUpdateExtendDateOfInvoice)="handleUpdateExtendDateOfInvoice()">
                            </list-invoice-account-payment>
                        </tab>
                        <tab heading="OBH Payment" (selectTab)="onSelectTabLocation('OBH')">
                            <list-obh-account-payment (onUpdateExtendDateOfOBH)="handleUpdateExtendDateOfOBH()">
                            </list-obh-account-payment>
                        </tab>
                    </tabset>

                </tab>
                <tab heading="Account Receivable" (selectTab)="changeTabAccount('receivable')">

                </tab>
            </tabset>
        </div>
    </div>
</div>