.form-department {
    .upload-image-wp {
        .image-upload-content {
            width: 300px;
            min-height: 150px;
            margin: 0px auto;
        }
        img {
            width: 200px;
        }
    }
}