.context-menu-wrapper {
    background-color: #fff;
    padding: 4px 8px;
    font-size: 1.1rem;
    box-shadow: 0 0 12pt rgba(0, 0, 0, 0.25);
    border-radius: 4pt;
    animation: fadeIn 0.1s ease-out;
    opacity: 1;
    display: block;
    .menu-context__item {
        cursor: pointer;
        display: block;
        text-decoration: none;
        color: #333;
        padding: 0.25em 0.75em 0.25em 0.75em;
        max-width: 18em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 13px;
        &:hover {
            background: #3966b6;
            color: #fff;
            &.disabled {
                background: unset;
            }
            i {
                color: #fff !important;
            }
        }

        i {
            margin-right: 5px;
        }
        &.disabled {
            cursor: not-allowed;
            color: #999999;
            &:hover {
                color: #999999;
            }
            i {
                color: #999999 !important;
            }
        }
    }
    hr {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}
