<div class="modal fade" id="ops-add-stage-modal" data-backdrop="static" role="dialog" aria-labelledby=""
    aria-hidden="true">
    <div class="modal-dialog c-modal-fullscreen" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Credit/Debit Note</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--begin::Form-->
                <div class="m-form m-form--state">
                    <!-- <ul class="list-group">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul> -->

                    <!-- <div cdkDropList (cdkDropListDropped)="dropped($event)">
                        <div cdkDrag *ngFor="let number of numbers" class="pop">{{ number.name }}</div>
                    </div> -->
                    <!--begin:: add-stage-block-->
                    <div class="add-stage-block">
                        <div class="row">
                            <div class="col-sm-5 add-stage-list-table">
                                <!--begin: add-stage-list-table -->
                                
                                <div class="list-group">
                                    <div class="list-group-item title-group-item">
                                        <div class="row">
                                            <div class="col-sm-1">
                                                <label class="m-checkbox">
                                                    <input type="checkbox">
                                                    <span></span>
                                                </label>
                                            </div>
                                            <div class="col-sm-4">
                                                <span>stage code</span>
                                            </div>
                                            <div class="col-sm-4">
                                                <span>Stage name</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-group-item filter-group-item">
                                        <div class="row">
                                            <div class="col-sm-1">&nbsp;</div>
                                            <div class="col-sm-3">
                                                <span>
                                                    <input type="text" class="form-control form-control-sm m-input m-input--square" placeholder="Filter">
                                                </span>
                                            </div>
                                            <div class="col-sm-4">
                                                <span>
                                                    <input type="text" class="form-control form-control-sm m-input m-input--square" placeholder="Filter">
                                                </span>
                                            </div>
                                            <div class="col-sm-4">
                                                <span>
                                                    <input type="text" class="form-control form-control-sm m-input m-input--square" placeholder="Filter">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="list-group">
                                    <div *ngFor="let number of numbers" class="list-group-item">
                                        <div class="row">
                                            <div class="col-sm-1">
                                                <label class="m-checkbox">
                                                    <input type="checkbox">
                                                    <span></span>
                                                </label>
                                            </div>
                                            <div class="col-sm-5">
                                                <span>stage code</span>
                                            </div>
                                            <div class="col-sm-6">
                                                <span>stage name</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end: add-stage-list-table -->
                            </div>
    
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-success btn-block m-btn--square m-btn--icon m-btn--uppercase">
                                    <span>
                                        <i class="la la-arrow-right"></i>
                                        <span>
                                            add
                                        </span>
                                    </span>
                                </button>
                                <button type="reset" class="btn btn-danger btn-block m-btn--square m-btn--icon m-btn--uppercase">
                                    <span>
                                        <i class="la la-arrow-left"></i>
                                        <span>
                                            remove
                                        </span>
                                    </span>
                                </button>
                            </div>
    
                            <div class="col-sm-5">
                                <!--begin: -->
                                <div class="list-group">
                                    <div class="list-group-item title-group-item">
                                        <div class="row">
                                            <div class="col-sm-1">
                                                <label class="m-checkbox">
                                                    <input type="checkbox">
                                                    <span></span>
                                                </label>
                                            </div>
                                            <div class="col-sm-3">
                                                <span>Stage order</span>
                                            </div>
                                            <div class="col-sm-4">
                                                <span>Stage code</span>
                                            </div>
                                            <div class="col-sm-4">
                                                <span>Stage name</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-group-item filter-group-item">
                                        <div class="row">
                                            <div class="col-sm-1">&nbsp;</div>
                                            <div class="col-sm-3">
                                                <span>
                                                    <input type="text" class="form-control form-control-sm m-input m-input--square" placeholder="Filter">
                                                </span>
                                            </div>
                                            <div class="col-sm-4">
                                                <span>
                                                    <input type="text" class="form-control form-control-sm m-input m-input--square" placeholder="Filter">
                                                </span>
                                            </div>
                                            <div class="col-sm-4">
                                                <span>
                                                    <input type="text" class="form-control form-control-sm m-input m-input--square" placeholder="Filter">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div cdkDropList (cdkDropListDropped)="dropped($event)" class="list-group">
                                    <div cdkDrag *ngFor="let number of numbers" class="list-group-item">
                                        <div class="row">
                                            <div class="col-sm-1">
                                                <label class="m-checkbox">
                                                    <input type="checkbox">
                                                    <span></span>
                                                </label>
                                            </div>
                                            <div class="col-sm-3">
                                                <span>{{ number.id }}</span>
                                            </div>
                                            <div class="col-sm-4">
                                                <span>stage code</span>
                                            </div>
                                            <div class="col-sm-4">
                                                <span>{{ number.name }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end: -->
                            </div>
                        </div>
                    </div>
                    <!--end:: add-stage-block-->
                </div>
                <!--end::Form-->
            </div>
            <div class="modal-footer m--align-center">
                <button class="btn btn-brand m-btn--square m-btn--icon m-btn--uppercase">
                    <span>
                        <i class="la la-save"></i>
                        <span>
                            Save
                        </span>
                    </span>
                </button>
                <button type="button" class="btn btn-cancel m-btn--square m-btn--icon m-btn--uppercase" data-dismiss="modal">
                    <span>
                        <i class="la la-ban"></i>
                        <span>
                            cancel
                        </span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>