<div class="create-commercial-page">
    <app-sub-header> </app-sub-header>

    <div class="m-content">
        <div class="m-portlet">
            <div class="m-portlet__body">
                <div class="d-flex align-items-center justify-content-between p-1 mb-2">
                    <h3 class="w-75 text-primary">
                        Account Receivable Detail
                    </h3>

                    <app-default-button class="mb-2" [buttonSetting]="backButtonSetting" (click)="goBack()">
                    </app-default-button>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="alert-block__heading font-weight-bold row m-0 pl-0 pr-0">
                            <div class="col-lg-8">
                                <h5><span class="text-success">Customer:</span> {{accReceivableDetail.partnerCode}} -
                                    {{accReceivableDetail.partnerNameEn}}</h5>
                            </div>

                            <div class="col-lg-4">
                                <span class="collapse-toggle" data-toggle="collapse"
                                    data-target="#acc-receivable-detail">
                                    <i class="la la-angle-up m--margin-right-5 float-right"></i>
                                </span>
                            </div>
                        </div>

                        <div class="row collapse show" id="acc-receivable-detail">
                            <div class="col-lg-12">
                                <div class="row m--margin-top-20">
                                    <div class="col-lg-2">
                                        <div>
                                            <h6>Partner Name (ABBR) </h6>
                                        </div>

                                    </div>
                                    <div class="col-lg-5">
                                        <div>
                                            <h6>{{accReceivableDetail.partnerNameAbbr}}</h6>
                                        </div>

                                    </div>
                                    <div class="col-lg-1">
                                        <h6>Tax code </h6>
                                    </div>
                                    <div class="col-lg-4">
                                        <h6>{{accReceivableDetail.taxCode}}</h6>
                                    </div>
                                </div>
                                <div class="row m--margin-top-20">
                                    <div class="col-lg-2">
                                        <div>
                                            <h6>Partner Name (Local) </h6>
                                        </div>

                                    </div>
                                    <div class="col-lg-5">
                                        <div>
                                            <h6>{{accReceivableDetail.partnerNameLocal}}</h6>
                                        </div>

                                    </div>
                                    <div class="col-lg-1">
                                        <h6>Status </h6>
                                    </div>
                                    <div class="col-lg-4">
                                        <h6
                                            [ngClass]=" accReceivableDetail.partnerStatus === 'Active'  ? 'text-success' : 'text-danger'">
                                            {{accReceivableDetail.partnerStatus}}
                                        </h6>
                                    </div>
                                </div>
                                <hr />
                                <div class="row m--margin-top-20">
                                    <div class="col-lg-2">
                                        <div class="border border-top-0 border-left-0 border border-bottom-0">
                                            <h6>Agreement No</h6>
                                            <h6 class="my-3">Type</h6>
                                            <h6>Status</h6>
                                        </div>

                                    </div>
                                    <div class="col-lg-2">
                                        <div class="border border-top-0 border-left-0 border border-bottom-0">
                                            <h6>{{ accReceivableDetail.agreementNo }}&nbsp;</h6>
                                            <h6 class="my-3">{{ accReceivableDetail.agreementType }}&nbsp;</h6>
                                            <h6
                                                [ngClass]=" accReceivableDetail.agreementStatus === 'Active' ? 'text-success' : 'text-danger'">
                                                {{accReceivableDetail.agreementStatus}}&nbsp;
                                            </h6>

                                        </div>

                                    </div>
                                    <div class="col-lg-2">
                                        <div class="border border-top-0 border-left-0 border border-bottom-0">
                                            <h6>
                                                {{accReceivableDetail.agreementType === "Guaranteed" ? "Salesman" :"Effective Date"}}
                                            </h6>
                                            <h6 class="my-3">
                                                {{accReceivableDetail.agreementType === "Guaranteed" ? "Sales Credit Limited" :"Expired Date"}}
                                            </h6>
                                            <h6>
                                                {{accReceivableDetail.agreementType === "Guaranteed" ? "Credit Term (Days)" :"Expired Days"}}

                                            </h6>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="border border-top-0 border-left-0 border border-bottom-0">
                                            <h6>{{accReceivableDetail.effectiveDate | date: 'dd/MM/yyyy'}}&nbsp;</h6>
                                            <h6 class="my-3">
                                                {{accReceivableDetail.expriedDate | date: 'dd/MM/yyyy'}}&nbsp;
                                            </h6>
                                            <h6
                                                [ngClass]="accReceivableDetail.agreementType === 'Guaranteed' ? null : 'text-danger'">{{ accReceivableDetail.agreementType === "Guaranteed" ? accReceivableDetail.creditTerm 
                                                : accReceivableDetail.expriedDay }}
                                                <span
                                                    *ngIf="(accReceivableDetail.expriedDay && accReceivableDetail.agreementType !== 'Guaranteed') || 
                                                (accReceivableDetail.creditTerm && accReceivableDetail.agreementType === 'Guaranteed')">
                                                    days</span>&nbsp;
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="border border-top-0 border-left-0 border border-bottom-0">
                                            <h6>
                                                {{accReceivableDetail.agreementType === "Guaranteed" ? "Credit Limit Rate" :"Credit limited"}}
                                            </h6>
                                            <h6 class="my-3">
                                                {{accReceivableDetail.agreementType === "Guaranteed" ? "Sales Debit Amount" :"Credit Term (Days)"}}

                                            </h6>
                                            <h6>
                                                {{accReceivableDetail.agreementType === "Guaranteed" ? "Sales Debit Rate" :"Credit Rate Limit"}}
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="border border-top-0 border-left-0 border border-bottom-0">
                                            <h6
                                                [ngClass]="accReceivableDetail.agreementType === 'Guaranteed' ? 'text-success': null ">
                                                {{ accReceivableDetail.agreementType === "Guaranteed" ? accReceivableDetail.creditRateLimit : accReceivableDetail.creditLimited | number: '.0-3'}}
                                                <span
                                                    *ngIf="(accReceivableDetail.creditLimited && accReceivableDetail.agreementType !== 'Guaranteed' )|| 
                                                    (accReceivableDetail.creditRateLimit && accReceivableDetail.agreementType === 'Guaranteed')">
                                                    {{ accReceivableDetail.agreementType === "Guaranteed" ? "%" : accReceivableDetail.agreementCurrency }}
                                                </span>&nbsp;
                                            </h6>
                                            <h6 class="my-3">
                                                {{ accReceivableDetail.agreementType === "Guaranteed" ? (accReceivableDetail.saleDebitAmount | number: '.0-3')
                                                : accReceivableDetail.creditTerm }}
                                                <span
                                                    *ngIf="(accReceivableDetail.creditTerm && accReceivableDetail.agreementType !== 'Guaranteed' )|| 
                                                    (accReceivableDetail.saleDebitAmount && accReceivableDetail.agreementType === 'Guaranteed') ">
                                                    {{accReceivableDetail.agreementType === "Guaranteed" ? "VND" : "days"}}
                                                </span>&nbsp;
                                            </h6>
                                            <h6
                                                [ngClass]="accReceivableDetail.agreementType === 'Guaranteed' ? 'text-danger' : 'text-success' ">
                                                {{ accReceivableDetail.agreementType === "Guaranteed" ? accReceivableDetail.saleDebitRate 
                                                : accReceivableDetail.creditRateLimit }}
                                                <span
                                                    *ngIf="(accReceivableDetail.creditRateLimit && accReceivableDetail.agreementType !== 'Guaranteed') || 
                                                    (accReceivableDetail.saleDebitRate && accReceivableDetail.agreementType === 'Guaranteed')">
                                                    %
                                                </span>&nbsp;
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row m--margin-top-20">
                                    <div class="col-lg-2">
                                        <div class="border border-top-0 border-left-0 border border-bottom-0">
                                            <h6>Debit Amount</h6>
                                            <h6 class="my-3">OBH Amount</h6>
                                            <h6 class="mb-3">Debit Rate (%)</h6>
                                            <h6>Cus Advance</h6>
                                        </div>

                                    </div>
                                    <div class="col-lg-2">
                                        <div class="border border-top-0 border-left-0 border border-bottom-0">
                                            <h6>{{ accReceivableDetail.debitAmount | number: '.0-3'}}
                                                <span *ngIf="accReceivableDetail.debitAmount">
                                                    {{ accReceivableDetail.arCurrency }}
                                                </span>&nbsp;
                                            </h6>
                                            <h6 class="my-3">{{ accReceivableDetail.obhAmount | number: '.0-3'}}
                                                <span *ngIf="accReceivableDetail.obhAmount">
                                                    {{ accReceivableDetail.arCurrency }}
                                                </span>&nbsp;
                                            </h6>
                                            <h6>
                                                <span
                                                    [ngClass]="accReceivableDetail.debitRate < 70 ? 'text-success' : accReceivableDetail.debitRate < 100 ? 'text-warning':'text-danger'">
                                                    {{ accReceivableDetail.debitRate}}
                                                </span>
                                                <span *ngIf="accReceivableDetail.debitRate !== null">
                                                    %
                                                </span>&nbsp;
                                            </h6>
                                            <h6 class="mt-3">{{ accReceivableDetail.cusAdvance | number: '.0-3'}}
                                                <span *ngIf="accReceivableDetail.cusAdvance">
                                                    {{ accReceivableDetail.arCurrency }}
                                                </span>&nbsp;
                                            </h6>
                                        </div>

                                    </div>
                                    <div class="col-lg-2">
                                        <div class="border border-top-0 border-left-0 border border-bottom-0">
                                            <h6>Billing </h6>
                                            <h6 class="my-3">Billing Unpaid </h6>
                                            <h6>Paid </h6>
                                            <h6 class="mt-3">Credit Amount</h6>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="border border-top-0 border-left-0 border border-bottom-0">
                                            <h6>{{ accReceivableDetail.billingAmount | number: '.0-3'}}
                                                <span *ngIf="accReceivableDetail.billingAmount">
                                                    {{ accReceivableDetail.arCurrency }}
                                                </span>&nbsp;
                                            </h6>
                                            <h6 class="my-3">{{ accReceivableDetail.billingUnpaid | number: '.0-3'}}
                                                <span *ngIf="accReceivableDetail.billingUnpaid">
                                                    {{ accReceivableDetail.arCurrency }}
                                                </span>&nbsp;
                                            </h6>
                                            <h6><span
                                                    class="text-danger">{{ accReceivableDetail.paidAmount | number: '.0-3'}}</span>
                                                <span *ngIf="accReceivableDetail.paidAmount">
                                                    {{ accReceivableDetail.arCurrency }}
                                                </span>&nbsp;
                                            </h6>
                                            <h6 class="mt-3"><span
                                                    class="text-primary">{{ accReceivableDetail.paidAmount | number: '.0-3'}}</span>
                                                <span *ngIf="accReceivableDetail.paidAmount">
                                                    {{ accReceivableDetail.arCurrency }}
                                                </span>&nbsp;
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="border border-top-0 border-left-0 border border-bottom-0">
                                            <h6>Over 1-15 days</h6>
                                            <h6 class="my-3">Over 16-30 days</h6>
                                            <h6>Over 30 days</h6>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="border border-top-0 border-left-0 border border-bottom-0">
                                            <h6><span
                                                    class="text-danger">{{ accReceivableDetail.over1To15Day | number: '.0-3' }}</span>
                                                <span *ngIf="accReceivableDetail.over1To15Day">
                                                    {{ accReceivableDetail.arCurrency }}
                                                </span>&nbsp;
                                            </h6>
                                            <h6 class="my-3"><span
                                                    class="text-danger">{{ accReceivableDetail.over16To30Day | number: '.0-3'}}</span>
                                                <span *ngIf="accReceivableDetail.over16To30Day">
                                                    {{ accReceivableDetail.arCurrency }}
                                                </span>&nbsp;
                                            </h6>
                                            <h6><span
                                                    class="text-danger">{{ accReceivableDetail.over30Day | number: '.0-3'}}</span>
                                                <span *ngIf="accReceivableDetail.over30Day">
                                                    {{ accReceivableDetail.arCurrency }}
                                                </span>&nbsp;
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row m--margin-top-20">
                    <div class="col-lg-12">
                        <div class="alert-block__heading font-weight-bold row m-0 pl-0 pr-0">
                            <div class="col-lg-12">
                                <h5>More Detail</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 m--margin-top-20">
                                <div class="table-wrapper table-scrollable" id="obh-payment-table">
                                    <table class="table table-hover table-brand dataTable table-hover">
                                        <thead app-table-header [headers]="headers"
                                            (onClick)="sortBy($event.sortField)">
                                            <th class="m--w-50 first table-actions-col">
                                                Action
                                            </th>
                                        </thead>
                                        <tbody>
                                            <ng-container>
                                                <ng-container
                                                    *ngFor="let item of accReceivableMoreDetail; let i = index; trackBy: trackByFn">
                                                    <tr class="collapse-toggle-row">
                                                        <td class="table-actions-col">
                                                            <div class="table-actions" style="width: 100px">
                                                                <button type="button"
                                                                    class="btn btn-sm m-btn--square m-btn--icon m-btn--icon-only collapsed"
                                                                    data-toggle="collapse"
                                                                    [attr.data-target]="'#id-00' + (i+1)"
                                                                    title="Collapse">
                                                                    <i class="la la-angle-up"></i>
                                                                </button>
                                                            </div>
                                                        </td>

                                                        <td>{{ item.officeName}}</td>
                                                        <td>{{ item.totalDebitAmount | number: '.0-3' }}
                                                        </td>

                                                        <td>{{ item.totalBillingAmount | number: '.0-3'}}
                                                        </td>
                                                        <td>{{ item.totalBillingUnpaid | number: '.0-3'}}
                                                        </td>
                                                        <td>{{ item.totalPaidAmount | number: '.0-3'}}
                                                        </td>
                                                        <td>{{ item.totalObhAmount | number: '.0-3'}}
                                                        </td>
                                                        <td>
                                                            <span [ngClass]="'text-danger'">
                                                                {{ item.totalOver1To15Day | number: '.0-3' }}
                                                            </span>
                                                        </td>
                                                        <td>
                                                            <span [ngClass]="'text-danger'">
                                                                {{ item.totalOver15To30Day | number: '.0-3' }}
                                                            </span>
                                                        </td>
                                                        <td>
                                                            <span [ngClass]="'text-danger'">
                                                                {{ item.totalOver30Day | number: '.0-3' }}
                                                            </span>
                                                        </td>

                                                    </tr>
                                                    <tr class="collapse-panel-row" app-table-collapse-row
                                                        [id]="'id-00' + (i + 1)" [parentId]="'#obh-payment-table'">
                                                        <table class="table table-secondary dataTable">
                                                            <thead app-table-header [headers]="subHeaders"
                                                                (onClick)="sortDetailGuaranteed($event.sortField, $event.order)">

                                                            </thead>
                                                            <tbody>
                                                                <ng-container>
                                                                    <tr
                                                                        *ngFor="let element of item.accountReceivableGrpServices; let j = index; trackBy: trackByFn">


                                                                        <td>{{ element.serviceName  }}
                                                                        </td>
                                                                        <td>{{ element.debitAmount | number: '.0-3'}}
                                                                        </td>

                                                                        <td>{{ element.billingAmount | number: '.0-3'}}
                                                                        </td>
                                                                        <td>{{ element.billingUnpaid | number: '.0-3'}}
                                                                        </td>
                                                                        <td>{{ element.paidAmount | number: '.0-3' }}
                                                                        </td>
                                                                        <td>{{ element.obhAmount | number: '.0-3' }}
                                                                        </td>
                                                                        <td>
                                                                            <span [ngClass]="'text-danger'">
                                                                                {{ element.over1To15Day | number: '.0-3' }}
                                                                            </span>
                                                                        </td>
                                                                        <td>
                                                                            <span [ngClass]="'text-danger'">
                                                                                {{ element.over16To30Day | number: '.0-3' }}
                                                                            </span>
                                                                        </td>
                                                                        <td>
                                                                            <span [ngClass]="'text-danger'">
                                                                                {{ element.over30Day | number: '.0-3' }}
                                                                            </span>
                                                                        </td>

                                                                    </tr>
                                                                </ng-container>
                                                                <tr app-table-none-record
                                                                    *ngIf="!item.accountReceivableGrpServices.length">
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </tr>


                                                </ng-container>
                                            </ng-container>
                                            <tr app-table-none-record *ngIf="!accReceivableMoreDetail.length">
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <app-pagination [total]="totalItems" [pageNum]="page" [itemPerPage]="pageSize"
                                    (onChange)="updatePagingData($event)"></app-pagination>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>