<div class="create-commercial-page">
    <app-sub-header> </app-sub-header>

    <div class="m-content">
        <div class="m-portlet">
            <div class="m-portlet__body">
                <div class="d-flex align-items-center justify-content-between p-1 mb-2">
                    <h3 class="w-75 text-primary">
                        Account Receivable Detail
                    </h3>
                    <app-permission-button class="mb-1" title="Back" (click)="goBack()" type="import">
                    </app-permission-button>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="alert-block__heading font-weight-bold row m-0 pl-0 pr-0">
                            <div class="col-lg-8">
                                <h5><span class="text-success">Customer:</span> {{accReceivableDetail.partnerId}} -
                                    {{accReceivableDetail.partnerNameEn}}</h5>
                            </div>

                            <div class="col-lg-4">
                                <span class="collapse-toggle" data-toggle="collapse"
                                    data-target="#acc-receivable-detail">
                                    <i class="la la-angle-up m--margin-right-5 float-right"></i>
                                </span>
                            </div>
                        </div>

                        <div class="row collapse show" id="acc-receivable-detail">
                            <div class="col-lg-12">
                                <div class="row m--margin-top-20">
                                    <div class="col-lg-2">
                                        <div>
                                            <h6>Partner Name (ABBR) </h6>
                                        </div>

                                    </div>
                                    <div class="col-lg-5">
                                        <div>
                                            <h6>{{accReceivableDetail.partnerNameAbbr}}</h6>
                                        </div>

                                    </div>
                                    <div class="col-lg-1">
                                        <h6>Tax code </h6>
                                    </div>
                                    <div class="col-lg-4">
                                        <h6>{{accReceivableDetail.taxCode}}</h6>
                                    </div>
                                </div>
                                <div class="row m--margin-top-20">
                                    <div class="col-lg-2">
                                        <div>
                                            <h6>Partner Name (Local) </h6>
                                        </div>

                                    </div>
                                    <div class="col-lg-5">
                                        <div>
                                            <h6>{{accReceivableDetail.partnerNameLocal}}</h6>
                                        </div>

                                    </div>
                                    <div class="col-lg-1">
                                        <h6>Status </h6>
                                    </div>
                                    <div class="col-lg-4">
                                        <h6
                                            [ngClass]=" accReceivableDetail.partnerStatus === 'Active'  ? 'text-success' : 'text-danger'">
                                            {{accReceivableDetail.partnerStatus}}
                                        </h6>
                                    </div>
                                </div>
                                <hr />
                                <div class="row m--margin-top-20">
                                    <div class="col-lg-2">
                                        <div class="border border-top-0 border-left-0 border border-bottom-0">
                                            <h6>Agreement No</h6>
                                            <h6 class="my-3">Type</h6>
                                            <h6>Status</h6>
                                        </div>

                                    </div>
                                    <div class="col-lg-2">
                                        <div class="border border-top-0 border-left-0 border border-bottom-0">
                                            <h6>{{ accReceivableDetail.agreementNo }}</h6>
                                            <h6 class="my-3">{{ accReceivableDetail.agreementType }}</h6>
                                            <h6
                                                [ngClass]=" accReceivableDetail.agreementStatus === 'Active' ? 'text-success' : 'text-danger'">
                                                {{accReceivableDetail.agreementStatus}}
                                            </h6>

                                        </div>

                                    </div>
                                    <div class="col-lg-2">
                                        <div class="border border-top-0 border-left-0 border border-bottom-0">
                                            <h6>Effective Date </h6>
                                            <h6 class="my-3">Expired Date </h6>
                                            <h6>Expired Days </h6>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="border border-top-0 border-left-0 border border-bottom-0">
                                            <h6>{{accReceivableDetail.effectiveDate | date: 'dd/MM/yyyy'}}</h6>
                                            <h6 class="my-3">{{accReceivableDetail.expriedDate | date: 'dd/MM/yyyy'}}
                                            </h6>
                                            <h6 class="text-danger">{{ accReceivableDetail.expriedDay }} days</h6>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="border border-top-0 border-left-0 border border-bottom-0">
                                            <h6>Credit limited</h6>
                                            <h6 class="my-3">Credit Term (Days)</h6>
                                            <h6>Credit Rate Limit</h6>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="border border-top-0 border-left-0 border border-bottom-0">
                                            <h6>{{ accReceivableDetail.creditLimited | number: '.0-3'}}</h6>
                                            <h6 class="my-3">{{ accReceivableDetail.creditTerm }} days</h6>
                                            <h6 class="text-success">{{ accReceivableDetail.creditRateLimit }} %</h6>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row m--margin-top-20">
                                    <div class="col-lg-2">
                                        <div class="border border-top-0 border-left-0 border border-bottom-0">
                                            <h6>Debit Amount</h6>
                                            <h6 class="my-3">OBH Amount</h6>
                                            <h6 class="mb-3">Debit Rate (%)</h6>
                                            <h6>Cus Advance</h6>
                                        </div>

                                    </div>
                                    <div class="col-lg-2">
                                        <div class="border border-top-0 border-left-0 border border-bottom-0">
                                            <h6>{{ accReceivableDetail.debitAmount | number: '.0-3'}}</h6>
                                            <h6 class="my-3">{{ accReceivableDetail.obhAmount | number: '.0-3'}}
                                            </h6>
                                            <h6
                                                [ngClass]=" accReceivableDetail.debitRate < 70  ? 'text-success' : accReceivableDetail.debitRate >= 100 ? 'text-danger' : '.text-warning'">
                                                {{ accReceivableDetail.debitRate }} %
                                            </h6>
                                            <h6 class="mt-3">{{ accReceivableDetail.cusAdvance | number: '.0-3'}}
                                            </h6>
                                        </div>

                                    </div>
                                    <div class="col-lg-2">
                                        <div class="border border-top-0 border-left-0 border border-bottom-0">
                                            <h6>Billing </h6>
                                            <h6 class="my-3">Billing Unpaid </h6>
                                            <h6>Paid </h6>
                                            <h6 class="mt-3">Credit Amount</h6>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="border border-top-0 border-left-0 border border-bottom-0">
                                            <h6>{{ accReceivableDetail.billingAmount | number: '.0-3'}}</h6>
                                            <h6 class="my-3">{{ accReceivableDetail.billingUnpaid | number: '.0-3'}}
                                            </h6>
                                            <h6><span
                                                    class="text-danger">{{ accReceivableDetail.paidAmount | number: '.0-3'}}</span>
                                            </h6>
                                            <h6 class="mt-3"><span
                                                    class="text-primary">{{ accReceivableDetail.creditAmount | number: '.0-3'}}</span>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="border border-top-0 border-left-0 border border-bottom-0">
                                            <h6>Over 1-15 days</h6>
                                            <h6 class="my-3">Over 16-30 days</h6>
                                            <h6>Over 30 days</h6>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="border border-top-0 border-left-0 border border-bottom-0">
                                            <h6><span
                                                    class="text-danger">{{ accReceivableDetail.over1To15Day | number: '.0-3' }}</span>
                                            </h6>
                                            <h6 class="my-3"><span
                                                    class="text-danger">{{ accReceivableDetail.over16To30Day | number: '.0-3'}}</span>
                                            </h6>
                                            <h6><span
                                                    class="text-danger">{{ accReceivableDetail.over30Day | number: '.0-3'}}</span>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row m--margin-top-20">
                    <div class="col-lg-12">
                        <div class="alert-block__heading font-weight-bold row m-0 pl-0 pr-0">
                            <div class="col-lg-12">
                                <h5>More Detail</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 m--margin-top-20">
                                <div class="table-wrapper table-scrollable" id="obh-payment-table">
                                    <table class="table table-hover table-brand dataTable table-hover">
                                        <thead app-table-header [headers]="headers"
                                            (onClick)="sortBy($event.sortField)">
                                            <th class="m--w-50 first table-actions-col">
                                                Action
                                            </th>
                                        </thead>
                                        <tbody>
                                            <ng-container>
                                                <ng-container
                                                    *ngFor="let item of seedData; let i = index; trackBy: trackByFn">
                                                    <tr class="collapse-toggle-row">
                                                        <td class="table-actions-col">
                                                            <div class="table-actions" style="width: 100px">
                                                                <button type="button"
                                                                    class="btn btn-sm m-btn--square m-btn--icon m-btn--icon-only collapsed"
                                                                    data-toggle="collapse"
                                                                    [attr.data-target]="'#id-00' + (i+1)"
                                                                    title="Collapse">
                                                                    <i class="la la-angle-up"></i>
                                                                </button>
                                                            </div>
                                                        </td>

                                                        <td>{{ item.office}}</td>
                                                        <td>{{ item.debitAmount| number: '.0-3' }}</td>

                                                        <td>{{ item.billing | number: '.0-3'}}
                                                        </td>
                                                        <td>{{ item.billingUnpaid | number: '.0-3'}}</td>
                                                        <td>{{ item.paid | number: '.0-3'}}</td>
                                                        <td>{{ item.obhAmount | number: '.0-3'}}</td>
                                                        <td>
                                                            <span [ngClass]="'text-danger'">
                                                                {{ item.between1_15days | number: '.0-3' }}
                                                            </span>
                                                        </td>
                                                        <td>
                                                            <span [ngClass]="'text-danger'">
                                                                {{ item.between16_30days | number: '.0-3' }}
                                                            </span>
                                                        </td>
                                                        <td>
                                                            <span [ngClass]="'text-danger'">
                                                                {{ item.over30days | number: '.0-3' }}
                                                            </span>
                                                        </td>

                                                    </tr>
                                                    <tr class="collapse-panel-row" app-table-collapse-row
                                                        [id]="'id-00' + (i + 1)" [parentId]="'#obh-payment-table'">
                                                        <table class="table table-secondary dataTable">
                                                            <thead app-table-header [headers]="subHeaders"
                                                                (onClick)="sortDetailGuaranteed($event.sortField, $event.order)">

                                                            </thead>
                                                            <tbody>
                                                                <ng-container>
                                                                    <tr
                                                                        *ngFor="let element of subSeedData; let j = index; trackBy: trackByFn">


                                                                        <td>{{ element.service  }}
                                                                        </td>
                                                                        <td>{{ element.creditAmount | number: '.0-3'}}
                                                                        </td>

                                                                        <td>{{ element.billing | number: '.0-3'}}
                                                                        </td>
                                                                        <td>{{ element.billingUnpaid | number: '.0-3'}}
                                                                        </td>
                                                                        <td>{{ element.paid | number: '.0-3' }}</td>
                                                                        <td>{{ element.obhAmount | number: '.0-3' }}
                                                                        </td>
                                                                        <td>
                                                                            <span [ngClass]="'text-danger'">
                                                                                {{ element.between1_15days | number: '.0-3' }}
                                                                            </span>
                                                                        </td>
                                                                        <td>
                                                                            <span [ngClass]="'text-danger'">
                                                                                {{ element.between16_30days | number: '.0-3' }}
                                                                            </span>
                                                                        </td>
                                                                        <td>
                                                                            <span [ngClass]="'text-danger'">
                                                                                {{ element.over30days | number: '.0-3' }}
                                                                            </span>
                                                                        </td>

                                                                    </tr>
                                                                </ng-container>
                                                                <tr app-table-none-record *ngIf="!subSeedData.length">
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </tr>


                                                </ng-container>
                                            </ng-container>
                                            <tr app-table-none-record *ngIf="!seedData.length">
                                            </tr>
                                            <tr app-table-row-loading *ngIf="!seedData.length"></tr>
                                        </tbody>
                                    </table>
                                </div>
                                <app-pagination [total]="totalItems" [pageNum]="page" [itemPerPage]="pageSize"
                                    (onChange)="updatePagingData($event)"></app-pagination>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>