<div class="row pl-5 py-1">
    <div class="col-md-8">
        <form [formGroup]="formSearch" (ngSubmit)="onClickSearch()">
            <div class="input-group m-input m-input--square-group m-input m-input--square-group--square">
                <input type="text" class="form-control" placeholder="Input text to search..." formControlName="name"
                    (keyup)="onClickSearch()">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit" title="Search">
                        <i class="la la-search"></i>
                    </button>
                    &nbsp;&nbsp;&nbsp;
                    <button class="btn btn-default" type="reset" title="Reset" (click)="resetSearch()">
                        <i class="la la-refresh"></i> Reset
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!-- <div class="col-md-4 text-center">
            <button class="btn btn-success"><i class="la la-upload"></i>Upload Files</button>
        </div> -->
</div>
