.custom-label {
    display: inline-block;
    color: white;
    font-family: sans-serif;
    cursor: pointer;
    border-radius: 15px;
    min-width: 100px;
}

.box-shadow {
    box-shadow: 0 1px #ffffff inset, 0 1px 3px rgba(34, 25, 25, 0.4);
}

.auto_image {
    width: 160px;
    -o-object-fit: cover;
    object-fit: cover;
    height: 160px;
}

.icon-check {
    margin: 10px 0px;
    min-height: 10px;
    i {
        font-size: 20px;
        background: #0ca940;
        color: #fff;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
}