<div class="m-portlet">
    <div class="m-portlet__body">
        <div class="m-form m--margin-bottom-10">
            <div class="m--align-right">
                <button type="button" class="btn btn-brand m-btn--square m-btn--icon m-btn--uppercase">
                    <span>
                        <i class="la la-save"></i>
                        <span>
                            Save
                        </span>
                    </span>
                </button>
                <button type="button" class="btn m-btn--square m-btn--icon m-btn--uppercase">
                    <span>
                        <i class="la la-ban"></i>
                        <span>
                            Cancel
                        </span>
                    </span>
                </button>
            </div>
        </div>
        <div class="table-wrapper table-editable m--margin-bottom-20">
            <table class="table table-bordered dataTable-edit">
                <thead app-table-header [headers]="headers">
                    <th class="m--w-90 first table-actions-col fixed-side">
                    </th>
                </thead>
                <tbody>
                    <ng-container>
                        <tr *ngFor="let item of listRoles;let i = index; trackBy: trackByFn">
                            <td class="table-actions-col fixed-side">
                                <button
                                    class="btn btn-success btn-sm m-btn--square m-btn--icon m-btn--icon-only text-white"
                                    title="Detail"><i class="la la-list"></i>
                                </button>
                                <button type="button"
                                    class="btn btn-danger btn-sm m-btn--square m-btn--icon m-btn--icon-only"
                                    title="Remove">
                                    <i class="la la-trash"></i>
                                </button>
                            </td>
                            <td>
                                <div class="form-group "
                                    [ngClass]="{'m-form__group has-danger': isSubmitted  && ( item.roleId === null || item.isDup )   }">
                                    <select [(ngModel)]="item.userId" class="form-control border">
                                        <option value="null" disabled>Please select</option>
                                        <option *ngFor="let item of roles" [ngValue]="item.value">{{item.title}}
                                        </option>
                                    </select>
                                </div>

                            </td>
                            <td>
                                <div class="form-group ">
                                    <select class="form-control border">
                                        <option value="null" disabled>Please select</option>
                                        <option *ngFor="let item of companies" [ngValue]="item.id">{{item.bunameVn}}
                                        </option>
                                    </select>

                                </div>
                            </td>
                            <td>
                                <div class="form-group"
                                    [ngClass]="{'m-form__group has-danger': isSubmitted  && item.officeId === null }">
                                    <select class="form-control border" [(ngModel)]="item.position">
                                        <option value="null" disabled>Please select</option>
                                        <option *ngFor="let item of offices" [ngValue]="item.id">{{item.branchNameVn}}
                                        </option>
                                    </select>

                                </div>

                            </td>
                        </tr>
                        <tr>


                        </tr>
                    </ng-container>


                </tbody>
            </table>
        </div>
    </div>
</div>