<div class="m-portlet">
    <div class="m-portlet__body">
        <div class="m-form m--margin-bottom-10">
            <div class="m--align-right">
                <app-default-button class="m--margin-right-10" [buttonSetting]="saveButtonSetting"
                    (onClick)="saveRole()">
                </app-default-button>
                <button (click)="cancelSave()" type="button"
                    class="btn btn-default  m-btn--icon m-btn--uppercase m--margin-right-10">
                    <span>
                        <i class="la la-ban"></i>
                        <span>
                            Cancel
                        </span>
                    </span>
                </button>
            </div>
        </div>
        <div class="table-wrapper table-editable m--margin-bottom-20">
            <table class="table table-bordered dataTable-edit">
                <thead app-table-header [headers]="headers">
                    <th class="m--w-90 first table-actions-col fixed-side">
                    </th>
                </thead>
                <tbody>
                    <ng-container>
                        <tr *ngFor="let item of listRoles;let i = index; trackBy: trackByFn">
                            <td class="table-actions-col fixed-side">
                                <button (click)="gotoUserPermission(item.id)" *ngIf="!!item.id"
                                    class="btn btn-success btn-sm  m-btn--icon m-btn--icon-only text-white"
                                    title="Detail"><i class="la la-list"></i>
                                </button>
                                <button (click)="deleteRole(i,item.id)" type="button"
                                    class="btn btn-danger btn-sm  m-btn--icon m-btn--icon-only" title="Remove">
                                    <i class="la la-trash"></i>
                                </button>
                            </td>
                            <td>
                                <div class="form-group" *ngIf="!item.id"
                                    [ngClass]="{'m-form__group has-danger': isSubmitted  &&( item.permissionSampleId === null || item.isDup) }">
                                    <select [(ngModel)]="item.permissionSampleId"
                                        (ngModelChange)="selectedRole(item,$event)" class="form-control border">
                                        <option value="null" disabled>Please select</option>
                                        <option *ngFor="let item of roles" [ngValue]="item.id">{{item.name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group"
                                    [ngClass]="{'m-form__group has-danger': isSubmitted  &&( item.permissionSampleId === null || item.isDup) }"
                                    *ngIf="item.id">
                                    <input type="text" class="form-control" [value]="item.name" [readonly]="true">
                                </div>
                            </td>
                            <td>
                                <div class="form-group " *ngIf="!item.id"
                                    [ngClass]="{'m-form__group has-danger': isSubmitted  && (item.buid === null  || item.isDup) }">
                                    <select [(ngModel)]="item.buid" (ngModelChange)="selectedCompany($event,item)"
                                        class="form-control border">
                                        <option value="null" disabled>Please select</option>
                                        <option *ngFor="let company of companies" [ngValue]="company.id">
                                            {{company.bunameVn}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group"
                                    [ngClass]="{'m-form__group has-danger': isSubmitted  && (item.buid === null  || item.isDup) }"
                                    *ngIf="item.id">
                                    <input type="text" class="form-control" [value]="item.companyAbbrName"
                                        [readonly]="true">
                                </div>
                            </td>
                            <td>
                                <div class="form-group" *ngIf="!item.id"
                                    [ngClass]="{'m-form__group has-danger': isSubmitted  && ( item.officeId === null || item.isDup)  }">
                                    <select class="form-control border" (ngModelChange)="selectedOffice(item,$event)"
                                        [(ngModel)]="item.officeId">
                                        <option value="null" disabled>Please select</option>
                                        <option *ngFor="let it of item.offices" [ngValue]="it.id">
                                            {{it.branchNameVn}}
                                        </option>
                                    </select>

                                </div>
                                <div class="form-group"
                                    [ngClass]="{'m-form__group has-danger': isSubmitted  && ( item.officeId === null || item.isDup)  }"
                                    *ngIf="item.id">
                                    <input type="text" class="form-control" [value]="item.officeAbbrName"
                                        [readonly]="true">
                                </div>
                            </td>
                        </tr>
                        <tr app-table-none-record *ngIf="!listRoles.length"></tr>
                        <tr>
                            <td colspan=1 class="fixed-side">
                                <a (click)="addNewLine()" class="btn m-btn--icon m-btn--icon-only m--font-primary"
                                    title="Add">
                                    <i class="fa fa-plus-circle fa-2x"></i>
                                </a>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>

<confirm-popup [body]="'Are you sure want to delete this user level'" (onSubmit)="onDeleteRole()">
</confirm-popup>