<!--begin:: subheader-->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <app-breadcrumb></app-breadcrumb>
        </div>
        <div class="c-button-actions">
            <button type="button" class="btn btn-brand m-btn--square m-btn--icon m-btn--uppercase">
                <span>
                    <i class="la la la-save"></i>
                    <span> 
                        save
                    </span>
                </span>
            </button>
            <button type="button" class="btn m-btn--square m-btn--icon m-btn--uppercase">
                <span>
                    <i class="la la-ban"></i>
                    <span>
                        cancel
                    </span>
                </span>
            </button>
        </div>
    </div>
</div>
<!--end:: subheader-->
<!--begin::m-content of Partner-data-addnew-->
<div class="m-content">
    <!--begin::Form-->
    <div class="m-form m-form--state">    
        <!--begin::m-portlet -->   
        <div class="m-portlet m-portlet--danger m-portlet--head-solid-bg m-portlet--bordered">
            <div class="alert-block__heading">
                <h3 class="alert-block__title">General Information</h3>
            </div>
            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="">
                                Input
                            </label>
                            <input type="text" class="form-control m-input m-input--square" placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="">
                                Input
                            </label>
                            <input type="text" class="form-control m-input m-input--square" placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="">
                                Input
                            </label>
                            <input type="text" class="form-control m-input m-input--square" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="">
                                Input
                            </label>
                            <input type="text" class="form-control m-input m-input--square" placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="">
                                Input
                            </label>
                            <input type="text" class="form-control m-input m-input--square" placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="">
                                Input
                            </label>
                            <input type="text" class="form-control m-input m-input--square" placeholder="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end::m-portlet --> 

        <!--begin::m-portlet -->   
        <div class="m-portlet m-portlet--danger m-portlet--head-solid-bg m-portlet--bordered">
            <div class="alert-block__heading">
                <h3 class="alert-block__title">Detail Information</h3>
            </div>
            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="">
                                Input
                            </label>
                            <input type="text" class="form-control m-input m-input--square" placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="">
                                Input
                            </label>
                            <input type="text" class="form-control m-input m-input--square" placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="">
                                Input
                            </label>
                            <input type="text" class="form-control m-input m-input--square" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="">
                                Input
                            </label>
                            <input type="text" class="form-control m-input m-input--square" placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="">
                                Input
                            </label>
                            <input type="text" class="form-control m-input m-input--square" placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="">
                                Input
                            </label>
                            <input type="text" class="form-control m-input m-input--square" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="div-inside bg-secondary">
                    <div class="clearfix m--margin-bottom-15">
                        <h3 class="c-block-title">Shipping Address</h3>
                        <hr>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>
                                        Progress
                                    </label>
                                    <select class="form-control m-input m-input--square">
                                        <option value="">
                                            80% - 100%
                                        </option>
                                        <option value="">
                                            0% - 79%
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>
                                        Status
                                    </label>
                                    <select class="form-control m-input m-input--square">
                                        <option value="">
                                            Status 1
                                        </option>
                                        <option value="">
                                            Status 2
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>
                                        Services
                                    </label>
                                    <select class="form-control m-input m-input--square">
                                        <option value="">
                                            Services 1
                                        </option>
                                        <option value="">
                                            Services 2
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>
                                        Team
                                    </label>
                                    <select class="form-control m-input m-input--square">
                                        <option value="">
                                            Team 1
                                        </option>
                                        <option value="">
                                            Team 2
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>
                                        Customer
                                    </label>
                                    <select class="form-control m-input m-input--square">
                                        <option value="">
                                            Customer 1
                                        </option>
                                        <option value="">
                                            Customer 2
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>
                                        Staff
                                    </label>
                                    <select class="form-control m-input m-input--square">
                                        <option value="">
                                            Staff 1
                                        </option>
                                        <option value="">
                                            Staff 2
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix">
                        <h3 class="c-block-title">Billing Address</h3>
                        <hr>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>
                                        Progress
                                    </label>
                                    <select class="form-control m-input m-input--square">
                                        <option value="">
                                            80% - 100%
                                        </option>
                                        <option value="">
                                            0% - 79%
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>
                                        Status
                                    </label>
                                    <select class="form-control m-input m-input--square">
                                        <option value="">
                                            Status 1
                                        </option>
                                        <option value="">
                                            Status 2
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>
                                        Services
                                    </label>
                                    <select class="form-control m-input m-input--square">
                                        <option value="">
                                            Services 1
                                        </option>
                                        <option value="">
                                            Services 2
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>
                                        Team
                                    </label>
                                    <select class="form-control m-input m-input--square">
                                        <option value="">
                                            Team 1
                                        </option>
                                        <option value="">
                                            Team 2
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>
                                        Customer
                                    </label>
                                    <select class="form-control m-input m-input--square">
                                        <option value="">
                                            Customer 1
                                        </option>
                                        <option value="">
                                            Customer 2
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>
                                        Staff
                                    </label>
                                    <select class="form-control m-input m-input--square">
                                        <option value="">
                                            Staff 1
                                        </option>
                                        <option value="">
                                            Staff 2
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="">
                                Input
                            </label>
                            <input type="text" class="form-control m-input m-input--square" placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="">
                                Input
                            </label>
                            <input type="text" class="form-control m-input m-input--square" placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="">
                                Input
                            </label>
                            <input type="text" class="form-control m-input m-input--square" placeholder="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end::m-portlet --> 

        <!--begin::m-portlet -->   
        <div class="m-portlet m-portlet--danger m-portlet--head-solid-bg m-portlet--bordered">
            <div class="alert-block__heading">
                <h3 class="alert-block__title">Job Information</h3>
            </div>
            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="">
                                Input
                            </label>
                            <input type="text" class="form-control m-input m-input--square" placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="">
                                Input
                            </label>
                            <input type="text" class="form-control m-input m-input--square" placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="">
                                Input
                            </label>
                            <input type="text" class="form-control m-input m-input--square" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="">
                                Input
                            </label>
                            <input type="text" class="form-control m-input m-input--square" placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="">
                                Input
                            </label>
                            <input type="text" class="form-control m-input m-input--square" placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="">
                                Input
                            </label>
                            <input type="text" class="form-control m-input m-input--square" placeholder="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end::m-portlet --> 

        <!--begin:: form-actions-->
        <div class="form-actions m--align-right">
            <button type="button" class="btn btn-brand m-btn--square m-btn--icon m-btn--uppercase">
                <span>
                    <i class="la la la-save"></i>
                    <span> 
                        save
                    </span>
                </span>
            </button>
            <button type="button" class="btn m-btn--square m-btn--icon m-btn--uppercase">
                <span>
                    <i class="la la-ban"></i>
                    <span>
                        cancel
                    </span>
                </span>
            </button>
        </div>
        <!--end:: form-actions-->
    </div>
    <!--end::Form-->
</div>
<!--end::m-content of Partner-data-addnew-->