<div class="adv-settle-wrapper">
    <div class="m-portlet m--margin-bottom-20">
        <div class="m-portlet__body">
            <div class="row">
                <div class="col-lg-8">
                    <div class="adv-info">
                        <div class="title">
                            AD2101/00001 - Đoàn Văn Thương
                        </div>
                        <div class="description">
                            <span class="m--margin-right-20">01/01/2021</span> | <span
                                class="text-success m--margin-left-20">DONE</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 text-center text-primary">
                    <div class="title text-primary">3000000 VND</div>
                </div>
                <div class="col-lg-8">
                    <div class="settle-info">
                        <div class="title">
                            AD2101/00001 - Đoàn Văn Thương
                        </div>
                        <div class="description">
                            <span class="m--margin-right-20">01/01/2021</span> | <span
                                class="text-success m--margin-left-20">DONE</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 text-center text-primary">
                    <div class="title text-primary">3000000 VND</div>
                </div>
                <div class="col-lg-8"></div>
                <div class="col-lg-4 text-center text-primary title">
                    <div>0</div>
                </div>
            </div>
        </div>
    </div>
    <div class="m-portlet">
        <div class="m-portlet__body">
            <div class="row">
                <div class="col-lg-8">
                    <div class="adv-info">
                        <div class="title">
                            AD2101/00001 - Đoàn Văn Thương
                        </div>
                        <div class="description">
                            <span class="m--margin-right-20">01/01/2021</span> | <span
                                class="text-success m--margin-left-20">DONE</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 text-center text-primary">
                    <div class="title text-primary">3000000 VND</div>
                </div>
                <div class="col-lg-8">
                    <div class="settle-info">
                        <div class="title">
                            AD2101/00001 - Đoàn Văn Thương
                        </div>
                        <div class="description">
                            <span class="m--margin-right-20">01/01/2021</span> | <span
                                class="text-success m--margin-left-20">DONE</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 text-center text-primary">
                    <div class="title text-primary">3000000 VND</div>
                </div>
                <div class="col-lg-8"></div>
                <div class="col-lg-4 text-center text-primary title">
                    <div>0</div>
                </div>
            </div>
        </div>
    </div>
</div>