<div class="table-wrapper table-editable m--margin-top-20 m--margin-bottom-20">
    <table class="table table-bordered dataTable-edit">
        <thead app-table-header [headers]="headers">
            <th class="m--w-90 first table-actions-col fixed-side">
            </th>
        </thead>
        <tbody>
            <ng-container>
                <tr>
                    <td class="table-actions-col fixed-side">
                        <button class="btn btn-success btn-sm m-btn--square m-btn--icon m-btn--icon-only text-white"
                            title="Detail"><i class="la la-list"></i>
                        </button>
                    </td>
                    <td>
                        <div class="form-group">
                            <ng-select [items]="users" placeholder="please select" [allowClear]="false">
                            </ng-select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan=1 class="fixed-side">
                        <a class="btn m-btn--icon m-btn--icon-only m--font-primary" title="Add">
                            <i class="fa fa-plus-circle fa-2x"></i>
                        </a>
                    </td>

                </tr>
            </ng-container>


        </tbody>
    </table>
</div>