<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item">
            <a href="javascript:void(0)" class="m-nav__link">
                <span class="m-nav__link-text">{{parent_name}}</span>
            </a>
        </li>
        <li class="m-nav__separator" *ngIf="parent_name">-</li>
        <li class="m-nav__item">
            <a href="javascript:void(0)" class="m-nav__link">
                <span class="m-nav__link-text">{{children_name}}</span>
            </a>
        </li>
        <!-- <li class="m-nav__separator">-</li>
        <li class="m-nav__item">
            <a href="javascript:void(0)" class="m-nav__link">
                <span class="m-nav__link-text">Job Management</span>
            </a>
        </li> -->
      </ul>