<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <app-breadcrumb></app-breadcrumb>
        </div>
    </div>
</div>
<form-contract-commercial-catalogue [isUpdate]="true"></form-contract-commercial-catalogue>
<div class="row">
    <div class="col-12">
        <div class="text-center">
            <button (click)="onSubmit()"
                class="btn btn-brand m-btn--square m-btn--icon m-btn--uppercase m--margin-right-10">
                <span>
                    <i class="la la-save"></i>
                    <span> Save </span>
                </span>
            </button>

            <button class="btn btn-brand m-btn--square m-btn--icon m-btn--uppercase m--margin-right-10">
                <span>
                    <i class="la la-send"></i>
                    <span> Request Approval </span>
                </span>
            </button>
            <button
                *ngIf="(menuSpecialPermission | async | specialPermission: 'ActiveContract') === true && this.contract.active === false"
                (click)="activeInactiveContract(this.contract.id)"
                class="btn btn-success m-btn--square m-btn--icon m-btn--uppercase m--margin-right-10">
                <span>
                    <span> Active </span>
                </span>
            </button>
            <button
                *ngIf="(menuSpecialPermission | async | specialPermission: 'ActiveContract') === true && this.contract.active === true"
                (click)="activeInactiveContract(this.contract.id)"
                class="btn btn-danger m-btn--square m-btn--icon m-btn--uppercase m--margin-right-10">
                <span>
                    <span> Inactive </span>
                </span>
            </button>
            <app-default-button [buttonSetting]="cancelButtonSetting" (click)="gotoList()"></app-default-button>
        </div>
    </div>
</div>