.background-dashboard {
    /* The image used */
    background-image: url("../../assets/icons/background.jpg");

    /* Full height */
    height: 1000px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-information {
    padding-left: 20px;
    color: #8a8b91;
    font-weight: 500;
}
