<div class="permission-add-page">

    <app-sub-header> </app-sub-header>

    <form-create-permission>

    </form-create-permission>

    <div class="m-content">
        <div class="m-portlet">
            <div class="m-portlet__body">
                <tabset>
                    <tab heading="General Permission"></tab>
                    <tab heading="Special Permission"></tab>
                </tabset>
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <div class="m--align-right">
                            <app-default-button [buttonSetting]="searchlButtonSetting">
                            </app-default-button>
                            <app-default-button [buttonSetting]="cancelButtonSetting" class="m--margin-left-10">
                            </app-default-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>