<div class="pl-2">
    <ul class="m-menu__nav navbar-nav">
        <li class="m-menu__item my-3">
            <span class="m-menu__link-text" (click)="onBreadcrumbActive(title)">
                <a *ngIf="listBreadcrumb.length > 0" href="javascript:;"
                    class="pe-auto m-nav__link-text active-route">{{title}}</a>

                <ng-container *ngIf="listBreadcrumb.length <= 0" class="pe-auto m-nav__link-text active-route">
                    {{title}}
                </ng-container>

            </span>
            <ng-container *ngFor="let item of listBreadcrumb; let i = index">
                <span class="m-menu__link-text"
                    (click)="i===listBreadcrumb.length-1 ? $event.stopPropagation(): onBreadcrumbActive(item)"> >

                    <ng-container *ngIf="i===listBreadcrumb.length-1">
                        {{item.folderName}}
                    </ng-container>

                    <a *ngIf="i!==listBreadcrumb.length-1" href="javascript:;"
                        class="pe-auto m-nav__link-text  active-route">
                        {{item.folderName}}</a>
                </span>
            </ng-container>
        </li>
        <li class="m-menu__link p-3 active-side-file" routerLinkActive="active-side-file">
            <a href="javascript:;" (click)="navigateFileMngt('accounting')"
                class="m-menu__link ng-star-inserted text-dark d-flex align-items-center ">
                <i class="icon-calculator m__link-icon"></i>
                <span class="m-menu__link-text ml-3">
                    Accounting
                </span>
            </a>
        </li>
        <li class="m-menu__item p-3" routerLinkActive="active-side-file">
            <a href="javascript:;" (click)="navigateFileMngt('document')"
                class="m-menu__link ng-star-inserted text-dark d-flex align-items-center ">
                <i class="icon-file-text2 m-menu__link-icon"></i>
                <span class="m-menu__link-text ml-3">
                    Document
                </span>
            </a>
        </li>
        <li class="m-menu__item p-3" routerLinkActive="active-side-file">
            <a href="javascript:;" (click)="navigateFileMngt('catalogue')"
                class="m-menu__link ng-star-inserted text-dark d-flex align-items-center">
                <i class="icon-books m-menu__link-icon"></i>
                <span class="m-menu__link-text ml-3">
                    Catalogue
                </span>
            </a>
        </li>
        <li class="m-menu__item p-3" routerLinkActive="active-side-file">
            <a href="javascript:;" (click)="navigateFileMngt('system')"
                class="m-menu__link ng-star-inserted text-dark d-flex align-items-center">
                <i class="icon-database m-menu__link-icon"></i>
                <span class="m-menu__link-text ml-3">
                    System
                </span>
            </a>
        </li>
    </ul>
</div>
