<div class="m-content">
    <ul class="m-menu__nav navbar-nav">
        <li class="m-menu__item my-3">
            <span class="m-menu__link-text" (click)="onBreadcrumbActive(title)">{{title}}</span>
            <ng-container *ngFor="let item of listBreadcrumb; let i = index">
                <span class="m-menu__link-text"
                    (click)="i===listBreadcrumb.length-1 ? $event.stopPropagation(): onBreadcrumbActive(item)"> >
                    {{item.folderName}}</span>
            </ng-container>
        </li>
        <li class="m-menu__item my-3">
            <a (click)="navigateFileMngt('accounting')"
                class="m-menu__link ng-star-inserted text-dark d-flex align-items-center ">
                <i class="icon-calculator m__link-icon"></i>
                <span class="m-menu__link-text ml-3">
                    Accounting
                </span>
            </a>
        </li>
        <li class="m-menu__item my-3">
            <a (click)="navigateFileMngt('document')"
                class="m-menu__link ng-star-inserted text-dark d-flex align-items-center ">
                <i class="icon-file-text2 m-menu__link-icon"></i>
                <span class="m-menu__link-text ml-3">
                    Document
                </span>
            </a>
        </li>
        <li class="m-menu__item my-3">
            <a (click)="navigateFileMngt('catalogue')"
                class="m-menu__link ng-star-inserted text-dark d-flex align-items-center">
                <i class="icon-books m-menu__link-icon"></i>
                <span class="m-menu__link-text ml-3">
                    Catalogue
                </span>
            </a>
        </li>
        <li class="m-menu__item my-3">
            <a (click)="navigateFileMngt('system')"
                class="m-menu__link ng-star-inserted text-dark d-flex align-items-center">
                <i class="icon-database m-menu__link-icon"></i>
                <span class="m-menu__link-text ml-3">
                    System
                </span>
            </a>
        </li>
    </ul>
</div>
