<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">Dashboard</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="m-content">
    <div class="m-portlet py-0">
        <div class="m-portlet__body">
            <div class="form">
                <div class="row m-form m-form m-form--state">
                    <div class="col">
                        <div (clickOutside)="onClickOutsideShipmentName()">
                            <div class="m-input-icon m-input-icon--right down">
                                <input class="form-control m-input m-input--square dropdown-toggle" type="text"
                                    placeholder="Enter JobId or MBL No or HBL No" (click)="isShow = !isShow"
                                    (ngModelChange)="onSearchAutoComplete($event)" [(ngModel)]="keyword"
                                    [ngModelOptions]="{standalone: true}">
                                <span class="m-input-icon__icon m-input-icon__icon--right">
                                    <span>
                                        <i class="la la-search"></i>
                                    </span>
                                </span>
                            </div>
                            <ng-container *ngIf="isShow">
                                <app-combo-grid [data]="shipments" [headers]="headersShipment" [hideInput]="true"
                                    (onClick)="onSelectDataFormInfo($event,'shipment')">
                                </app-combo-grid>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="m-content py-0">
    <div class="m-portlet">
        <div class="m-portlet">
            <div class="m-portlet__body">
                <form-search-tracking (onChangeBackGround)="onChangeLoading($event)" (onChangeType)="getType($event)"
                    (onChangeKeyWork)="getValueSearch($event)"></form-search-tracking>
                <ng-container *ngIf="isShowBackground === true">
                    <div *ngIf="isLoading === true" class="loader-container m--margin-top-10">
                        <img src="assets/icons/loader.gif" alt="Loading...">
                    </div>
                    <div class="dashboard-background">
                        <div class="dashboard-background--image">
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>

<ng-container *ngIf="isShowBackground === false">
    <div class="m-content py-0">
        <div class="m-portlet">
            <div class="m-portlet__head alert-block__heading pointer">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title w-100">
                        <h3 class="m-portlet__head-text">
                            Cargo Information
                        </h3>
                    </div>
                </div>
            </div>

            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-md-4">
                        <label>Air line/Co-Loader</label>
                        <p class="text-information"> {{shipmentTracking.coloaderName}}</p>
                    </div>
                    <div class="col-md-4">
                        <label>Flight No</label>
                        <p class="text-information"> {{shipmentTracking.flightNo}}</p>
                    </div>
                    <div class="col-md-4">
                        <label>Flight Date</label>
                        <p class="text-information"> {{shipmentTracking.flightDate | date: 'dd/MM/yyyy'}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label>A.O.L - Departure</label>
                        <p class="text-information"> {{shipmentTracking.departure}}</p>
                    </div>
                    <div class="col-md-4">
                        <label>A.O.D - Destination</label>
                        <p class="text-information"> {{shipmentTracking.destination}}</p>
                    </div>
                    <div class="col-md-4">
                        <label>Status</label>
                        <p class="text-information text-info font-weight-bold">{{shipmentTracking.status}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-portlet">
            <div class="m-portlet__head alert-block__heading pointer">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title w-100">
                        <h3 class="m-portlet__head-text">
                            <ng-container *ngIf="shipmentType === 'AIR'; else iconTrack">
                                <img src="assets/icons/fly.png" alt="icon" width="25px">
                            </ng-container>
                            <ng-template #iconTrack>
                                <img src="assets/icons/ship.png" alt="icon" width="25px">
                            </ng-template>
                            Track and Trace
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <div *ngFor="let item of shipmentTracking.trackInfos; let first = first; let last = last;" class="row">
                    <div class="col-md-5 m--padding-right-70">
                        <p class="text-right text-info">{{item.actualDate | date: 'HH:mm dd/MM/yyyy'}}</p>
                    </div>
                    <div class="col-md-1">
                        <div *ngIf="first">
                            <div class="track-router">
                                <div *ngIf="shipmentTracking?.status !== 'DONE'; else finishIcon">
                                    <ng-container *ngIf="shipmentType === 'AIR'; else iconTrack">
                                        <img src="assets/icons/fly.png" alt="icon" width="30px">
                                    </ng-container>
                                    <ng-template #iconTrack>
                                        <img src="assets/icons/ship.png" alt="icon" width="30px">
                                    </ng-template>
                                </div>
                                <ng-template #finishIcon>
                                    <img src="assets/icons/flag.png" alt="icon" width="30px">
                                </ng-template>
                            </div>
                        </div>
                        <div *ngIf="last">
                            <p class="track-router track-router-start"></p>
                        </div>
                        <ng-container *ngIf="!first && !last">
                            <p class="track-router track-progress-router"></p>
                        </ng-container>
                        <div *ngIf="!last" class="line-progress-vertical">
                            <div class="line-progress-bar" style="height: 30%;"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p *ngIf="!!item.stationName" class="text-info font-weight-bold">{{item.stationName}}</p>
                        <p *ngIf="!!item.eventDescription" class="text-info">{{item.eventDescription}}</p>
                    </div>
                </div>
            </div>
            <div *ngIf="!shipmentTracking.trackInfos?.length" class="d-flex justify-content-center">
                <div class="no-data-image">

                </div>
            </div>
        </div>
    </div>
</ng-container>
<permission-403-popup></permission-403-popup>
<ng-template inject></ng-template>
