<!--begin:: subheader-->
<div class="modal fade form-contract-commercial-popup" role="dialog" bsModal #popup="bs-modal" aria-hidden="true">
    <div class="modal-dialog c-modal-fullscreen" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex align-items-center justify-content-between p-1">
                    <h5 class="modal-title" style="margin-right:10px;">
                        {{isUpdate == false ? 'Create Contract Info' : 'Customer - Contract Info'}}
                    </h5>
                    <ng-container *ngIf="!!this.selectedContract">
                        <ng-container *ngIf="this.selectedContract.active else inactive">
                            <span class="m-badge m-badge--success m-badge--wide">
                                Active
                            </span>
                        </ng-container>
                        <ng-template #inactive>
                            <span class="m-badge m-badge--danger m-badge--wide">
                                Inactive
                            </span>
                        </ng-template>
                    </ng-container>
                    <button type="button" class="close" aria-label="Close" (click)="close()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <form class="m-form m-form--state" [formGroup]="formGroup">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group"
                                [ngClass]="{'m-form__group has-danger': isSubmitted  && !salesmanId.value}">
                                <label required>Salesman</label>
                                <app-combo-grid-virtual-scroll
                                    (itemSelected)="onSelectedDataFormInfo($event,'salesman')"
                                    [currentActiveItemId]="{ field: 'id', value: salesmanId.value}"
                                    [selectedDisplayFields]="['username']" [dataSources]="users"
                                    [displayFields]="[{field: 'username', label: 'User Name'}, { field: 'employeeNameVn', label: 'Full Name' }]"
                                    placeholder="Select Salesman" [height]="200" size="15"
                                    (remove)="resetFormControl('salesmanId')">
                                </app-combo-grid-virtual-scroll>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group"
                                [ngClass]="{'m-form__group has-danger': isSubmitted  && !companyId.value}">
                                <label required>Company</label>
                                <app-combo-grid-virtual-scroll
                                    [currentActiveItemId]="{ field: 'id', value: companyId.value}"
                                    (itemSelected)="onSelectedDataFormInfo($event,'company')"
                                    [selectedDisplayFields]="['bunameAbbr']" [dataSources]="companies"
                                    (remove)="resetFormControl('company')"
                                    [displayFields]="[{field: 'bunameAbbr', label: 'Abbr Name'}, { field: 'bunameEn', label: 'Name EN' }]"
                                    [height]="200" placeholder="Select Company">
                                </app-combo-grid-virtual-scroll>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Office</label>
                                <app-combo-grid-virtual-scroll
                                    [currentActiveItemId]="{ field: 'id', value: officeId.value}"
                                    (itemSelected)="onSelectedDataFormInfo($event,'office')"
                                    [selectedDisplayFields]="['shortName']" [dataSources]="offices"
                                    (remove)="resetFormControl('office')"
                                    [displayFields]="[{field: 'shortName', label: 'Abbr Name'}, { field: 'branchNameEn', label: 'Name EN' }]"
                                    [height]="200" placeholder="Select Office">
                                </app-combo-grid-virtual-scroll>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group"
                                [ngClass]="{'m-form__group has-danger': (contractNo.dirty && !contractNo.valid)  || ( contractType.value[0]?.id === 'Official' && !contractNo.value )} ">
                                <label>Contract No</label>
                                <input type="text" class="form-control" formControlName="contractNo">
                                <div class="form-control-feedback" *ngIf="contractNo.errors | equalError: 'maxlength'">
                                    Contract No is required max 50 characters
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-4">
                            <div class="form-group"
                                [ngClass]="{'m-form__group has-danger': isSubmitted &&  !effectiveDate.value.startDate }">
                                <label required for="">Effective Date</label>
                                <div class="m-input-icon m-input-icon--right down daterange-rtl">
                                    <input type="text" class="form-control m-input m-input--square" ngxDaterangepickerMd
                                        [locale]="{applyLabel: 'apply', format: 'DD/MM/YYYY'}" [singleDatePicker]="true"
                                        name="daterange" [autoApply]="true" formControlName="effectiveDate" readonly />
                                    <span class="m-input-icon__icon m-input-icon__icon--right">
                                        <span>
                                            <i class="la la-calendar"></i>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Expired Date</label>
                                <div class="m-input-icon m-input-icon--right down daterange-rtl">
                                    <input type="text" class="form-control m-input m-input--square" ngxDaterangepickerMd
                                        [locale]="{applyLabel: 'apply', format: 'DD/MM/YYYY'}" [singleDatePicker]="true"
                                        name="daterange" [autoApply]="true" formControlName="expiredDate" readonly
                                        [minDate]="minDateExpired" />
                                    <span class="m-input-icon__icon m-input-icon__icon--right">
                                        <span>
                                            <i class="la la-calendar"></i>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group"
                                [ngClass]="{'m-form__group has-danger': isSubmitted  && contractType.invalid}">
                                <label required>Contract Type</label>
                                <ng-select #ct [items]="contractTypes" [allowClear]="true"
                                    (opened)="closeOtherSelects(ct)" formControlName="contractType"
                                    placeholder="Please select">
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="form-group"
                                [ngClass]="{'m-form__group has-danger': isSubmitted  && ( !saleService.valid || !saleService.value)}">
                                <label required>Sale Service</label>
                                <div class="pos-rel">
                                    <ng-select #sv [items]="serviceTypes" (selected)="selectedService($event)"
                                        [allowClear]="true" [active]="activeServices" (opened)="closeOtherSelects(sv)"
                                        formControlName="saleService" [multiple]="true" placeholder="Please select">
                                    </ng-select>
                                    <combo-grid-icon
                                        *ngIf="!saleService.value || (!!saleService.value && !saleService.value.length)"
                                        (onDropdown)="openNg2Select(saleService)">
                                    </combo-grid-icon>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Payment Method</label>
                                <ng-select #pm [items]="paymentMethods" [allowClear]="true"
                                    (opened)="closeOtherSelects(pm)" formControlName="paymentMethod"
                                    placeholder="Please select">
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="form-group">
                                <label>VAS</label>
                                <div class="pos-rel">
                                    <ng-select #vas [items]="vaslst" [allowClear]="true"
                                        (selected)="selectedVas($event)" (opened)="closeOtherSelects(vas)"
                                        [active]="activeVas" [multiple]="true" formControlName="vas"
                                        placeholder="Please select">
                                    </ng-select>
                                    <combo-grid-icon *ngIf="!vas.value || (!!vas.value && !vas.value.length)"
                                        (onDropdown)="openNg2Select(vas)">
                                    </combo-grid-icon>


                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="alert-block__heading font-weight-bold collapse-toggle " data-toggle="collapse"
                                data-target="#data-form-contact">
                                Credit Term Info
                                <i class="la la-angle-up m--margin-right-5 float-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row collapse show" id="data-form-contact">
                        <ng-container *ngIf="contractType.value[0]?.id !== 'Official'">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Trial Credit Limit
                                    </label>
                                    <input type="number" min="0"
                                        [attr.disabled]="(menuSpecialPermission | async | specialPermission: 'ActiveContract') === true ?  null : 'disabled'"
                                        class="form-control" formControlName="trialCreditLimit">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Trial Credit Days
                                    </label>
                                    <input type="number" min="0" (change)="onChageTrialCreditDays()"
                                        [attr.disabled]="(menuSpecialPermission | async | specialPermission: 'ActiveContract') === true ?  null : 'disabled'"
                                        class="form-control" formControlName="trialCreditDays">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>Trial Effective Date
                                    </label>
                                    <div class="m-input-icon m-input-icon--right down daterange-rtl">
                                        <input
                                            [attr.disabled]="(menuSpecialPermission | async | specialPermission: 'ActiveContract') === true ?  null : 'disabled'"
                                            type="text" class="form-control m-input m-input--square"
                                            ngxDaterangepickerMd [locale]="{applyLabel: 'apply', format: 'DD/MM/YYYY'}"
                                            [singleDatePicker]="true" name="daterange" [autoApply]="true"
                                            (datesUpdated)="onUpdateTrialEffectiveDate($event)"
                                            formControlName="trialEffectDate" readonly />
                                        <span class="m-input-icon__icon m-input-icon__icon--right">
                                            <span>
                                                <i class="la la-calendar"></i>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>Trial Expired Date
                                    </label>
                                    <div class="m-input-icon m-input-icon--right down daterange-rtl">
                                        <input
                                            [attr.disabled]="(menuSpecialPermission | async | specialPermission: 'ActiveContract') === true ?  null : 'disabled'"
                                            type="text" class="form-control m-input m-input--square"
                                            ngxDaterangepickerMd [locale]="{applyLabel: 'apply', format: 'DD/MM/YYYY'}"
                                            [singleDatePicker]="true" name="daterange" [autoApply]="true"
                                            formControlName="trialExpiredDate" [minDate]="minDateExpiredTrial"
                                            readonly />
                                        <span class="m-input-icon__icon m-input-icon__icon--right">
                                            <span>
                                                <i class="la la-calendar"></i>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="contractType.value[0]?.id === 'Official'">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Payment Term</label>
                                    <input type="number" min="0" class="form-control" formControlName="paymentTerm">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Credit Limit</label>
                                    <input min="0" type="number" class="form-control" formControlName="creditLimit">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Credit Limited Rate</label>
                                    <input min="0"
                                        [attr.disabled]="(menuSpecialPermission | async | specialPermission: 'ActiveContract') === true ?  null : 'disabled'"
                                        type="number" class="form-control" formControlName="creditLimitRate">
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="contractType.value[0]?.id !== 'Official'">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Credit Amount</label>
                                    <input min="0" type="number" disabled class="form-control"
                                        formControlName="creditAmount">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Billing Amount</label>
                                    <input min="0" type="number" disabled class="form-control"
                                        formControlName="billingAmount">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Paid Amount</label>
                                    <input min="0" type="number" disabled class="form-control"
                                        formControlName="paidAmount">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>UnPaid Amount</label>
                                    <input type="number" disabled class="form-control" formControlName="unpaidAmount">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Customer Advance Amount</label>
                                    <input min="0"
                                        [attr.disabled]="(menuSpecialPermission | async | specialPermission: 'ActiveContract') === true ?  null : 'disabled'"
                                        type="number" class="form-control" formControlName="customerAmount">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Credit Rate</label>
                                    <input min="0" type="number" class="form-control" formControlName="creditRate">
                                </div>
                            </div>
                        </ng-container>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="form-group">
                                <label>Description</label>
                                <textarea class="form-control" cols="30" rows="5"
                                    formControlName="description"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Contract File</label>
                                <input style="display:none" type="file" #file (change)="handleFileInput($event)">
                                <div class="form-group ">
                                    <button (click)="file.click()" type="button"
                                        class=" btn btn-success m-btn--square m-btn--icon m-btn--uppercase margin-right-10">
                                        <span>
                                            <i class="la la-plus"></i>
                                            <span>
                                                Attach Files
                                            </span>
                                        </span>
                                    </button>
                                    <ng-container
                                        *ngIf=" (!!fileList && !isUpdate) || (!!fileList && isCreateNewCommercial)">
                                        <span class="text-underline text-primary">
                                            {{ !!fileList ? fileList[0].name : null}}
                                        </span>
                                    </ng-container>
                                    <ng-container *ngIf="!isLoading && !!files && isUpdate">
                                        <a [href]="files.url" target="_blank" [title]="files.name"
                                            download>{{files.name}}</a>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ng-container *ngIf="isUpdate && !isCreateNewCommercial">
                        <div class="row">
                            <div class="col-6">
                                Created:
                                {{selectedContract.datetimeCreated | date: 'dd/MM/yyyy HH:mm'}} by <span
                                    class="text-success">{{selectedContract.userCreatedName}}</span>
                            </div>
                            <div class="col-6">
                                Modified:
                                {{selectedContract.datetimeModified | date: 'dd/MM/yyyy HH:mm'}} by <span
                                    class="text-success">{{selectedContract.userModifiedName}}</span>
                            </div>
                        </div>
                    </ng-container>

                </form>
            </div>
            <div class="modal-footer m--align-center">
                <button (click)="onSubmit()"
                    class="btn btn-brand m-btn--square m-btn--icon m-btn--uppercase m--margin-right-10">
                    <span>
                        <i class="la la-save"></i>
                        <span> Save </span>
                    </span>
                </button>
                <button (click)="onSubmit(true)"
                    *ngIf="((menuSpecialPermission | async | specialPermission: 'ActiveContract') === false && !isCreateNewCommercial && !selectedContract.active) && this.partnerId != null   "
                    class="btn btn-brand m-btn--square m-btn--icon m-btn--uppercase m--margin-right-10">
                    <span>
                        <i class="la la-send"></i>
                        <span> Request Approval </span>
                    </span>
                </button>
                <button (click)="activeInactiveContract(selectedContract.id)"
                    *ngIf="(menuSpecialPermission | async | specialPermission: 'ActiveContract') === true && selectedContract.active === false && isUpdate && !isCreateNewCommercial"
                    class="btn btn-success m-btn--square m-btn--icon m-btn--uppercase m--margin-right-10">
                    <span>
                        <span> Active </span>
                    </span>
                </button>
                <button (click)="activeInactiveContract(selectedContract.id)"
                    *ngIf="(menuSpecialPermission | async | specialPermission: 'ActiveContract') === true && selectedContract.active === true && isUpdate && !isCreateNewCommercial"
                    class="btn btn-danger m-btn--square m-btn--icon m-btn--uppercase m--margin-right-10">
                    <span>
                        <span> Inactive </span>
                    </span>
                </button>
                <app-default-button [buttonSetting]="cancelButtonSetting" (click)="close()"></app-default-button>
            </div>
        </div>
    </div>
</div>