<div class="row align-items-center">
    <div class="col">
        <div class="d-flex">
            <a class="m--margin-right-10">
                <i class="la la-angle-double-down"></i>
            </a>
            <label class="m-checkbox">
                <input type="checkbox" [(ngModel)]="isCheckAll" (change)="checkUncheckAllRequest()">
                <span></span>
            </label>
            <a>
                <i class="la la-file-text"></i>
            </a>
        </div>
    </div>
    <div class="col">
        <div class="d-flex">
            <span class="font-weight-bold">Job:</span>
            &nbsp;
            xxxxxxxxxx
        </div>
    </div>
    <div class="col">
        <div class="d-flex">
            <span class="font-weight-bold">HBL:</span>
            &nbsp;
            xxxxxxxxxx
        </div>
    </div>
    <div class="col">
        <div class="d-flex">
            <span class="font-weight-bold">MBL:</span>
            &nbsp;
            xxxxxxxxxx
        </div>
    </div>
    <div class="col">
        <div class="d-flex">
            <span class="font-weight-bold">Total Amount:</span>
            &nbsp;
            xxxxxxxxxx
        </div>
    </div>
    <div class="col">
        <a (click)="showPaymentManagement($event)" class="text-underline text-primary">Payment
            Management</a>
    </div>
</div>

<payment-management-popup></payment-management-popup>