<div class="m-portlet">
    <div class="m-portlet__body">
        <form class="m-form m-form--state" [formGroup]="form">
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Reference No</label>
                        <ng-select formControlName="searchType" class="custom" bindLabel="title" bindValue="value">
                        </ng-select>
                        <textarea [rows]="6" class="form-control" formControlName="referenceNo"></textarea>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Partner</label>
                        <input class="form-control">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Salesman</label>
                        <input class="form-control">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Salesman</label>
                        <input class="form-control">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Salesman</label>
                        <input class="form-control">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Salesman</label>
                        <input class="form-control">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>