<div class="dropdown e--combogrid" >
    <input (click)="opening($event)"
        class="form-control m-input m-input--square dropdown-toggle"
        type="text" readonly data-toggle="dropdown"
        (keyup)="Search($event.target.value)"
        placeholder="Please enter"
        [value]="displaySelectedStr==''?null:displaySelectedStr">
    <div
        class="dropdown-menu  dropdown-menu-right e--combogrid-content">
        <div class="tabel-wrapper table-fixed">
            <div class="table-head-fixed">
                <div class="table-filter-block">
                    <div class="search-field">
                        <input
                            (keyup)="Search($event.target.value)"
                            class="form-control m-input m-input--square cbgr-input-search"
                            type="text" placeholder="Search...">
                        <i class="icon-search"></i>
                    </div>
                </div>
                <div class="table-header">
                    <table class="table table-hover" *ngIf="DisplayFields.length>0">
                        <thead>
                            <tr>                            
                                <th *ngFor="let item of DisplayFields" style="width:100px;">{{item.label}}</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class=""  *ngIf="DataSources">
                <cdk-virtual-scroll-viewport style="height: 100px" itemSize="10">
                  
                  <table class="table table-hover" >
                      <tbody>
                        <tr class="data-row"
                            *cdkVirtualFor="let item of DataSources; let i= index"
                            data-id="{{(i+1)}}"
                            (click)="emitSelected(item);indexSelected=i"
                            [class.data-selected]="indexSelected!==-1 && i===indexSelected">
            
                            <td *ngFor="let display of DisplayFields" style="width: 100px;">
                              {{item[display.field]}}
                            </td>
                        </tr>
                    </tbody>
                  </table>
                </cdk-virtual-scroll-viewport>
            </div>
        </div>
    </div>
</div>