<!-- BEGIN: Left Aside -->
<button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
    <i class="la la-close"></i>
</button>
<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark ">
    <!-- BEGIN: Aside Menu -->
    <div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark " m-menu-vertical="1" m-menu-scrollable="0" m-menu-dropdown-timeout="500">
        <ul class="m-menu__nav" style="padding: 30px 30px 0">
            <li class="m-menu__item" style="margin-bottom: 20px;">
                <div class="m-input-icon m-input-icon--right">
                    <input type="text" class="form-control m-input" placeholder="Search">
                    <span class="m-input-icon__icon m-input-icon__icon--right">
                        <span>
                            <i class="icon-search"></i>
                        </span>
                    </span>
                </div>
            </li>
            <li class="m-menu__item">
                <button class="btn btn-danger btn-block m-btn--uppercase m-btn--icon">
                    <i class="icon-plus"></i>
                    Create Job
                </button>
            </li>
        </ul>
        <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
            <li class="m-menu__item  m-menu__item--submenu m-menu__item--open" aria-haspopup="true" m-menu-submenu-toggle="hover">
                <a href="javascript:;" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon icon-books"></i>
                    <span class="m-menu__link-text">
                        Catalogue
                    </span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu" style="display: block">
                    <span class="m-menu__arrow"></span>
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item m-menu__item--active" aria-haspopup="true">
                            <a routerLink="/home/catalogue/partner" class="m-menu__link ">
                                <i class="m-menu__link-bullet icon-circle2"></i>
                                <span class="m-menu__link-text">
                                    Partner
                                </span>
                            </a>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true">
                            <a routerLink="/home/catalogue/location" class="m-menu__link ">
                                <i class="m-menu__link-bullet icon-circle2"></i>
                                <span class="m-menu__link-text">
                                    Location
                                </span>
                            </a>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true">
                            <a routerLink="/home/catalogue/ware-house" class="m-menu__link ">
                                <i class="m-menu__link-bullet icon-circle2"></i>
                                <span class="m-menu__link-text">
                                    Warehourse
                                </span>
                            </a>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true">
                            <a routerLink="" class="m-menu__link ">
                                <i class="m-menu__link-bullet icon-circle2"></i>
                                <span class="m-menu__link-text">
                                    Commodity
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
                <a href="javascript:;" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon icon-cogs"></i>
                    <span class="m-menu__link-text">
                        Operation
                    </span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu">
                    <span class="m-menu__arrow"></span>
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item " aria-haspopup="true">
                            <a href="" class="m-menu__link ">
                                <i class="m-menu__link-bullet icon-circle2"></i>
                                <span class="m-menu__link-text">
                                    Operation 1
                                </span>
                            </a>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true">
                            <a href="" class="m-menu__link ">
                                <i class="m-menu__link-bullet icon-circle2"></i>
                                <span class="m-menu__link-text">
                                    Operation 2
                                </span>
                            </a>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true">
                            <a href="" class="m-menu__link ">
                                <i class="m-menu__link-bullet icon-circle2"></i>
                                <span class="m-menu__link-text">
                                    Operation 3
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="m-menu__item" aria-haspopup="true">
                <a href="" class="m-menu__link ">
                    <i class="m-menu__link-icon icon-file-text2"></i>
                    <span class="m-menu__link-title">
                        <span class="m-menu__link-wrap">
                            <span class="m-menu__link-text">
                                Documentation
                            </span>
                        </span>
                    </span>
                </a>
            </li>
            <li class="m-menu__item" aria-haspopup="true">
                <a href="" class="m-menu__link ">
                    <i class="m-menu__link-icon icon-calculator"></i>
                    <span class="m-menu__link-title">
                        <span class="m-menu__link-wrap">
                            <span class="m-menu__link-text">
                                Accounting
                            </span>
                        </span>
                    </span>
                </a>
            </li>
            <li class="m-menu__item" aria-haspopup="true">
                <a href="" class="m-menu__link ">
                    <i class="m-menu__link-icon icon-database"></i>
                    <span class="m-menu__link-title">
                        <span class="m-menu__link-wrap">
                            <span class="m-menu__link-text">
                                System
                            </span>
                        </span>
                    </span>
                </a>
            </li>
            <li class="m-menu__item" aria-haspopup="true">
                <a href="" class="m-menu__link ">
                    <i class="m-menu__link-icon icon-stats-bars"></i>
                    <span class="m-menu__link-title">
                        <span class="m-menu__link-wrap">
                            <span class="m-menu__link-text">
                                Report
                            </span>
                        </span>
                    </span>
                </a>
            </li>
            <li class="m-menu__item" aria-haspopup="true">
                <a href="" class="m-menu__link ">
                    <i class="m-menu__link-icon icon-wrench"></i>
                    <span class="m-menu__link-title">
                        <span class="m-menu__link-wrap">
                            <span class="m-menu__link-text">
                                Tool
                            </span>
                        </span>
                    </span>
                </a>
            </li>
            <li class="m-menu__item" aria-haspopup="true">
                <a href="" class="m-menu__link ">
                    <i class="m-menu__link-icon icon-headphones"></i>
                    <span class="m-menu__link-title">
                        <span class="m-menu__link-wrap">
                            <span class="m-menu__link-text">
                                Support
                            </span>
                        </span>
                    </span>
                </a>
            </li>
        </ul>
    </div>
    <!-- END: Aside Menu -->
</div>
<!-- END: Left Aside -->