@media only screen and (max-width: 1350px) {
    .m-group-dept,
    .m-office {
        .m-nav__link-text {
            &.m-name {
                display: none;
            }
        }
    }
    .m-topbar__user-profile {
        .m-topbar__userpic {
            display: none !important;
        }
        a.m-nav__link {
            padding: 0;
        }
    }
    .m-topbar-logout {
        a.m-nav__link {
            padding: 0;
        }
    }
    
    
}

@media only screen and (max-width: 1024px) {
    .m-nav {
        margin: 0 !important;
    }
    #m_header_topbar {
        top: 0 !important;
    }
    
}

.info-account-wrapper{
    width: 288px;
    .popup-account__avatar {
        width: 80px;
        overflow: hidden;
        
    }
}



.flex-row-around {
    display: flex;
    justify-content: space-around;
    padding: 20px; 
    align-items: center;
}

.flex-row-between {
    display: flex;
    justify-content: space-between;
    padding: 20px; 
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.icon-online {
    width: 10px; 
    height: 10px; 
    border-radius: 50%; 
    background-color: #7bc38d;
}

.icon-custom {
    color: green;
}


