<div class="m-container m-container--fluid m-container--full-height">
    <div class="m-stack m-stack--ver m-stack--desktop">
        <!-- BEGIN: Brand -->
        <div class="m-stack__item m-brand  m-brand--skin-dark ">
            <div class="m-stack m-stack--ver m-stack--general">
                <div class="m-stack__item m-stack__item--middle m-brand__logo">
                    <a href="javascript:;" class="m-brand__logo-wrapper">
                        <img alt="" src="assets/demo/default/media/img/logo/logo-default.png">
                    </a>
                </div>
                <div class="m-stack__item m-stack__item--middle m-brand__tools">
                    <!-- BEGIN: Left Aside Minimize Toggle -->
                    <a href="javascript:;" id="m_aside_left_minimize_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-desktop-inline-block">
                        <span></span>
                    </a>
                    <!-- END -->
                    <!-- BEGIN: Responsive Aside Left Menu Toggler -->
                    <a href="javascript:;" id="m_aside_left_offcanvas_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-tablet-and-mobile-inline-block">
                        <span></span>
                    </a>
                    <!-- END -->
                </div>
            </div>
        </div>
        <!-- END: Brand -->
        <div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
            <!-- BEGIN: Horizontal Menu -->
            <button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-dark " id="m_aside_header_menu_mobile_close_btn">
                <i class="la la-close"></i>
            </button>
            <div class="m-header-menu">
                <h3 class="m-subheader__title">{{Page_Info}}</h3>
            </div>
            <!-- END: Horizontal Menu -->
            <!-- BEGIN: Topbar -->
            <!-- <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
                <div class="m-stack__item m-topbar__nav-wrapper">
                    <ul class="m-topbar__nav m-nav m-nav--inline">
                        <li class="m-nav__item m-topbar__user-profile">
                            <a href="#" class="m-nav__link m-dropdown__toggle">
                                <span class="m-topbar__userpic">
                                    <img src="assets/app/media/img/users/user-default.png" class="m--img-rounded m--marginless m--img-centered" alt="">
                                </span>
                                <span class="m-topbar__username">
                                    Sunrise
                                </span>
                            </a>
                        </li>
                        <li class="m-nav__item m-topbar__item">
                            <a href="javascript:;" class="m-menu__link m-menu__toggle">
                                <i class="m-menu__link-icon la la-power-off"></i>
                                <span class="m-menu__link-text">
                                    Logout
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div> -->
            <!-- END: Topbar -->
            <!-- BEGIN: Topbar -->
            <div class="m-topbar m-stack m-stack--ver m-stack--general" id="m_header_topbar">
                <div class="m-stack__item m-topbar__nav-wrapper">
                    <ul class="m-topbar__nav m-nav m-nav--inline">
                        <li class="m-nav__item m-topbar__notifications">
                            <a class="m-nav__link m-dropdown__toggle" href="javascript:void(0)"  data-toggle="dropdown">
                                <span class="m-nav__link-badge m-badge m-badge--danger">3</span>
                                <span class="m-nav__link-icon">
                                    <i class="la la-bell">
                                    </i>
                                </span>
                            </a>
                            <div class="dropdown-menu" style="width: 340px; padding: 20px; border-radius: 2px;">
                                <div class="m-list-timeline m-list-timeline--skin-light">
                                    <div class="m-list-timeline__items">
                                        <div class="m-list-timeline__item">
                                            <span class="m-list-timeline__badge -m-list-timeline__badge--state-success">
                                            </span>
                                            <span class="m-list-timeline__text">
                                                12 new users registered
                                            </span>
                                            <span class="m-list-timeline__time">
                                                Just now
                                            </span>
                                        </div>
                                        <div class="m-list-timeline__item">
                                            <span class="m-list-timeline__badge">
                                            </span>
                                            <span class="m-list-timeline__text">
                                                System shutdown
                                                <span class="m-badge m-badge--success m-badge--wide">
                                                    pending
                                                </span>
                                            </span>
                                            <span class="m-list-timeline__time">
                                                14 mins
                                            </span>
                                        </div>
                                        <div class="m-list-timeline__item">
                                            <span class="m-list-timeline__badge">
                                            </span>
                                            <span class="m-list-timeline__text">
                                                New invoice received
                                            </span>
                                            <span class="m-list-timeline__time">
                                                20 mins
                                            </span>
                                        </div>
                                        <div class="m-list-timeline__item">
                                            <span class="m-list-timeline__badge">
                                            </span>
                                            <span class="m-list-timeline__text">
                                                DB overloaded 80%
                                                <span class="m-badge m-badge--info m-badge--wide">
                                                    settled
                                                </span>
                                            </span>
                                            <span class="m-list-timeline__time">
                                                1 hr
                                            </span>
                                        </div>
                                        <div class="m-list-timeline__item">
                                            <span class="m-list-timeline__badge">
                                            </span>
                                            <span class="m-list-timeline__text">
                                                System error -
                                                <a class="m-link" href="#">
                                                    Check
                                                </a>
                                            </span>
                                            <span class="m-list-timeline__time">
                                                2 hrs
                                            </span>
                                        </div>
                                        <div class="m-list-timeline__item m-list-timeline__item--read">
                                            <span class="m-list-timeline__badge">
                                            </span>
                                            <span class="m-list-timeline__text" href="">
                                                New order received
                                                <span class="m-badge m-badge--danger m-badge--wide">
                                                    urgent
                                                </span>
                                            </span>
                                            <span class="m-list-timeline__time">
                                                7 hrs
                                            </span>
                                        </div>
                                        <div class="m-list-timeline__item m-list-timeline__item--read">
                                            <span class="m-list-timeline__badge">
                                            </span>
                                            <span class="m-list-timeline__text">
                                                Production server down
                                            </span>
                                            <span class="m-list-timeline__time">
                                                3 hrs
                                            </span>
                                        </div>
                                        <div class="m-list-timeline__item">
                                            <span class="m-list-timeline__badge">
                                            </span>
                                            <span class="m-list-timeline__text">
                                                Production server up
                                            </span>
                                            <span class="m-list-timeline__time">
                                                5 hrs
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="m-nav__item topbar__lang">
                            <a class="m-nav__link m-dropdown__toggle" href="javascript:void(0)"  data-toggle="dropdown">
                                <span class="m-topbar__userpic">
                                    <img alt="" class="m--img-rounded m--marginless m--img-centered" src="assets/app/media/img/lang/en.png" />
                                </span>
                            </a>
                            <div class="dropdown-menu" style="min-width: 160px">
                                <ul class="m-nav">
                                    <li class="m-nav__item">
                                        <a class="m-nav__link active" href="javascript:void(0)" >
                                            <span class="m-nav__link-icon">  
                                                <img alt="" class="m--img-rounded m--marginless m--img-centered" src="assets/app/media/img/lang/en.png" />
                                            </span>
                                            <span class="m-nav__link-text">
                                                English
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a class="m-nav__link" href="javascript:void(0)" >
                                            <span class="m-nav__link-icon">  
                                                <img alt="" class="m--img-rounded m--marginless m--img-centered" src="assets/app/media/img/lang/vi.png" />
                                            </span>
                                            <span class="m-nav__link-text">
                                                Vietnamese
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="m-nav__item m-topbar__user-profile">
                            <a class="m-nav__link" href="javascript:void(0)">
                                <span class="m-topbar__userpic">
                                    <img alt="" class="m--img-rounded m--marginless m--img-centered" src="assets/app/media/img/users/user4.jpg" />
                                </span>
                                <span class="m-topbar__username" style="color: #3966b6; font-size: 14px; text-transform: capitalize; padding-left: 10px;">
                                    Sunrise
                                </span>
                            </a>
                        </li>
                        <li class="m-nav__item">
                            <a class="m-nav__link" href="javascript:void(0)">
                                <span class="m-nav__link-icon">
                                    <i class="la la-power-off"></i>
                                </span>
                                <!-- <span class="m-topbar__username" style="color: #3966b6;  font-size: 14px; font-weight: bold">
                                    Logout
                                </span> -->
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- END: Topbar -->
        </div>
    </div>
</div>