<div class="modal existing-charge-popup" role="dialog" bsModal #popup="bs-modal" aria-hidden="true">
    <div class="modal-dialog c-modal-fullscreen" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Get Charge</h5>
                <button type="button" (click)="hide()" class="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label class="font-weight-bold">Partner</label>
                            <app-combo-grid-virtual-scroll [currentActiveItemId]="selectedPartner"
                                (itemSelected)="onSelectDataFormInfo($event, 'partner')" [selectedDisplayFields]="configPartner.selectedDisplayFields"
                                [dataSources]="configPartner.dataSource" [displayFields]="configPartner.displayFields" [height]="200">
                            </app-combo-grid-virtual-scroll>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label class="font-weight-bold">Service</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label class="font-weight-bold">Shipment</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-12 form-actions">
                        <div class="m--align-right">
                            <app-default-button [buttonSetting]="searchlButtonSetting" (onClick)="searchCharge()">
                            </app-default-button>
                            <app-default-button [buttonSetting]="cancelButtonSetting" (onClick)="reset()"></app-default-button>
                        </div>
                    </div>
                </div>
                <div class="row m--margin-top-20 m--marginless">
                    <div class="table-wrapper m--margin-top-20">
                        <table class="table table-borderless dataTable">
                            <thead>
                                <tr class="text-center">
                                    <th *ngFor="let header of headers; let i = index; trackBy: trackByFn"
                                        [class]="sortClass(header.sortable ? header.field : '')"
                                        (click)="sortBy(header.sortable ? header.field : '')">
                                        <span>{{header.title}}</span>
                                        <span class="sort-indicator"></span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="tbody-group">
                                <tr *ngIf="!isLoading">
                                    <td colspan="100">
                                        <div class="no-data">
                                            <i class="flaticon-coins"></i>
                                            <span class="no-data-text">No records found</span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>