:host /deep/ {
    .sea-fcl-import-create-job-page {
        .title {
            font-size: 15px;
            font-weight: 600;
            color: #6f727d;
            margin-bottom: 10px;
        }
    }
}
