<div class="m-content m-form m-form--state form-add-office">
    <form [formGroup]="formGroup">
        <div class="m-portlet">
            <ng-content></ng-content>
            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group"
                            [ngClass]="{'m-form__group has-danger': (code.dirty && !code.valid) || (isSubmited && !code.valid)}">
                            <label class="form-control-label" for="">
                                Office Code <span class="m--font-danger">(*)</span>
                            </label>
                            <input type="text" class="form-control m-input m-input--square" formControlName="code"
                                placeholder="Please Enter Office Code">
                            <div class="form-control-feedback"
                                *ngIf="isSubmited && (code.errors | equalError: 'required') || (code.errors | equalError: 'required') && code.dirty">
                                Office code is required!
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group"
                            [ngClass]="{'m-form__group has-danger': (branchNameEn.dirty && !branchNameEn.valid) || (isSubmited && !branchNameEn.valid)}">
                            <label class="form-control-label" for="">
                                Name EN <span class="m--font-danger">(*)</span>
                            </label>
                            <input type="text" formControlName="branchNameEn" class="form-control"
                                placeholder="Please Enter Name EN">
                            <div class="form-control-feedback"
                                *ngIf="isSubmited && (branchNameEn.errors | equalError: 'required')  || (branchNameEn.errors | equalError: 'required') && branchNameEn.dirty">
                                Name EN is required!
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group"
                            [ngClass]="{'m-form__group has-danger': (branchNameVn.dirty && !branchNameVn.valid) || (isSubmited && !branchNameVn.valid)}">
                            <label class="form-control-label" for="">
                                Name Local <span class="m--font-danger">(*)</span>
                            </label>
                            <input type="text" formControlName="branchNameVn" class="form-control"
                                placeholder="Please Enter Name Local">
                            <div class="form-control-feedback"
                                *ngIf="isSubmited && (branchNameVn.errors | equalError: 'required')  || (branchNameVn.errors | equalError: 'required') && branchNameVn.dirty">
                                Name Local is required!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group"
                            [ngClass]="{'m-form__group has-danger': (shortName.dirty && !shortName.valid) || (isSubmited && !shortName.valid)}">
                            <label class="form-control-label" for="">
                                Name Abbr <span class="m--font-danger">(*)</span>
                            </label>
                            <input type="text" formControlName="shortName" class="form-control"
                                placeholder="Please Enter Name Abbr">
                            <div class="form-control-feedback"
                                *ngIf="isSubmited && (shortName.errors | equalError: 'required')  || (shortName.errors | equalError: 'required') && shortName.dirty">
                                Name Abbr is required!
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group"
                            [ngClass]="{'m-form__group has-danger': (taxcode.dirty && !taxcode.valid) || (isSubmited && !taxcode.valid)}">
                            <label class="form-control-label" for="">
                                Tax Code <span class="m--font-danger">(*)</span>
                            </label>
                            <input type="text" formControlName="taxcode" class="form-control m-input m-input--square"
                                placeholder="Please Enter Tax Code">
                            <div class="form-control-feedback"
                                *ngIf="isSubmited && (taxcode.errors | equalError: 'required')  || (taxcode.errors | equalError: 'required') && taxcode.dirty">
                                Tax code is required!
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group"
                            [ngClass]="{'m-form__group has-danger': (officeType.dirty && !officeType.valid) || (isSubmited && !officeType.valid)}">
                            <label class="form-control-label">
                                Office Type
                                <span class="text-danger">*</span>
                            </label>
                            <ng-select class="custom" formControlName="officeType" [items]="officeTypes">
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group" [ngClass]="{'m-form__group has-danger': isSubmited && !company.value}">
                            <label class="form-control-label">
                                Company <span class="m--font-danger">(*)</span>
                            </label>
                            <app-combo-grid-virtual-scroll [currentActiveItemId]="{ field: 'id', value: company.value}"
                                (itemSelected)="onSelectDataFormInfo($event)"
                                [selectedDisplayFields]="configOffice.selectedDisplayFields"
                                [dataSources]="configOffice.dataSource" (remove)="resetFormControl(company)"
                                [displayFields]="configOffice.displayFields" [height]="200" placeholder="Select Company"
                                [disabled]="isReadonly | async">
                            </app-combo-grid-virtual-scroll>
                            <div class="form-control-feedback" *ngIf="isSubmited && !company.value ">
                                Company is required!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group"
                            [ngClass]="{'m-form__group has-danger': (addressVn.dirty && !addressVn.valid) || (isSubmited && !addressVn.valid)}">
                            <label class="form-control-label" for="">
                                Address Local <span class="m--font-danger">(*)</span>
                            </label>
                            <input type="text" formControlName="addressVn" class="form-control"
                                placeholder="Please Enter Address Local">
                            <div class="form-control-feedback"
                                *ngIf="isSubmited && (addressVn.errors | equalError: 'required')  || (addressVn.errors | equalError: 'required') && addressVn.dirty">
                                Address Local is required!
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group"
                            [ngClass]="{'m-form__group has-danger': (addressEn.dirty && !addressEn.valid) || (isSubmited && !addressEn.valid)}">
                            <label class="form-control-label" for="">
                                Address EN <span class="m--font-danger">(*)</span>
                            </label>
                            <input type="text" formControlName="addressEn" class="form-control"
                                placeholder="Please Enter Address EN">
                            <div class="form-control-feedback"
                                *ngIf="isSubmited && (addressEn.errors | equalError: 'required')  || (addressEn.errors | equalError: 'required') && addressEn.dirty">
                                Address EN is required!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="">
                                Work Phone <span class="m--font-danger"></span>
                            </label>
                            <input type="text" formControlName="tel" class="form-control"
                                placeholder="Please Enter Work Phone">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="">
                                Fax
                            </label>
                            <input type="text" formControlName="fax" class="form-control"
                                placeholder="Please Enter Fax">

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="">
                                Email
                            </label>
                            <input type="text" formControlName="email" class="form-control"
                                placeholder="Please Enter Email">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-1">
                        <div class="form-group">
                            <label class="form-control-label">Active</label>
                            <div class="m-checkbox-inline">
                                <app-switch formControlName="active">
                                </app-switch>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group" 
                        [ngClass]="{'m-form__group has-danger': (internalCode.dirty && internalCode.value?.length > 20) || (isSubmited && internalCode.value?.length > 20)}">
                            <label class="form-control-label">Internal Code</label>
                            <div class="m-checkbox-inline">
                                <input type="text" formControlName="internalCode" class="form-control"
                                placeholder="Please Enter Internal Code">
                            </div>
                            <div class="form-control-feedback"
                                *ngIf="isSubmited && internalCode.value?.length > 20  || internalCode.value?.length > 20 && internalCode.dirty">
                                Internal code just have maximum 20 character!
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label">
                                Bank Account Name VN
                            </label>
                            <input type="text" formControlName="bankAccountName_VN" class="form-control"
                                placeholder="Please Enter Bank Account Name VN">
                        </div>

                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label">
                                Bank Account Name EN
                            </label>
                            <input type="text" formControlName="bankAccountName_EN" class="form-control"
                                placeholder="Please Enter Bank Account Name EN">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label">
                                Bank Name EN
                            </label>
                            <input type="text" formControlName="bankName_En" class="form-control"
                                placeholder="Please Enter Bank Name EN">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label">
                                Bank Name Local(VN)
                            </label>
                            <input type="text" formControlName="bankName_Local" class="form-control"
                                placeholder="Please Enter Bank Name Local">
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="">
                                Swift Code
                            </label>
                            <input type="text" formControlName="swiftCode" class="form-control"
                                placeholder="Please Enter Bank Swift Code">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="">
                                Bank Account No USD
                            </label>
                            <input type="text" formControlName="bankAccountUSD" class="form-control"
                                placeholder="Please Enter Bank Account No Usd">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="">
                                Bank Account No VND
                            </label>
                            <input type="text" formControlName="bankAccountVND" class="form-control"
                                placeholder="Please Enter Bank Account No Vnd">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label">
                                Location
                            </label>
                            <input type="text" formControlName="location" class="form-control"
                                placeholder="Please Enter location">
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="form-control-label">
                                Bank Address Local(VND)
                            </label>
                            <input type="text" formControlName="bankAddress_Local" class="form-control"
                                placeholder="Please Enter Bank Address Local">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="form-control-label">
                                Bank Address EN
                            </label>
                            <input type="text" formControlName="bankAddress_En" class="form-control"
                                placeholder="Please Enter Bank Address En">
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="isDetail">
                    <div class="col-6">
                        Created: {{SelectedOffice.datetimeCreated | date: 'dd/MM/yyyy HH:mm'}} by <span
                            class="text-success">{{SelectedOffice.userCreated}}</span>
                    </div>
                    <div class="col-6">
                        Modified: {{SelectedOffice.datetimeModified | date: 'dd/MM/yyyy HH:mm'}} by <span
                            class="text-success">{{SelectedOffice.userModified}}</span>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>