:host /deep/ {
    .files-attach-wp {
        .dropzone {
            padding: 20px;
            text-align: center;
            cursor: pointer;
            border: 2px dashed #ebedf2;
            border-radius: 4px;
            min-height: auto;
            text-align: center;
            width: 400px;
            margin: 0px auto;
            position: relative;
            overflow: hidden;
            display: inline-block;
            transition: color 0.3s ease;
            -webkit-transition: color 0.3s ease;
            &:hover {
                border-color: #5d78ff;
            }
            input[type="file"] {
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
                height: 100%;
                width: 100%;
                cursor: pointer;
            }
            .dropzone__message {
                text-align: center;
                margin: 2em 0;
                .dropzone__title {
                    color: #595d6e;
                    margin: 0 0 5px 0;
                    padding: 0;
                    font-weight: 500;
                    font-size: 1.2rem;
                }
            }
        }
        .list-files {
            max-height: 270px;
            overflow-y: scroll;
            .file__item {
                cursor: pointer;
                .file-item__name {
                    a {
                        color: #595d6e;
                        font-size: 1rem;
                        font-weight: 500;
                        padding-right: 1.25rem;
                        transition: color 0.3s ease;
                        -webkit-transition: color 0.3s ease;
                        &:hover {
                            color: #5d78ff;
                            -webkit-transition: color 0.3s ease;
                            transition: color 0.3s ease;
                        }
                    }
                }
            }
        }
    }
}
