<!--begin:: subheader-->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <app-breadcrumb></app-breadcrumb>
        </div>
        <div class="c-button-actions">
            <span class="m--font-bolder m--font-danger">Not Imported</span>
            <!-- <span class="m--font-bolder m--font-success">Imported</span> -->
        </div>
    </div>
</div>
<!--end:: subheader-->

<!--begin:: m-content -->
<div class="m-content">
    <!--begin::Form-->
    <div class="m-form m-form--state">
        <!--begin:: m-portlet-->
        <div class="m-portlet">
            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="">
                                Clearance No <span class="m--font-danger">(*)</span>
                            </label>
                            <input type="text" class="form-control m-input m-input--square" placeholder=""
                                [(ngModel)]="customDeclaration.clearanceNo">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="">
                                Customer <span class="m--font-danger">(*)</span>
                            </label>
                            <app-combo-grid-virtual-scroll
                                [currentActiveItemId]="{field:'taxCode',value:customerCurrent,hardValue:''}"
                                [selectedDisplayFields]="['partnerNameEn']" [dataSources]="listCustomer"
                                [displayFields]="[{'field':'id','label':'Partner ID'},{'field':'shortName','label':'Name ABBR'},{'field':'partnerNameEn','label':'Name EN'},{'field':'taxCode','label':'Tax Code'}]">
                            </app-combo-grid-virtual-scroll>

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="">
                                Clearance Date <span class="m--font-danger">(*)</span>
                            </label>
                            <div class="m-input-icon m-input-icon--right down">
                                <input type="text" class="form-control m-input m-input--square" ngxDaterangepickerMd
                                    [autoApply]="true" [locale]="{applyLabel: 'ok', format: 'DD/MM/YYYY'}"
                                    [(ngModel)]="customDeclaration.clearanceDate" [singleDatePicker]="true"
                                    name="singledater" readonly />
                                <span class="m-input-icon__icon m-input-icon__icon--right">
                                    <span>
                                        <i class="la la-calendar"></i>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="">
                                HBL/HAWB
                            </label>
                            <input type="text" class="form-control m-input m-input--square"
                                [(ngModel)]="customDeclaration.hblid" placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="">
                                MBL/MAWB
                            </label>
                            <input type="text" class="form-control m-input m-input--square"
                                [(ngModel)]="customDeclaration.mblid" placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="">
                                Service Type
                            </label>
                            <ng-select [allowClear]="true" [items]="serviceTypes" [disabled]="disabled"
                                [active]="serviceTypeCurrent" (data)="refreshValue($event)"
                                (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)"
                                placeholder="Select filter">
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="">
                                Gateway <span class="m--font-danger">(*)</span>
                            </label>
                            <app-combo-grid-virtual-scroll
                                [currentActiveItemId]="{field:'code',value:portCurrent,hardValue:''}"
                                [selectedDisplayFields]="['nameEn']" [dataSources]="listPort"
                                [displayFields]="[{'field':'code','label':'Port Code'},{'field':'nameEn','label':'Port Name (EN)'},{'field':'countryNameEN','label':'Country Name (EN)'}]">
                            </app-combo-grid-virtual-scroll>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="">
                                Type
                            </label>
                            <ng-select [allowClear]="true" [items]="typeClearance" [disabled]="disabled"
                                [active]="typeClearanceCurrent" (data)="refreshValue($event)"
                                (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)"
                                placeholder="Select filter">
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="">
                                Route
                            </label>
                            <ng-select [allowClear]="true" [items]="routeClearance" [disabled]="disabled"
                                [active]="routeClearanceCurrent" (data)="refreshValue($event)"
                                (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)"
                                placeholder="Select filter">
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="">
                                Cargo Type
                            </label>
                            <ng-select [allowClear]="true" [items]="cargoTypes" [disabled]="disabled"
                                [active]="cargoTypeCurrent" (data)="refreshValue($event)" (selected)="selected($event)"
                                (removed)="removed($event)" (typed)="typed($event)" placeholder="Select filter">
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="">
                                Export Country
                            </label>
                            <app-combo-grid-virtual-scroll
                                [currentActiveItemId]="{field:'code',value:countryExportCurrent,hardValue:''}"
                                [selectedDisplayFields]="['nameEn']" [dataSources]="listCountry"
                                [displayFields]="[{'field':'code','label':'Country Code'},{'field':'nameEn','label':'Country Name (EN)'}]">
                            </app-combo-grid-virtual-scroll>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="">
                                Import Country
                            </label>
                            <app-combo-grid-virtual-scroll
                                [currentActiveItemId]="{field:'code',value:countryImportCurrent,hardValue:''}"
                                [selectedDisplayFields]="['nameEn']" [dataSources]="listCountry"
                                [displayFields]="[{'field':'code','label':'Country Code'},{'field':'nameEn','label':'Country Name (EN)'}]">
                            </app-combo-grid-virtual-scroll>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="">
                                Commodity
                            </label>
                            <app-combo-grid-virtual-scroll
                                [currentActiveItemId]="{field:'code',value:commodityCurrent,hardValue:''}"
                                [selectedDisplayFields]="['commodityNameEn']" [dataSources]="listCommodity"
                                [displayFields]="[{'field':'code','label':'Commodity Code'},{'field':'commodityNameEn','label':'Commodity Name (EN)'}]">
                            </app-combo-grid-virtual-scroll>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="">
                                Gross Weight
                            </label>
                            <input type="text" class="form-control m-input m-input--square"
                                [(ngModel)]="customDeclaration.grossWeight" placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="">
                                Net Weight
                            </label>
                            <input type="text" class="form-control m-input m-input--square"
                                [(ngModel)]="customDeclaration.netWeight" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="">
                                CBM
                            </label>
                            <input type="text" class="form-control m-input m-input--square"
                                [(ngModel)]="customDeclaration.cbm" placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="">
                                Qty Cont
                            </label>
                            <input type="text" class="form-control m-input m-input--square"
                                [(ngModel)]="customDeclaration.qtyCont" placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="">
                                Package Qty
                            </label>
                            <div class="input-group m-input-group m-input-group--square">
                                <input type="text" class="form-control m-input" aria-label=""
                                    [(ngModel)]="customDeclaration.pcs">
                                <div class="input-group-prepend">
                                    <app-combo-grid-virtual-scroll
                                        [currentActiveItemId]="{field:'code',value:unitCurrent,hardValue:''}"
                                        [selectedDisplayFields]="['unitNameEn']" [dataSources]="listUnit"
                                        [displayFields]="[{'field':'code','label':'Unit Code'},{'field':'unitNameEn','label':'Unit Name (EN)'}]">
                                    </app-combo-grid-virtual-scroll>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="form-control-label" for="">
                                Note
                            </label>
                            <input type="text" class="form-control m-input m-input--square"
                                [(ngModel)]="customDeclaration.note" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 m--margin-top-10 m--margin-bottom-5">
                        <span class="m--font-bolder">Create:</span>
                        <span
                            class="m--font-brand m--margin-left-5">{{customDeclaration.datetimeCreated | date: 'dd/MM/yyyy h:mm:ss'}}</span>
                        <span class="m--font-bolder m--margin-left-5">by</span>
                        <span class="m--font-brand m--margin-left-5">{{customDeclaration.userCreated}}</span>
                    </div>
                    <div class="col-md-4 m--margin-top-10 m--margin-bottom-5">
                        <span class="m--font-bolder">Modified:</span>
                        <span
                            class="m--font-brand m--margin-left-5">{{customDeclaration.datetimeModified | date: 'dd/MM/yyyy h:mm:ss'}}</span>
                        <span class="m--font-bolder m--margin-left-5">by</span>
                        <span class="m--font-brand m--margin-left-5">{{customDeclaration.userModified}}</span>
                    </div>
                    <div class="col-md-4 m--margin-top-10 m--margin-bottom-5">
                        <span class="m--font-bolder">Source:</span>
                        <span class="m--font-brand m--margin-left-5">{{customDeclaration.source}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 m--margin-top-10 m--margin-bottom-5">
                        <span class="m--font-bolder">First Customer No:</span>
                        <span class="m--font-brand m--margin-left-5">{{customDeclaration.firstClearanceNo}}</span>
                    </div>
                    <div class="col-md-4 m--margin-top-10 m--margin-bottom-5">
                        <span class="m--font-bolder">Reference JobID:</span>
                        <span class="m--font-brand m--margin-left-5">{{customDeclaration.jobNo}}</span>
                    </div>
                    <div class="col-md-4 m--margin-top-10 m--margin-bottom-5">
                        <span class="m--font-bolder">Convert time:</span>
                        <span class="m--font-brand m--margin-left-5">{{customDeclaration.datetimeCreated | date: 'dd/MM/yyyy h:mm:ss'}}</span>
                    </div>
                </div>

            </div>
        </div>
        <!--end::  m-portlet-->
        <!--begin:: form-actions-->
        <div class="form-actions m--align-right">
            <button type="" class="btn btn-brand m-btn--square m-btn--icon m-btn--uppercase"
                (click)="updateCustomClearance()">
                <span>
                    <i class="la la la-save"></i>
                    <span>
                        save
                    </span>
                </span>
            </button>
            <button type="" class="btn btn-success m-btn--square m-btn--icon m-btn--uppercase">
                <span>
                    <i class="la la la-save"></i>
                    <span>
                        save and convert
                    </span>
                </span>
            </button>
            <button type="button" class="btn btn-cancel m-btn--square m-btn--icon m-btn--uppercase"
                routerLink="/home/operation/custom-clearance">
                <span>
                    <i class="la la-ban"></i>
                    <span>
                        cancel
                    </span>
                </span>
            </button>
        </div>
        <!--end:: form-actions-->
    </div>
    <!--end::Form-->

</div>
<!--end:: m-content-->