<div class="modal fade" id="add-custom-declaration-modal" bsModal #popup="bs-modal" role="dialog"
    (onHide)="onHide($event)" (onShow)="onShow($event)">
    <div class="modal-dialog c-modal-fullscreen" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add New Custom Declaration</h5>
                <button type="button" class="close" aria-label="Close" (click)="hide(); closePopUpAddNew()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <custom-clearance-form-detail></custom-clearance-form-detail>
            </div>
            <div class="modal-footer m--align-center">
                <button class="btn btn-brand  m-btn--icon m-btn--uppercase" (click)="createCustomerDeclaration()">
                    <span>
                        <i class="la la-save"></i>
                        <span>
                            create
                        </span>
                    </span>
                </button>
                <button type="button" class="btn btn-cancel  m-btn--icon m-btn--uppercase"
                    (click)="hide(); closePopUpAddNew()">
                    <span>
                        <i class="la la-ban"></i>
                        <span>
                            cancel
                        </span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>
