.company-infomation-page {
    .logo-company {
        width: 80px;
        overflow: hidden;
        border-radius: 50%;
    }
}

.form-add-company {
    .upload-image-wp {
        .image-upload-content {
            width: 300px;
            min-height: 150px;
            margin: 0px auto;
        }
        img {
            width: 200px;
        }
    }
}
