<tr class="text-{{align}}">
    <ng-content select="th.first"></ng-content>
    <th *ngFor="let header of headers; let i = index; trackBy: trackByFn" [ngStyle]="{ 'min-width.px': header.width}"
        [class]="header.sortable | sortTableClass:header.field:sort:order"
        (click)="sortBy(header.sortable ? header.field : '')" [class.fixed-side]="header.fixed"
        [ngClass]="header | fixedColumnClass: i + 1" [ngClass]="header | alignClass">
        <span class="sort-indicator">
            {{header.title}}
            <span class="text-danger" *ngIf="header.required">(*)</span>
        </span>
        <!-- <span class="sort-indicator"></span> -->
    </th>
    <ng-content select="th.last"></ng-content>
</tr>