<div class="m-portlet m-animate-fade-in m--margin-50">
    <div class="m-portlet__head alert-block__heading pointer">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text collapse-toggle">
                    Attach File
                </h3>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        <div class="row">
            <div class="col-md-12 files-attach-wp">
                <div class="dropzone">
                    <div class="dropzone__message">
                        <h3 class="dropzone__title">
                            Click to upload
                            <span>
                                <i class="fa fa-upload" aria-hidden="true"></i>
                            </span>
                        </h3>
                    </div>
                    <input type="file" multiple (change)="chooseFile($event)" [accept]="accepctFilesUpload"
                        title="Upload files" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 table-responsive table-horizontal">
                <table class="table table-brand">
                    <thead app-table-header [headers]="headers">
                        <th class="first">No</th>
                    </thead>
                    <ng-container>
                        <tbody>
                            <ng-container *ngIf="listFile.length > 0">
                                <ng-container *ngFor="let file of listFile; let i = index; trackBy: trackByFn">
                                    <tr class="m-animate-fade-in m-form m-form--state">
                                        <td>{{i + 1}}</td>
                                        <td class="table-actions-col">
                                            <button type="button" class="btn btn-danger m-btn--icon m-btn--icon-only"
                                                (click)="removeFile(i)"><i class="la la-trash la la-plus"></i>
                                            </button>
                                        </td>
                                        <td class="">
                                            <div class="form-group"
                                                [ngClass]="{'m-form__group has-danger': (isSubmitted && !file.aliasName) }">
                                                <input class="form-control" placeholder="Aias name" type="text"
                                                    [(ngModel)]="file.aliasName">
                                            </div>
                                        </td>
                                        <td class="disabled">
                                            <div class="form-group ">
                                                <input type="text" class="form-control " [ngModel]="file.name" disabled>
                                            </div>
                                        </td>
                                        <td class="">
                                            <div class="form-group"
                                                [ngClass]="{'m-form__group has-danger': (isSubmitted && !file.docType) }">
                                                <select class="form-control" [ngModel]="file.docType"
                                                    (ngModelChange)="onSelectDataFormInfo($event,i,'docType')">
                                                    <option *ngFor="let docType of documentTypes"
                                                        [ngValue]="docType.id">
                                                        {{docType.nameEn}}
                                                    </option>
                                                </select>
                                            </div>
                                        </td>
                                        <td class="">
                                            <div class="form-group ">
                                                <input type="text" class="form-control " placeholder="Note"
                                                    [(ngModel)]="file.note">
                                            </div>
                                        </td>

                                    </tr>
                                </ng-container>
                            </ng-container>
                            <tr app-table-none-record [colspan]="headers?.length  + 1" *ngIf="!listFile.length">
                            </tr>
                        </tbody>
                    </ng-container>
                </table>
            </div>
        </div>
        <ng-container *ngIf="!!listFile.length">
            <div class="row">
                <div class="col-12">
                    <div class="m--align-center m--margin-top-20">
                        <div class="c-button-actions">
                            <button type="button" class="btn btn-success m-btn--icon m-btn--uppercase"
                                (click)="submitUpload()">
                                <span>
                                    <i class="la la-upload"></i>
                                    <span> Upload </span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>