<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <app-breadcrumb></app-breadcrumb>
        </div>
    </div>
</div>
<div class="m-content">
    <div class="m-portlet">
        <div class="m-form">
            <div class="m-portlet__body">
                <adv-payment-form-create></adv-payment-form-create>
            </div>
        </div>
    </div>
    <div class="m-portlet">
        <div class="m-form">
            <div class="m-portlet__body">
                <div>
                    <adv-payment-list-request> </adv-payment-list-request>
                    <div class="row list-progress-wp">
                        <div class="col-12">
                            <ul class="list-unstyled list-progress d-flex justify-content-around">
                                <li *ngFor="let item of progress">
                                    <div class="progress-content text-center">
                                        <div class="font-weight-bolder">Requester</div>
                                        <div class="icon-check">
                                            <i class="la la-check-circle-o"></i>
                                        </div>
                                        <div class="font-weight-bold">Name</div>
                                        <div class="font-weight-bold">Date: 25/06/2019</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="justify-content-around d-flex w-50 m-auto m--margin-top-20">
                            <button
                                class="btn btn-primary m-btn--square m-btn--icon m-btn--uppercase m--margin-right-10"
                                title="Save">
                                <span>
                                    <i class="la la-save"></i>
                                    <span>
                                        Approve
                                    </span>
                                </span>
                            </button>
                            <button class="btn btn-danger m-btn--square m-btn--icon m-btn--uppercase m--margin-right-10"
                                title="Save & Send Request">
                                <span>
                                    <i class="la la-times"></i>
                                    <span>
                                        Deny
                                    </span>
                                </span>
                            </button>
                            <button class="btn btn-cancel m-btn--square m-btn--icon m-btn--uppercase m--margin-right-10"
                                title="Preview">
                                <span>
                                    <i class="la la-print"></i>
                                    <span>
                                        Preview
                                    </span>
                                </span>
                            </button>
                            <button class="btn btn-default m-btn--square m-btn--icon m-btn--uppercase" title="Cancel">
                                <span>
                                    <i class="la la-ban"></i>
                                    <span>
                                        Cancel
                                    </span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>