<div class="advance-payment-page">
    <div class="m-subheader">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <app-breadcrumb></app-breadcrumb>
            </div>
            <div class="c-button-actions">
                <button type="button" class="btn btn-success m-btn--square m-btn--icon m-btn--uppercase"
                    [routerLink]="'/home/accounting/settlement-payment/new'">
                    <span>
                        <i class="la la-plus"></i>
                        <span>
                            add new
                        </span>
                    </span>
                </button>
                <button type="button" class="btn btn-danger m-btn--square m-btn--icon m-btn--uppercase">
                    <span>
                        <i class="la la-upload"></i>
                        <span>
                            export
                        </span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="m-content">
        <settle-payment-form-search (onSearch)="onSearchSettlement($event)"></settle-payment-form-search>
        <div class="m-portlet">
            <div class="m-form">
                <div class="m-portlet__body">
                    <perfect-scrollbar style="max-height: 900px">
                        <div class="table-wrapper table-scrollabler" id="adv-payment-list-table">
                            <table class="table table-brand table-hover dataTable">
                                <thead>
                                    <tr class="text-center">
                                        <th class="m--w-50">
                                        </th>
                                        <th *ngFor="let header of headers; let i = index; trackBy: trackByFn"
                                                        [class]="sortClass(header.sortable ? header.field : '')" (click)="sortBy(header.sortable ? header.field : '')">
                                                        <span>{{header.title}}</span>
                                                        <span class="sort-indicator"></span>
                                          </th>
                                    </tr>
                                </thead>
                                <tbody class="tbody-group">
                                    <ng-container *ngFor="let settlePayment of settlements; let i = index; trackBy: trackByFn">
                                        <tr class="text-center">
                                            <td>
                                                <div class="m-checkbox-list d-flex align-items-center">
                                                    
                                                    <button 
                                                        class="btn btn-sm m-btn--square m-btn--icon m-btn--icon-only collapsed"
                                                        data-toggle="collapse"
                                                        [attr.data-target]="'#ops-shipment-00' + (settlePayment.id+1)"
                                                        title="Collapse" (click)="showCustomClearance(settlePayment.settlementNo, i)">
                                                        <i class="la la-angle-up"></i>
                                                    </button>
                                                    <span
                                                        *ngIf="settlePayment.statusApproval === 'New' || settlePayment.statusApproval === 'Denied'">
                                                        <a title="Delete settle payment"
                                                            class="pointer">
                                                            <i class="la la-trash text-danger"></i>
                                                        </a>
                                                    </span>
                                                </div>

                                            </td>
                                            <td class="table-actions-col">
                                                    <div class="table-actions">
                                                        <label class="m-checkbox m-checkbox--bold">
                                                            <input type="checkbox" >
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </td>
                                            <td class="text-underline text-primary pointer">
                                                <a [routerLink]="[settlePayment.id]">{{settlePayment.settlementNo}}
                                                </a>
                                            </td>
                                            <td>{{settlePayment.amount | number: '.0-3'}}</td>
                                            <td>{{settlePayment.settlementCurrency}}</td>
                                            <td>{{settlePayment.requesterName}}</td>
                                            <td>{{settlePayment.requestDate | date: 'dd/MM/yyyy'}}</td>
                                      
                                            <td>{{settlePayment.statusApproval}}</td>
                                         
                                       
                                         
                                            <td>{{settlePayment.paymentMethod}}</td>
                                            <td>{{settlePayment.note}}</td>
                                    
                                      
                                        </tr>
                                        <tr class="collapse-panel-row">
                                            <td colspan="100">
                                                <div class="detail-panel-block collapse"
                                                id="ops-shipment-00{{settlePayment.id+1}}"
                                                data-parent="#adv-payment-list-table">
                                                    <div class="table-inside-block">
                                                        <table class="table table-secondary dataTable">
                                                            <thead>
                                                                <tr class="text-center">
                                                                    <th *ngFor="let header of headerCustomClearance; trackBy: trackByFn" [class]="sortClassCustomClearance(header.sortable ? header.field : '')"
                                                                        (click)="sortByCustomClearance(header.sortable ? header.field : '')">
                                                                        <span>{{header.title}}</span>
                                                                        <span class="sort-indicator"></span>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody *ngIf="customClearances.length > 0">
                                                                <tr *ngFor="let clearance of customClearances; let j = index; trackBy: trackByFn" class="text-center">
                                                                    <td>
                                                                        <span>{{clearance.jobId}}</span>
                                                                    </td>
                                                                    <td>
                                                                        <span>{{clearance.mbl}}</span>
                                                                    </td>
                                                                    <td>
                                                                        <span>{{clearance.hbl}}</span>
                                                                    </td>
                                                                    <td>
                                                                        <span>{{clearance.amount}}</span>
                                                                    </td>
                                                                    <td>
                                                                        <span>{{clearance.settlementCurrency}}</span>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </td>

                                            
                                        </tr>
                                
                                    </ng-container>
                               
                                    <tr *ngIf="!isLoading && !settlements.length">
                                        <td colspan="100">
                                            <div class="no-data">
                                                <i class="flaticon-coins"></i>
                                                <span class="no-data-text">No records found</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="loading-wrapper" *ngIf="isLoading">
                                        <td colspan="100">
                                            <div class="on-loading">
                                                <div class="m-loader m-loader--brand">
                                                </div><span>Loading</span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </perfect-scrollbar>
                    <div class="pagination-nav">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="tatable__pager-size">
                                    <div class="select-box">
                                        <select class="form-control" id="" aria-label="" [(ngModel)]="pageSize"
                                            (change)="selectPageSize(pageSize, dataSearch)" name="pagesize">
                                            <ng-container *ngFor="let item of numberToShow; let i = index; trackBy: trackByFn">
                                                <option [ngValue]="item">{{item}} line / screen</option>
                                            </ng-container>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6" *ngIf="totalItems > pageSize">
                                <div class="float-right">
                                    <pagination [boundaryLinks]="true" [totalItems]="totalItems" [itemsPerPage]="pageSize"
                                        (pageChanged)="pageChanged($event)" [(ngModel)]="page">
                                    </pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>