:host /deep/ {
    .arrival-note-wrapper {
        .m--w-90 {
            min-width: 90px;
        }
        .fr-box {
            width: 100%;
        }
        .fixed-side {
            left: -1px;
            background: #fff;
        }

        .table-editable {
            padding-bottom: 175px;
            .e--combogrid {
                .form-control {
                    background: inherit;
                    padding: 4px 8px;
                    border: unset;
                }
                table {
                    th:first-child {
                        min-width: 130px;
                    }
                }
                tr {
                    th:not(:first-child) {
                        min-width: 130px;
                    }
                    td:not(:first-child) {
                        min-width: 130px;
                    }

                    td:first-child {
                        min-width: 130px;
                    }
                }
            }
        }
    }
}
