<!--begin:: subheader-->
<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<!--begin:: breadcrumbs-->
			<app-breadcrumb></app-breadcrumb>
			<!--end:: breadcrumbs-->
		</div>
	</div>
</div>
<!--end:: subheader-->
<!--begin::m-content-->
<div class="m-content">
	<!--begin:: m-portlet-->
	<div class="m-portlet">
		<div class="m-portlet__body">
			<!--begin::Form-->
			<div class="m-form m-form--state">
				<div class="row">
					<div class="col-lg-4">
						<form #form>
							<input type="file" #fileInput id="inputFile" class="form-control m-input m-input--square"
								placeholder="" (change)="chooseFile($event)" onclick="this.value=null;" accept=".xlsx">
						</form>
						<span class="m-form__help">
							<a class="btn-link" href="javascript:void(0)" (click)="downloadSample()">Download sample</a>
						</span>
					</div>
					<div class="col-lg-7 offset-lg-1">
						<div class="row">
							<div class="col-sm-4 m--margin-top-10 text-right">
								<span class="m--font-brand m--font-bolder">
									Total rows: {{totalRows}}
								</span>
							</div>
							<div class="col-sm-4 m--margin-top-10 text-right">
								<span class="m--font-success m--font-bolder">
									Valid rows: {{totalValidRows}}
								</span>
							</div>
							<div class="col-sm-4 m--margin-top-10 text-right">
								<span class="m--font-danger  m--font-bolder">
									Invalid rows: {{totalRows - totalValidRows}}
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="form-actions m--margin-top-5 m--align-right">
					<button type="button" class="btn btn-danger  m-btn--icon m-btn--uppercase" (click)="hideInvalid()">
						<span>
							<span *ngIf="isShowInvalid">
								Show invalid rows
							</span>
							<span *ngIf="isShowInvalid == false">
								Show All
							</span>
						</span>
					</button>
					<button type="button" class="btn btn-brand  m-btn--icon m-btn--uppercase"
						(click)="import(fileInput)">
						<span>
							<i class="la la-save"></i>
							<span>
								save
							</span>
						</span>
					</button>
					<button type="button" class="btn  m-btn--icon m-btn--uppercase"
						routerLink="/home/catalogue/commodity">
						<span>
							<i class="la la-ban"></i>
							<span>
								close
							</span>
						</span>
					</button>
				</div>
			</div>
			<!--end::Form-->
		</div>
	</div>
	<!--end::m-portlet-->
	<!--begin:: m-portlet-->
	<div class="m-portlet" style="position: relative">
		<div class="m-portlet__body">
			<!--begin: Datatable -->
			<div class="table-wrapper" id="">
				<table class="table table-striped table-brand dataTable">
					<thead>
						<tr>
							<th>
								<span>No.</span>
							</th>
							<th class="sorting"
								[ngClass]="{ 'sorting_asc ': (isDesc && sortKey == 'code'), 'sorting_desc': (!isDesc && sortKey == 'code') }"
								(click)="sort('code')">
								<span>Code</span>
							</th>
							<th class="sorting"
								[ngClass]="{ 'sorting_asc ': (isDesc && sortKey == 'commodityNameEn'), 'sorting_desc': (!isDesc && sortKey == 'commodityNameEn') }"
								(click)="sort('commodityNameEn')">
								<span>Commodity Name(EN)</span>
							</th>
							<th class="sorting"
								[ngClass]="{ 'sorting_asc ': (isDesc && sortKey == 'commodityNameVn'), 'sorting_desc': (!isDesc && sortKey == 'commodityNameVn') }"
								(click)="sort('commodityNameVn')">
								<span>Commodity Name(Local)</span>
							</th>
							<th class="sorting"
								[ngClass]="{ 'sorting_asc ': (isDesc && sortKey == 'commodityGroupId'), 'sorting_desc': (!isDesc && sortKey == 'commodityGroupId') }"
								(click)="sort('commodityGroupId')">
								<span>Commodity Group ID</span>
							</th>
							<th>
								<span>Status</span>
							</th>
						</tr>
					</thead>
					<tbody *ngIf="data">
						<ng-container *ngFor="let item of pagedItems; let i = index">
							<tr [ngClass]="{ 'invalid-row': !item.isValid }">
								<td>
									<span>{{ (i + this.pager.startIndex + 1) }}</span>
								</td>
								<td>
									<span *ngIf="item.code.split('|').length == 1">{{ item.code }}</span>
									<span class="m--font-danger" *ngIf="item.code.split('|').length > 1">{{
                    item.code.split('|')[0] }}</span>
								</td>
								<td>
									<span
										*ngIf="item.commodityNameEn.split('|').length == 1">{{ item.commodityNameEn }}</span>
									<span class="m--font-danger" *ngIf="item.commodityNameEn.split('|').length > 1">{{
                    item.commodityNameEn.split('|')[0] }}</span>
								</td>
								<td>
									<span
										*ngIf="item.commodityNameVn.split('|').length == 1">{{ item.commodityNameVn }}</span>
									<span class="m--font-danger" *ngIf="item.commodityNameVn.split('|').length > 1">{{
                    item.commodityNameVn.split('|')[0] }}</span>
								</td>
								<td>
									<span *ngIf="item.commodityGroupId >0">{{ item.commodityGroupId }}</span>
									<span class="m--font-danger" *ngIf="item.commodityGroupId === -1">CommodityGroup ID
										not allow null
										and must be
										number</span>
									<span class="m--font-danger" *ngIf="item.commodityGroupId === -2">CommodityGroup ID
										not found</span>
								</td>

								<td>
									<span *ngIf="item.status.split('|').length == 1">{{ item.status }}</span>
									<span class="m--font-danger" *ngIf="item.status.split('|').length > 1">{{
                      item.status.split('|')[0] }}</span>
								</td>
							</tr>
						</ng-container>
					</tbody>
				</table>
			</div>
			<!--end: Datatable -->

			<!--begin::pagination-->
			<div class="pagination-nav">
				<div class="row">
					<div class="col-sm-6">
						<div class="select-box" style="max-width: 190px">
							<select class="form-control" id="" aria-label="" [(ngModel)]="pager.pageSize"
								(change)="selectPageSize()" name="pagesize">
								<ng-container *ngFor="let item of pager.numberToShow; index as i; first as isFirst">
									<option [ngValue]="item" [selected]="isFirst">{{item}} entries / page</option>
								</ng-container>
							</select>
						</div>
					</div>
					<div class="col-sm-6" *ngIf="pager.totalItems > pager.pageSize">
						<div class="float-right">
							<pagination [boundaryLinks]="true" [totalItems]="pager.totalItems"
								[maxSize]="pager.numberPageDisplay" [itemsPerPage]="pager.pageSize"
								(pageChanged)="pageChanged($event)" [(ngModel)]="pager.currentPage">
							</pagination>
						</div>
					</div>
				</div>
			</div>
			<!--end::pagination-->
		</div>
	</div>
	<!--end:: m-portlet-->
</div>
<!--end::m-content-->

<info-popup [body]="'There are invalid data. Please check Import!'"></info-popup>