//scrollbar-sidebar 
.ps__rail-y > .ps__thumb-y,
.ps__rail-y:hover > .ps__thumb-y, .ps__rail-y:focus > .ps__thumb-y, .ps__rail-y.ps--clicking .ps__thumb-y {
    background-color: #5f6386 !important;
    width: 5px !important;
}
perfect-scrollbar > .ps.ps--active-y > .ps__rail-y:hover, perfect-scrollbar > .ps.ps--active-y > .ps__rail-y.ps--clicking {
    width: 0 !important;
}
perfect-scrollbar > .ps.ps--scrolling-y > .ps__rail-y, perfect-scrollbar > .ps.ps--scrolling-x > .ps__rail-x {
    background-color: transparent !important;
}
//layout
html,
body {
    color: #5a5a5a;
    font-weight: normal;
}
body {
    overflow-y: scroll;
    &.body-fixed {
        width: 100%;
        position: fixed;
        top: 0;
    }
}
//element
label {
    font-weight: 500;
}
.form-control {
    background-color: #fbfbfb;
}
.m-body {
    width: 100%;
    min-height: 600px;
}
.bg-gray {
    background-color: #585858;
}
.btn {
    &.btn-warning {
        color: #fff;
        background-color: #fcb34c;
        &:hover,
        &:focus {
            &,
            &:not(:disabled):not(.disabled) {
                color: #fff !important;
            }
        }
    }
}
.btn-danger {
    background-color: #fb4b58;
    border-color: #fb4b58;
}
.btn-thirdary {
    color: #fff;
    background-color: #284985;
    &:hover,
    &:focus {
        &,
        &:not(:disabled):not(.disabled) {
            color: #fff;
        }
    }
}
.form-group {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0;  
}
.m-form {
    .m-form__group {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}
.c-button-actions,
.form-actions {
    > * {
        + * {
            margin-left: 10px;
        }
    }
    .btn {
        & + .btn {
            margin-left: 10px;
        }
    }
}
.form-control {
    font-family: inherit;
    &::placeholder {
        color: #b3b3b3;
    }
}
//typography
.c-block-title {
    font-size: 16px;
}
//header
.m-subheader__title {
    padding: 22px 20px;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 0;
}
.m-topbar .m-topbar__nav.m-nav .m-nav__item {
    padding: 0;
    position: relative;
    > a {
        padding-left: 15px;
        padding-right: 15px;
    }
    &:hover {
        background-color: #f2f3f8;
    }
    &:before {
        // content: "";
        width: 1px;
        display: block;
        background-color: rgba(46, 53, 79, 0.11);
        position: absolute;
        top: 15px;
        bottom: 15px;
        left: 0;
    }
}
//sidebar 
.m-aside-left--minimize .m-aside-menu.m-aside-menu--skin-dark,
.m-aside-menu.m-aside-menu--skin-dark {
    .m-menu__nav--dropdown-submenu-arrow {
        > .m-menu__item {
            &.m-menu__item--active {
                > .m-menu__link {
                    background-color: #3966b6;
                    position: relative;
                    &:before {
                        content: "";
                        width: 5px;
                        display: block;
                        background-color: #fb4b58;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: 0;
                    }
                    .m-menu__link-icon,
                    .m-menu__link-text,
                    .m-menu__ver-arrow {
                        color: #fff;
                    }
                }
            }
        }
    }
}
//table
.table {
    font-size: 13px;
    thead {
        th {
            padding-left: 8px;
            padding-right: 8px;
            font-weight: 500;
            vertical-align: middle;
            background-color: #f2dedf;
            &:first-child {
                padding-left: 10px
            }
        }
        .table-filter-row {
            td {
                background-color: #dde9f5;
                padding: 0;
            }
            .form-control {
                background-color: transparent;
            }
        }
    }
    tbody {
        tr {
            td {
                padding: 8px;
                vertical-align: middle;
                &:first-child {
                    padding-left: 10px
                }
            }
        }
    }
    &.table-brand {
        thead {
            th {
                color: #fff;
                background-color: #3966b6;
            }
        }
    }
}
.table-actions-col {
    .table-actions {
        > * {
            + * {
                margin-left: 5px;
            }
        }
    }
    .btn {
        & + .btn {
            margin-left: 5px;
        }
    }
}
table.dataTable thead .sorting {
    padding-right: 16px;
    background: #3966b6 url(../app/component/datatable/images/sort_both.png) no-repeat center right;
}
table.dataTable thead .sorting_asc {
    padding-right: 16px;
    background: #3966b6 url(../app/component/datatable/images/sort_asc.png) no-repeat center right;
}
table.dataTable thead .sorting_desc {
    padding-right: 16px;
    background: #3966b6 url(../app/component/datatable/images/sort_desc.png) no-repeat center right;
}
//modal
.modal {
    background-color: rgba(0,0,0,0.5);
    .modal-content {
        border-radius: 0;
        .modal-header {
            padding: 10px 15px;
            background-color: #3966b6;
            .modal-title {
                color: #fff;
            }
            .close {
                width: 44px;
                color: #91a5d1;
                text-shadow: none;
                position: absolute;
                right: 0;
                margin: 0;
            }
        }
        .modal-body {
            padding: 15px;
        }
        .modal-footer {
            padding: 15px;
            &.m--align-center {
                justify-content: center;
            }
        }
    }
    .c-button-actions {
        .btn {
            & + .btn {
                margin-left: 10px;
            }
        }
    }
}
.modal-header {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.modal-actions {
    float: right;
    margin-right: 26px;
}
.modal-backdrop {
    &.show {
        opacity: 0;
    }
}
.confirm-text-block {
    padding: 10px 0;
    text-align: center;
}
//m-portlet
.m-portlet {
    &.m-portlet--danger.m-portlet--head-solid-bg {
        border-color: #f2dedf;
    }
    .m-portlet__head {
        height: 46px;
        padding: 0.7rem 1.5rem;
        .portlet__title {
            font-size: 16px;
            margin: 0;
        }
    }
} 
// job management
.collapse-toggle {
    .la-angle-up {
        margin-right: 0.5em;
    }
    &.collapsed {
        .la-angle-up {
            &:before {
                content: "\f110";
            }
        }
    }
}
.div-inside {
    width: 100%;
    padding: 20px;
    margin-bottom: 1rem;
}
.advance-search-form {
    padding: 20px; 
    margin-bottom: 20px;
}
//
.alert-block-red {
    position: relative;
    &:before {
        content: "";
        width: 5px;
        display: block;
        background-color: red;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
    }
}  
.alert-block__heading {
    padding: 0.7rem 1.5rem;
    background-color: #f2dedf;
    .alert-block__title {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 0;
    }
}
//
.job-tab-content {
    .tab-pane {
        min-height: 300px;
    }
}
.job-stageview-list {
    margin-bottom: 20px;
}
//job-stage-row
.job-stage-row {
    width: 100%;
    padding-left: 100px;
    padding-right: 130px;
    border: 1px solid #ddd;
    position: relative;
    margin-bottom: 5px;
}
.job-stage-list {
    width: 100%;
    // overflow: auto;
    // position: relative;
    .m-stack {
        height: 70px;
    }
    .m-stack__item {
        min-width: 100px;
        border: 1px solid #fff;
    }
}
.job-stage-item {
    background-color: #ecf3fa;
    position: relative;
    color: #747474;
    font-size: 13px;
    font-weight: 500;
    &.job-success {
        color: #fff;
        background-color: #34bfa3;
    }
    &.job-inprogress {
        color: #fff;
        background-color: #379be1;
    }
    &.job-overdue {
        color: #fff;
        background-color: #f4516c;
    }
    &.job-warning {
        color: #fff;
        background-color: #fbb822;
    }
    .job-stage-item-actions { 
        > .btn {
            color: #747474;
        }
    }
    &.job-success,
    &.job-inprogress,
    &.job-overdue,
    &.job-warning {
        .job-stage-item-actions { 
            .btn {
                color: #fff;
            }
        }
    }
    .job-exp-timestamp {
        width: 100%;
        display: inline-block;
        font-size: 9px;
        font-weight: 500;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}
.stage-item-info {
    > i {
        margin-right: 3px;
    }
}
.job-stage-info {
    width: 100px;
    background-color: #ccedde;
    border: 1px solid #ddd;
    padding-right: 30px;
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: 1px;
}
.job-info-group {
    padding: 4px;
    font-size: 12px;
    line-height: 1.3;
    .block-text {
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: default;
    }
}
.job-stage-progress {
    width: 130px;
    background-color: #d1e7f8;
    border: 1px solid #ddd;
    position: absolute;
    top: 1px;
    bottom: 1px;
    right: 1px;
    .progress {
        height: 10px;
        position: absolute;
        top: 50%;
        left: 10px;
        right: 10px;
        margin-top: 5px;
    }
    .progress-text {
        color: #747474;
        font-size: 13px;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 10px;
        right: 10px;
        margin-top: -15px;
    }
}
.job-stage-item-actions {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    .icon-more-horizontal {
        font-size: 16px;
    }
    .asignment-job-checkbox {
        position: absolute;
        bottom: -2px;
        right: -4px;
    }  
}
.job-stage-action-menu {
    width: 230px;
    background-color: #3966b6;
    border-radius: 0;
    color: #f9f9f9;
    font-weight: normal;
    .dropdown-item {
        padding: 3px 10px;
        color: #f9f9f9;
        font-size: 13px;
        &:hover {
            background-color: #3966b6;
            color: #f9f9f9;
            text-decoration: underline;
        }
    }
    .dropdown-divider {
        border-color: #4f77be;
    }
    .stage-detail-group {
        padding: 3px 10px;
        color: #f9f9f9;
        font-size: 13px;
        .block-text {
            padding-left: 7px;
            position: relative;
            &:before {
                content: '-';
                width: 5px;
                height: 1px;
                display: inline-block;
                position: absolute;
                left: 0;
            }
        }
    }
}

//create job
.c-modal-fullscreen {
    width: calc(100% - 1.75rem);
    max-width: 1200px;
}
.c-border-block {
    padding: 32px 25px;
    border: 1px solid #e5e5e5;
    .form-group {
        margin-bottom: 20px;
    }
}
//detail job
.job-notification-dropdown {
    > .btn {
        padding-right: 30px;
    }
    .m-badge {
        position: absolute;
        right: 5px;
        top: 5px;
    }
}
//
.list-request-job {
    margin-bottom: 0;
    .list-group-item {
        border-width: 0 0 1px 0;
        margin-bottom: 0;
        &:last-child {
            border-bottom: 0;
        }
        strong {
            color: #3966b6;
            font-weight: 500;
        }
    }
    .timestamp {
        font-weight: normal;
    }
}