<div class="m-portlet">
    <div class="m-portlet__body">
        <div
            class="d-flex justify-content-between align-items-center font-15 font-weight-bold m--padding-top-10 m--padding-bottom-10">
            <h4>
                Price List
                <ng-container *ngIf="!!(prices | async).length">
                    <span class="badge badge-info">{{(prices | async).length}}</span>
                </ng-container>
            </h4>
            <ng-container *ngIf="!(isReadonly | async)">
                <div class="m--align-right">
                    <button class="btn btn-success" type="button" (click)="openAddNewPrice()">
                        <i class="la la-plus"></i>Add New
                    </button>
                </div>
            </ng-container>
        </div>
        <div class="table-wrapper" id="work-order-list-table">
            <table class="table table-brand dataTable">
                <thead app-table-header [headers]="headers"
                    (onClick)="sortBy($event.sortField ? $event.sortField : '')">
                    <th class="m--w-50 first table-actions-col">
                        Actions
                    </th>
                </thead>
                <tbody>
                    <ng-container *ngIf="!!(prices | async).length">
                        <ng-container *ngFor="let item of (prices | async); let i = index; trackBy: trackByFn">
                            <tr [class.bg-locked]="i === selectedIndexPriceItem" (click)="selectedIndexPriceItem = i">
                                <td class="table-actions-col">
                                    <div class="table-actions">
                                        <button class="btn btn-success btn-sm m-btn--icon m-btn--icon-only"
                                            title="Detail" (click)="updatePriceItem(i)"><i class="la la-edit"></i>
                                        </button>
                                        <ng-container *ngIf="!(isReadonly | async)">
                                            <button type="button" (click)="deletePriceItem(item, i)"
                                                class="btn btn-danger btn-sm m-btn--icon m-btn--icon-only"
                                                title="Remove">
                                                <i class="la la-trash"></i>
                                            </button>
                                        </ng-container>
                                    </div>
                                </td>
                                <td class="text-primary">{{item.partnerName}}</td>
                                <td>
                                    {{ [item.quantityFromRange, item.quantityToRange] | quantityRange }}
                                </td>
                                <td>{{item.unitCode}}</td>
                                <td>
                                    {{item?.unitPriceBuying | number: '.0-2'}}
                                    <span class="m--margin-left-10 font-weight-bold">
                                        {{item?.currencyIdBuying}}
                                    </span>
                                </td>
                                <td class="">
                                    {{item?.unitPriceSelling | number: '.0-2'}}
                                    <span class="m--margin-left-10 font-weight-bold">
                                        {{item?.currencyIdSelling}}
                                    </span>
                                </td>
                                <td>{{item.notes}}</td>
                            </tr>
                        </ng-container>
                    </ng-container>
                    <tr *ngIf="!(isLoading | async) && !(prices | async).length" app-table-none-record></tr>
                    <tr *ngIf="(isLoading | async)" app-table-row-loading></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<price-item-work-order-popup></price-item-work-order-popup>

<ng-template inject></ng-template>