<form novalidate name="addSellingRateChargeFormOps" #addSellingRateChargeFormOps="ngForm"
  (ngSubmit)="addSellingRateChargeFormOps.form.valid">
  <div class="modal fade" id="ops-add-selling-rate-modal" bsModal #popup="bs-modal" role="dialog"
    (onHide)="onHide($event)" (onShow)="onShow($event)">
    <div class="modal-dialog c-modal-fullscreen" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add selling charge</h5>
          <button type="button" class="close" aria-label="Close" (click)="close(addSellingRateChargeFormOps)">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" *ngIf="isDisplay">
          <div class="m-form m-form--state">
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group"
                  [ngClass]="{ 'm-form__group has-danger': addSellingRateChargeFormOps.submitted && sellingRateChargeToAdd.chargeId==null}">
                  <label class="form-control-label" for="" #selectedSellingChargeCode>
                    Charge <span class="m--font-danger">(*)</span>
                    <small class="m--margin-left-5 m--font-primary"> &nbsp;
                      {{selectedSellingChargeCode.value==null?'':selectedSellingChargeCode.value}}
                    </small>
                  </label>

                  <app-combo-grid-virtual-scroll
                    [currentActiveItemId]="{field:'charge.id',value:sellingRateChargeToAdd.chargeId}" (itemSelected)="sellingRateChargeToAdd.chargeId=$event.charge.id;
                                        sellingRateChargeToAdd.unitId=$event.charge.unitId;
                                        sellingRateChargeToAdd.unitPrice=$event.charge.unitPrice;
                                        sellingRateChargeToAdd.vatrate=$event.charge.vatrate;
                                        selectedSellingChargeCode.value=$event.charge.code;
                                        sellingRateChargeToAdd.currencyId=$event.currency;
                                        currentActiveItemDefault=[{ id: $event.currency, text: $event.currency }];
                                        calculateTotalEachSelling ();"
                    [selectedDisplayFields]="['charge.chargeNameEn']" [dataSources]="lstSellingRateChargesComboBox"
                    [displayFields]="[{'field':'charge.code','label':'Charge Code'},{'field':'charge.chargeNameEn','label':'Name EN'},{'field':'charge.chargeNameVn','label':'Name VN'}]">
                  </app-combo-grid-virtual-scroll>

                  <div class="form-control-feedback"
                    *ngIf="addSellingRateChargeFormOps.submitted && sellingRateChargeToAdd.chargeId==null">
                    Charge is required
                  </div>


                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group"
                  [ngClass]="{ 'm-form__group has-danger': addSellingRateChargeFormOps.submitted && sellingRateChargeToAdd.objectBePaid==null }">
                  <label class="form-control-label" for="">
                    Partner type <span class="m--font-danger">(*)</span>
                  </label>
                  <ng-select [allowClear]="true" [items]="[
                                                { 'text': 'AGENT', 'id': 'AGENT' },
                                                { 'text': 'CUSTOMER','id': 'CUSTOMER' },
                                                { 'text': 'OTHER', 'id': 'OTHER' }]" [disabled]="disabled"
                    (data)="refreshValue($event)"
                    (selected)="sellingRateChargeToAdd.objectBePaid=$event.id;
                                        sellingRateChargeToAdd.objectBePaid==='AGENT'? sellingRateChargeToAdd.paymentObjectId=opsTransaction.agentId:null;
                                        sellingRateChargeToAdd.objectBePaid==='CUSTOMER'? sellingRateChargeToAdd.paymentObjectId=opsTransaction.supplierId:null;
                                        sellingRateChargeToAdd.objectBePaid==='OTHER'? sellingRateChargeToAdd.paymentObjectId=null:null;"
                    (removed)="sellingRateChargeToAdd.objectBePaid=null;sellingRateChargeToAdd.paymentObjectId=null;"
                    (typed)="typed($event)" placeholder="Select filter">
                  </ng-select>

                  <div class="form-control-feedback"
                    *ngIf="addSellingRateChargeFormOps.submitted && sellingRateChargeToAdd.objectBePaid==null">
                    Partner type is required !
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group"
                  [ngClass]="{ 'm-form__group has-danger': (addSellingRateChargeFormOps.submitted && sellingRateChargeToAdd.paymentObjectId==null)||(!addSellingRateChargeFormOps.submitted && sellingRateChargeToAdd.objectBePaid!==null && sellingRateChargeToAdd.paymentObjectId==null && sellingRateChargeToAdd.objectBePaid!=='OTHER')}">
                  <label class="form-control-label" for="">
                    Partner name <span class="m--font-danger">(*)</span>
                  </label>
                  <app-combo-grid-virtual-scroll [disabled]="sellingRateChargeToAdd.objectBePaid!=='OTHER'"
                    [currentActiveItemId]="{field:'id',value:sellingRateChargeToAdd.paymentObjectId}"
                    (itemSelected)="sellingRateChargeToAdd.paymentObjectId = $event.id"
                    (remove)="sellingRateChargeToAdd.paymentObjectId=null" [selectedDisplayFields]="['shortName']"
                    [dataSources]="lstPartners"
                    [displayFields]="[{'field':'id','label':'Partner ID'},{'field':'shortName','label':'Name ABBR'},{'field':'partnerNameEn','label':'Name EN'},{'field':'taxCode','label':'Tax Code'}]">
                  </app-combo-grid-virtual-scroll>

                  <div class="form-control-feedback"
                    *ngIf="addSellingRateChargeFormOps.submitted && sellingRateChargeToAdd.paymentObjectId==null">
                    Partner name is required !
                  </div>

                  <div class="form-control-feedback"
                    *ngIf="(!addSellingRateChargeFormOps.submitted && sellingRateChargeToAdd.objectBePaid!==null && sellingRateChargeToAdd.paymentObjectId===null && sellingRateChargeToAdd.objectBePaid!=='OTHER')">
                    Partner does not exist !
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group"
                  [ngClass]="{ 'm-form__group has-danger': addSellingRateChargeFormOps.submitted && (sellingRateChangeQuantityNameOps.invalid || sellingRateChargeToAdd.quantity == 0)}">
                  <label class="form-control-label" for="">
                    Quantity <span class="m--font-danger">(*)</span>
                  </label>
                  <div class="input-group m-input-group m-input-group--square">
                    <input type="number" required class="form-control m-input m-input--square" decimalNumberGreaterThan0
                      placeholder="Enter number" name="sellingRateChangeQuantityNameOps" min="0" autocomplete="nope"
                      #sellingRateChangeQuantityNameOps="ngModel" [(ngModel)]="sellingRateChargeToAdd.quantity"
                      (keyup)="calculateTotalEachSelling()" (change)="calculateTotalEachSelling()">
                  </div>
                  <div class="form-control-feedback"
                    *ngIf="addSellingRateChargeFormOps.submitted && sellingRateChangeQuantityNameOps.invalid">
                    Quantity is required !
                  </div>
                  <div class="form-control-feedback"
                    *ngIf="addSellingRateChargeFormOps.submitted && sellingRateChargeToAdd.quantity == 0">
                    Quantity must be greater than 0 !
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group"
                  [ngClass]="{ 'm-form__group has-danger': addSellingRateChargeFormOps.submitted && sellingRateChargeToAdd.unitId==null}">
                  <label class="form-control-label" for="">
                    Unit <span class="m--font-danger">(*)</span>
                  </label>

                  <app-combo-grid-virtual-scroll
                    [currentActiveItemId]="{field:'id',value:sellingRateChargeToAdd.unitId}"
                    (itemSelected)="sellingRateChargeToAdd.unitId=$event.id" [selectedDisplayFields]="['unitNameEn']"
                    [dataSources]="lstUnits"
                    [displayFields]="[{'field':'unitNameEn','label':'Name EN'},{'field':'unitType','label':'Unit type'}]">
                  </app-combo-grid-virtual-scroll>


                  <div class="form-control-feedback"
                    *ngIf="addSellingRateChargeFormOps.submitted && sellingRateChargeToAdd.unitId==null">
                    Unit is required
                  </div>


                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group"
                  [ngClass]="{ 'm-form__group has-danger': addSellingRateChargeFormOps.submitted &&(SellingRateChargeUnitPriceNameOps.invalid || (0 >= sellingRateChargeToAdd.unitPrice)) }">
                  <label class="form-control-label" for="">
                    Unit price <span class="m--font-danger">(*)</span>
                  </label>
                  <input type="number" class="form-control m-input m-input--square"
                    [(ngModel)]="sellingRateChargeToAdd.unitPrice" autocomplete="nope"
                    (keyup)="calculateTotalEachSelling()" (change)="calculateTotalEachSelling()"
                    placeholder="Enter number" #SellingRateChargeUnitPriceNameOps="ngModel" required
                    name="SellingRateChargeUnitPriceNameOps">
                  <div class="form-control-feedback"
                    *ngIf="addSellingRateChargeFormOps.submitted &&(SellingRateChargeUnitPriceNameOps.invalid || (0 >= sellingRateChargeToAdd.unitPrice))">
                    Unit Price is required and must be larger than 0 !
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group"
                  [ngClass]="{ 'm-form__group has-danger': addSellingRateChargeFormOps.submitted && sellingRateChargeToAdd.currencyId===null }">
                  <label class="form-control-label" for="">
                    Currency <span class="m--font-danger">(*)</span>
                  </label>

                  <ng-select [allowClear]="true" [items]="lstCurrencies" [disabled]="disabled"
                    (data)="refreshValue($event)" [active]="currentActiveItemDefault"
                    (selected)="sellingRateChargeToAdd.currencyId=$event.id"
                    (removed)="sellingRateChargeToAdd.currencyId=null" placeholder="Select filter">
                  </ng-select>

                  <div class="form-control-feedback"
                    *ngIf="addSellingRateChargeFormOps.submitted && sellingRateChargeToAdd.currencyId===null">
                    Currency is required
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group"
                  [ngClass]="{ 'm-form__group has-danger': addSellingRateChargeFormOps.submitted && (SellingRateChargeVATNameOps.invalid || sellingRateChargeToAdd.vatrate > 100) }">
                  <label class="form-control-label" for="">
                    VAT <span class="m--font-danger">(*)</span>
                  </label>
                  <input type="number" name="SellingRateChargeVATNameOps" required
                    #SellingRateChargeVATNameOps="ngModel" autocomplete="nope"
                    [(ngModel)]="sellingRateChargeToAdd.vatrate" class="form-control m-input m-input--square"
                    placeholder="Enter number" (keyup)="calculateTotalEachSelling()"
                    (change)="calculateTotalEachSelling()">
                  <div class="form-control-feedback"
                    *ngIf="addSellingRateChargeFormOps.submitted && (SellingRateChargeVATNameOps.invalid || sellingRateChargeToAdd.vatrate > 100)">
                    VAT is required and must be less than or equal 100
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" for="">
                    Total
                  </label>
                  <input type="text" class="form-control m-input m-input--square" disabled
                    name="SellingRateChargeTotalNameOps" [(ngModel)]="sellingRateChargeToAdd.total">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" for="">
                    Doc no
                  </label>
                  <input type="text" [(ngModel)]="sellingRateChargeToAdd.docNo" autocomplete="nope"
                    class="form-control m-input m-input--square" placeholder="Enter text"
                    name="SellingRateChargeDocNameOps">
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" for="">
                    Note
                  </label>
                  <input type="text" [(ngModel)]="sellingRateChargeToAdd.notes" autocomplete="nope"
                    class="form-control m-input m-input--square" placeholder="Enter text"
                    name="SellingRateChargeNoteNameOps">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer m--align-center">
          <button class="btn btn-success m-btn--square m-btn--icon m-btn--uppercase"
            (click)="sellingRateChargeToAdd.type='SELL';saveNewCharge('ops-add-selling-rate-modal',addSellingRateChargeFormOps,true)">
            <span>
              <i class="la la-plus"></i>
              <span>
                save & continue
              </span>
            </span>
          </button>
          <button class="btn btn-brand m-btn--square m-btn--icon m-btn--uppercase"
            (click)="sellingRateChargeToAdd.type='SELL';saveNewCharge('ops-add-selling-rate-modal',addSellingRateChargeFormOps,false)">
            <span>
              <i class="la la-save"></i>
              <span>
                save
              </span>
            </span>
          </button>
          <button type="button" class="btn btn-cancel m-btn--square m-btn--icon m-btn--uppercase"
            (click)="close(addSellingRateChargeFormOps)">
            <span>
              <i class="la la-ban"></i>
              <span>
                cancel
              </span>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>