<div class="m-portlet">
    <div class="m-portlet__body">
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <div class="m-input-icon m-input-icon--right">
                        <input type="text" class="form-control m-input m-input--square" placeholder="Search"
                            [(ngModel)]="keyword" name=keyword>
                        <span class="m-input-icon__icon m-input-icon__icon--right">
                            <span>
                                <i class="la la-search"></i>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 m--align-right">
                <div class="form-group">
                    <ng-container *ngIf="!isLocked">
                        <div class="c-button-actions">
                            <button type="button" class="btn btn-danger  m-btn--icon m-btn--uppercase"
                                (click)="onRemove()">
                                <span>
                                    <i class="la la-trash"></i>
                                    <span>
                                        Remove selected
                                    </span>
                                </span>
                            </button>
                            <button (click)="showPopupAddHbl()" type="button" style="float:right"
                                class="btn btn-success  m-btn--icon m-btn--uppercase">
                                <span>
                                    <i class="la la-plus"></i>
                                    <span>
                                        Add HBL
                                    </span>
                                </span>
                            </button>
                        </div>
                    </ng-container>



                </div>

            </div>
        </div>
        <div class="table-wrapper table-scrollable" id="masterbill-list-table">
            <table class="table table-hover table-brand dataTable">
                <thead app-table-header [headers]="headers" (onClick)="sortHouseBills($event)">
                    <th class="m--w-50 first table-actions-col">
                        <label class="m-checkbox">
                            <input type="checkbox" name="" [checked]="checkAll"
                                (change)="checkAll=!checkAll; checkAllChange()">
                            <span></span>
                        </label>
                    </th>
                </thead>
                <tbody>

                    <tr
                        *ngFor="let housebill of housebills | filter : keyword : ['hwbno','packages','gw','cbm','podName','shipperName','consigneeName','desOfGoods']; let j = index; trackBy: trackByFn">

                        <ng-container
                            *ngIf="!!housebills.length && housebill.manifestRefNo != null  || housebill.isRemoved == false">
                            <td class="table-actions-col">
                                <div class="table-actions">
                                    <label class="m-checkbox">
                                        <input type="checkbox" name="" [checked]="housebill.isChecked"
                                            (change)="housebill.isChecked=!housebill.isChecked; removeAllChecked();">
                                        <span></span>

                                    </label>
                                </div>
                            </td>
                            <td>
                                <span>{{housebill.hwbno}}</span>
                            </td>
                            <td>
                                <span>{{housebill.packages}}</span>
                            </td>
                            <td>
                                <span>{{housebill.gw}}</span>
                            </td>
                            <td>
                                <span>{{housebill.cbm}}</span>
                            </td>
                            <td>
                                <span>{{housebill.podName}}</span>
                            </td>
                            <td>
                                <span>{{housebill.shipperName}}</span>
                            </td>
                            <td>
                                <span>{{housebill.consigneeName}}</span>
                            </td>
                            <td>
                                <span>{{housebill.desOfGoods}}</span>
                            </td>
                            <td>
                                <span>{{housebill.freightPayment}}</span>
                            </td>
                        </ng-container>
                    </tr>

                    <tr *ngIf="!isLoading && !housebills.length" app-table-none-record [colspan]="headers.length">
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<add-hbl-to-manifest-popup-share (onAdd)="onAdd()"></add-hbl-to-manifest-popup-share>