
//fixid actions-side
.fixed-side {
    background-color: #cee5ff;
    position: sticky;
    left: 0;
    z-index: 9;
}
//editable
.control-editable {
    display: none;
    .form-control-feedback {
        font-size: 10px;
    }
}
.row-editing {
    .control-editable {
        display: block;
    }
    .content-editable {
        display: none;
    }
    .dropdown-menu {
        z-index: 9;
    }
    .row-control-feedback {
        height: 15px;
        position: relative;
        .form-control-feedback {
            position: absolute;
            left: 0;
            white-space: pre;
        }
    }
}
.table {
    thead,
    tbody {
        tr {
            th,
            td {  
                &.control-editable {
                    vertical-align: top;
                }
            }
        }
    }
}
//collapse-table by group
.table {
    thead,
    tbody {
        tr {
            &.tgroup {
                background-color: #f2dedf;
            }
        }
    }
}
.tgroup-title {
    vertical-align: middle;
}
.btn-toggle-collapse {
    height: 20px;
    vertical-align: middle;
    margin: 0 5px 0 0;
    &.collapsed {
        i {
            &:before {
                content: "\f2c4";
            }
        }
    }
}
.table-wrapper {
    .table-collapse-group {
        thead,
        tbody {
            tr {
                th,
                td {
                    width: 130px;
                }
            }
        }
    }
}