<!--begin:: subheader-->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <app-breadcrumb></app-breadcrumb>
        </div>
    </div>
</div>
<!--end:: subheader-->
<!--begin::m-content of Commodity-->
<div class="m-content">
    <div class="row">
        <div class="col-12">
            <ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--brand m-tabs-line-danger" role="tablist">
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link active" data-toggle="tab" href="#commodity-list-tab" role="tab">
                        Commodity list
                    </a>
                </li>
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#commodity-group-tab" role="tab">
                        Commodity group
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--begin:: m-portlet of partnerDataTabContent-->
    <div class="m-portlet">
        <div class="m-portlet__body">
            <div class="tab-content" id="commodityTabContent">

                <div class="tab-pane fade show active" id="commodity-list-tab" role="tabpanel">
                    <!--begin:: Search-form-->
                    <div class="m-form m--margin-bottom-15">
                        <div class="clearfix m--margin-bottom-15">
                            <div class="c-button-actions m--align-right">
                                <button type="button" class="btn btn-success m-btn--square m-btn--icon m-btn--uppercase"
                                    (click)="openPopupAddCommodity()" data-toggle="modal"
                                    data-target="#add-commodity-modal">
                                    <span>
                                        <i class="la la-plus"></i>
                                        <span>
                                            add new
                                        </span>
                                    </span>
                                </button>
                                <button type="button" class="btn btn-brand m-btn--square m-btn--icon m-btn--uppercase"
                                    [routerLink]="['/home/catalogue/commodity/commodity-import']">
                                    <span>
                                        <i class="la la-download"></i>
                                        <span>
                                            import
                                        </span>
                                    </span>
                                </button>
                                <button type="button" class="btn btn-danger m-btn--square m-btn--icon m-btn--uppercase"
                                    (click)="exportCom()">
                                    <span>
                                        <i class="la la-upload"></i>
                                        <span>
                                            export
                                        </span>
                                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="bg-secondary m--padding-10">
                            <app-search-options [configSearch]="configSearchCommonity" (search)="onSearch($event)"
                                (reset_search)="resetSearch($event)"></app-search-options>
                        </div>
                    </div>
                    <!--end:: Search-form-->
                    <div class="table-wrapper">
                        <table class="table table-brand table-striped dataTable">
                            <thead app-table-header [headers]="headerCommodity"
                                (onClick)="sortBy($event.sortField ? $event.sortField : '')">
                                <th class="m--w-50 first table-actions-col">
                                    Actions
                                </th>
                            </thead>
                            <tbody class="tbody-group">
                                <ng-container *ngIf="!!commodities.length">
                                    <tr *ngFor="let commodity of commodities; let i = index; trackBy: trackByFn">
                                        <td class="table-actions-col">
                                            <div class="table-actions">
                                                <button
                                                    class="btn btn-success btn-sm m-btn--square m-btn--icon m-btn--icon-only"
                                                    title="Edit" (click)="showDetailCommodity(commodity)">
                                                    <i class="la la-edit"></i>
                                                </button>
                                                <button (click)="showConfirmDelete(commodity,tabName.commodity)"
                                                    class="btn btn-danger btn-sm m-btn--square m-btn--icon m-btn--icon-only">
                                                    <i class="la la-trash"></i>
                                                </button>
                                            </div>
                                        </td>
                                        <td>{{commodity.code}}</td>
                                        <td>{{commodity.commodityNameEn}}</td>
                                        <td>
                                            {{commodity.commodityNameVn}}
                                        </td>
                                        <td>
                                            {{commodity.commodityGroupNameVn}}
                                        </td>
                                        <td [ngClass]="commodity.active ? 'text-success' : 'text-danger'">
                                            {{commodity.active ? 'Active' : 'Inactive'}}</td>
                                    </tr>
                                </ng-container>
                                <tr *ngIf="!isLoading && !commodities.length" app-table-none-record
                                    [colspan]="headerCommodity.length + 1"></tr>
                                <tr *ngIf="isLoading" app-table-row-loading></tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="pagination-nav ">
                        <div class="row">
                            <div *ngIf="!!commodities.length" class="col-sm-6">
                                <div class="tatable__pager-size">
                                    <div class="select-box">
                                        <select class="form-control" id="" aria-label="" [(ngModel)]="pageSize"
                                            (change)="selectPageSize(pageSize, dataSearch)" name="pagesize">
                                            <ng-container
                                                *ngFor="let item of numberToShow; let i = index; trackBy: trackByFn">
                                                <option [ngValue]="item">{{item}} line / screen</option>
                                            </ng-container>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6" *ngIf="totalItems > pageSize">
                                <div class="float-right">
                                    <pagination [boundaryLinks]="true" [totalItems]="totalItems"
                                        [itemsPerPage]="pageSize" (pageChanged)="pageChanged($event)"
                                        [(ngModel)]="page">
                                    </pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="commodity-group-tab" role="tabpanel" aria-labelledby="">
                    <!--begin:: Search-form-->
                    <div class="m-form m--margin-bottom-15">
                        <div class="clearfix m--margin-bottom-15">
                            <div class="c-button-actions m--align-right">
                                <button type="button" class="btn btn-success m-btn--square m-btn--icon m-btn--uppercase"
                                    (click)="openPopupAddCommodityGroup()" data-toggle="modal"
                                    data-target="#add-commodity-modal">
                                    <span>
                                        <i class="la la-plus"></i>
                                        <span>
                                            add new
                                        </span>
                                    </span>
                                </button>
                                <button type="button" class="btn btn-brand m-btn--square m-btn--icon m-btn--uppercase"
                                    [routerLink]="['/home/catalogue/commodity/commodity-group-import']">
                                    <span>
                                        <i class="la la-download"></i>
                                        <span>
                                            import
                                        </span>
                                    </span>
                                </button>
                                <button type="button" class="btn btn-danger m-btn--square m-btn--icon m-btn--uppercase"
                                    (click)="exportComGroup()">
                                    <span>
                                        <i class="la la-upload"></i>
                                        <span>
                                            export
                                        </span>
                                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="bg-secondary m--padding-10">
                            <app-search-options [configSearch]="configSearchGroup"
                                (search)="onSearch($event, tabName.commodityGroup)"
                                (reset_search)="resetSearch($event, tabName.commodityGroup)"></app-search-options>
                        </div>
                    </div>
                    <!--end:: Search-form-->
                    <div class="table-wrapper">
                        <table class="table table-brand table-striped dataTable">
                            <thead app-table-header [headers]="headerCommodityGroup"
                                (onClick)="sortCommodityGroup($event.sortField ? $event.sortField : '')">
                                <th class="m--w-50 first table-actions-col">
                                    Actions
                                </th>
                            </thead>
                            <tbody class="tbody-group">
                                <ng-container *ngIf="!!commodityGroups.length">
                                    <tr *ngFor="let commodityGroup of commodityGroups; let i = index; trackBy: trackByFn">
                                        <td class="table-actions-col">
                                            <div class="table-actions">
                                                <button
                                                    class="btn btn-success btn-sm m-btn--square m-btn--icon m-btn--icon-only"
                                                    title="Edit" (click)="showDetailCommodityGroup(commodityGroup)">
                                                    <i class="la la-edit"></i>
                                                </button>
                                                <button (click)="showConfirmDelete(commodityGroup,tabName.commodityGroup)"
                                                    class="btn btn-danger btn-sm m-btn--square m-btn--icon m-btn--icon-only">
                                                    <i class="la la-trash"></i>
                                                </button>
                                            </div>
                                        </td>
                                        <td>{{commodityGroup.id}}</td>
                                        <td>{{commodityGroup.groupNameEn}}</td>
                                        <td>{{commodityGroup.groupNameVn}}</td>
                                        <td [ngClass]="commodityGroup.active ? 'text-success' : 'text-danger'">
                                            {{commodityGroup.active ? 'Active' : 'Inactive'}}
                                        </td>
                                    </tr>
                                </ng-container>
                                <tr *ngIf="!isLoading && !commodityGroups.length" app-table-none-record
                                    [colspan]="headerCommodityGroup.length + 1"></tr>
                                <tr *ngIf="isLoading" app-table-row-loading></tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="pagination-nav ">
                            <div class="row">
                                <div *ngIf="!!commodityGroups.length" class="col-sm-6">
                                    <div class="tatable__pager-size">
                                        <div class="select-box">
                                            <select class="form-control" id="" aria-label="" [(ngModel)]="pageSize"
                                                (change)="selectPageSize(pageSize, dataSearch)" name="pagesize">
                                                <ng-container
                                                    *ngFor="let item of numberToShow; let i = index; trackBy: trackByFn">
                                                    <option [ngValue]="item">{{item}} line / screen</option>
                                                </ng-container>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6"s *ngIf="totalItems > pageSize">
                                    <div class="float-right">
                                        <pagination [boundaryLinks]="true" [totalItems]="totalItems"
                                            [itemsPerPage]="pageSize" (pageChanged)="pageChanged($event)"
                                            [(ngModel)]="page">
                                        </pagination>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>


            </div>
        </div>
    </div>
    <!--end:: m-portlet of partnerDataTabContent-->

</div>
<!--end::m-content of Commodity-->

<!-- <app-delete-confirm-modal (delete)="onDelete($event)" [title]="'You want to delete this Commodity Group'">
</app-delete-confirm-modal> -->
<!--end::confirm-delete-modal-->

<form-create-commodity-popup (onRequestCommodity)="onRequestCommodity()"></form-create-commodity-popup>
<form-create-commodity-group-popup (onRequestCommodity)="onRequestCommodityGroup()"></form-create-commodity-group-popup>

<confirm-popup [body]="activeTab == tabName.commodity ? 'You want to delete this Commodity' : 'You want to delete this Commodity Group'" [labelConfirm]="'Yes'" (onSubmit)="onDelete()">
</confirm-popup>
