<!--begin:: subheader-->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <app-breadcrumb></app-breadcrumb>
        </div>
    </div>
</div>
<!--end:: subheader-->
<!--begin::m-content of Commodity-->
<div class="m-content">
    <div class="row">
        <div class="col-12">
            <ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--brand m-tabs-line-danger" role="tablist">
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link active" data-toggle="tab" href="#commodity-list-tab" role="tab"
                        (click)="tabSelect(tabName.commodity)">
                        Commodity list
                    </a>
                </li>
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#commodity-group-tab" role="tab" (click)="tabSelect(tabName.commodityGroup)">
                        Commodity group
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--begin:: m-portlet of partnerDataTabContent-->
    <div class="m-portlet">
        <div class="m-portlet__body">
            <div class="tab-content" id="commodityTabContent">
                <div class="tab-pane fade show active" id="commodity-list-tab" role="tabpanel">
                    <!--begin:: Search-form-->
                    <div class="m-form m--margin-bottom-15">
                        <div class="clearfix m--margin-bottom-15">
                            <div class="c-button-actions m--align-right">
                                <!-- <button type="button" class="btn btn-success m-btn--square m-btn--icon m-btn--uppercase" data-toggle="modal" data-target="#add-commodity-modal">
                                    <span>
                                        <i class="icon-plus7"></i>
                                        <span>
                                            add new
                                        </span>
                                    </span>
                                </button> -->
                                <app-default-button [buttonSetting]="addCommodityButtonSetting" [dataTarget]="addCommodityButtonSetting.dataTarget"
                                    (click)="showAdd(tabName.commodity)"></app-default-button>
                                <button type="button" class="btn btn-brand m-btn--square m-btn--icon m-btn--uppercase"
                                    (click)="importCom()" [routerLink]="['/home/catalogue/commodity-import']">
                                    <span>
                                        <i class="la la-download"></i>
                                        <span>
                                            import
                                        </span>
                                    </span>
                                </button>
                                <button type="button" class="btn btn-danger m-btn--square m-btn--icon m-btn--uppercase"
                                    (click)="exportCom()">
                                    <span>
                                        <i class="la la-upload"></i>
                                        <span>
                                            export
                                        </span>
                                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="bg-secondary m--padding-10">
                            <app-search-options [configSearch]="configSearchCommonity" (search)="onSearch($event, tabName.commodity)"
                                (reset_search)="resetSearch($event, tabName.commodity)"></app-search-options>
                        </div>
                    </div>
                    <!--end:: Search-form-->
                    <app-table-layout [records]="commodities" [settings]="commoditySettings" (sortChange)="onSortChange($event)"
                        [keySort]="keyCommoditySortDefault" [nameEditModal]="nameCommodityModal" (edit)="showDetail($event, tabName.commodity)"
                        (delete)="showConfirmDelete($event, tabName.commodity)">
                    </app-table-layout>
                    <!--end: Datatable -->
                </div>

                <div class="tab-pane fade" id="commodity-group-tab" role="tabpanel" aria-labelledby="">
                    <!--begin:: Search-form-->
                    <div class="m-form m--margin-bottom-15">
                        <div class="clearfix m--margin-bottom-15">
                            <div class="c-button-actions m--align-right">
                                <app-default-button [buttonSetting]="addGroupButtonSetting" [dataTarget]="addGroupButtonSetting.dataTarget"
                                    (click)="showAdd(tabName.commodityGroup)"></app-default-button>
                                <app-default-button [buttonSetting]="importButtonSetting" (click)="importComGroup()"
                                    [routerLink]="['/home/catalogue/commodity-group-import']"></app-default-button>
                                <app-default-button [buttonSetting]="exportButtonSetting" (click)="exportComGroup()"></app-default-button>
                            </div>
                        </div>
                        <div class="bg-secondary m--padding-10">
                            <app-search-options [configSearch]="configSearchGroup" (search)="onSearch($event, tabName.commodityGroup)"
                                (reset_search)="resetSearch($event, tabName.commodityGroup)"></app-search-options>
                        </div>
                    </div>
                    <!--end:: Search-form-->
                    <!--begin: Datatable-->
                    <app-table-layout [records]="commodityGroups" [settings]="commodityGroupSettings" (sortChange)="onSortChange($event)"
                        [nameEditModal]="nameGroupModal" [keySort]="keygroupSortDefault" (edit)="showDetail($event, tabName.commodityGroup)"
                        (delete)="showConfirmDelete($event, tabName.commodityGroup)">
                    </app-table-layout>
                    <!--end: Datatable-->
                </div>

                <!--begin::pagination-->
                <app-pagination *ngIf="pager.totalItems>0" [config]="pager" (pagerObject)="setPage($event)"></app-pagination>
                <!--end::pagination-->
            </div>
        </div>
    </div>
    <!--end:: m-portlet of partnerDataTabContent-->

</div>
<!--end::m-content of Commodity-->

<!--begin::add-commodity-modal-->
<div *ngIf="commodity" class="modal fade" id="{{nameCommodityModal}}" data-backdrop="static" role="dialog"
    aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form name="formCommodity" #formCommodity="ngForm" novalidate (ngSubmit)="formCommodity.form.valid">

                <div class="modal-header">
                    <h5 class="modal-title" *ngIf="commodity.id == null">{{ titleAddCommodityModal }}</h5>
                    <h5 class="modal-title" *ngIf="commodity.id">{{ titleEditCommodityModal }}</h5>
                    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCancel(tabName.commodity)">
                        <span aria-hidden="true">&times;</span>
                    </button> -->
                    <app-close-modal-button (click)="onCancel(tabName.commodity)"></app-close-modal-button>
                </div>
                <div class="modal-body">
                    <!--begin::add-commodity-form-->
                    <div class="m-form m-form--state">
                            <div class="form-group row" [ngClass]="{ 'm-form__group has-danger': formCommodity.submitted && commodityCode.invalid }">
                                    <label class="col-lg-4 col-form-label form-control-label">
                                        Code: <span class="m--font-danger">(*)</span>
                                    </label>
                                    <div class="col-lg-8">
                                        <input type="text" [(ngModel)]="commodity.code" (change)="commodity.code = commodity.code.trim()"
                                            class="form-control m-input m-input-group--square" #commodityCode="ngModel" name="commodityCode"
                                            required placeholder="Please enter group name">
                                        <div class="form-control-feedback" *ngIf="formCommodity.submitted && commodityCode.invalid">
                                            Code is required
                                        </div>
                                    </div>
                                </div>

                        <div class="form-group row" [ngClass]="{ 'm-form__group has-danger': formCommodity.submitted && commodityNameEn.invalid }">
                            <label class="col-lg-4 col-form-label form-control-label">
                                Name (EN): <span class="m--font-danger">(*)</span>
                            </label>
                            <div class="col-lg-8">
                                <input type="text" [(ngModel)]="commodity.commodityNameEn" (change)="commodity.commodityNameEn = commodity.commodityNameEn.trim()"
                                    class="form-control m-input m-input-group--square" #commodityNameEn="ngModel" name="commodityNameEn"
                                    required placeholder="Please enter group name">
                                <div class="form-control-feedback" *ngIf="formCommodity.submitted && commodityNameEn.invalid">
                                    Name(EN) is required
                                </div>
                            </div>
                        </div>
                        <div class="form-group row" [ngClass]="{ 'm-form__group has-danger': formCommodity.submitted && commodityNameVn.invalid }">
                            <label class="col-lg-4 col-form-label form-control-label">
                                Name (Local): <span class="m--font-danger">(*)</span>
                            </label>
                            <div class="col-lg-8">
                                <input type="text" [(ngModel)]="commodity.commodityNameVn" (change)="commodity.commodityNameVn = commodity.commodityNameVn.trim()"
                                    class="form-control m-input m-input-group--square" #commodityNameVn="ngModel" name="commodityNameVn"
                                    required placeholder="Please enter group name">
                                <div class="form-control-feedback" *ngIf="formCommodity.submitted && commodityNameVn.invalid">
                                    Name (Local) is required
                                </div>
                            </div>
                        </div>
                        <div class="form-group row" [ngClass]="{ 'm-form__group has-danger': formCommodity.submitted && commodity.commodityGroupId == null }">
                            <label class="col-lg-4 col-form-label form-control-label">
                                Group: <span class="m--font-danger">(*)</span>
                            </label>
                            <div class="col-lg-8">
                                <ng-select #chooseGroup [allowClear]="true" [items]="groups" [disabled]="disabled"
                                    (data)="refreshGroupValue($event)" (selected)="onGroupchange($event)" (removed)="removed($event)"
                                    (typed)="typed($event)" [active]="groupActive==null?[]:[groupActive]" placeholder="Select group commdity">
                                </ng-select>
                                <div class="form-control-feedback" *ngIf="formCommodity.submitted && commodity.commodityGroupId == null">
                                    Group commdity is required
                                </div>
                            </div>
                        </div>
                        <div class="form-group row" *ngIf="commodity.id">
                            <label class="col-lg-4 col-form-label form-control-label">
                                Inactive
                            </label>
                            <div class="col-lg-8">
                                <label class="m-checkbox"><input [checked]="commodity.inactive" (change)="commodity.inactive=!commodity.inactive"
                                        type="checkbox"><span></span></label>
                            </div>
                        </div>
                    </div>
                    <!--end:add-commodity-form -->
                </div>
                <div class="modal-footer m--align-center c-button-actions">
                    <app-default-button [buttonSetting]="saveButtonSetting" (click)="onSubmit()"></app-default-button>
                    <app-default-button [buttonSetting]="cancelButtonSetting" (click)="onCancel(tabName.commodity)"></app-default-button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--end::add-commodity-modal-->

<!--begin::add-commodity-group-modal-->
<div *ngIf="commodityGroup" class="modal fade" id="{{nameGroupModal}}" data-backdrop="static" role="dialog"
    aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form name="formGroupCommodity" #formGroupCommodity="ngForm" novalidate (ngSubmit)="formGroupCommodity.form.valid">
                <div class="modal-header">
                    <h5 class="modal-title" *ngIf="commodityGroup.id == null">{{titleAddGroupModal}}</h5>
                    <h5 class="modal-title" *ngIf="commodityGroup.id">{{titleEditGroupModal}}</h5>
                    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCancel(tabName.commodityGroup)">
                        <span aria-hidden="true">&times;</span>
                    </button> -->
                    <app-close-modal-button (click)="onCancel(tabName.commodityGroup)"></app-close-modal-button>
                </div>
                <div class="modal-body">
                    <!--begin::add-commodity-group-form-->
                    <div class="m-form">
                        <div class="m-form m-form--state">                     
                            <div class="form-group row" [ngClass]="{ 'm-form__group has-danger': formGroupCommodity.submitted && groupNameEN.invalid }">
                                <label class="col-lg-4 col-form-label form-control-label">
                                    Group Name(EN): <span class="m--font-danger">(*)</span>
                                </label>
                                <div class="col-lg-8">
                                    <input type="text" [(ngModel)]="commodityGroup.groupNameEn" (change)="commodityGroup.groupNameEn = commodityGroup.groupNameEn.trim()"
                                        class="form-control m-input m-input-group--square" #groupNameEN="ngModel" name="groupNameEN"
                                        required placeholder="Please enter group name">
                                    <div class="form-control-feedback" *ngIf="formGroupCommodity.submitted && groupNameEN.invalid">
                                        Group Name(EN) is required
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row" [ngClass]="{ 'm-form__group has-danger': formGroupCommodity.submitted && groupNameVN.invalid }">
                                <label class="col-lg-4 col-form-label form-control-label">Group Name(Local): <span
                                        class="m--font-danger">(*)</span></label>
                                <div class="col-lg-8">
                                    <input type="input" class="form-control m-input m-input-group--square" placeholder="Enter group name (VN)"
                                        name="groupNameVN" [(ngModel)]="commodityGroup.groupNameVn" #groupNameVN="ngModel"
                                        (change)="commodityGroup.groupNameVn = commodityGroup.groupNameVn.trim()"
                                        [ngClass]="{ 'm-input--square': formGroupCommodity.submitted && groupNameVN.invalid }"
                                        minlength="3" required>
                                    <div class="form-control-feedback" *ngIf="formGroupCommodity.submitted && groupNameEN.invalid">
                                        Group Name(Local) is required
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row" *ngIf="commodityGroup.id">
                                <label class="col-lg-4 col-form-label form-control-label">
                                    Inactive
                                </label>
                                <div class="col-lg-8">
                                    <label class="m-checkbox"><input [checked]="commodityGroup.inactive" (change)="commodityGroup.inactive=!commodityGroup.inactive"
                                            type="checkbox"><span></span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end:add-commodity-group-form -->
                </div>
                <div class="modal-footer m--align-center c-button-actions">
                    <app-default-button [buttonSetting]="saveButtonSetting" (click)="onSubmit()"></app-default-button>
                    <app-default-button [buttonSetting]="cancelButtonSetting" (click)="onCancel(tabName.commodityGroup)"></app-default-button>
                </div>
            </form>
        </div>
    </div>
</div>
<app-delete-confirm-modal (delete)="onDelete($event)" [title]="titleConfirmDelete"></app-delete-confirm-modal>
<!--end::confirm-delete-modal-->