<form class="m-form m-form--state" [formGroup]="partnerForm">
    <!--begin::m-portlet -->
    <div class="m-portlet m-portlet--danger m-portlet--head-solid-bg m-portlet--bordered">
        <div class="alert-block__heading">
            <h3 class="alert-block__title">General Information</h3>
        </div>
        <div class="m-portlet__body">
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group"
                        [ngClass]="{ 'm-form__group has-danger': isSubmitted && partnerAccountNo.invalid }">
                        <label class="form-control-label" for="">
                            Partner ID <span class="m--font-danger"></span>
                        </label>
                        <input type="text" class="form-control m-input m-input--square" placeholder="" disabled
                            name="partnerAccountNo" autocomplete="nope" minlength="3" maxlength="20"
                            specialIsAlphaNumeric
                            [ngClass]="{ 'm-input--square': isSubmitted && partnerAccountNo.invalid }" required>
                        <div class="form-control-feedback" *ngIf="isSubmitted && partnerAccountNo.invalid">
                            Partner ID required least 3 characters
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group"
                        [ngClass]="{ 'm-form__group has-danger': isSubmitted && nameENFull.invalid }">
                        <label class="form-control-label" for="">
                            Partner Name EN Full <span class="m--font-danger">(*)</span>
                        </label>
                        <input type="text" class="form-control m-input m-input--square" autofocus
                            placeholder="Please enter Name EN Full" name="nameENFull" autocomplete="nope" minlength="3"
                            maxlength="100" [ngClass]="{ 'm-input--square': isSubmitted && nameENFull.invalid }"
                            required>
                        <div class="form-control-feedback" *ngIf="isSubmitted && nameENFull.invalid">
                            Partner Name EN Full is required
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group"
                        [ngClass]="{ 'm-form__group has-danger': isSubmitted && nameLocalFull.invalid }">
                        <label class="form-control-label" for="">
                            Partner Name Local Full <span class="m--font-danger">(*)</span>
                        </label>
                        <input type="text" class="form-control m-input m-input--square"
                            placeholder="Please enter Name Local" name="nameLocalFull" autocomplete="nope" minlength="3"
                            maxlength="100" [ngClass]="{ 'm-input--square': isSubmitted && nameLocalFull.invalid }"
                            required>
                        <div class="form-control-feedback" *ngIf="isSubmitted && nameLocalFull.invalid">
                            Partner Name Local Full is required
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group"
                        [ngClass]="{ 'm-form__group has-danger': isSubmitted && shortName.invalid }">
                        <label class="form-control-label" for="">
                            Partner Name Abbreviation <span class="m--font-danger">(*)</span>
                        </label>
                        <input type="text" class="form-control m-input m-input--square"
                            placeholder="please enter Name Abbreviation" name="shortName" autocomplete="nope"
                            [ngClass]="{ 'm-input--square': isSubmitted && shortName.invalid }" required>
                        <div class="form-control-feedback" *ngIf="isSubmitted && shortName.invalid">
                            Partner Name Abbreviation is required
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="">
                            A/C Ref
                        </label>
                        <ng-select [allowClear]="true" [items]="parentCustomers" name="partnerAccountRef"
                            placeholder="Select A/C Ref" formControlName="partnerAccountRef">
                        </ng-select>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group" [ngClass]="{ 'm-form__group has-danger': isSubmitted && taxCode.invalid }">
                        <label class="form-control-label" for="">
                            Tax Code <span class="m--font-danger">(*)</span>
                        </label>
                        <input type="text" min="0" class="form-control m-input m-input--square"
                            title="Tax code must be number" placeholder="Please enter Tax Code" autocomplete="nope"
                            minlength="3" maxlength="100" ecusSpecicalCharacterNoSpace
                            [ngClass]="{ 'm-input--square': isSubmitted && taxCode.invalid }" required>
                        <div class="form-control-feedback" *ngIf="isSubmitted && taxCode.invalid">
                            Partner Tax Code is required and must be number
                        </div>
                    </div>
                    <div class="form-group"
                        [ngClass]="{ 'm-form__group has-danger': isSubmitted && partnerGroup.invalid }">
                        <label class="form-control-label" for="">
                            Category <span class="m--font-danger">(*)</span>
                        </label>
                        <ng-select [multiple]="true" [items]="partnerGroups" placeholder="Select partner group"
                            formControlName="partnerGroup" (selected)="onChange($event, 'category')">
                        </ng-select>
                        <div class="form-control-feedback" *ngIf="isSubmitted && partnerGroup.invalid">
                            Category is required
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group" [ngClass]="{ 'm-form__group has-danger': isSubmitted && isExistedTaxcode }">
                        <label class="form-control-label" for="">
                            Internal Reference No
                        </label>
                        <input type="text" name="internalReferenceNo" class="form-control"
                            formControlName="internalReferenceNo" />
                        <div class="form-control-feedback" *ngIf="isSubmitted  && isExistedTaxcode ">
                            Internal Reference No required least 3 characters
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end::m-portlet -->

    <!--begin::m-portlet -->
    <div class="m-portlet m-portlet--danger m-portlet--head-solid-bg m-portlet--bordered">
        <div class="alert-block__heading">
            <h3 class="alert-block__title">Detail Information</h3>
        </div>
        <div class="m-portlet__body">

            <div class="div-inside bg-secondary">
                <h3 class="c-block-title">Shipping Address</h3>
                <hr>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group"
                                    [ngClass]="{ 'm-form__group has-danger': isSubmitted && shippingCountry.invalid }">
                                    <label class="form-control-label">
                                        Country <span class="m--font-danger">(*)</span>
                                    </label>
                                    <ng-select #chooseShippingCountry [allowClear]="true" [items]="countries"
                                        formControlName="shippingCountry"
                                        (selected)="onChange($event, 'shippingCountry')"
                                        (removed)="removed('shippingCountry')" placeholder="Select country">
                                    </ng-select>
                                    <div class="form-control-feedback" *ngIf="isSubmitted && shippingCountry.invalid">
                                        Country is required
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group"
                                    [ngClass]="{ 'm-form__group has-danger': isSubmitted && shippingProvince.invalid }">
                                    <label class="form-control-label">
                                        City <span class="m--font-danger">(*)</span>
                                    </label>
                                    <ng-select [allowClear]="true" [items]="shippingProvinces"
                                        formControlName="shippingProvince" placeholder="Select province/ city">
                                    </ng-select>
                                    <div class="form-control-feedback" *ngIf="isSubmitted && shippingProvince.invalid">
                                        City is required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-control-label">
                                        Zipcode
                                    </label>
                                    <input type="text" class="form-control m-input m-input--square" placeholder=""
                                        autocomplete="nope" name="zipCodeShipping" formControlName="zipCodeShipping">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group"
                            [ngClass]="{ 'm-form__group has-danger': isSubmitted && shippingAddressEN.invalid }">
                            <label class="form-control-label">
                                Address EN <span class="m--font-danger">(*)</span>
                            </label>
                            <textarea class="form-control m-input m-input--square" id="" rows="6" autocomplete="nope"
                                name="shippingAddressEN" formControlName="shippingAddressEN" required></textarea>
                            <div class="form-control-feedback" *ngIf="isSubmitted && shippingAddressEN.invalid">
                                Address EN is required
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group"
                            [ngClass]="{ 'm-form__group has-danger': isSubmitted && shippingAddressVN.invalid }">
                            <label class="form-control-label">
                                Address Local <span class="m--font-danger">(*)</span>
                            </label>
                            <textarea class="form-control m-input m-input--square" id="" rows="6" autocomplete="nope"
                                name="shippingAddressVN" required></textarea>
                            <div class="form-control-feedback" *ngIf="isSubmitted && shippingAddressVN.invalid">
                                Address Local is required
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="div-inside bg-secondary m--margin-bottom-15">
                <h3 class="c-block-title">Billing Address</h3>
                <hr>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group"
                                    [ngClass]="{ 'm-form__group has-danger': isSubmitted && billingCountry == null }">
                                    <label class="form-control-label">
                                        Country <span class="m--font-danger">(*)</span>
                                    </label>
                                    <ng-select [allowClear]="true" [items]="countries"
                                        (selected)="onChange($event, 'billingCountry')"
                                        (removed)="removed('billingCountry')" placeholder="Select country">
                                    </ng-select>
                                    <div class="form-control-feedback" *ngIf="isSubmitted && billingCountry == null"
                                        formControlName="billingCountry">
                                        Country is required
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group"
                                    [ngClass]="{ 'm-form__group has-danger': isSubmitted && billingProvince.invalid }">
                                    <label class="form-control-label">
                                        City <span class="m--font-danger">(*)</span>
                                    </label>
                                    <ng-select [allowClear]="true" [items]="billingProvinces"
                                        formControlName="billingProvince" placeholder="Select city/ province">
                                    </ng-select>
                                    <div class="form-control-feedback" *ngIf="isSubmitted && billingProvince.invalid">
                                        City is required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-control-label">
                                        Zipcode
                                    </label>
                                    <input type="text" class="form-control m-input m-input--square" placeholder=""
                                        maxlength="20" autocomplete="nope" name="billingZipcode"
                                        formControlName="billingZipcode">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group"
                            [ngClass]="{ 'm-form__group has-danger': isSubmitted && billingAddressEN }">
                            <label class="form-control-label">
                                Address EN <span class="m--font-danger">(*)</span>
                            </label>
                            <textarea class="form-control m-input m-input--square" id="" name="billingAddressEN"
                                rows="6" maxlength="300" autocomplete="nope" required
                                formControlName="billingAddressEN"></textarea>
                            <div class="form-control-feedback" *ngIf="isSubmitted && billingAddressEN">
                                Address EN required
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group"
                            [ngClass]="{ 'm-form__group has-danger': isSubmitted && billingAddressLocal.invalid }">
                            <label class="form-control-label">
                                Address Local <span class="m--font-danger">(*)</span>
                            </label>
                            <textarea class="form-control m-input m-input--square" id="" rows="6" maxlength="300"
                                autocomplete="nope" name="billingAddressLocal" formControlName="billingAddressLocal"
                                required></textarea>
                            <div class="form-control-feedback" *ngIf="isSubmitted && billingAddressLocal.invalid">
                                Address Local is required
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label" for="">
                            Contact Person
                        </label>
                        <input type="text" class="form-control m-input m-input--square" placeholder=""
                            formControlName="partnerContactPerson" name="partnerContactPerson" autocomplete="nope">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label" for="">
                            Contact Phone Number
                        </label>
                        <input type="text" class="form-control m-input m-input--square" placeholder="" maxlength="50"
                            formControlName="partnerContactNumber" name="partnerContactNumber" autocomplete="nope">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label" for="">
                            Fax No
                        </label>
                        <input type="text" class="form-control m-input m-input--square" placeholder="" maxlength="50"
                            formControlName="partnerContactFaxNo" name="partnerContactFaxNo" autocomplete="nope">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label" for="">
                            Work Phone (Ext No)
                        </label>
                        <input type="text" class="form-control m-input m-input--square" placeholder=""
                            formControlName="employeeWorkPhone" name="employeeWorkPhone">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label" for="">
                            Email Address
                        </label>
                        <input type="text" class="form-control m-input m-input--square" placeholder=""
                            formControlName="employeeEmail" name="employeeEmail">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label" for="">
                            Website
                        </label>
                        <input type="text" class="form-control m-input m-input--square" placeholder=""
                            autocomplete="nope" name="partnerWebsite" formControlName="partnerWebsite">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label" for="">
                            Partners Bank Account
                        </label>
                        <input type="text" class="form-control m-input m-input--square" placeholder=""
                            name="partnerbankAccountNo" autocomplete="nope" formControlName="partnerbankAccountNo">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label" for="">
                            Bank Name
                        </label>
                        <input type="text" class="form-control m-input m-input--square" placeholder=""
                            name="partnerBankAccountName" autocomplete="nope" formControlName="partnerBankAccountName">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label" for="">
                            Bank Address
                        </label>
                        <input type="text" class="form-control m-input m-input--square" placeholder=""
                            name="partnerBankAccountAddress" autocomplete="nope"
                            formControlName="partnerBankAccountAddress">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label" for="">
                            Swift Code
                        </label>
                        <input type="text" class="form-control m-input m-input--square" placeholder=""
                            name="partnerSwiftCode" formControlName="partnerSwiftCode">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label" for="">
                            Profile
                        </label>
                        <ng-select #chooseWorkplace [allowClear]="true" [items]="workPlaces" name="partnerWorkPlace"
                            formControlName="partnerWorkPlace" placeholder="Select filter">
                        </ng-select>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label class="form-control-label"> Public </label>
                        <div class="m-checkbox-inline">
                            <app-switch [(toggle)]="public.value" (toggleChange)="public.setValue($event)">
                            </app-switch>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label class="form-control-label">Active</label>
                        <label class="form-control-label"> Active </label>
                        <div class="m-checkbox-inline">
                            <app-switch [(toggle)]="active.value" (toggleChange)="active.setValue($event)">
                            </app-switch>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--end::m-portlet -->

    <!--begin::m-portlet -->

    <!--end::m-portlet -->

    <div class="m-portlet m-portlet--danger m-portlet--head-solid-bg m-portlet--bordered" *ngIf="isShowSaleMan">
        <div class="alert-block__heading">
            <h3 class="alert-block__title">Sale Man</h3>
        </div>
        <div class="m-portlet__body">
            <!--begin: Datatable -->
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <div class="m-input-icon m-input-icon--right">
                            <input type="text" class="form-control m-input m-input--square" placeholder="Search"
                                [(ngModel)]="keyword" name=keyword>
                            <span class="m-input-icon__icon m-input-icon__icon--right">
                                <span>
                                    <i class="la la-search"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 m--align-right">
                    <div class="form-group">
                        <button type="button" class="btn btn-success m-btn--square m-btn--icon m-btn--uppercase"
                            data-toggle="modal" (click)='showPopupSaleman()'>
                            <span>
                                <i class="la la-plus"></i>
                                <span>
                                    Add new
                                </span>
                            </span>
                        </button>
                    </div>
                </div>

            </div>
            <!-- <div class="table-wrapper" id="">
                <table class="table table-striped table-brand dataTable">
                    <thead app-table-header [headers]="headerSaleman" (onClick)="sortBySaleMan($event)">
                    </thead>
                    <tbody>
                        <ng-container *ngIf="!!saleMandetail && !isLoading ;">
                            <tr
                                *ngFor="let sale of saleMandetail | filter : keyword : ['company','saleman_ID','service','office']; let i = index; trackBy: trackByFn">
                                <td class="table-actions-col">
                                    <div class="table-actions" style="width: 50px">
                                        <button type="button"
                                            class="btn btn-danger btn-sm m-btn--square m-btn--icon m-btn--icon-only"
                                            title="Remove" data-toggle="modal" (click)="deleteSaleman(i)">
                                            <i class="la la-trash"></i>
                                        </button>
                                    </div>
                                </td>
                                <td>
                                    <span><a style="cursor:pointer;"
                                            (click)="showDetailSaleMan(sale,i)">{{sale.saleman_ID}}</a>
                                    </span>
                                </td>
                                <td>
                                    <span>{{sale.service}}</span>
                                </td>
                                <td>
                                    <span>{{sale.office}}</span>
                                </td>
                                <td>
                                    <span>{{sale.company}}</span>
                                </td>
                                <td [ngClass]="sale.status ? 'text-success' : 'text-danger'">
                                    {{sale.status ? 'Active' : 'Inactive'}}</td>
                                <td>
                                    <span>{{sale.createDate  | date: 'dd/MM/yyyy'}}</span>
                                </td>
                            </tr>

                        </ng-container>
                        <tr *ngIf="!isLoading && saleMandetail.length == 0" app-table-none-record>
                        </tr>
                        <tr *ngIf="!isLoading  && !saleMandetail" app-table-none-record></tr>
                        <tr *ngIf="isLoading" app-table-row-loading></tr>
                    </tbody>
                </table>
            </div> -->
            <!--end: Datatable -->
        </div>
    </div>
    <!--begin:: form-actions-->
    <div class="form-actions m--align-right">
        <button type="" class="btn btn-brand m-btn--square m-btn--icon m-btn--uppercase" (click)="onSubmit()">
            <span>
                <i class="la la la-save"></i>
                <span>
                    save
                </span>
            </span>
        </button>
        <button type="button" class="btn m-btn--square m-btn--icon m-btn--uppercase"
            routerLink="/home/catalogue/partner-data">
            <span>
                <i class="la la-ban"></i>
                <span>
                    cancel
                </span>
            </span>
        </button>
    </div>
    <!--end:: form-actions-->
</form>