<div class="m-portlet">
    <div class="m-portlet__body">
        <div class="m-form m--margin-bottom-10">
            <div class="m--align-right c-button-actions">
                <app-default-button [buttonSetting]="saveButtonSetting">
                </app-default-button>
                <app-default-button [buttonSetting]="cancelButtonSetting"></app-default-button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">

            </div>
        </div>
    </div>
</div>