<div class="create-commercial-page">
    <app-sub-header> </app-sub-header>

    <div class="m-content">
        <div class="m-portlet">
            <div class="m-portlet__body">
                <div class="d-flex align-items-center justify-content-between p-1">
                    <h3>Create Incoterm</h3>
                    <div>
                        <div class="c-button-actions">
                            <app-default-button [buttonSetting]="saveButtonSetting" (onClick)="onSave()">
                            </app-default-button>
                            <app-default-button [buttonSetting]="cancelButtonSetting" (onClick)="gotoList()">
                            </app-default-button>
                        </div>
                    </div>
                </div>
                <hr />
                <form-incoterm></form-incoterm>
            </div>
            <list-charge-incoterm></list-charge-incoterm>
        </div>
    </div>
</div>

<info-popup [body]="invalidFormText"></info-popup>