<div class="bg">
    <div style="left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -100%);" class="text-white font-25 text-center">
        <div class="kt-error_subtitle kt-font-light">
            <h1 style="font-size:8rem; font-weight: bold">Oops...</h1>
        </div>
        <p class="kt-error_description kpwt-font-light">
            Looks like something went wrong.<br>
            We're working on it
        </p>
    </div>
    <div class="button-link">
        <a class="btn btn-primary text-white" [routerLink]="'/'" role="button">Back to Dashboard</a>
    </div>
</div>