<div class="m-content">
    <div class="row">
        <div class="col-xl-12">
            <!--begin:: m-portlet of form-->
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Form with validate states
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="m-form m-form--state">
                        <div class="m-portlet__body">
                            <div class="form-group m-form__group has-danger">
                                <label class="form-control-label" for="">
                                    Input with danger
                                </label>
                                <input type="text" class="form-control m-input m-input--square" id="">
                                <div class="form-control-feedback">
                                    Sorry, that username's taken. Try another?
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end:: m-portlet of form-->
        </div>
    </div>
</div>