:host /deep/ { 
    .ui-select-container {
        .ui-select-choices .ui-select-choices-row .dropdown-item {
            color: #6c6c6c;
            font-family: inherit;
        }
        .ui-select-choices .ui-select-choices-row.active>a {
            color: #fff;
            background-color: #3966b6;
        }
    }
}
