<form novalidate>
    <div class="m-content">
        <div class="m-form m-form--state">
            <div class="m-portlet bg-white">
                <div class="m-portlet__body">
                    <form [formGroup]="formCreate">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group"
                                    [ngClass]="{'m-form__group has-danger':(isSubmitted || hwbno.dirty) && !hwbno.valid}">
                                    <label class="form-control-label" required>
                                        HBL No
                                    </label>
                                    <input type="text" class="form-control" placeholder="Enter text"
                                        formControlName="hwbno">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group"
                                    [ngClass]="{'m-form__group has-danger':(isSubmitted || mblno.dirty) && !mblno.valid}">
                                    <label class="form-control-label" required>
                                        MBL No
                                    </label>
                                    <input type="text" class="form-control" placeholder="Enter text"
                                        formControlName="mblno">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group"
                                    [ngClass]="{'m-form__group has-danger': (serviceDate.dirty && !serviceDate.value) || (isSubmitted && !serviceDate.value) || (isSubmitted && !serviceDate.value.startDate)}">
                                    <label class="form-control-label" required>
                                        Service Date
                                    </label>
                                    <div class="m-input-icon m-input-icon--right down daterange-rtl">
                                        <input type="text" class="form-control m-input m-input--square"
                                            ngxDaterangepickerMd [locale]="{format: 'DD/MM/YYYY'}" [autoApply]="true"
                                            [singleDatePicker]="true" [alwaysShowCalendars]="true" name="daterange"
                                            readonly placeholder="DD/MM/YYYY" formControlName="serviceDate"
                                            [allowRemove]="!!serviceDate.value && !!serviceDate.value.startDate"
                                            (remove)="resetFormControl(serviceDate)" calendar />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group"
                                    [ngClass]="{'m-form__group has-danger':(productService.dirty && !productService.valid) || (isSubmitted && !productService.valid)}">
                                    <label class="form-control-label" required>
                                        Product Service
                                    </label>
                                    <ng-select class="custom" [items]="productServices" placeholder="Please select"
                                        [clearable]="false" formControlName="productService">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group"
                                    [ngClass]="{'m-form__group has-danger': (serviceMode.dirty && !serviceMode.valid) || (isSubmitted && !serviceMode.valid)}">
                                    <label class="form-control-label" required>
                                        Service Mode
                                    </label>
                                    <ng-select class="custom" [items]="serviceModes" placeholder="Please select"
                                        formControlName="serviceMode" [clearable]="false">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group"
                                    [ngClass]="{'m-form__group has-danger': (shipmentMode.dirty && !shipmentMode.valid) || (isSubmitted && !shipmentMode.valid)}">
                                    <label class="form-control-label" required>
                                        Shipment Mode
                                    </label>
                                    <ng-select class="custom" [items]="shipmentModes" placeholder="Please select"
                                        [clearable]="false" formControlName="shipmentMode">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group"
                                    [ngClass]="{'m-form__group has-danger': (shipmentType.dirty && !shipmentType.valid) || (isSubmitted && !shipmentType.valid)}">
                                    <label class="form-control-label" required>
                                        Shipment Type
                                    </label>
                                    <ng-select class="custom" [items]="shipmentTypes" placeholder="Please select"
                                        [clearable]="false" formControlName="shipmentType">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                {{customerId.value}}
                                <div class="form-group"
                                    [ngClass]="{'m-form__group has-danger':  isSubmitted && !customerId.value}">
                                    <label class="form-control-label" required>
                                        Customer
                                    </label>
                                    <app-combo-grid-virtual-scroll
                                        (itemSelected)="onSelectDataFormInfo($event, 'customer')"
                                        [currentActiveItemId]="{ field: 'id', value: customerId.value}"
                                        [selectedDisplayFields]="['shortName']" [dataSources]="customers | async"
                                        [displayFields]="displayFieldsCustomer" placeholder="Please select"
                                        (remove)="resetFormControl(customerId)">
                                    </app-combo-grid-virtual-scroll>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group"
                                    [ngClass]="{'m-form__group has-danger': isSubmitted && (formCreate.errors | equalError:'invalidPort')}">
                                    <label class="form-control-label">
                                        Port Of Loading
                                    </label>
                                    <app-combo-grid-virtual-scroll (itemSelected)="onSelectDataFormInfo($event, 'pol')"
                                        [currentActiveItemId]="{ field: 'id', value: pol.value}"
                                        [selectedDisplayFields]="['nameEn']" [dataSources]="ports | async"
                                        [displayFields]="displayFieldPort" placeholder="POL"
                                        (remove)="resetFormControl(pol)">
                                    </app-combo-grid-virtual-scroll>
                                    <div class="form-control-feedback"
                                        *ngIf="isSubmitted && formCreate.errors | equalError:'invalidPort'">Port of
                                        Loading must be different from Port of Discharge
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group"
                                    [ngClass]="{'m-form__group has-danger': isSubmitted && (formCreate.errors | equalError:'invalidPort')}">
                                    <label class="form-control-label">
                                        Port Of Discharge
                                    </label>
                                    <app-combo-grid-virtual-scroll (itemSelected)="onSelectDataFormInfo($event, 'pod')"
                                        [currentActiveItemId]="{ field: 'id', value: pod.value }"
                                        [selectedDisplayFields]="['nameEn']" [dataSources]="ports | async"
                                        [displayFields]="displayFieldPort" placeholder="POD"
                                        (remove)="resetFormControl(pod)">
                                    </app-combo-grid-virtual-scroll>
                                    <div class="form-control-feedback"
                                        *ngIf="isSubmitted && formCreate.errors | equalError:'invalidPort'">Port of
                                        Discharge must be different from Port of Loading
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label">
                                        Supplier
                                    </label>
                                    <app-combo-grid-virtual-scroll
                                        (itemSelected)="onSelectDataFormInfo($event, 'supplier')"
                                        [currentActiveItemId]="{ field: 'id', value: supplierId.value}"
                                        [selectedDisplayFields]="['shortName']" [dataSources]="carries | async"
                                        [displayFields]="displayFieldsCustomer" placeholder="Select supplier"
                                        (remove)="resetFormControl(supplierId)">
                                    </app-combo-grid-virtual-scroll>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label">
                                        Vessel/Flight
                                    </label>
                                    <input type="text" class="form-control" placeholder="Enter text"
                                        formControlName="flightVessel">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label">
                                        Agent
                                    </label>
                                    <app-combo-grid-virtual-scroll
                                        (itemSelected)="onSelectDataFormInfo($event, 'agent')"
                                        [currentActiveItemId]="{ field: 'id', value: agentId.value}"
                                        [selectedDisplayFields]="['shortName']" [dataSources]="agents | async"
                                        [displayFields]="displayFieldsCustomer" placeholder="Select agent"
                                        (remove)="resetFormControl(agentId)">
                                    </app-combo-grid-virtual-scroll>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label">
                                        Purchase Order No
                                    </label>
                                    <input type="text" class="form-control" placeholder="Enter text"
                                        formControlName="purchaseOrderNo">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label" required>
                                        Billing OPS
                                    </label>
                                    <app-combo-grid-virtual-scroll
                                        (itemSelected)="onSelectDataFormInfo($event, 'billingOps')"
                                        [currentActiveItemId]="{ field: 'id', value: billingOpsId.value}"
                                        [selectedDisplayFields]="['username']" [dataSources]="users | async"
                                        [displayFields]="[{field:'username',label:'User Name'}, {field:'employeeNameEn',label:'Full Name'}]"
                                        placeholder="Select billing ops" (remove)="resetFormControl(billingOpsId)">
                                    </app-combo-grid-virtual-scroll>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label">
                                        Commodity Group
                                    </label>
                                    <ng-select [items]="commodityGroups | async" placeholder="Commodity group"
                                        class="custom" formControlName="commodityGroupId" bindValue="id"
                                        bindLabel="groupNameEn">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="">
                                        Salesman
                                    </label>
                                    <app-combo-grid-virtual-scroll
                                        [currentActiveItemId]="{field:'id',value: salemansId.value}"
                                        (itemSelected)="onSelectDataFormInfo($event, 'salesman')"
                                        [selectedDisplayFields]="['employeeNameEn']" [dataSources]="salesmans | async"
                                        size="15" [displayFields]="displayFieldSalesman"
                                        (remove)="resetFormControl(salemansId)">
                                    </app-combo-grid-virtual-scroll>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</form>
<info-popup [body]="" [title]="'Notification'" [label]="'Ok'">
</info-popup>