<!--begin:: m-portlet-->
<div class="m-portlet">
    <div class="m-portlet__body">
        <div class="row">
            <div class="col-md-4 m--margin-bottom-10">
                <span class="m--font-bolder">Estimated Begin Date:</span>
                <span class="m--font-brand m--margin-left-5">dd/MM/yyyy h:mm:ss</span>
            </div>
            <div class="col-md-4 m--margin-bottom-10">
                <span class="m--font-bolder">Estimated Finish Date:</span>
                <span class="m--font-brand m--margin-left-5">dd/MM/yyyy h:mm:ss</span>
            </div>
            <div class="col-md-4 m--margin-bottom-10">
                <span class="m--font-bolder">Job Status:</span>
                <span class="m--font-brand m--margin-left-5">Overdued</span>
            </div>
        </div>
        <!--begin: Search Form -->
        <div class="m-form m-form--label-align-right m--margin-bottom-5">
            <div class="row align-items-center">
                <div class="col-lg-4 order-2 order-lg-1">
                    <div class="form-group">
                        <div class="m-input-icon m-input-icon--left">
                            <input type="text" class="form-control m-input m-input--square"
                                placeholder="Search...">
                            <span class="m-input-icon__icon m-input-icon__icon--left">
                                <span>
                                    <i class="la la-search"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 order-1 order-lg-2 c-button-actions m--align-right">
                    <button type="button" class="btn btn-success m-btn--square m-btn--icon m-btn--uppercase"
                        data-toggle="modal" data-target="#ops-add-stage-modal">
                        <span>
                            <i class="la la-plus"></i>
                            <span>
                                add stage
                            </span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <!--end: Search Form -->
        <!--begin: Datatable-->
        <div class="table-wrapper table-scrollable fit-height-div" id="">
            <table class="table table-striped table-brand dataTable">
                <thead>
                    <tr>
                        <th class="table-actions-col no-sorting">
                            <span>Action</span>
                        </th>
                        <th class="sorting">
                            <span>No</span>
                        </th>
                        <th class="sorting">
                            <span>Status</span>
                        </th>
                        <th class="sorting">
                            <span>Name Abbr</span>
                        </th>
                        <th class="sorting">
                            <span>Name</span>
                        </th>
                        <th class="sorting">
                            <span>Description</span>
                        </th>
                        <th class="sorting">
                            <span>Role</span>
                        </th>
                        <th class="sorting">
                            <span>OPS Incharge</span>
                        </th>
                        <th class="sorting">
                            <span>Process Time</span>
                        </th>
                        <th class="sorting">
                            <span>Design</span>
                        </th>
                        <th class="sorting">
                            <span>Done Date</span>
                        </th>
                    </tr>
                </thead>
                <tbody class="tbody-group">
                    <tr>
                        <td class="table-actions-col no-sorting">
                            <button type="button" class="btn btn-success btn-sm m-btn--square m-btn--icon m-btn--icon-only" title="Edit"
                                data-toggle="modal" data-target="#ops-detail-stage-modal">
                                <i class="la la-edit"></i>
                            </button>
                        </td>
                        <td class="sorting">
                            <span>No</span>
                        </td>
                        <td class="sorting">
                            <span>Status</span>
                        </td>
                        <td class="sorting">
                            <span>Name Abbr</span>
                        </td>
                        <td class="sorting">
                            <span>Name</span>
                        </td>
                        <td class="sorting">
                            <span>Description</span>
                        </td>
                        <td class="sorting">
                            <span>Role</span>
                        </td>
                        <td class="sorting">
                            <span>Person Incharge</span>
                        </td>
                        <td class="sorting">
                            <span>Process Time</span>
                        </td>
                        <td class="sorting">
                            <span>Design</span>
                        </td>
                        <td class="sorting">
                            <span>Done Date</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--end: Datatable-->   
    </div>
</div>

<!--begin:: ops-add-stage-modal-->
<app-ops-module-stage-management-addnew></app-ops-module-stage-management-addnew>
<!--end:: ops-add-stage-modal-->

<!--begin:: ops-detail-stage-modal-->
<app-ops-module-stage-management-detail></app-ops-module-stage-management-detail>
<!--end:: ops-detail-stage-modal-->