<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <app-breadcrumb></app-breadcrumb>
        </div>
    </div>
</div>

<div class="m-content p-4">
    <tabset class="customer-payment-wrapper m-animate-fade-in tab-container">
        <tab heading="My Attachments">
        </tab>
        <tab heading="e-FMS Docs" class="active">
            <div class="m-portlet">
                <div class="m-portlet__body">
                    <div class="row">
                        <div class="col-md-2">
                            <sidebar-file-management [listBreadcrumb]="listBreadcrumb"
                                (isDisplayDefaultFolder)="onDisplayDefaultFolder()"
                                (objectBack)="getValueBreadcrumb($event)">
                            </sidebar-file-management>
                        </div>
                        <div class="col-md-10">
                            <div *ngIf="isActiveSearch;else mySearch">
                                <form-search-file-management [folderName]="folderName" [isSearchFolder]="isSearchFolder"
                                    (keySearch)="onSearchValue($event)">
                                </form-search-file-management>
                            </div>
                            <ng-template #mySearch>
                                <div class="mt-5"></div>
                            </ng-template>
                            <br />
                            <div class="table-wrapper table-scrollable m--margin-top-20">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>
                                                <span>Name</span>
                                            </th>
                                            <th>
                                                <span>Date Created</span>
                                            </th>
                                            <th>
                                                <span>Date Modified</span>
                                            </th>
                                            <th>
                                                <span>User Created</span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngIf="isDisplayFolderParent === false">
                                            <tr *ngFor="let item of itemsDefault"
                                                [contextMenu]="fileManagementContextMenu"
                                                (onTouch)="onSelectFile(item.url)"
                                                (click)="isActiveClick === true ? $event.stopPropagation(): onDisplayListFolder(item)">
                                                <td>
                                                    <i class="{{item.classIcon}} {{item.classColor}}"></i>
                                                    &nbsp;
                                                    <span>{{item.name}}</span>
                                                </td>
                                                <td>
                                                    <span>{{item.dateTimeCreated | date:'dd/MM/yyyy'}}</span>
                                                </td>
                                                <td>
                                                    <span>{{item.datetimeModified | date:'dd/MM/yyyy'}}</span>
                                                </td>
                                                <td>
                                                    <span>{{item.userCreated}}</span>
                                                </td>
                                            </tr>
                                        </ng-container>
                                        <ng-container *ngIf="isDisplayFolderParent === true">
                                            <tr *ngFor="let item2 of listFolderName" (click)="onGetFolderItems(item2)">
                                                <td>
                                                    <i class="la la-folder text-info"></i>
                                                    &nbsp;
                                                    <span>{{item2.folderName }}</span>
                                                </td>
                                                <td>
                                                    <span>{{item2.dateTimeCreated | date:'dd/MM/yyyy'}}</span>
                                                </td>
                                                <td>
                                                    <span>{{item2.datetimeModified | date:'dd/MM/yyyy'}}</span>
                                                </td>
                                                <td>
                                                    <span>{{item2.userCreated}}</span>
                                                </td>
                                            </tr>
                                        </ng-container>
                                    </tbody>
                                </table>
                            </div>
                            <app-pagination [total]="totalItems" [pageNum]="page" [itemPerPage]="pageSize"
                                (onChange)="updatePagingData($event)"></app-pagination>
                        </div>
                    </div>

                </div>
            </div>
        </tab>
    </tabset>
</div>
<app-context-menu #fileManagementContextMenu>
    <ng-container>
        <div class="menu-context__item " (click)="onRedirectLink(itemSelect)">
            <span><i class="la la-delete"></i><span> View</span></span>
        </div>
    </ng-container>
</app-context-menu>
<permission-403-popup></permission-403-popup>
