<div class="pre-alert-page">
    <app-sub-header>
    </app-sub-header>
</div>
<div class="m-content">
    <div class="m-portlet">
        <div class="m-portlet__body">
            <div class="row">
                <div class="col-md-1">
                    <div class="form-group">
                        <button class="btn btn-default m-btn--square m-btn--icon m-btn--uppercase ">
                            <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                            Send Arrival Notice
                        </button>
                    </div>
                </div>
                <div class="col-md-11">
                    <div class="row">
                        <div class="col-md-1">

                            <div class="form-group">
                                <button style="width:54px;" type="label"
                                    class="btn btn-default m-btn--square m-btn--icon m-btn--uppercase ">
                                    from
                                </button>
                            </div>
                        </div>
                        <div class="col-md-11">

                            <div class="form-group">
                                <input class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <div class="form-group">
                                <button style="width:54px;"
                                    class="btn btn-default m-btn--square m-btn--icon m-btn--uppercase ">
                                    to
                                </button>
                            </div>
                        </div>
                        <div class="col-md-11">
                            <div class="form-group">
                                <input class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <div class="form-group">
                                <button style="width:54px;"
                                    class="btn btn-default m-btn--square m-btn--icon m-btn--uppercase ">
                                    cc
                                </button>
                            </div>
                        </div>
                        <div class="col-md-11">
                            <div class="form-group">
                                <input class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <div class="form-group">
                                <button class="btn btn-default m-btn--square m-btn--icon m-btn--uppercase ">
                                    subject
                                </button>
                            </div>
                        </div>
                        <div class="col-md-11">
                            <div class="form-group">
                                <input class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <textarea class="form-control" rows="10"></textarea>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-6"></div>
        <div class="col-lg-6 m--align-right">
            <div class="">
                <button style="float:right" class="btn btn-success m-btn--square m-btn--icon m-btn--uppercase"
                    (click)="showPopup()">
                    <span>
                        <i class="la la-plus"></i>
                        <span>
                            Add Attachment
                        </span>
                    </span></button>
            </div>
        </div>
    </div>
    <div class="m-portlet m--margin-top-10">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Attached Files
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="row">
                <div class="col-lg-2">
                    <div class="form-group m-form__group">
                        <div class="m-checkbox-list">
                            <label class="m-checkbox m-checkbox--bold">
                                <input type="checkbox" checked="checked">
                                <a hef="#">HAWB</a>
                                <span></span>
                            </label>

                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group m-form__group">
                        <div class="m-checkbox-list">
                            <label class="m-checkbox m-checkbox--bold">
                                <input type="checkbox" checked="checked">
                                <a hef="#">Arrival Notice</a>
                                <span></span>
                            </label>

                        </div>
                    </div>
                </div>
                <div class="col-lg-2" *ngFor="let file of files; trackBy:trackByFn">
                    <div class="form-group m-form__group">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                                <div class="file-item__icon">
                                    <ng-container [ngSwitch]="file.extension">
                                        <ng-container *ngSwitchCase="'pdf'">
                                            <i class="fa fa-file-pdf-o fa-2x" aria-hidden="true"></i>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'doc'">
                                            <i class="fa fa-file-doc-o fa-2x" aria-hidden="true"></i>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'xlsx'">
                                            <i class="fa fa-file-excel-o fa-2x" aria-hidden="true"></i>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'txt'">
                                            <i class="fa fa-file-text-o fa-2x" aria-hidden="true"></i>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'jpg'">
                                            <i class="fa fa-file-image-o fa-2x" aria-hidden="true"></i>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'png'">
                                            <i class="fa fa-file-image-o fa-2x" aria-hidden="true"></i>
                                        </ng-container>
                                        <ng-container *ngSwitchDefault>
                                            <i class="fa fa-file fa-2x" aria-hidden="true"></i>
                                        </ng-container>
                                    </ng-container>
                                </div>
                                <div class="file-item__name m--margin-left-20">
                                    <a [href]="file.url" target="_blank" [title]="file.name" download>{{file.name}}</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<add-attachment-popup (onAdd)="onAddFile($event)">

</add-attachment-popup>