<div class="modal payment-management-popup" role="dialog" bsModal #popup="bs-modal" aria-hidden="true">
    <div class="modal-dialog c-modal-fullscreen" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Payment Management</h5>
                <button type="button" (click)="hide()" class="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-3">
                        <div>
                            <span class="font-weight-bold">Job ID:</span>
                            {{data.jobId}}
                        </div>
                    </div>
                    <div class="col-3">
                        <div>
                            <span class="font-weight-bold">HBL:</span>
                            {{data.hbl}}
                        </div>
                    </div>
                    <div class="col-3">
                        <div>
                            <span class="font-weight-bold">MBL:</span>
                            {{data.mbl}}
                        </div>
                    </div>

                </div>
                <div class="row m--margin-top-20">
                    <div class="col-12">
                        <div class="m--align-right" *ngIf="!!data.advancePayment.length">
                            <span class="font-weight-bold">Total Advance:</span>
                            {{data.totalAdvance}}
                        </div>
                        <div class="table-wrapper">
                            <table class="table dataTable table-brand">
                                <thead>
                                    <tr app-table-header [headers]="headerAdvance" class="text-center"
                                        (onClick)="sortAdvancePayment($event)"></tr>
                                </thead>
                                <tbody class="tbody-group">
                                    <tr *ngIf="!data.advancePayment.length" app-table-none-record
                                        [colspan]="headerAdvance.length"></tr>
                                    <ng-container *ngIf="!!data.advancePayment.length">
                                        <tr *ngFor="let advance of data.advancePayment; trackBy: trackByFn">
                                            <td>{{advance.advanceNo}}</td>
                                            <td>{{advance.description}}</td>
                                            <td>{{advance.totalAmount | number: '.0-3'}}</td>
                                            <td>{{advance.advanceCurrency}}</td>
                                            <td>{{advance.advanceDate | date: 'dd/MM/yyyy'}}</td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-12 m--margin-top-50">
                        <div class="m--align-right" *ngIf="!!data.settlementPayment.length">
                            <span class="font-weight-bold">Total Settlement:</span>
                            {{data.totalSettlement}}
                        </div>
                        <div class="table-wrapper">
                            <table class="table table-brand dataTable">
                                <thead>
                                    <tr app-table-header [headers]="headerSettlement" class="text-center"
                                        (onClick)="sortSettlementPayment($event)"></tr>
                                </thead>
                                <tbody class="tbody-group">
                                    <tr *ngIf="!data.settlementPayment.length" app-table-none-record
                                        [colspan]="headerSettlement.length"></tr>
                                    <ng-container *ngIf="!!data.settlementPayment.length">
                                        <tr *ngFor="let settlement of data.settlementPayment; trackBy: trackByFn">
                                            <td>{{settlement.settlementNo}}</td>
                                            <td>{{settlement.chargeName}}</td>
                                            <td>{{settlement.amount | number: '.0-3'}}</td>
                                            <td>{{settlement.currency}}</td>
                                            <td>{{settlement.settlementDate | date: 'dd/MM/yyyy'}}</td>
                                            <td>{{settlement.obhPartner}}</td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="modal-footer m--align-right">
                    <span class="font-weight-bold"> Balance: {{data.balance}} </span>
                </div>
            </div>
        </div>
    </div>