<div class="modal payment-management-popup" role="dialog" bsModal #popup="bs-modal" aria-hidden="true">
    <div class="modal-dialog c-modal-fullscreen" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Payment Management</h5>
                <button type="button" (click)="hide()" class="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col text-center">
                        <span class="font-weight-bold">Job ID:</span>
                        {{data.jobId}}
                    </div>
                    <div class="col text-center">
                        <span class="font-weight-bold">HBL:</span>
                        {{data.hbl}}
                    </div>
                    <div class="col text-center">
                        <span class="font-weight-bold">MBL:</span>
                        {{data.mbl}}
                    </div>
                </div>
                <div class="row m--margin-top-20">
                    <div class="col-12">
                        <div class="m--align-right" *ngIf="!!data.advancePayment.length">
                            <span class="font-weight-bold">Total Advance:</span>
                            {{data.totalAdvance}}
                        </div>
                        <ul class="list-unstyled list-group">
                            <div class="row p-2">
                                <div
                                    class="col text-center font-weight-bold  border border-top-0 border-bottom-0 border-left-0">
                                    Advance No
                                </div>
                                <div
                                    class="col text-center font-weight-bold border border-top-0 border-bottom-0 border-left-0">
                                    Description
                                </div>
                                <div
                                    class="col text-center font-weight-bold border border-top-0 border-bottom-0 border-left-0">
                                    Total Amount
                                </div>
                                <div
                                    class="col text-center font-weight-bold border border-top-0 border-bottom-0 border-left-0">
                                    Currency
                                </div>
                                <div
                                    class="col text-center font-weight-bold border border-top-0 border-bottom-0 border-left-0">
                                    Advance Date
                                </div>
                            </div>
                            <ng-container *ngIf="!!data.advancePayment.length">
                                <li *ngFor="let advance of data.advancePayment; trackBy: trackByFn"
                                    class="text-center list-group-item-primary">
                                    <div class="row p-3">
                                        <div class="col text-center">{{advance.advanceNo}}</div>
                                        <div class="col text-center">{{advance.description}}</div>
                                        <div class="col text-center">{{advance.totalAmount | number: '.0-3'}}</div>
                                        <div class="col text-center">{{advance.advanceCurrency}}</div>
                                        <div class="col text-center">{{advance.advanceDate | date: 'dd/MM/yyyy'}}
                                        </div>
                                    </div>
                                    <ul class="list-group">
                                        <li *ngFor="let request of advance.chargeAdvancePaymentMngts"
                                            class="list-group-item">
                                            <div class="row">
                                                <div class="col text-center"></div>
                                                <div class="col text-center">{{request.description}}</div>
                                                <div class="col text-center">{{request.totalAmount | number: '.0-3'}}
                                                </div>
                                                <div class="col text-center">{{request.advanceCurrency}}</div>
                                                <div class="col text-center"></div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ng-container>
                        </ul>
                        <div *ngIf="!data.advancePayment.length" class="table">
                            <div class="no-data">
                                <i class="flaticon-coins"></i>
                                <span class="no-data-text">No records
                                    found</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 m--margin-top-50">
                        <div class="m--align-right" *ngIf="!!data.settlementPayment.length">
                            <span class="font-weight-bold">Total Settlement:</span>
                            {{data.totalSettlement}}
                        </div>
                        <ul class="list-unstyled list-group">
                            <div class="row p-2">
                                <div
                                    class="col text-center font-weight-bold  border border-top-0 border-bottom-0 border-left-0">
                                    Settlement No
                                </div>
                                <div
                                    class="col text-center font-weight-bold border border-top-0 border-bottom-0 border-left-0">
                                    Charge Name
                                </div>
                                <div
                                    class="col text-center font-weight-bold border border-top-0 border-bottom-0 border-left-0">
                                    Total Amount
                                </div>
                                <div
                                    class="col text-center font-weight-bold border border-top-0 border-bottom-0 border-left-0">
                                    Currency
                                </div>
                                <div
                                    class="col text-center font-weight-bold border border-top-0 border-bottom-0 border-left-0">
                                    Settlement Date
                                </div>
                                <div
                                    class="col text-center font-weight-bold border border-top-0 border-bottom-0 border-left-0">
                                    Payer
                                </div>
                                <div
                                    class="col text-center font-weight-bold border border-top-0 border-bottom-0 border-left-0">
                                    OBH Partner
                                </div>
                            </div>
                            <ng-container *ngIf="!!data.settlementPayment.length">
                                <li *ngFor="let settlement of data.settlementPayment; trackBy: trackByFn"
                                    class="text-center list-group-item-primary">
                                    <div class="row p-3">
                                        <div class="col text-center">{{settlement.settlementNo}}</div>
                                        <div class="col text-center">{{settlement.chargeName}}</div>
                                        <div class="col text-center">{{settlement.totalAmount | number: '.0-3'}}</div>
                                        <div class="col text-center">{{settlement.settlementCurrency}}</div>
                                        <div class="col text-center">{{settlement.settlementDate | date: 'dd/MM/yyyy'}}
                                        </div>
                                        <div class="col text-center">{{settlement.payer}}
                                        </div>
                                        <div class="col text-center">{{settlement.obhPartner}}</div>
                                    </div>
                                    <ul class="list-group">
                                        <li *ngFor="let charge of settlement.chargeSettlementPaymentMngts"
                                            class="list-group-item">
                                            <div class="row">
                                                <div class="col text-center"></div>
                                                <div class="col text-center">{{charge.chargeName}}</div>
                                                <div class="col text-center">{{charge.totalAmount | number: '.0-3'}}
                                                </div>
                                                <div class="col text-center">{{charge.settlementCurrency}}</div>
                                                <div class="col text-center"></div>
                                                <div class="col text-center"></div>
                                                <div class="col text-center"></div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ng-container>

                        </ul>
                        <div *ngIf="!data.settlementPayment.length" class="table">
                            <div class="no-data">
                                <i class="flaticon-coins"></i>
                                <span class="no-data-text">No records
                                    found</span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer m--align-right">
                    <span class="font-weight-bold"> Balance: {{data.balance}} </span>
                </div>
            </div>
        </div>
    </div>
</div>